/* @override http://flowrida.beenverified.com/pages/907/css/pretty.css */
.truncate {
  display: inline-block;
  overflow: hidden;

  max-width: 200px;

  white-space: nowrap;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.fr-hide {
  position: absolute;

  margin-top: -9999px;
  margin-left: -9999px;
}

.strong {
  font-weight: 700;
}
.strikeout-this {
  font-weight: normal:;

  text-decoration: line-through;

  color: #888;
}
small,
.small {
  line-height: 1.33em;
}
.btn-lg {
  border-radius: 4px;
}
.text-bv-blue {
  color: #20418a;
}
body {
  background-color: #e8ecee;
}

/* HEADER ================================== */

header {
  padding-top: 13px;
  padding-bottom: 13px;

  background-color: #fff;
}
#logo-wrap {
  display: inline-block;

  width: 150px;
  height: 20px;

  background-image: url('../img/bv-logo.png');
  background-image: url('../img/bv-logo.svg'), none;
  background-repeat: no-repeat;
}
.rpl-logo {
  display: inline-block;

  width: 247px;
  height: 20px;
  /*margin-right: 15px;*/

  background-image: url('../img/RPL-icon.png');
  background-image: url('../img/RPL-icon.svg'), none;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.phone {
  display: block;

  margin-top: 6px;
  margin-bottom: 0;
}
.slogan {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.42857143;

  position: relative;
  top: -3px;

  display: inline-block;

  margin-top: 4px;
  margin-left: 5px;

  color: #888;
}
@media (max-width: 767px) {
  .slogan {
    display: none;
  }
}

/* BODY ================================== */

#body-wrap {
  margin-bottom: 20px;
}
#report-header {
  padding-top: 10px;
  padding-bottom: 10px;

  color: #fff;
  background-color: #73b649;
}
#report-header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  margin-bottom: 0;
}

/* CURRENT PREVIEW ============================== */
.dot {
  display: inline-block;

  width: 9px;
  height: 9px;
  margin-top: 6px;
  margin-left: 8px;

  border-radius: 10px;
  background-color: #73b649;
}
#current-preview {
  font-size: 16px;

  padding: 20px 0 20px 60px;

  background-image: url('//dbivtdsofhpu6.cloudfront.net/assets/img/fad9e7c4599e93115e74afd027d15136.jpg');
  background-repeat: no-repeat;
  background-position: 15px center;
}
.current-name,
.current-teaser {
  line-height: 24px;

  margin-bottom: 0;
}
/* DOWNSELL ================================== */
#downsell-text-wrapper {
  font-size: 28px;
  font-weight: 500;

  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 2px;

  color: #fff;
  background: #616a7a url('../img/green-poly.jpg') repeat right top;
}
#downsell-text {
  line-height: 45px;
}
#downsell-timer {
  border-radius: 25px 0 0 25px;
  background-color: #0e2d54;
}
#timer-text {
  font-size: 32px;

  margin-bottom: 0;
  padding-top: 3px;
  padding-left: 20px;
}
.digit-wrapper {
  font-size: 12px;

  padding-top: 2px;
  padding-bottom: 2px;

  border-radius: 30px;
}
#hours,
#minutes,
#seconds {
  font-size: 18px;

  color: #ffa100;
}
.downsell-letter {
  font-size: 16px;

  margin-left: 4px;

  color: #fff;
}
.sale-img {
  max-width: 80px;
}
.money-back {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 15px;

  border: 1px solid #ccc;
}
.money-back img {
  max-width: 100px;
}
/* SUB FORM ================================== */

#sub-form-wrapper {
  padding-bottom: 20px;

  border: 1px solid #00458b;
  border-radius: 4px;
  background-color: #fff;
}
#error_container {
  margin-top: 15px;
}
#sub-form-wrapper label {
  font-weight: normal;
}
.selection-wrap label {
  width: 100%;
}
.selection-wrap {
  padding: 0;

  border: 1px solid #cfd9de;
}
.selection-wrap:hover,
.selection-wrap:focus {
  background-color: #f3f9ef;
}
.selection-wrap label {
  padding: 10px 15px 0;

  cursor: hand;
  cursor: pointer;
}
.selection-wrap p {
  font-size: 16px;
}
.selection-wrap .text-muted {
  color: #cacaca;
}
.selection-wrap .plan-selected-check {
  font-size: 21px;

  color: #6db240;
}
.selection-selected,
.selection-selected:hover,
.selection-selected:focus {
  color: #20418a;
  background-color: #eff4f9;
}
.selection-selected .text-muted,
.selection-selected:hover .text-muted,
.selection-selected:focus .text-muted {
  color: #a9b3c0 !important;
}
.selection-wrap:hover .text-muted,
.selection-wrap:focus .text-muted {
  color: #b9c9b6;
}
.selection-top {
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
}
.selection-mid {
  border-bottom-width: 0;
}
.selection-bot {
  margin-bottom: 18px;

  border-radius: 0 0 4px 4px;
}
.selection-downsell {
  margin-bottom: 40px;

  border-radius: 4px;
}
.plan-type-heading {
  margin-top: 13px;
  margin-bottom: 20px;
}
.radio-wrap {
  margin-top: 2px !important;
}
.radio label {
  margin-bottom: 10px;
}
p.save-this {
  font-size: 14px;

  color: #73b649;
}
#membership-includes {
  margin-bottom: 21px;

  color: #212121 !important;
}
.membership-icon-wrapper {
  margin-top: 12px;
}
#membership-includes .glyphicon {
  font-size: 21px;
}
.membership-includes-text {
  font-size: 12px;
  line-height: 14px;

  display: block;
}
.form-group {
  margin-bottom: 16px;
}
.form-heading {
  font-size: 18px;
  font-weight: 300;

  padding: 8px 0 2px;
}
.step-1-heading .glyphicon-time {
  color: #fa0;
}
.step-1-heading,
.step-2-heading {
  margin-bottom: 14px;

  color: #fff;
  background-color: #00458b;
}
.cc-wrapper {
  margin-bottom: 18px;
  padding-bottom: 4px;

  border-top: 1px dashed #cfd9de;
  border-bottom: 1px dashed #cfd9de;
  background-color: #f4f4f4;
}
.cc-wrapper-header {
  margin-bottom: 10px;
  padding-top: 8px;
}
#secure-text {
  display: none;
}
#secure-lock {
  font-size: 21px;

  margin-top: 4px;
}
.secure-this {
  color: #73b649;
}
.cc-accept {
  margin-top: 7px;
}
.verify-seal img {
  cursor: pointer;
  cursor: hand;
}
.cvv-img {
  cursor: hand;
  cursor: pointer;
}
#cvv-img-min {
  height: 28px;

  background-image: url('//dbivtdsofhpu6.cloudfront.net/assets/img/d40c5937ff558d407c2cffab74631bd0.png');
  background-repeat: no-repeat;
  background-position: center center;
}
#account_tos,
#tos2 {
  margin-top: 18px;
  margin-right: 15px;
}
.terms-container {
  margin-bottom: 16px;
  padding: 20px 20px 10px 30px;

  border: 1px solid #cfd9de;
  border-radius: 4px;
}
.terms {
  margin-bottom: 6px !important;

  cursor: hand;
  cursor: pointer;
}
.terms-innertext {
  margin-left: 10px;
}
.terms-container label,
.terms input {
  cursor: hand;
  cursor: pointer;
}
.terms-container a {
  font-weight: bold;

  color: #111;
}
#spinner,
#create_button {
  padding-top: 18px;
  padding-bottom: 18px;
}
#create_button {
  font-size: 24px;

  background-color: #73b649;
}
#create_button:focus,
#create_button:hover {
  background-color: #6fc539;
}
#create_button_container {
  position: relative;
}
.left-ribbon,
.right-ribbon {
  position: absolute;
  bottom: 15px;

  display: block;

  height: 84px;

  background-repeat: no-repeat;
  background-position: right bottom;
}
.left-ribbon {
  left: -30px;

  width: 28px;

  background-image: url('//dbivtdsofhpu6.cloudfront.net/assets/img/f974cf860857d6376a204bef620f7dd3.jpg');
}
.right-ribbon {
  font-size: 16px;

  right: -375px;

  width: 373px;
  padding-top: 13px;
  padding-right: 77px;
  padding-left: 15px;

  background-image: url('//dbivtdsofhpu6.cloudfront.net/assets/img/35816df33afec10096ad097ca3a46f07.jpg');
}

/* ORDER SUMMARY ================================= */

#order-summary .panel-body {
  padding-top: 0;
  padding-bottom: 0;
}
.side-panel .panel-heading {
  padding-top: 11px;
  padding-bottom: 12px;

  border-color: #cfd9de;
  background-color: #cfd9de;
}
.side-panel {
  padding-bottom: 0;

  border: 1px solid #cfd9de;
  background: transparent;
  box-shadow: none;
}
.order-summary-full-report {
  margin-bottom: 0;
  padding-bottom: 0;
}
.order-summary-section {
  border-bottom: 1px solid #cfd9de;
}

#order-summary div.panel-body div.order-summary-section {
  padding-top: 8px;
}
.order-summary-heading {
  line-height: 24px;
}
.order-summary-total {
  font-size: 16px;

  margin-top: 2px;
  margin-bottom: 0;
  padding-top: 8px;

  border-top: 1px solid #cfd9de;
}
.map {
  position: relative;

  height: 225px;
  margin: 20px auto;

  border: #fff 2px solid;
  background: url('../img/map.png') no-repeat top;
}
.map-pin {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;

  margin-top: -50px;
  margin-left: -40px;
}

/* SIDE-HEADLINE ================================= */
.side-headline {
  padding-left: 15px;
}
p.side-headline-header {
  font-size: 16px;

  margin-bottom: 6px;
}
#reports-anonymous .side-headline-header {
  margin-top: 8px;
}
#reports-anonymous {
  margin-bottom: 12px;
}
#reports-unfiltered .glyphicon-warning-sign {
  color: #ef3b3b;
}
#reports-anonymous .glyphicon-lock {
  color: #ffae00;
}
#reports-unfiltered .glyphicon,
#reports-anonymous .glyphicon,
#full-report-checklist .glyphicon {
  margin-right: 10px;
}

#full-report-checklist .panel-body {
  font-size: 12px;

  padding-bottom: 6px;
}
#full-report-checklist .glyphicon {
  color: #6eae46;
}
#full-report-checklist li {
  line-height: 24px;
}
#report-includes {
  padding-left: 18px;
}
#refund-text {
  font-size: 12px;
}
.now-included {
  font-style: italic;
}
.blue-check {
  display: inline-block;

  width: 18px;
  height: 18px;
  margin-top: 3px;
  margin-left: 4px;

  background: url('../img/blueCheck.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.summary-details-wrapper {
  display: block;

  min-height: 28px;
  margin-top: 8px;

  border-bottom: 1px dotted #cfd9de;
}
.submit-btn-wrapper {
  margin-top: 30px;
  margin-bottom: 15px;
  min-height: 70px;
}
/* Form Validation ================================== */
#errorExplanation {
  margin: 0 15px 15px;
  padding: 0 15px 15px;

  border: 1px solid #e13d3d !important;
  border-radius: 4px;
  background-color: #fff7f7;
}
input.error {
  border: 1px solid #e13d3d !important;
  background-color: #fff7f7;
}
#messages,
label.error {
  color: #dc2341;
}
input.input-success {
  border: 1px solid #56b453 !important;
  background-image: url('//dbivtdsofhpu6.cloudfront.net/assets/img/3ab645f82ae1c80d2383c63a6a2a85ae.png');
  background-repeat: no-repeat;
  background-position: right center;
}
select.input-success {
  border: 1px solid #56b453 !important;
}
.label-success {
  display: none !important;
}
#disclaimer {
  margin-top: 30px;
  padding-bottom: 12px;

  text-align: center;
}

#service-hours {
  margin-top: 20px;

  text-align: center;
}
footer {
  color: #758890;
}
#footer-terms {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #d0d9e0;
}
#footer-terms p {
  margin-bottom: 0;
}
footer .logo,
footer a {
  color: #42616f;
}
.disclaimer {
  margin-top: 12px;
}

/* == iMODAL == */
#iModal-exit {
  font-weight: 300;

  color: #ec3732;
  background: transparent !important;
}
.iModal-btn-wrap {
  margin-top: 30px;
}
#iModal-back {
  display: block;

  margin-top: 12px;
}
#iModal .modal-header,
#iModal-trial .modal-header {
  border-bottom: none;
}
#iModal .modal-body,
#iModal-trial .modal-body {
  padding-top: 5px;
}
.dollar-trial-img {
  margin-bottom: 12px;
}
#show-dollar-trial {
  font-weight: 700;

  padding-top: 24px;
  padding-bottom: 24px;
}

/* == RESPONSIVENESS == */

@media (min-width:1200px) {
}
@media (min-width:992px) {
  .container {
    width: 900px !important;
  }
}
@media (max-width:992px) {
  .right-ribbon {
    right: -313px;

    width: 311px;
  }
}
@media (min-width:768px) and (max-width:992px) {
}
@media (min-width:768px) {
  .plan-price-wrap {
    text-align: right;
  }
}
@media (max-width:767px) {
  #logo-wrap {
    width: 143px;
  }
  #wrapper {
    margin-right: 8px;
    margin-left: 8px;
  }
  #report-header p {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
  }
  #downsell-text-wrapper {
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 14px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  #current-preview {
    font-size: 14px;

    padding: 20px 0 20px 40px;

    background-image: url('//dbivtdsofhpu6.cloudfront.net/assets/img/5e543a1abcf14546ec5de20801b3e88b.jpg');
    background-position: 2px center;
  }
  .sale-img {
    max-width: 50px;
    margin-top:15px;
  }
  .current-name,
  .current-teaser {
    line-height: 21px;
  }
  #sub-form-wrapper {
    border-width: 1px;
  }
  #sub-step-2 label {
    margin-bottom: 1px;
  }
  .selection-wrap label {
    margin-bottom: 0;
    padding: 10px;
  }
  .plan-type-wrap {
    padding-left: 0;
  }
  .plan-type-heading {
    font-size: 16px;
  }
  .selection-wrap p {
    font-size: 14px;
  }
  #downsell-timer {
    padding-top: 6px;
    padding-bottom: 6px;

    border-radius: 0;
  }
  #downsell-text {
    line-height: 21px;
  }
  .satisfied {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .satisfied .glyphicon {
    font-size: 21px;
  }
  .terms-container {
    padding: 15px;
    padding-bottom: 8px;
  }
  #footer-terms,
  #footer-terms .text-right {
    text-align: center !important;
  }
}
@media (max-width:319px) {
}
/* == Paypal == */
#paypal-confirm-error {
  display: none;
}

#paypal-confirm-error {
  margin-top: 10px;
}
#ppCanceled {
  display: none;
}

#ppCanceled.alert {
  margin-bottom: 0;

  border: none;
  border-radius: 0;
}
#sub-form-wrapper label {
  font-weight: normal;

  cursor: default;
}
div.radio {
  font-size: 12px;

  padding-bottom: 7px;
}
#confirm-paypal {
  font-weight: 700;

  padding-top: 24px;
  padding-bottom: 24px;
}

#paypal-spinner {
  display: none;
}
