body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
select {
  border-radius: 0 !important;
}
input::-webkit-contacts-auto-fill-button {
  position: absolute;
  right: 0;
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/************* BOOTSTRAP *************/
.btn {
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 5px;
  border-radius: 4px;
}
.btn-success {
  border-color: #81b44c;
  background: #81b44c;
}
.btn-success {
  border-color: #81b44c;
  background: #81b44c;
}
/************* END BOOTSTRAP *************/

/* BV CONTENT ==================================== */
[data-bv-ref] {
  display: none;
}

[data-bv-ref='default'] {
  display: block;
}

.hide {
  visibility: hidden;
}

.box-text-wrap {
  margin-bottom: 28px;
}

.cross-browser {
  display: none;
}
::selection {
  background: #c9c6eb; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #c9c6eb; /* Gecko Browsers */
}
/************* HEADER *************/
.header-search .first-input {
  border-radius: 4px 0 0 4px;
}
#header .btn-login {
  font-size: 16px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 2px;
}
#header .btn-login {
  color: #fff;
  border: 1px solid #e2ddd9;
}
#header .btn-login:hover,
#header .btn-login:focus {
  color: #000;
  border-color: #fff;
  background: #fff;
}
/************* END HEADER *************/
/************* NAVBAR *************/
.navbar {
  min-height: 81px;
  margin-bottom: 100px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.navbar-logo img {
  display: block;
  width: 180px;
  height: 50px;
  margin-top: 10px;
}
.navbar-default .navbar-toggle {
  margin: 15px 0;
  border-color: transparent;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border: 1px solid white;
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-nav {
  margin: 10px 0 0;
}
.nav-btn {
  margin: 5px 5px 0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  margin-bottom: 15px;
  border-top: none;
  box-shadow: none;
}
/************* END NAVBAR *************/
/************* SEARCH *************/
.home-carousel-indicator {
  position: relative;
  padding: 0 5px;
}
.home-carousel-indicator,
.home-carousel-indicator:focus {
  outline: 0;
}
.home-carousel-indicator-wrapper {
  display: inline;
}
#search-type-phone {
  margin-right: 8px;
  margin-left: 16px;
}
#search-type-email {
  margin-right: 16px;
  margin-left: 8px;
}
.nav-phone {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 12px 5px 0;
  color: #fff;
}
.home-search .box-header h1 {
  font-size: 65px;
  font-weight: bold;
  display: block;
  margin: 0 0 5px;
  text-align: center;
  color: #fff;
}
.home-search .box-header p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: #fff;
}
.header-cta {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  top: -20px;
  display: inline-block;
  padding: 8px 12px;
  color: #333;
  border-radius: 4px;
  background-color: #f2da3e;
}
.home-carousel-indicator.active .carrot-cta {
  position: absolute;
  top: -17px;
  left: 50%;
  display: block !important;
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: 10px solid #f2da3e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.norton {
  width: 65px;
  padding-left: 10px;
}
.search-form {
  min-height: 161px;
  margin: 0;
  padding: 0 30px 30px;
  border-radius: 5px;
  background: #29255a;
}
.home-carousel-wrapper {
  margin-bottom: 20px;
}
.home-carousel-indicator {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: transparent;
}
.home-carousel-indicator:hover,
.home-carousel-indicator:focus {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #6dac45;
  border-radius: 0;
  background: transparent;
}
.home-carousel-indicator.active {
  color: #fff;
  border-bottom: 2px solid transparent;
  background: #81b44c;
}
.home-search .box-header {
  min-height: 100px;
  margin-bottom: 90px;
}
.search-form .privacy span {
  font-size: 15px;
  margin-left: 5px;
  padding-top: 0px;
  vertical-align: middle;
  color: #85888e;
}
.header-search input,
.header-search select {
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  height: 50px;
  padding: 0 10px;
  border: none;
  border-left: 1px #dedfe2 solid;
  border-radius: 0 !important;
  box-shadow: none;
}
.header-search input:focus,
.header-search select:focus {
  border: 1px solid #2453eb;
}
.header-search label.error {
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  margin-top: 8px;
  color: #ff5060;
}
.header-search input.error {
  border-top: 3px solid #dc0015;
  border-bottom: 3px solid #fff;
  background-image: url('../img/error-x.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 26px 18px;
}
.header-search .btn-search {
  font-size: 20px;
  height: 50px;
  border: none;
  border-radius:3px;
  background: #81b44c;
  box-shadow: 0 -4px 0 #638a3a inset;
}
.header-search .btn-search:hover,
.header-search .btn-search:focus {
  border: none;
  background: #638a3a;
  box-shadow: 0 -2px 0 #506e32 inset;
}
.label-success {
  display: none !important;
}
input.success {
  background-image: url('../img/success-check1.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 16px;
}
/************* END SEARCH *************/
/************* COUNTER *************/
#counter {
  font-size: 37px;
  color: #fff;
}
.counter-number {
  font-weight: bold;
  margin-right: 14px;
  margin-left: 9px;
  padding: 15px;
  padding-right: 0;
  letter-spacing: 5px;
  border: 1px solid #fff;
}
.logos {
  margin: 10px 0 125px;
}
/************* END COUNTER *************/
/************* SMARTY STREETS *************/
.smarty-tag {
  display: none !important;
}
.smarty-popup {
  height: auto !important;
  border: 1px solid #e5e5e5;
}
.smarty-popup-header,
.smarty-choice,
.smarty-suggestion {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a.smarty-suggestion {
  line-height: 18px;
  padding: 4px;
}
.smarty-popup-header {
  font-weight: 700;
  line-height: auto;
  height: auto;
  padding: 12px;
  text-transform: none;
  background: #e5e5e5;
}
.smarty-choice-list .smarty-choice {
  color: #333;
}
.smarty-choice-list .smarty-choice:hover {
  color: #eee;
  background-color: #6dac45;
}
.smarty-choice-alt {
  border: none;
}
.smarty-choice-alt .smarty-choice-abort,
.smarty-choice-override {
  padding: 6px 15px;
}
a.btn.smarty-choice {
  margin: 8px;
  color: #fff;
}
.smarty-choice-override {
  display: none !important;
}
.smarty-popup-close {
  top: 5px;
  text-transform: none;
}
.smarty-popup-close .glyphicon {
  font-size: 18px;
}
.line_two {
  font-size: 12px;
  font-weight: 400;
}
/************* END SMARTY STREETS *************/

/************** TESTIMONIAL BAR **************/
.prpl-box{
  background: #353167;
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.prpl-box .test-f img{
  display: inline-block;
  width: 60px;
  max-width: 60px;
  margin: 16px 0px 15px 20px;
}

.test-s {
  margin-top: 20px;
  margin-bottom: 20px;
}

.border-left{
  border-left: 1px solid #4A3B8F;
  height: 120px;	
}

.prpl-box .test-s img{
  margin: 0px 0px 15px 0px;
  display: inline-block;
      width: 60px;
    max-width: 60px;
}

.prpl-box .test-s p{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 0px 0px 15px 15px;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
}
.prpl-box .test-s span{
  text-transform: uppercase;
  font-size: 12px;
  color: #F2DA3E;
  letter-spacing: 1px;
  padding-left: 5px;
}

.prpl-box .test-s .quote{
  width: 26px;
  height: 26px;
  display: inline-block;
  margin: 0 0 0 0;
  padding:  0 0 0 0;
}
p.t-title {
  font-size: 16px;
  margin: 0px auto 10px;
  color: rgba(255,255,255,0.50);
  letter-spacing: 1.37px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

/********** END TESTIMONIAL BAR ***********/

/************* FOOTER *************/
#footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
#footer h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #484848;
}
#footer p {
  font-size: 14px;
  font-weight: 400;
  color: #949595;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer li {
  margin-bottom: 4px;
  color: #949595;
}
#footer a {
  color: #0f2d8f;
}
#footer a:hover,
#footer a:focus {
  text-decoration: none;
  color: #3b49e5;
}
#footer .email-address a,
#footer .phone-number a {
  color: #0f2d8f;
}
#footer .email-address a:hover,
#footer .phone-number a:hover {
  color: #3b49e5;
}
#footer .phone-number {
  color: #333;
}
.social-links {
  margin-top: 25px;
}
.social-links img {
  max-width: 18px;
}
.border-bottom {
  margin-top: 20px;
  border-bottom: 1px solid #cecfd5;
}
.disclaimer {
  margin-top: 20px;
  margin-bottom: 40px;
}
/************* END FOOTER *************/
/************* MEDIA QUERIES *************/
@media (min-width: 1200px) {
  .test-s {
    margin-top: 30px;
  }
}

@media only screen and (max-width : 991px) {
  h1 {
    font-size: 36px !important;
    line-height: 42px !important;
  }
  .counter-number,
  .counter-text {
    font-size: 30px;
  }
  .btn {
  padding: 8px;
}
}
@media only screen and (max-width : 767px) {
  /************* HEADER *************/
  #header {
    padding-bottom: 50px;
    background: #353167;
    background-image: linear-gradient(#353167, #4a3b8f);
    background-position: right center;
    background-size: cover;
  }
  #header .btn-login {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  /************* END HEADER *************/
  /************* NAVBAR *************/
  .navbar {
    margin-bottom: 20px;
  }
  .navbar-logo img {
    width: 150px;
    min-height: 20px;
  }
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .nav-phone {
    margin-bottom: 12px;
  }
  /************* END NAVBAR *************/
  /************* SEARCH *************/
  .home-carousel-wrapper {
    text-align: center;
  }
  .home-carousel-indicator {
    padding-right: 0;
    padding-left: 0;
  }
  .home-carousel-indicator.active {
    padding-right: 0;
    padding-left: 0;
    border-bottom: 2px solid #81b44c;
    background: transparent;
  }
  .search-form {
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
  }
  .home-search .box-header {
    min-height: 80px;
  }
  .header-cta {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  #home-search-carousel .carousel-inner .item {
    min-height: 280px;
  }
  .carrot-cta,
  .home-carousel-indicator.active .carrot-cta {
    display: none !important;
  }
  .header-search input,
  .header-search select,
  .header-search .btn-search {
    height: 60px;
    margin-top: 6px;
  }
  .header-search input:focus,
  .header-search select:focus {
    -webkit-box-shadow: inset 0 0 7px 0 rgba(41,89,230,1);
       -moz-box-shadow: inset 0 0 7px 0 rgba(41,89,230,1);
            box-shadow: inset 0 0 7px 0 rgba(41,89,230,1);
  }
  .home-search .box-header p {
    font-size: 18px;
    margin-top: 15px;
  }
  
  .privacy {
    margin-top: 20px;
  }
  
  .search-form .privacy span {
    color: rgba(255, 255, 255, 0.5);
  }
  .home-search .box-header h1 {
    font-size: 40px;
  }
  .home-search .box-header {
    margin-bottom: 30px;
  }
  #header-search .field-group {
    border-radius: 3px;
  }
  .header-search .btn-search {
    border-radius: 3px;
  }
  .carrot-cta {
    left: 50%;
    margin-left: -10px;
  }
  /************* END SEARCH *************/
  /************* COUNTER *************/
  .counter-number,
  .counter-text {
    display: block;
    font-size: 21px;
  }
  .counter-number {
    display: inline-block;
    padding-right: 11px !important;
    margin: 40px 10px 10px;
  }
  .logos {
    margin: 20px 0 0;
  }
  .logos img {
    width: 95%;
  }
  /************* END COUNTER *************/
  /************* TESTIMONIAL BAR ***********/
    .prpl-box{
    height: auto;
    background: #29255A;
  	}

    .prpl-box .test-s p{
    text-align: center;
    margin: 0;
    padding: 0;
    }

     p.t-title {
     font-size: 14px;
     margin: 30px auto -10px;
     }
    /********** END TESTIMONIAL BAR ********/
  
  /************* FOOTER *************/
  #footer {
    padding-top: 40px;
  }
  #footer h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .social-links img {
    width: 100%;
    max-width: 40px;
  }
  /************* END FOOTER *************/
  .xs-center {
    text-align: center;
  }
}
@media only screen and (min-width : 768px) {
  #header {
    padding: 0 0 150px 0;
    background: #353167;
    background-image: linear-gradient(#353167, #4a3b8f);
    background-position: center center;
    background-size: cover;
  }
  .social-links img {
    margin-right: 1px;
  }
  .no-pad-left {
    padding-left: 5px;
  }
  .no-pad-right {
    padding-right: 5px;
  }
 .prpl-box {
      background: #29255A;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      height: auto;
      padding: 30px 0;
  }
}
@media (max-width : 480px) {
  .norton {
    width: 60px;
    padding-left: 8px;
  }
}
@media (max-width : 979px) {
  #footer .customer-service-wrapper {
    margin-bottom: 15px;
  }
}
@media (-webkit-min-device-pixel-ratio:0) {
  .header-search select {
    background-image: url('../img/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
  }
}
/************* END MEDIA QUERIES *************/
@keyframes appear {
  100% {
    visibility: visible;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
