html {
  height: 100%;
}

body {
  height: 100%;
}

/* helpers */

.text-secondary {
  color: #ef2742 !important;
  font-weight: bold;
}

/* navbar */

.navbar.navbar-default {
  padding-bottom: 25px;
  border: 0;
  background-color: #33d4c0;
}

.navbar .navbar-header .navbar-brand {
  height: auto;
  margin-left: 15px;
  padding: 15px;
  -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
  -moz-box-shadow: 0 4px 1px -1px #38AC9E;
  -ms-box-shadow: 0 4px 1px -1px #38AC9E;
  box-shadow: 0 4px 1px -1px #38AC9E;
  background-color: #fff;
}

@media (min-width: 768px) {

  .navbar .navbar-header .navbar-brand {
    margin-left: -5px;
  }
}

@media (min-width: 1200px) {
  .navbar .navbar-header .navbar-brand {
    margin-left: 0;
  }
}

/* main-wrap */

#main-wrap {
  min-height: 100%;
  margin-bottom: -360px; /* equal to footer height */
  padding: 0;
  padding-bottom: 40px;
  background: #fff;
}

#main-wrap:after {
  content: "";
  display: block;
  height: 360px;
}

.sub-title {
  margin-bottom: 40px;
  color: #ABABAB;
}

/* progress bar */

.progress-wrap {
  margin: 20px 0 25px;

  border-radius: 4px;
  background: #f5f5f5;
}

.progress-wrap .progress {
  height: 60px;
  margin-bottom: 0;
  -webkit-box-shadow: 0 4px 0 0 #C6C6C6;
  -moz-box-shadow: 0 4px 0 0 #C6C6C6;
  -ms-box-shadow: 0 4px 0 0 #C6C6C6;
  box-shadow: 0 4px 0 0 #C6C6C6;
}

.progress-wrap .progress .progress-bar {
  background-color: #ef2742;
}

.progress-wrap .progress .progress-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: right;
  color: #fff;
}

.progress-wrap .progress .progress-text-outer {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: left;
  color: #ef2742;
}

/* search-continue */

#search-continue {
  display: none;
  margin: 25px 0;
}

/* steps-images */

.steps-images {
  margin-top: 120px;
  margin-bottom: 80px;
  text-align: center;
}

.steps-images .img-step {
  width: 100px;
  margin: 0 auto;
}

.steps-images .step-title {
  margin: 5px 0;
}

.steps-images .step-desc {
  height: 90px;
  color: #838383;
  font-size: 16px;
  font-weight: bold;
}

.steps-images .img-arrow {
  position: absolute;
  top: 40px;
  right: -25px;
  width: 50px;
}

.steps-images .img-arrow.arrow-under {
  top: 50px;
}

@media (min-width: 768px) {
  .steps-images .img-arrow {

  }
}

@media (min-width: 992px) {
  .steps-images .img-step {
    width: 120px;
  }

  .steps-images .img-arrow {
    width: auto;
    right: -45px;
  }
}

@media (min-width: 1200px) {
  .steps-images .img-step {
    width: auto;
  }

  .steps-images .img-arrow {
    top: 55px;
    right: -40px;
  }

  .steps-images .img-arrow.arrow-under {
    top: 65px;
  }
}

/* footer */

.footer {
  position: relative;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ccf4ef;
  color: #333;
  text-align: center;
}

.footer p {
  margin-bottom: 5px;
  font-size: 16px;
}

.footer a {
  font-size: 16px;
}

.footer .disclaimer,
.footer .disclaimer a {
  font-size: 14px;
}

.footer .footer-column-title {
  margin-top: 0;
}

.footer .footer-quote {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;
  font-size: 16px;
}

.footer-navbar {
  margin-top: 80px;
  text-align: center;
}

.footer-navbar .text-right {
  text-align: center;
}

.footer-navbar p,
.footer-navbar a {
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }

  .footer .footer-quote {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-navbar {
    text-align: left;
  }

  .footer-navbar .text-right {
    text-align: right;
  }
}
