@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

/* global */

body {
  font-family: 'Lato', sans-serif;
  background: #f7f6f4;
	overflow-x: hidden;
}

.container {
	background: #fff;
}

.success-text {
  color: #7bb33f !important;
}

.divider {
	border-color: #d4d4d3;
  margin-top: 15px;
  margin-bottom: 10px;
}

.divider.divider-total {
	border: solid 2px #d4d4d3;
}

.gray-bar {
  display: none;
  height: 90px;
	background-color: #ebebeb;
}

@media (min-width: 992px) {

	.gray-bar {
		display: block;
	}
}

/* header */

header {
	padding: 15px;
  background: #fff;
	text-align: center;
}

header .logo {
	display: block;
  margin: 5px auto;
}

header .header-cta {
	margin: 0;
  font-size: 16px;
}

@media (min-width: 768px) {

	header .logo {
		display: inline-block;
		margin: 10px 0;
    float: left;
	}

	header .header-cta {
		display: inline-block;
		margin: 15px 0;
    float: right;
	}
}

/* teaser */

.teaser {
	padding: 30px 15px;
  background: #353167;
  color: #fff;
}

.teaser .headline {
	margin: 0;
	margin-bottom: 20px;
	padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
	text-transform: uppercase;
}

.teaser .user-image {
	display: block;
	max-width: 100%;
  margin: 0 auto;
	border-radius: 100px;
}

.teaser .user-name {
	margin-bottom: 5px;
  font-weight: 700;
  text-align: center;
}

.teaser .user-info {
  text-align: center;
}

.teaser .user-records {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 5px;
}

.teaser .user-records .records-label {
	position: relative;
	width: 225px;
	padding: 8px 12px;
	border: solid 1px #feb912;
  border-radius: 3px;
	background-color: #fff;
	color: #353167;
	font-size: 15px;
  font-weight: 700;
	float: left;
}

.teaser .user-records .records-label .records-count {
	display: block;
	position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2px 10px;
	background-color: #feb912;
  font-weight: 700;
  font-size: 24px;
}

.teaser .user-records .check-icon {
  width: 22px;
  height: 20px;
  margin-top: 8px;
  margin-left: 15px;
	float: left;
	background: url(../images/ok.png) no-repeat 0 0;
}

.teaser .user-meta {
  margin: 0;
	padding: 0;
}

.teaser .user-meta .user-meta-item {
  display: block;
  line-height: 30px;
}

.teaser .user-meta .user-meta-item a {
  display: inline-block;
	margin-left: 3px;
	color: #feb912;
}

.teaser .user-meta .user-meta-item img {
  margin-left: 2px;
  margin-right: 2px;
}

.teaser .user-meta .user-meta-item .check-icon {
	display: inline-block;
	position: relative;
	top: 3px;
	width: 22px;
  height: 20px;
	margin: 0;
	margin-left: 10px;
  background: url(../images/ok.png) no-repeat 0px 0px;
}

@media (min-width: 480px) and (max-width: 768px) {

	.teaser .row .col-md-5 .row .col-sm-5 {
		width: 33.333%;
		float: left;
	}

	.teaser .row .col-md-5 .row .col-sm-7 {
		width: 66.666%;
		float: left;
	}

	.teaser .user-meta {
		margin: 0 auto;
		max-width: 320px;
	}
}

@media (min-width: 480px) {

	.teaser .row .col-md-5 .row .col-sm-7.col-md-8 {
		padding: 0;
	}

	.teaser .user-image {
		margin: 0;
		margin-bottom: 15px;
		float: right;
	}

	.teaser .user-name {
		margin-top: 15px;
		text-align: left;
	}

	.teaser .user-info {
		text-align: left;
	}
}

@media (min-width: 768px) {

	.teaser .headline {
		font-size: 22px;
	}
}

@media (min-width: 992px) {

	.teaser .headline {
		font-size: 28px;
	}

	.teaser .results {
		padding-left: 0;
	}
}

@media (min-width: 1200px) {

	.teaser .headline {
		font-size: 34px;
	}

	.teaser .results {
		padding-left: 15px;
	}
}

/* left-section */

.left-section,
.right-section {
	padding-top: 35px;
  background: #fff;
}

.left-section {
	border-bottom: solid 90px #EBEBEB;
}

.left-section .headline {
  color: #464646;
  font-weight: 700;
}

@media (min-width: 992px) {
	.left-section {
		border: 0;
	}
}

/* left-section comments */

.content-slider .comment-content .comment {
	margin: 0;
	padding: 15px;
  font-style: italic;
}

.content-slider .comment-content .comment-author {
	margin-right: 15px;
	float: right;
	color: #333333;
}

.content-slider .comment-content .comment-author .user-image {
	display: inline-block;
	width: 54px;
  border-radius: 50px;
  float: left;
}

.content-slider .comment-content .comment-author .user-info {
	display: inline-block;
  padding-top: 15px;
	padding-left: 15px;
  float: left;
}

/* left-section order-summary */

.order-summary {
  margin: 15px -15px;
  padding: 30px 15px;
	-webkit-box-shadow: 0 4px 4px -4px rgba(50, 61, 67, 0.5) inset, 0 -4px 4px -4px rgba(50, 61, 67, 0.5) inset;
	-moz-box-shadow: 0 4px 4px -4px rgba(50, 61, 67, 0.5) inset, 0 -4px 4px -4px rgba(50, 61, 67, 0.5) inset;
	box-shadow: 0 4px 4px -4px rgba(50, 61, 67, 0.5) inset, 0 -4px 4px -4px rgba(50, 61, 67, 0.5) inset;
	background-color: #f7f6f4;
}

.order-summary .headline {
	margin: 0;
	margin-bottom: 15px;
	color: #7bb33f;
  font-weight: 700;
}

.order-summary .headline .cart-icon {
	display: inline-block;
	position: relative;
	top: -5px;
	width: 28px;
  height: 26px;
	margin-right: 10px;
	float: left;
  background: url(../images/cart.png) no-repeat 0px 0px;
}

.order-summary .divider-headline {
	display: block;
	margin: 5px 0;
	color: #646464;
  font-weight: 700;
}

.order-summary .data-headline {
	display: block;
	margin: 5px 0;
	color: #0072bc;
  font-weight: 700;
}

.order-summary .data-details {
	margin: 5px 0;
	color: #646464;
}

.order-summary .data-name {
	display: block;
}

.order-summary .right-label {
	display: inline-block;
  color: #646464;
  font-weight: 700;
  float: right;
}

.order-summary .right-label.included-label {
	text-transform: uppercase;
}

.order-summary .right-label.price-label {
	font-size: 14px;
}

@media (min-width: 480px) {

	.order-summary {
		margin: 15px auto;
    border-radius: 4px;
		-webkit-box-shadow: 0 0 4px 0 rgba(50, 61, 67, 0.5);
		-moz-box-shadow: 0 0 4px 0 rgba(50, 61, 67, 0.5);
		box-shadow: 0 0 4px 0 rgba(50, 61, 67, 0.5);
	}
}

/* left-section features */

.features {
	margin-bottom: 30px;
  padding: 15px;
}

.features .feature {
	border: 0;
  text-align: center;
}

.features .feature:first-child {
  border-bottom: solid 1px #ccc;
}

.features .feature .feature-icon {
	margin-top: 30px;
}

.features .feature .feature-headline {
  color: #7bb33f;
  font-weight: 700;
}
.features .feature .feature-description {
	margin-bottom: 30px;
  color: #646464;
}

.featured-logos {
	margin: 0 auto;
}

@media (min-width: 480px) {
	.featured-logos {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.features .feature:first-child {
		border-bottom: 0;
	  border-right: solid 1px #ccc;
	}

	.featured-logos {
		width: 75%;
	}
}

@media (min-width: 992px) {
	.featured-logos {
		width: 100%;
	}
}

/* left-section runners */

.runners-heading {
	margin-top: 50px;
	margin-bottom: 0;
  color: #7bb33f;
  font-weight: 700;
	text-align: center;
}

.runners .runners-image {
	position: relative;
	bottom: -35px;
	margin: 0 auto;
}

.runners .runners-description {
	margin: 20px 0;
}

@media (min-width: 480px) {

	.runners-heading {
		margin-bottom: -20px;
	}

	.runners .runners-description {
    margin: 60px 0;
  }
}

@media (min-width: 768px) {

	.runners .runners-description {
		margin: 80px 0;
		font-size: 16px;
	}
}

@media (min-width: 992px) {

	.runners .runners-image {
		bottom: -65px;
	}

	.runners .runners-description {
		margin: 60px 0;
	}

	.runners-heading {
		text-align: left;
	}
}

@media (min-width: 1200px) {
	.runners .runners-image {
    bottom: -50px;
  }
}

/* right-section */

.right-section {
  padding: 0;
}

.right-section .step-heading {
	margin: 0;
  padding: 15px;
	background-color: #323d43;
	color: #fff;
  line-height: 1;
  font-weight: 400;
}

@media (min-width: 480px) {

	.right-section {
	  padding: 35px 15px;
	}
}

/* right-section package */

.right-section .package {
	position: relative;
	height: 140px;
	border: 0;
}

.package .deal-radio {
  position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	margin: 0;
}

.package .deal-label {
	cursor: pointer;
	width: 100%;
	height: 140px;
	margin: 0;
	padding: 30px;
	padding-left: 45px;
	padding-right: 15px;
	background-color: #f2f7eb;
	color: #424242;
  font-size: 16px;
	line-height: 1.25;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
}

.package .deal-label:hover {
	-webkit-box-shadow: 0 0 5px 0 rgba(50, 61, 67, 0.5) inset;
	-moz-box-shadow: 0 0 5px 0 rgba(50, 61, 67, 0.5) inset;
	box-shadow: 0 0 5px 0 rgba(50, 61, 67, 0.5) inset;
}

.package .deal-label .offer-label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.package .deal-label .price-label {
	position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 20px;
	font-weight: 700;
}

.package .deal-label .price-label strong {
  font-size: 12px;
}

.package .deal-label .discount-label {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	border-radius: 3px;
	background-color: #feb912;
	color: #fff;
	font-size: 18px;
	line-height: 1;
}

.package .deal-label .discount-label strong {
  font-size: 12px;
  font-weight: 400;
	vertical-align: top;
}

.package .deal-label .price-label small {
	display: block;
  margin-left: 10px;
  color: #828282;
	font-size: 10px;
  text-align: right;
}

.package.first-deal .deal-label {
  background-color: #7bb33f;
  color: #fff;
}

.package.special-deal .deal-label {
  background-color: #fff;
}

.package.special-deal .deal-label .deal-image {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 55px;
}

@media (min-width: 480px) {

	.right-section .package {
		border-left: solid 2px #323d43;
	  border-right: solid 2px #323d43;
	  border-bottom: solid 1px #b0d18c;
	}

	.package .deal-radio {
		left: 30px;
	}

	.package .deal-label {
		padding-left: 65px;
		font-size: 18px;
	}

	.package .deal-label .discount-label {
		top: 30px;
		right: 20px;
    font-size: 20px;
	}

	.package .deal-label .price-label {
		bottom: 30px;
		font-size: 24px;
	}

	.package .deal-label .price-label strong {
		font-size: 14px;
	}

	.package .deal-label .price-label small {
		font-size: 12px;
	}

	.package.first-deal .deal-label .price-label {
		top: 50%;
		bottom: auto;
    transform: translateY(-50%);
	}

	.package.special-deal .deal-label .deal-image {
		width: 65px;
	}
}

/* right-section payments-switch */

.right-section .payments-switch {
	display: inline-block;
	position: relative;
	margin: 0 auto;
  width: 100%;
  padding: 15px;
	border: 0;
  background-color: #f7f6f4;
}

.payments-switch .payments-cta {
	color: #333;
	font-weight: 700;
}

.payments-switch .payment-option {
	display: inline-block;
	width: 100%;
  margin-bottom: 10px;
	cursor: pointer;
}

.payments-switch .payment-option .check-icon {
	display: inline-block;
	width: 25px;
  height: 31px;
	margin: 0;
	margin-right: 15px;
	float: left;
  background: url(../images/check-checked.png) no-repeat;
}

.payments-switch .payment-option.checked .check-icon {
  background: url(../images/check.png) no-repeat;
}

.payments-switch .payment-option .img-responsive {
  display: inline-block;
  float: left;
}

.payments-switch .secure {
	position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  margin: 15px;
}

@media (min-width: 480px) {

	.right-section .payments-switch {
		border: solid 2px #323d43;
    border-bottom: none;
	}
}

/* right-section cc form */

.right-section .cc-form,
.right-section .paypal-payment {
	padding: 15px;
  border: 0;
}

.cc-form .form-group label {
  color: #333333;
  font-weight: 700;
}

.cc-form .form-group label small {
  font-weight: 400;
}

.cc-form .form-group .cvv {
  background-image: url(../images/ccv.png);
  background-repeat: no-repeat;
  background-position: 98% 6px;
}

.agreement-container {
	padding: 15px;
  border: solid 1px #ccc;
  border-radius: 5px;
  color: #646464;
}

.agreement-container .checkbox {
  display: inline-block;
	margin: 4px 8px;
	margin-left: 0;
  float: left;
	cursor: pointer;
}

.agreement-container .agreement {
	display: inline;
  margin: 0;
}

.cc-form .form-group .submit-cc-form,
.paypal-payment .paypal-btn {
	width: 100%;
  height: 70px;
	outline: none;
	border: 0;
	border-radius: 5px;
	-webkit-box-shadow: 0 -4px 0 #57992d inset;
	-moz-box-shadow: 0 -4px 0 #57992d inset;
	box-shadow: 0 -4px 0 #57992d inset;
	background-color: #7bb33f;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
	text-decoration: none;
}

.cc-form .form-group .submit-cc-form:hover,
.cc-form .form-group .submit-cc-form:focus,
.paypal-payment .paypal-btn:hover,
.paypal-payment .paypal-btn:focus {
	background-color: #72b449;
	-webkit-box-shadow: 0 -6px 0 #57992d inset;
	-moz-box-shadow: 0 -6px 0 #57992d inset;
	box-shadow: 0 -6px 0 #57992d inset;
}

.cc-form .form-group .submit-cc-form:active,
.cc-form .form-group .submit-cc-form:active,
.paypal-payment .paypal-btn:active,
.paypal-payment .paypal-btn:active {
	background-color: #68a342;
	-webkit-box-shadow: 0 2px 0 #558c33 inset;
	-moz-box-shadow: 0 2px 0 #558c33 inset;
	box-shadow: 0 2px 0 #558c33 inset;
}

.right-section .paypal-payment {
  display: none;
}

.paypal-payment .paypal-btn {
  display: block;
	margin-bottom: 15px;
	text-align: center;
	line-height: 3.25;
}

@media (min-width: 480px) {
	.right-section .cc-form,
	.right-section .paypal-payment {
		border: solid 2px #323d43;
		border-top: 0;
	}

	.right-section .paypal-payment {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

/* footer */

footer {
	padding: 15px;
  background-color: #fff;
  color: #646464;
}

footer .support-headline {
	margin: 40px 0 60px;
  color: #464646;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

footer .support-headline .highlight {
	display: block;
  color: #0072bc;
}

footer .disclamer {
	max-width: 800px;
  margin: 0 auto;
  color: #646464;
  text-align: center;
}

footer .disclamer a {
  text-decoration: underline;
  color: #646464;
}

footer .legal {
	padding-top: 20px;
	margin-top: 60px;
	border-top: solid 1px #dcdcdc;
}

footer .legal .container {
	padding: 0;
}

footer .legal .copyright {
	margin-bottom: 5px;
	text-align: center;
}

footer .legal .links {
  text-align: center;;
}

footer .legal .links a {
  color: #646464;
  margin-left: 2px;
  margin-right: 2px;
}

@media (min-width: 768px) {

	footer {
		margin-top: 60px;
	}

	footer .support-headline .highlight {
    display: inline-block;
	}

  footer .legal .copyright {
		text-align: left;
	}

	footer .legal .links {
		text-align: right;
	}
}
