@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

/* global */

body {
  font-family: 'Lato', sans-serif;
  background: #f7f6f4;
}

.success-text {
  color: #7bb33f !important;
}

.divider {
	border-color: #d4d4d3;
  margin-top: 15px;
  margin-bottom: 10px;
}

.divider.divider-total {
	border: solid 2px #d4d4d3;
}

/* header */

header {
	min-height: 90px;
	padding: 15px;
  background: #fff;
	text-align: center;
}

header .logo {
	display: block;
  margin: 5px auto;
}

header .call {
  font-size: 15px;
}

/* teaser */

.teaser {
	padding: 30px 15px;
  background: #353167;
  color: #fff;
}

.teaser .headline {
	margin: 0;
	margin-bottom: 20px;
	padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
	text-transform: uppercase;
}

.teaser .user-image {
	display: block;
	max-width: 133px;
  margin: 0 auto;
	border-radius: 100px;
}

.teaser .user-name {
	margin-bottom: 5px;
  font-weight: 700;
  text-align: center;
}

.teaser .user-info {
  text-align: center;
}

.teaser .user-records {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 5px;
}

.teaser .user-records .records-label {
	position: relative;
	width: 225px;
	padding: 8px 12px;
	border: solid 1px #feb912;
  border-radius: 3px;
	background-color: #fff;
	color: #353167;
	font-size: 15px;
  font-weight: 700;
	float: left;
}

.teaser .user-records .records-label .records-count {
	display: block;
	position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2px 10px;
	background-color: #feb912;
  font-weight: 700;
  font-size: 24px;
}

.teaser .user-records .check-icon {
  width: 22px;
  height: 20px;
  margin-top: 8px;
  margin-left: 15px;
	float: left;
	background: url(../images/ok.png) no-repeat 0 0;
}

.teaser .user-meta {
  margin: 0;
	padding: 0;
}

.teaser .user-meta .user-meta-item {
  display: block;
  line-height: 30px;
}

.teaser .user-meta .user-meta-item a {
  display: inline-block;
	margin-left: 3px;
	color: #feb912;
}

.teaser .user-meta .user-meta-item img {
  margin-left: 2px;
  margin-right: 2px;
}

.teaser .user-meta .user-meta-item .check-icon {
	display: inline-block;
	position: relative;
	top: 3px;
	width: 22px;
  height: 20px;
	margin: 0;
	margin-left: 10px;
  background: url(../images/ok.png) no-repeat 0px 0px;
}

@media (min-width: 768px) {

	.teaser .headline {
		font-size: 22px;
	}
}

@media (min-width: 992px) {

	.teaser .headline {
		font-size: 28px;
	}
}

@media (min-width: 1200px) {

	.teaser .headline {
		font-size: 34px;
	}
}

/* left-section */

.left-section,
.right-section {
	padding-top: 35px;
  background: #fff;
}

.left-section .headline {
  color: #464646;
  font-weight: 700;
}

/* left-section comments */

.content-slider .comment-content .comment {
	margin: 0;
	padding: 15px;
  font-style: italic;
}

.content-slider .comment-content .comment-author {
	margin-right: 15px;
	float: right;
	color: #333333;
}

.content-slider .comment-content .comment-author .user-image {
	display: inline-block;
	width: 54px;
  border-radius: 50px;
  float: left;
}

.content-slider .comment-content .comment-author .user-info {
	display: inline-block;
  padding-top: 15px;
	padding-left: 15px;
  float: left;
}

/* left-section order-summary */

.order-summary {
  margin: 15px -15px;
  padding: 30px 15px;
	background-color: #f7f6f4;
}

.order-summary .headline {
	margin: 0;
	margin-bottom: 15px;
	color: #7bb33f;
  font-weight: 700;
}

.order-summary .headline .cart-icon {
	display: inline-block;
	position: relative;
	top: -5px;
	width: 28px;
  height: 26px;
	margin-right: 10px;
	float: left;
  background: url(../images/cart.png) no-repeat 0px 0px;
}

.order-summary .divider-headline {
	display: block;
	margin: 5px 0;
	color: #646464;
  font-weight: 700;
}

.order-summary .data-headline {
	display: block;
	margin: 5px 0;
	color: #0072bc;
  font-weight: 700;
}

.order-summary .data-details {
	margin: 5px 0;
	color: #646464;
}

.order-summary .data-name {
	display: inline-block;
}

.order-summary .right-label {
	display: inline-block;
  color: #646464;
  font-weight: 700;
  float: right;
}

.order-summary .right-label.included-label {
	text-transform: uppercase;
}

.order-summary .right-label.price-label {
	font-size: 14px;
}

@media (min-width: 768px) {

	.order-summary {
		margin: 15px auto;
	}
}

/* left-section features */

.features {
  padding-top: 45px;
  padding-bottom: 25px;
}
.features div {
  border-right: solid 1px #cccccc;
  text-align: center;
}
.features div:last-child {
  border: none;
}
.features h2 {
  color: #7bb33f;
  font-size: 18px;
  font-weight: 700;
}
.features p {
  font-size: 15px;
  color: #646464;
}

/* End feauters */

.runners-heading {
  color: #7bb33f;
  font-size: 25px;
  font-weight: 700;
  margin-top: 40px;
}
.runners div {
  display: inline-block;
  float: left;
  width: 50%;
  font-size: 15px;
  padding-top: 20px;
}
.runners div:last-child {
  padding-top: 45px;
}
.runners img {
  margin-bottom: -50px;
}
.gray-bar {
  background: #ebebeb;
  height: 90px;
  display: block;
}

/* End left section */

.right-section {
  padding-bottom: 25px;
}
.step-heading {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background: #323d43;
  padding-left: 20px;
  line-height: 50px;
}
.package {
  border-left: solid 2px #323d43;
  border-right: solid 2px #323d43;
  border-bottom: solid 1px #b0d18c;
}
.package input {
  display: inline-block;
  position: absolute;
  margin-left: 50px;
  margin-top: 49px;
  width: 20px;
  height: 20px;
}
.package label {
  font-size: 18px;
  color: #424242;
  width: 100%;
  padding-top: 45px;
  height: 123px;
  padding-left: 100px;
  background: #f2f7eb;
  margin-bottom: 0px;
}
.special-deal label {
  background: url(../images/deal.png) no-repeat -2px -2px #fff;
}
.package label:hover {
  /*	background:#7bb33f;
	color:#fff;
*/
  cursor: pointer;
}
.special-deal label:hover {
  background: url(../images/deal.png) no-repeat -2px -2px/*#7bb33f*/
  ;
}
.first-deal label {
  background: #7bb33f;
  color: #fff;
}
.package label div {
  font-weight: 700;
  font-size: 24px;
  float: right;
  width: 120px;
  display: inline-block;
}
.package label div strong {
  font-size: 15px;
}
.package label div span {
  font-size: 21px;
  color: #fff;
  background: #feb912;
  border-radius: 3px;
  display: block;
  width: 80px;
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  margin-bottom: 2px;
  margin-top: -30px;
}
.package label div span strong {
  font-size: 14px;
  font-weight: 400;
  float: right;
}
.package label div small {
  font-size: 11px;
  opacity: 0.7;
  display: block;
  margin-left: 10px;
}

/* End 3 package deals */

.payments-switch {
  min-height: 105px;
  background: #f7f6f4;
  padding-top: 20px;
  margin: auto;
  border: solid 2px #323d43;
  border-bottom: none;
}
.payments-switch i {
  background: url(../images/check-checked.png) no-repeat;
  width: 25px;
  height: 31px;
  display: inline-block;
  float: left;
  margin-top: 0px;
  margin-right: 12px;
  margin-left: 30px;
}
.payments-switch .checked i {
  background: url(../images/check.png) no-repeat;
}
.payments-switch span {
  cursor: pointer;
}
.payments-switch img {
  display: inline-block;
  float: left;
}
.payments-switch .text {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  padding-left: 33px;
  padding-bottom: 5px;
}
.secure {
  float: right !important;
  margin-right: 30px;
  margin-top: -15px;
}
.card-inputs, .paypal-btn {
  margin-left: 0px;
  margin-right: 0px;
  border: solid 2px #323d43;
  border-top: none;
  padding-top: 15px;
  margin-bottom: 92px;
}
.card-inputs select {
  width: 48%;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}
.card-inputs .years {
  float: right;
}
.card-inputs label {
  color: #333333;
  font-size: 15px;
  font-weight: 700;
}
.card-inputs input {
  margin-bottom: 20px;
}
.card-inputs .cvv {
  background-image: url(../images/ccv.png);
  background-repeat: no-repeat;
  background-position: 98% 6px;
}
.card-inputs label small {
  font-weight: 400;
}
.agree {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  color: #646464;
}
.agree input, .agree span {
  display: inline-block;
  float: left;
}
.agree span {
  float: right;
  width: 95%;
}
.agree input {
  width: 20px;
  height: 20px;
}
.card-inputs input[type=submit] {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  background: #7bb33f;
  width: 100%;
  height: 70px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.paypal-btn a {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  background: #7bb33f;
  width: 100%;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
  display: block;
  line-height: 75px;
  text-align: center;
  margin-top: 25px;
}
.paypal-btn {
  display: none;
}

/* Footer */

.txt {
  background: #fff;
  padding-bottom: 70px;
}
.cc {
  color: #464646;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}
.cc span {
  color: #0072bc;
}
.disclamer {
  color: #646464;
  text-align: center;
}
.disclamer a {
  text-decoration: underline;
  color: #646464;
}
footer {
  height: 100px;
  border-top: solid 1px #dcdcdc;
  background: #fff;
  color: #646464;
  font-size: 14px;
  padding-top: 15px;
}
footer .links {
  text-align: right;
}
footer .links a {
  color: #646464;
  margin-left: 2px;
  margin-right: 2px;
}

/* Responsive Fixes */


/* Medium Screens */

@media (min-width:992px) and (max-width:1199px) {
  .teaser h1 {
    font-size: 28px;
  }
  .user {
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 20px;
  }
  .user img {
    max-width: 105px;
  }
  .teaser ul {
    font-size: 13px;
  }
}

/* Small Screens */

@media (min-width:768px) and (max-width:991px) {
  .teaser h1 {
    font-size: 22px;
  }
  .searchs {
    margin-left: 50px;
  }
  .teaser p {
    margin-top: 19px;
    margin-left: 25px;
  }
  .user {
    margin-bottom: 25px;
    margin-left: 45px;
  }
  .left-section {
    border-bottom: solid 90px #EBEBEB;
  }
  .gray-bar {
    display: none;
  }
  .runners div {
    width: 30%;
  }
  .runners div:first-child {
    margin-left: 145px;
  }
  .runners-heading, .align-fix {
    text-align: center;
  }
  img.align-fix {
    margin: auto;
    margin-top: 15px;
  }
}
