@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

/* global */

body {
  font-family: 'Lato', sans-serif;
  background: #f7f6f4;
	overflow-x: hidden;
}

.container {
	background: #fff;
}

.headline {
  color: #464646;
  font-weight: 700;
}

@media (min-width: 992px) {

	.container.main {
		border-bottom: 90px solid #ebebeb;
	}
}

/* form elements */

.radio-custom {
	width: 25px;
	height: 30px;
	cursor: pointer;
	background: url('../img/check-checked.png') no-repeat;
}

input[type="radio"]:checked + label .radio-custom {
	background: url('../img/check.png') no-repeat;
}

/* alerts and errors */

.alert#ppCanceled {
	display: none;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	background-color: #FFDBDB;
}

#error_container .error-details {
	padding: 15px;
	border: 2px solid #323D43;
	background-color: #FFDBDB;
	color: #a94442;
}

#error_container .error-details #messages {
	padding-left: 25px;
}

/* loading */

#loading {
	border-radius: 5px;
	overflow: hidden;
}

#loading .loading-bar {
	display: block;
	overflow: hidden;
	position: relative;
	height: 70px;
	border-radius: 5px;
	background-color: #323d43;
}

.loading-bar:after,
.loading-bar:before {
    display: block;
		overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0%;
		content: '';
    background-color: #7bb33f;
}

.loading-bar:before {
    animation: loading1 5s linear 0s infinite;
    z-index: 10;
}

.loading-bar:after {
    animation: loading2 5s linear 2.5s infinite;
    z-index: 20;
}

@-webkit-keyframes loading1 {
  0% {
    width: 25%;
    margin-left: -10%;
  }
  50%, 100% {
    width: 50%;
    margin-left: 100%;
  }
}

@-moz-keyframes loading1 {
  0% {
    width: 25%;
    margin-left: -10%;
  }
  50%, 100% {
    width: 50%;
    margin-left: 100%;
  }
}

@keyframes loading1 {
  0% {
    width: 25%;
    margin-left: -10%;
  }
  50%, 100% {
    width: 50%;
    margin-left: 100%;
  }
}

@-webkit-keyframes loading2 {
  0% {
    width: 50%;
    margin-left: -50%;
  }
  50%, 100% {
    width: 25%;
    margin-left: 100%;
  }
}

@-moz-keyframes loading2 {
  0% {
    width: 50%;
    margin-left: -50%;
  }
  50%, 100% {
    width: 25%;
    margin-left: 100%;
  }
}

@keyframes loading2 {
  0% {
    width: 50%;
    margin-left: -50%;
  }
  50%, 100% {
    width: 25%;
    margin-left: 100%;
  }
}

/* helpers */

.success-text {
  color: #7bb33f !important;
}

.divider {
	border-color: #d4d4d3;
  margin-top: 15px;
  margin-bottom: 10px;
}

.divider.divider-total {
	border: solid 2px #d4d4d3;
}

.break-xs {
	display: block;
}

@media (max-width: 480px) {

	.hidden-portrait {
		display: none!important;
	}
}

@media (min-width: 768px) {

	.break-xs {
		display: inline-block;
	}
}

/* header */

header {
	padding: 15px;
  background: #fff;
	text-align: center;
}

header .logo {
	display: block;
  margin: 5px auto;
}

header .header-cta {
	margin: 0;
  font-size: 16px;
}

@media (min-width: 768px) {

	header .logo {
		display: inline-block;
		margin: 10px 0;
    float: left;
	}

	header .header-cta {
		display: inline-block;
		margin: 15px 0;
    float: right;
	}
}

/* teaser */

.teaser {
	padding: 30px 15px;
  background: #353167;
  color: #fff;
}

.teaser .headline {
	margin: 0 auto;
	margin-bottom: 20px;
	padding-bottom: 20px;
  border-bottom: solid 1px #fff;
	color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
	text-transform: uppercase;
}

.teaser .headline .break-xs {
	font-size: 75%;
}

.teaser .user-image {
	display: block;
	max-width: 100%;
  margin: 0 auto;
	border-radius: 100px;
}

.teaser .user-name {
	margin-bottom: 5px;
  font-weight: 700;
  text-align: center;
}

.teaser .user-info {
  text-align: center;
}

.teaser .user-records {
	display: block;
	position: relative;
	width: 100%;
	max-width: 265px;
  margin: 0 auto;
}

.teaser .user-records .records-label {
	position: relative;
	width: 225px;
	padding: 8px 12px;
	border: solid 1px #feb912;
  border-radius: 3px;
	background-color: #fff;
	color: #353167;
	font-size: 15px;
  font-weight: 700;
	float: left;
}

.teaser .user-records .records-label .records-count {
	display: block;
	position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2px 10px;
	background-color: #feb912;
  font-weight: 700;
  font-size: 24px;
}

.teaser .user-records .check-icon {
  width: 22px;
  height: 20px;
  margin-top: 8px;
  margin-left: 15px;
	float: left;
	background: url(../img/ok.png) no-repeat 0 0;
}

.teaser .user-meta {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.teaser .user-meta .user-meta-item {
  display: block;
  line-height: 30px;
}

.teaser .user-meta .user-meta-item a {
  display: inline-block;
	margin-left: 3px;
	color: #feb912;
}

.teaser .user-meta .user-meta-item img {
  margin-left: 2px;
  margin-right: 2px;
}

.teaser .user-meta .user-meta-item .check-icon {
	display: inline-block;
	position: relative;
	top: 3px;
	width: 22px;
  height: 20px;
	margin: 0;
	margin-left: 10px;
  background: url(../img/ok.png) no-repeat 0px 0px;
}

@media (max-width: 480px) {

	.teaser .user-image {
		width: 100px;
	}

	.teaser .user-meta-list .user-meta {
		margin-top: 5px;
	}
}

@media (max-width: 992px) {

	.teaser .user-meta-list .results {
		display: none;
	}
}

@media (min-width: 480px) and (max-width: 768px) {

	.teaser .row .col-md-5 .row .col-sm-4 {
		width: 33.333%;
		float: left;
	}

	.teaser .row .col-md-5 .row .col-sm-8 {
		width: 66.666%;
		float: left;
	}

	.teaser .user-details {
		max-width: 450px;
		margin: 0 auto;
	}

	.teaser .user-meta-list .user-meta {
		margin-top: -15px;
	}

}

@media (min-width: 480px) {

	.teaser .user-records {
		display: inline-block;
		max-width: auto;
		margin-bottom: 5px;
	}

	.teaser .row .col-md-5 .row .col-sm-8 {
		padding-left: 0;
	}

	.teaser .user-image {
		margin: 0;
		margin-bottom: 15px;
		float: right;
	}

	.teaser .user-name {
		margin-top: 15px;
		text-align: left;
	}

	.teaser .user-info {
		text-align: left;
	}
}

@media (min-width: 768px) {

	.teaser .headline {
		font-size: 22px;
	}

	.teaser .headline .break-xs {
		font-size: 100%;
	}

	.teaser .user-meta-list .user-meta {
		text-align: left;
	}
}

@media (min-width: 992px) {

	.teaser .headline {
		font-size: 28px;
	}

	.teaser .row .col-md-5 .row .col-sm-8 {
		padding: 0;
	}

	.teaser .user-meta-list .results {
		padding-left: 0;
	}
}

@media (min-width: 1200px) {

	.teaser .headline {
		font-size: 34px;
	}

	.teaser .user-meta-list .results {
		padding-left: 15px;
	}
}

/* left-section */

.left-section,
.right-section {
	padding-top: 35px;
  background: #fff;
}

/* left-section comments */

.content-slider .comment-content .comment {
	margin: 0;
	padding: 15px;
  font-style: italic;
}

.content-slider .comment-content .comment-author {
	margin-right: 15px;
	float: right;
	color: #333333;
}

.content-slider .comment-content .comment-author .user-image {
	display: inline-block;
	width: 54px;
  border-radius: 50px;
  float: left;
}

.content-slider .comment-content .comment-author .user-info {
	display: inline-block;
  padding-top: 15px;
	padding-left: 15px;
  float: left;
}

@media (max-width: 480px) {
	.headline-comments {
		display: none;
	}

	.left-section .lSSlideOuter {
		display: none
	}

	.left-section .content-slider {
		display: none;
	}
}

/* left-section order-summary */

.order-summary {
	display: none;
  margin: 15px -15px;
  padding: 30px 15px;
	-webkit-box-shadow: 0 4px 4px -4px rgba(50, 61, 67, 0.5) inset, 0 -4px 4px -4px rgba(50, 61, 67, 0.5) inset;
	-moz-box-shadow: 0 4px 4px -4px rgba(50, 61, 67, 0.5) inset, 0 -4px 4px -4px rgba(50, 61, 67, 0.5) inset;
	box-shadow: 0 4px 4px -4px rgba(50, 61, 67, 0.5) inset, 0 -4px 4px -4px rgba(50, 61, 67, 0.5) inset;
	background-color: #f7f6f4;
}

.order-summary .headline {
	margin: 0;
	margin-bottom: 15px;
	color: #7bb33f;
  font-weight: 700;
}

.order-summary .headline .cart-icon {
	display: inline-block;
	position: relative;
	top: -5px;
	width: 28px;
  height: 26px;
	margin-right: 10px;
	float: left;
  background: url(../img/cart.png) no-repeat 0px 0px;
}

.order-summary .divider-headline {
	display: block;
	margin: 5px 0;
	color: #646464;
  font-weight: 700;
}

.order-summary .data-headline {
	display: block;
	margin: 5px 0;
	color: #0072bc;
  font-weight: 700;
}

.order-summary .data-details {
	margin: 5px 0;
	color: #646464;
}

.order-summary .data-name {
	display: block;
}

.order-summary .right-label {
	display: inline-block;
  color: #646464;
  font-weight: 700;
  float: right;
}

.order-summary .right-label.included-label {
	text-transform: uppercase;
}

.order-summary .right-label.price-label {
	font-size: 14px;
}

@media (min-width: 480px) {

	.order-summary {
		margin: 15px auto;
    border-radius: 4px;
		-webkit-box-shadow: 0 0 4px 0 rgba(50, 61, 67, 0.25);
		-moz-box-shadow: 0 0 4px 0 rgba(50, 61, 67, 0.25);
		box-shadow: 0 0 4px 0 rgba(50, 61, 67, 0.25);
	}
}

@media (min-width: 992px) {

	.order-summary {
		display: block;
	}
}

/* left-section features */

.features {
	margin: 0;
  padding: 15px;
}

.features .feature {
	border: 0;
  text-align: center;
}

.features .feature:first-child {
	display: none;
}

.features .feature .feature-headline {
  color: #7bb33f;
  font-weight: 700;
}
.features .feature .feature-description {
	margin-bottom: 30px;
  color: #646464;
}

@media (min-width: 480px) {

	.features .feature .feature-icon {
		margin-top: 30px;
	}
}

@media (min-width: 768px) {

	.features .feature:first-child {
		display: block;
	  border-right: solid 1px #ccc;
	}
}

/* left-section runners */

.runners-heading {
	display: none;
	margin-top: 50px;
	margin-bottom: 0;
  color: #7bb33f;
  font-weight: 700;
	text-align: center;
}

.runners {
	display: none;
}

.runners .runners-image {
	position: relative;
	bottom: -35px;
	margin: 0 auto;
}

.runners .runners-description {
	margin: 20px 0;
}

@media (min-width: 480px) {

	.runners-heading {
		margin-bottom: -20px;
	}

	.runners .runners-description {
    margin: 60px 0;
  }
}

@media (min-width: 768px) {

	.runners .runners-description {
		margin: 80px 0;
		font-size: 16px;
	}
}

@media (min-width: 992px) {

	.runners-heading {
		display: block;
		margin-top: 110px;
    margin-bottom: -30px;
		text-align: left;
	}

	.runners {
		display: block;
	}

	.runners .runners-image {
		bottom: -75px;
	}

	.runners .runners-description {
		margin: 90px 0 40px;
	}
}

/* right-section */

.right-section {
  padding: 0;
}

.right-section .step-heading {
	margin: 0;
  padding: 15px;
	background-color: #323d43;
	color: #fff;
  line-height: 1;
  font-weight: 400;
}

@media (min-width: 480px) {

	.right-section {
	  padding: 45px 15px;
	}
}

/* right-section package */

.right-section .package {
	position: relative;
	height: 140px;
	border: 0;
}

.package .deal-radio {
	display: none;
  position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	margin: 0;
}

.package .deal-label {
	cursor: pointer;
	width: 100%;
	height: 140px;
	margin: 0;
	padding: 30px 0;
	background-color: #f2f7eb;
	color: #424242;
  font-size: 14px;
	line-height: 1.25;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
}

.package .deal-label:hover {
	-webkit-box-shadow: 0 0 5px 0 rgba(50, 61, 67, 0.5) inset;
	-moz-box-shadow: 0 0 5px 0 rgba(50, 61, 67, 0.5) inset;
	box-shadow: 0 0 5px 0 rgba(50, 61, 67, 0.5) inset;
}

.package .deal-label .radio-custom {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

.package .deal-label .offer-label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
  padding-right: 15px;
  padding-left: 40px;
}

.package .deal-label .price-label {
	position: relative;
	right: 0;
	float: right;
  text-align: right;
}

.package .deal-label .price-label strong {
  font-size: 12px;
}

.package .deal-label .discount-label {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	border-radius: 3px;
	background-color: #feb912;
	color: #fff;
	font-size: 18px;
	line-height: 1;
}

.package .deal-label .discount-label strong {
  font-size: 12px;
  font-weight: 400;
	vertical-align: top;
}

.package .deal-label .price-label small {
	display: block;
	position: absolute;
	bottom: -15px;
	right: 0;
	width: 100px;
  color: #828282;
	font-size: 10px;
  text-align: right;
}

.package.first-deal .deal-label {
  background-color: #8FC346;
  color: #fff;
}

.package.special-deal .deal-label {
  background-color: #fff;
}

.package.special-deal .deal-label .deal-image {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 55px;
}

@media (min-width: 480px) {

	.right-section .package {
		border-left: solid 2px #323d43;
	  border-right: solid 2px #323d43;
	  border-bottom: solid 1px #b0d18c;
	}

	.package .deal-radio {
		left: 30px;
	}

	.package .deal-label {
		font-size: 18px;
	}

	.package .deal-label .radio-custom {
		left: 15px;
	}

	.package .deal-label .offer-label {
		padding-left: 50px;
	}

	.package .deal-label .discount-label {
    font-size: 20px;
	}

	.package .deal-label .price-label {
		font-size: 18px;
	}

	.package .deal-label .price-label strong {
		font-size: 14px;
	}

	.package .deal-label .price-label small {
		font-size: 12px;
	}

	.package.special-deal .deal-label .deal-image {
		width: 65px;
	}
}

/* right-section payments-switch */

.right-section .payments-switch {
	display: inline-block;
	position: relative;
	margin: 0 auto;
  width: 100%;
  padding: 15px;
	border: 0;
  background-color: #f7f6f4;
}

.payments-switch .payments-cta {
	color: #333;
	font-weight: 700;
}

.payments-switch .payment-option {
	position: relative;
	display: inline-block;
	width: 100%;
  margin-bottom: 5px;
	cursor: pointer;
}

.payments-switch .payment-option .payment-radio {
	display: none;
}

.payments-switch .payment-option .radio-custom {
	position: absolute;
	top: 0;
	left: 0;
}

.payments-switch .payment-option .img-responsive {
  display: inline-block;
	margin-top: 5px;
	margin-left: 35px;
  float: left;
	cursor: pointer;
}

.payments-switch .payment-option .img-responsive.cards {
	width: 125px;
}

.payments-switch .payment-option .img-responsive.paypal {
	width: 30px;
}

.payments-switch .secure {
	position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  margin: 15px;
	cursor: pointer;
}

@media (min-width: 480px) {

	.right-section .payments-switch {
		border: solid 2px #323d43;
    border-bottom: none;
	}

	.payments-switch .payment-option  {
		width: auto;
	}

	.payments-switch .payment-option#paypal-radio {
		margin-left: 20px;
	}

	.payments-switch .secure {
    top: 50%;
		bottom: auto;
    transform: translateY(-50%);
		margin: 10px 20px;
	}
}

/* right-section cc form */

.right-section .payment-form,
.right-section .paypal-payment {
	padding: 15px;
  border: 0;
}

.payment-form .form-group {
	margin-bottom: 20px;
}

.payment-form .form-group label {
  color: #333333;
  font-weight: 700;
}

.payment-form .form-group label small {
  font-weight: 400;
}

.payment-form .form-group label .cvv-tip {
  cursor: pointer;
}

.payment-form .form-group .error {
	position: absolute;
	right: 20px;
  color: #F57777;
  font-size: 11px;
	text-align: right;
}

.payment-form .form-group .success.label-success {
	position: absolute;
	top: 27px;
  right: 18px;
	background: transparent;
}

.payment-form .form-group .cc-expiration .success.label-success {
	top: 2px;
}

.payment-form .form-group .cvv {
  background-image: url(../img/ccv.png);
  background-repeat: no-repeat;
  background-position: 98% 6px;
}

.agreement-container {
	padding: 15px;
  border: solid 1px #ccc;
  border-radius: 5px;
	background-color: #F7F6F4;
  color: #646464;
	font-size: 11px;
}

.agreement-container .checkbox {
  display: inline-block;
	margin: 4px 12px;
	margin-left: 0;
  float: left;
	cursor: pointer;
}

.agreement-container .agreement {
	display: inline;
  margin: 0;
}

.payment-form .form-group .submit-cc-form {
	width: 100%;
  height: 70px;
	outline: none;
	border: 0;
	border-radius: 5px;
	-webkit-box-shadow: 0 -4px 0 #57992d inset;
	-moz-box-shadow: 0 -4px 0 #57992d inset;
	box-shadow: 0 -4px 0 #57992d inset;
	background-color: #7bb33f;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
	text-decoration: none;
}

.payment-form .form-group .submit-cc-form:hover,
.payment-form .form-group .submit-cc-form:focus, {
	background-color: #72b449;
	-webkit-box-shadow: 0 -6px 0 #57992d inset;
	-moz-box-shadow: 0 -6px 0 #57992d inset;
	box-shadow: 0 -6px 0 #57992d inset;
}

.payment-form .form-group .submit-cc-form:active,
.payment-form .form-group .submit-cc-form:active {
	background-color: #68a342;
	-webkit-box-shadow: 0 2px 0 #558c33 inset;
	-moz-box-shadow: 0 2px 0 #558c33 inset;
	box-shadow: 0 2px 0 #558c33 inset;
}

@media (min-width: 480px) {
	.right-section .payment-form {
		border: solid 2px #323d43;
		border-top: 0;
	}
}

/* right-section order-summary */

.mobile-order-summary {
	display: block;
	margin: 15px 0;
}

@media (min-width: 992px) {

	.mobile-order-summary {
		display: none;
	}
}

/* footer */

footer {
	padding: 15px;
  background-color: #fff;
  color: #646464;
}

footer .support-headline {
	margin: 30px 0 60px;
  color: #464646;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

footer .support-headline .highlight {
	display: block;
  color: #0072bc;
	font-size: 18px;
}

footer .headline .featured-logos {
	width: 100%;
	margin: 5px auto 25px;
}

footer .disclamer {
	max-width: 800px;
  margin: 0 auto;
  color: #646464;
  text-align: center;
}

footer .disclamer a {
  text-decoration: underline;
  color: #646464;
}

footer .legal {
	padding-top: 20px;
	margin-top: 60px;
	border-top: solid 1px #dcdcdc;
}

footer .legal .container {
	padding: 0;
}

footer .legal .copyright {
	margin-bottom: 5px;
	text-align: center;
}

footer .legal .links {
  text-align: center;;
}

footer .legal .links a {
  color: #646464;
  margin-left: 2px;
  margin-right: 2px;
}

@media (min-width: 480px) {

	footer .support-headline {
		font-size: 18px;
	}
}

@media (min-width: 768px) {

	footer {
		margin-top: 60px;
	}

	footer .support-headline .highlight {
    display: inline-block;
	}

	footer .headline {
		max-width: 800px;
		margin: 10px auto;
		text-align: center;
	}

	footer .headline .featured-logos {
		display: inline;
		width: auto;
		margin: 0;
		margin-left: 10px;
		margin-bottom: 5px;
	}

  footer .legal .copyright {
		text-align: left;
	}

	footer .legal .links {
		text-align: right;
	}
}
