@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,600);

body {
    font-family: 'Lato', sans-serif;
}

a, li, button, .btn, .result-header{
    transition:all 0.5s ease;   
}

.found-results{
    
}

.found-results h3{
	color:#030C0D;
    font-size:30px;
    font-weight:300;
    text-align:center;
    margin-top:30px;   
}

.found-results p{
    color:#333333;
    font-size:22px;
    font-weight:400;
    text-align:center;
    margin-top:5px;
    margin-bottom:40px;
}

/* Search Results */

.result{
 	margin-bottom:25px;   
}

.result:hover > .result-header{
    background:#54596B;
}

.result-header{
 	background:#747B91;
    min-height:70px;
    color:#fff;
    font-weight:700;
    font-size:16px;
    padding-left:30px;
    padding-right:20px;
    border-radius:3px 3px 0px 0px;   
}

.result-header > div{
 	display:inline-block;
    float:left;
    width:16%;
    padding-top:25px;   
}

.result-header > .name{
 	font-size:28px;
    width:26%;
    margin-top:-11px;   
}

.result-header > .see-profile{
	width:26%;
    text-align:right;   
}

.result .see-profile a{
    padding:10px 20px;
    color: #fff;
    border:none;
    border-radius: 4px;
    background-color: #7FC552;
    -webkit-box-shadow: 0 -3px 0 #6DAC45 inset;
    -moz-box-shadow: 0 -3px 0 #6DAC45 inset;
    box-shadow: 0 -3px 0 #6DAC45 inset;
    font-size: 18px;
    text-align:center;
}

.result .see-profile a:hover{
 	background:#7BCD48;
    -webkit-box-shadow: 0 -3px 0 #52902A inset;
    -moz-box-shadow: 0 -3px 0 #52902A inset;
    box-shadow: 0 -3px 0 #52902A inset;
    text-decoration:none;   
}

.result-content{
	background:rgba(232, 232, 232, 0.5);
    padding-left:30px;
    padding-right:20px;
    padding-bottom:30px;
       
}

.result-content:after{
    display:block;
    content:'';
    clear:both;
}

.result-content > div.left-content{
	display:inline-block;
    float:left;
    width:42%;   
}

.result-content > div.right-content{
	display:inline-block;
    float:left;
    width:58%;   
}

.result-content > div > div{
 	width:40%;
    display:inline-block;
    float:left;   
}

.result-content > .right-content > div:last-child{
 	width:60%;   
}

.result-content strong{
    color:#747B91;
    font-size:16px;
    font-weight:700;
    display:block;
    padding-bottom:5px;
    padding-top:20px;
}

.result-content  > div > div span{
	color:#333333;
    font-size:16px;
    line-height:30px;
    display:block;
}

.pagination{
	background:#684891;
    height:45px;
    border-radius:3px;
    width:100%;
    text-transform:uppercase;
    margin-top:0px;   
}

.pagination > a{
    color:#fff;
    font-size:14px;
    font-weight:700;
    display:inline-block;
    float:left;
    min-width:5%;
    line-height:45px;
    padding:0px 20px;
 	border-right:solid 1px #fff; 
}

.pagination div a{
    color:#fff;
    font-size:14px;
    font-weight:400;
    display:inline-block;
    margin:12px 8px;
}

.pagination div a.active{
 	font-weight:700;   
}

.pagination div{
	text-align:center;
    display:inline-block;
    float:left;
    width:75%;
}

.pagination > a:last-child{
 	border-left:solid 1px #fff; 
 	border-right:none;
    float:right; 
}

.pagination > a img{
 	float:left;
    margin-top:15px;
    margin-right:5px;   
}

.pagination > a:last-child img{
	float:right;
    margin-right:0px;
    margin-left:5px;
}

.filter-heading{
	background:#684891;
    height:50px;
    font-size:18px;
    color:#fff;
    font-weight:700;
    display:block;
    padding:12px 16px 0px 17px;
    border-radius:3px 3px 0px 0px;  
}

.filter-option{
	background:#F3F3F3;
    padding:20px 15px;
    color:#4A4A4A;
    font-size:16px;
    margin-bottom:30px;   
}

.filter-option li{
	display:block;
    padding-bottom:5px;
}

.upgrade{
 	background:#EDF0F4;
    min-height:170px;
    margin-bottom:25px;
    padding-bottom:32px;
    padding-top:30px;   
}

.upgrade .left-section{
	display:inline-block;
    float:left;
    width:40%;
    text-align:center;
    border-right:solid 1px rgba(196, 194, 189, 0.35);    
}

.upgrade .right-section{
	display:inline-block;
    float:left;
    width:60%;
    text-align:center;    
}

.upgrade strong{
	display:block;
    font-size:18px;
    color:#353167;
    font-weight:700;   
}

.upgrade p{
    font-size:16px;
    color:#999;
}

.upgrade img{
    display:block;
    margin:auto;
    margin-bottom:9px;
}

.upgrade .or{
 	font-size:17px;
    font-weight:300;
    color:#353167;
 	background:#EDF0F4;
    padding:3px;
    position:absolute;
    left:39%;
    margin-left:2px;
    margin-top:40px;
}

.result-content .see-profile{
   display:none;
}

.load-more{
	background:#684891;
    height:45px;
    border-radius:3px;
    width:100%;
    text-transform:uppercase;
    margin-top:0px;
    display:block;
    color:#fff;
    font-size:14px;
    font-weight:700;
    text-align:center;
    padding:13px 15px 0px;
    margin-bottom:25px;
}

.load-more i{
	display:block;
    background:url(../images/Arrow-down.png) no-repeat;
    width:16px;
    height:10px;
    float:left;
    display:inline-block;
    margin-top:4px;   
}

.load-more i:last-child{
    float:right;
    display:inline-block;
}

.filter{
    margin-bottom:30px;
}

.filter label{
 	color:#353167;
    font-size:14px;
    font-weight:700;
    display:block;   
}

.filter select{
	color:#4A4A4A;
    font-size:18px;
    font-weight:600;
    height:45px;
    line-height:45px;
    width:135px;
    border-radius:3px;
    border:solid 1px #C4C2BD;   
}


@media (min-width:992px) and (max-width:1199px) {
	.result-header > div.city{
     	display:none;   
    }
    
    .result-header > div{
     	width:20%;   
    }
    
    .result-header > .name{
     	width:30%;   
    }
    
    .result-header > .see-profile{
     	width:30%;   
    }
    
    
    .result-content > div.left-content{
        display:inline-block;
        float:left;
        width:42%;   
    }
    
    .result-content > div.right-content{
        display:inline-block;
        float:left;
        width:58%;   
    }
    
    .result-content > div > div{
        width:40%;
        display:inline-block;
        float:left;   
    }
    
    .result-content > .right-content > div:last-child{
        width:60%;   
    }

    .result-content > .left-content > div:first-child{
        width:50%;   
    }

    
    
    .upgrade .right-section, .upgrade .left-section{
     	padding:0px 15px;   
    }
    
    .upgrade .right-section:after, .upgrade .left-section:after{
        content:'';
        display:block;
        clear:both;
    }
    
    .upgrade{
     	min-height:215px;   
    }
    
    .upgrade .or{
     	margin-left:0px;
        margin-top:68px;   
    }
    
    .pagination div{
     	width:67%;   
    }

    
}

@media (min-width:768px) and (max-width:991px) {
    .filter label{
        margin-right:20px;
        display:inline;
        margin-left:45px;   
    }
    
    
    .result-header > div{
    	width:20%;    
    }
    
    .result-header > .see-profile{
     	width:30%;   
    }
    
    .result-header > .name {
        font-size: 24px;
        width: 30%;
        margin-top: -8px;
    }
    
    .result-header > .city{
     	display:none;   
    }
    
    .result-content > div.left-content{
        display:inline-block;
        float:left;
        width:50%;   
    }
    
    .result-content > div.right-content{
        display:inline-block;
        float:left;
        width:50%;   
    }
    
    .result-content > div > div{
        width:100%;
        display:inline-block;
        float:left;   
    }
    
    .result-content > .right-content > div:last-child{
        width:100%;   
    }
    
    .upgrade .right-section, .upgrade .left-section{
     	padding:0px 15px;   
    }
    
    .upgrade .right-section:after, .upgrade .left-section:after{
        content:'';
        display:block;
        clear:both;
    }
    
    .upgrade{
     	min-height:215px;   
    }
    
    .upgrade .or{
     	margin-top:65px;   
    }
    
    .pagination div{
     	width:66%;   
    }
    
}

@media (max-width:767px){
    .col-search-bar {
        padding-right: 15px !important;
    }
    
    form.bv-search input, form.bv-search select{
     	margin-bottom:10px;   
    }
    
    .found-results h3{
        font-size:24px;
    }
    
    .found-results p{
        font-size:18px;
    }
    
    .result-header{
     	padding-bottom:15px;
        padding-top:0px;
        padding-left:15px;   
    }
    
    .result-content > div.right-content, .result-content > div.left-content{
     	float:none;
        display:block;
        width:100%;   
    }
    
    .result-content > div.right-content > div, .result-content > div.left-content > div{
     	float:none;
        width:100%;
        display:block;   
    }
    
    .result-content > .right-content > div:last-child{
    	width:100%;    
    }
    
    .result-content{
     	padding-left:15px;
        padding-right:15px;   
    }
    
    .result-header > div{
     	width:50%;   
    }
    
    
    .result-header > .name{
		width:100%;
        display:block;
        float:none;
        font-size:24px;
        padding-top:12px;
    }

    .result-header > .city{
		display:none;
    }
    
    .result-header > .see-profile{
		display:none;
    }
    
    .result-header:after{
     	clear:both;
        display:block;
        content:'';   
    }
    
    .result-content > div{
     	display:block;
        width:100%;
        float:none;   
    }
    
    .result-content > div:last-child{
     	width:100%;   
    }
    
    .upgrade .left-section, .upgrade .right-section{
     	width:100%;
        display:block;
        float:none;   
    }
    
    .upgrade .left-section{
     	border-right:none;
        border-bottom: solid 1px rgba(196, 194, 189, 0.35);
        margin-bottom:25px;
        padding-bottom:20px;   
    }
    
    .upgrade .or{
     	left:46%;
     	right:46%;
        padding:10px;
        margin-left:0px;
        margin-top:-50px;
    }
    
    .result-content{
     	background:#fff;
        padding-bottom:10px;   
    }
    
    .result-content .see-profile{
     	display:block;	   
    }

    .result-content .see-profile a{
     	width:100%;
        display:block;
        margin-top:15px;
    }
    
    .result-content > div:nth-child(4){
     	width:100%;   
    }
    
    
    .result{
     	margin-left:-15px;
        margin-right:-15px;   
    }
    
    .upgrade{
     	margin-left:-15px;
        margin-right:-15px;
        padding-left:15px;
        padding-right:15px;   
    }
}





/* Top Header */
/* Copied from main site */

#topWrapper {
    background-color: #3f0282;
    background-image: url('http://frcdn.beenverified.com/assets/img/a75b69b4b75129e7e6bab7cfa5cb82e5.png');
}

nav {
    font-size: 16px;
    margin: 0!important;
    color: #fff;
    border: none;
    border-radius: 0!important;
    background-color: #024485;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-toggle {
    margin-top: -4px;
    padding: 6px 7px;
}

.navbar-default {
    border: none!important;
    background-color: transparent!important;
}

.navbar-default .navbar-toggle, .navbar-inverse .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-inverse .navbar-toggle:focus {
    border-color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-inverse .navbar-toggle:hover {
    border-color: #73b649;
    background-color: #73b649;
}

.nav-phone {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 10px 5px 0;
    color: #fff;
}
@media only screen and (max-width : 767px) {

.nav-phone {
    line-height: 60px;
    margin-bottom: 12px;
    padding: 0;
}
}

.nav-btn {
    margin: 5px 5px 0;
}
@media (max-width: 768px) {

.nav-btn {
    margin-right: 0;
    margin-left: 0;
}
}
@media (min-width: 768px) {

.nav-btn:last-child {
    margin-right: 1px;
}
}

.navbar-nav {
    margin: 10px 0 0;
}
@media only screen and (max-width : 767px) {

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-bottom: 15px;
    border-top: none;
    box-shadow: none;
}

.navbar-brand {
    max-width: 172px;
    height: auto;
    margin: 0!important;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background-color: #6dac45!important;
}

.navbar-logo {
    display: block;
    width: 136px;
    height: 21px;
    background: url('http://frcdn.beenverified.com/assets/img/ee05dfd1a6465fedef836a3c23e57d94.png');
    background-image: url('http://frcdn.beenverified.com/assets/img/ab5df240fb1f84fd6b00017e1a846c39.svg'), none;
    background-repeat: no-repeat;
}

.navbar-default .navbar-toggle {
    min-width: 44px;
    min-height: 40px;
    margin: 15px 0;
    border-color: transparent;
}

#nav-icon-toggle .icon {
    font-size: 24px;
}

#nav-icon-toggle.active .icon::before {
    content: '\f00d';
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #fff;
    background: transparent;
}

html.touchevents .navbar-default .navbar-toggle:hover, html.touchevents .navbar-default .navbar-toggle:focus {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#header .btn-login, #header .btn-register {
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    border-radius: 2px;
}

#header .btn-login {
    color: #fff;
    border: 1px solid #e2ddd9;
}

#header .btn-login:hover, #header .btn-login:focus {
    color: #000;
    border-color: #fff;
    background: #fff;
}

#header .btn-register {
    color: #21201f;
    border: 1px solid #fff;
    background-color: #fff;
}

#header .btn-register:hover, #header .btn-register:focus {
    color: #fff;
    border-color: #72c83c;
    background: #72c83c;
}
@media only screen and (max-width : 767px) {

#header .btn-login, #header .btn-register {
    padding-top: 16px;
    padding-bottom: 16px;
}
}

.header-search {
    width: 100%;
    margin: 0!important;
    padding: 0;
}

.header-search-bar {
    margin-top: 20px;
    margin-bottom: 40px;
}

.header-search .search-filter {
    display: none;
    margin-top: 8px;
}

.search-trigger {
    height: 30px;
    margin-top: 8px;
    padding: 8px 15px 0 45px;
    color: #fff;
    border-left: 1px solid #0f63b3;
    background-image: url(//frcdn.beenverified.com/assets/img/52a9df94a7d1cb74a16d754d9d4d7005.png);
    background-repeat: no-repeat;
    background-position: 15px center;
}

.search-trigger:hover, .search-trigger:focus {
    cursor: pointer;
    cursor: hand;
    color: #fff;
    border-radius: 6px;
    background-color: #0f63b3;
}

form.bv-search input {
    line-height: 36px \9;
    width: 100%;
    height: 40px;
    padding-top: 0 \9;
    color: #4A4A4A;
    *padding-top:0;
    font-size:18px;
}

form.bv-search select {
    height:40px;
    font-size:18px;
    line-height:40px;
}

#no-results-form fieldset div input {
    margin-bottom: 10px;
}

.col-search-bar {
    padding-right: 0;
}

form.bv-search .main-btn {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #fff;
    border: 1px solid #57992d;
    border-radius: 4px;
    background-color: #6dac45;
    -webkit-box-shadow: 0 -4px 0 #57992d inset;
    -moz-box-shadow: 0 -4px 0 #57992d inset;
    box-shadow: 0 -4px 0 #57992d inset;
    font-size:18px;
}

.main-btn:hover, .main-btn:focus {
    background-color: #72b348;
    -webkit-box-shadow: 0 -6px 0 #57992d inset;
    -moz-box-shadow: 0 -6px 0 #57992d inset;
    box-shadow: 0 -6px 0 #57992d inset;
}

.main-btn:active {
    background-color: #6ba944;
    -webkit-box-shadow: 0 2px 0 #5f953c inset;
    -moz-box-shadow: 0 2px 0 #5f953c inset;
    box-shadow: 0 2px 0 #5f953c inset;
}



















/* Footer */
/* Copied from main site */


#footer {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #747b91;
    background: #fff;
}

.carla-wrapper {
    position: relative;
}

.carla-box {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    min-height: 60px;
}

.carla {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55px;
    height: 60px;
}

.carla-hand {
    position: absolute;
    right: 22px;
    bottom: -18px;
    width: 58px;
    height: 18px;
}

.carla-quote {
}

.footer-links {
    margin-bottom: 75px;
}

#footer h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #484848;
}

#footer .customer-service-wrapper {
    margin-bottom: 30px;
    padding: 20px 20px 10px;
    border-radius: 4px;
}

#footer .footer-link-group {
    padding-top: 20px;
}

.border-bottom {
    margin-top: 20px;
    border-bottom: 1px solid #cecfd5;
}

#footer .email-address a, #footer .phone-number a {
    color: #006cd2;
}

#footer .phone-number {
    color: #333;
}

#footer i.star {
    font-size: 16px;
    opacity: 0;
    color: #ffc050;
}

.disclaimer {
    margin-top: 20px;
    margin-bottom: 40px;
}

#footer p {
    font-size: 14px;
    font-weight: 400;
    color: #747b91;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer li {
    margin-bottom: 4px;
    color: #747b91;
}

#footer a {
    color: #747b91;
}

#footer a:hover, #footer a:focus {
    text-decoration: none;
    color: #006cd2;
}

.social-links {
    margin-top: 15px;
    margin-bottom: 40px;
}

.social-links img {
    max-width: 22px;
    margin-right: 5px;
}
@media (max-width : 767px) {

#footer h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 12px;
}

#footer .customer-service-wrapper {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid #cecfd5;
    border-radius: 0;
    background-color: #edf0f4;
}

#footer {
    padding-top: 0;
}

#footer ul a {
    line-height: 40px;
}

.social-links img {
    width: 100%;
    max-width: 40px;
}
}
@media (min-width : 768px) {

social-links {
    text-align: center;
}
}
