h2,
h3,
h4,
h5,
h6,
body,
p,
a,
li,
input,
label,
small,
button,
select,
table th,
table td,
.nav-collapse .nav>li>a,
.nav-collapse .dropdown-menu a {
  text-shadow: none;
}

a,
button,
input,
.dropdown-toggle,
.link-wrap {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

body {
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  font-size: 16px;
  /*font-weight: 200;*/
  line-height: 21px;

  min-width: 280px;
  background-color: #f5fafc;
  background-image: url('../img/BG-dots.gif');
  background-repeat: no-repeat;
  background-position: top 12% right 10%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.body-container {
  position: relative;
}

h1 {
  font-size: 40px;
  margin-top: 45px;
  margin-bottom: 35px;
}
h3 {
  font-size: 26px;
  margin-top: 150px;
  margin-bottom: 45px;
}
h4 {
  font-size: 22px;
}

/* ================================================ */
/* == NAVBAR  ===================================== */
/* ================================================ */
nav {
  font-size: 16px;
  margin: 0!important;

  color: #fff;
  border: none;
  border-radius: 0!important;
  background-color: #024485;
  background: #353167; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #353167 0%, #4a3b8f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #353167 0%,#4a3b8f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #353167 0%,#4a3b8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353167', endColorstr='#4a3b8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.navbar-toggle {
  margin-top: -4px;
  padding: 6px 7px;
}

.navbar-default {
  border: none !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle,
.navbar-inverse .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:focus {
  border-color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:hover {
  border-color: #73b649;
  background-color: #73b649;
}

.navbar-header {
  float: none !important;
}

.navbar-logo {
  float: left;
}

.navbar-logo img{
  display: block;
  margin:15px 0px;
  width: 160px;
  height: 30px;
}

.cheaters-nav {
  border-radius: 5px;
  background: #ef2742;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 10px;
  display: inline-block;
  float: left;
  margin-top: 22px;
  margin-left: 5px;
}

.yellowifed {
  color: #f5c419;
}

/* ================================================ */
/* == BODY STUFF  ================================= */
/* ================================================ */
label.error {
  line-height: 18px;

  width: 100%;
  margin: -5px 0 10px 0;
  margin: 2px 0 10px 0 \9;
  padding: 6px 0;

  text-align: center;

  color: #c9302b;
  border: 1px solid #e9322d;
  border-radius: 4px;
  background-color: #f2dede;
}

section {
  display: none;
  height: 100%;
  background: white;
  box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
  border-radius: 10px;
  margin-bottom: 180px;
  overflow: hidden;
}

section.active,
section.block-hack {
  display: block;
}

section.active .left-side {
  animation: slide-down 0.5s forwards;
  -moz-animation: none !important;
  -moz-top: 0 !important;
}

section.active .right-side h3,
section.active .right-side p {
  position: relative;
  animation: fade-in 0.5s forwards;
  left: -50px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    left: -50px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


@keyframes slide-down {
  0% {
    top: -1000px;

  }
  100% {
    top: 0;
  }
}

/* progress bar */

.progress-wrap {
  margin: 0px 0 30px;

  border-radius: 0px;
  background: #DAF3C0;

}

.progress-wrap .progress {
  height: 60px;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  /*background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,1) 25%,transparent 25%,transparent 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,1) 25%,transparent 25%,transparent 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 75%,transparent 75%,transparent);
  background-size: 40px 40px;*/
  background-color: white;
}

.progress-wrap .progress .progress-bar {
  background-color: #88d042;
  background-image: none;
}

.progress-wrap .progress .progress-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: right;
  color: #000;
}

.progress-wrap .progress .progress-text-outer {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: left;
  color: #000;
}

.no-pad-right {
  padding-right: 0px;
}

.no-pad-left {
  padding-left: 0px;
}

.left-side {
  color: white;
  padding: 50px 8px 25px 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  top: -1000px;
}

section.block-hack .left-side {
  top: 0;
}

.right-side {
  padding: 0 70px 0 30px;
}

.highlighted {
  border-radius: 5px;
  background-color: #7a37cc;
  display: inline-block;
  padding: 5px 13px;
}

.red-warning {
  font-weight: bold;
  color: #e7114c;
}

/* ================================================ */
/* == Notification Box  =========================== */
/* ================================================ */

#notificationBox {
  background: white;
  border-radius: 10px;
  box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
  margin-bottom: 30px;
  display: none;
  padding: 0px 7px 15px;
  float: left;
  position: relative;
  max-width: 90%;
}


.carrot {
  position: absolute;
  border-right: 15px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  width: 0;
  height: 0;
  display: none;
  left: -15px;
  top: 15px;
}

.alert-icon {
  height: 44px;
  float: left;
  margin-bottom: 30px;
  margin-right: 25px;
  display: none;
  margin-top: 2px;

}
.notification {
  padding: 0px 8px;
  margin-top: 15px;
  font-size: 13px;
  display: none;
  float: left;
}

.notification-icon{
  width: 16px;
  margin-right: 8px;
}


.notification.border {
  border-right: solid 1px #e1e1e1;
}

.notification.active {
  display: block;
}

/* ================================================ */
/* == Social  ===================================== */
/* ================================================ */


#socialMedia h4 {
  margin-bottom: 25px;
}

#socialMedia .left-side {
  background: #904ee1;
}

.right-side h3 {
  margin-top: 150px;
  margin-bottom: 45px;
}
.right-side p{
  font-size: 17px;
  line-height: 1.65;
}

#social-media-groups li {
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: relative;
  margin: 0px 6px 6px 0px;
}

#social-media-groups {
  display: inline-block;
  margin-top: 35px !important;
  margin-bottom: 30px;
}

#social-media-groups .social {
  display: none;
}

#social-media-groups li img{
  position: absolute;
  left: 0;
}

#social-media-groups li img.spinner {
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* ================================================ */
/* == Email  ====================================== */
/* ================================================ */
  #emailBox .left-side {
    background-color: #007ee3;
    background-image: url("../img/email-finder-D.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 40px 10px 25px;
    position: relative;
    overflow: hidden;
    height: 488px;
  }

  #emailBox h4 {
    margin: 0px 15%;
    line-height: 1.27
  }

  /* ================================================ */
  /* == Photo  ====================================== */
  /* ================================================ */

  #photoBox h4 {
    margin-bottom: 65px;
    opacity: 1;
    z-index: 2;
    position: relative;
  }

  #photoBox .left-side {
    /*background-color: #e7114c;*/
    padding: 60px 0px 25px;
    position: relative;
    background-image: url("../img/images@2x.png");
    background-size: 95%;
  }

  #photoBox .left-side:after {
    background: linear-gradient(to bottom,rgba(231,17,76,1), rgba(231,17,76,0.5));
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .photo-loader {
    position: relative;
    height: 205px;
    margin-bottom: 130px;
  }
  #photoBox .left-side img {
    opacity: 1;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #photoBox .left-side img.green-spinner {
    height: 196px;
    width: 196px;
    z-index: 1;
  }

  #photoBox .left-side img.person-photo {
    z-index: 2;
    top: 4%
  }

/* ================================================ */
/* == Premium  ==================================== */
/* ================================================ */

  #premiumBox .left-side {
    background-color: #fff6e4;
    background-image: url("../img/Premium-D.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    /*background-position: -175px 0px, center;*/
    background-position: bottom center;
    min-height: 488px;
    color: #000;
  }

/* ================================================ */
/* == Job ========================================= */
/* ================================================ */

  #jobBox .left-side {
    background-color: #81e0ed;
    background-image: url("../img/education-job.gif");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 488px;
    padding: 60px 60px 25px;
  }

/* ================================================ */
/* == FOOTER  ===================================== */
/* ================================================ */


#footer {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #747b91;
  background-color: #fff;
  position: relative;
}

.carla-wrapper {
  position: relative;
}
.carla-box {
  position: absolute;
  right: 0;
  bottom: 0;

  overflow-y: hidden;

  min-height: 60px;
}
.carla {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 55px;
  height: 60px;
}
.carla-hand {
  position: absolute;
  right: 22px;
  bottom: -18px;

  width: 58px;
  height: 18px;
}

.footer-links {
  margin-bottom: 75px;
}

#footer h4 {
  font-size: 22px;
  font-weight: bold;

  margin-bottom: 10px;

  color: #484848;
}
#footer .customer-service-wrapper {
  margin-bottom: 30px;
  padding: 20px 20px 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #efefef;
}
#footer .footer-link-group {
  padding-top: 20px;
}

#footer p {
  font-size: 14px;
  font-weight: 400;

  color: #747b91;
}
#footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
#footer li {
  margin-bottom: 4px;

  color: #747b91;
}
#footer a {
  color: #0f2d8f;
}
#footer a:hover,
#footer a:focus {
  text-decoration: none;

  color: #3b49e5;
}

.social-links {
  margin-top: 15px;
  margin-bottom: 40px;
}
.social-links img {
  max-width: 22px;
  margin-right: 5px;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 1px solid #cecfd5;
}

#footer .email-address a,
#footer .phone-number a {
  color: #0f2d8f;
}
#footer .phone-number {
  color: #333;
}
#footer i.star {
  font-size: 18px;

  opacity: 1;
  color: #f2da3e;
}
.disclaimer {
  margin-top: 20px;
  margin-bottom:
}

/* ================================================ */
/* == RESPONSIVE  ================================= */
/* ================================================ */
@media (min-width: 1200px){
  .left-side {
    padding: 50px 12px 25px 24px;
  }

  /* == Social  ===================================== */

  #social-media-groups li {
    height: 52px;
    width: 52px;
    margin: 0px 8px 8px 0px;
  }

  /* == Email  ===================================== */
  #emailBox .left-side {
    background-position: bottom -40px center;
  }
  /* == Premium  ===================================== */
  /*#premiumBox .left-side {
    background-position: -135px 0px, center;
  }*/

}
@media (max-width: 991px){
  body {
    background-position: top 8% center;
  }
  h1 {
    font-size: 32px;
  }

  section {
    margin-bottom: 100px;
  }
  .left-side {
    padding: 30px 6px 25px 12px;
  }
  .right-side h3 {
    margin-top: 100px;
  }
  /* == Progress Bar  ===================================== */

  .progress-wrap .progress .progress-text,
  .progress-wrap .progress .progress-text-outer,
  .progress-wrap .progress .progress-text-inner{
    height: 50px;
    line-height: 50px;
  }

  .progress-wrap .progress {
    height: 50px;
    font-size: 18px;
  }

  /* == Social  ===================================== */

  #socialMedia h4 {
    margin-bottom: 20px
  }

  #social-media-groups {
    margin-top: 25px !important;
    margin-bottom: 20px;
  }
  #social-media-groups li {
    height: 46px;
    width: 46px;
    margin: 0px 6px 6px 0px;
  }

  /* == Email  ===================================== */

  #emailBox .left-side {
    height: 400px;
    padding: 30px 10px 25px;
    background-position: bottom -20px center;
  }

  /* == Photo  ===================================== */

  #photoBox .left-side {
    padding: 30px 0px 25px;
  }

  #photoBox .left-side img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 75px;
  }

  .photo-loader {
    margin-bottom: 75px;
  }

  #photoBox .left-side img.person-photo {
    top: 3%;
  }

  #photoBox .left-side img.green-spinner {
    height: 161px;
    width: 161px;
  }
  /* == Premium  ===================================== */

  #premiumBox .left-side {
    min-height: 430px;
    color: #000;
  }

  /* == Job  ===================================== */

  #jobBox .left-side {
    min-height: 470px;
    padding: 30px 60px 25px;
  }


}

@media (max-width: 767px){
  body {
    background-image: none;
  }
  h1 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 18px;
  }
  .navbar-logo img {
    width: 140px;
    height: 20px;
    margin: 18px 0px;
  }

  .cheaters-nav {
    font-size: 10px;
    margin-top: 19px;
  }

  .progress-wrap .progress .progress-text,
  .progress-wrap .progress .progress-text-outer,
  .progress-wrap .progress .progress-text-inner{
    height: 40px;
    line-height: 40px;
  }

  .progress-wrap .progress {
    height: 40px;
    font-size: 14px;
  }

  section {
    margin-bottom: 40px;
  }

  .left-side {
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .right-side {
    text-align: center;
    padding: 30px 15px;
    font-size:  15px;
  }

  .right-side h3 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .highlighted {
    font-size: 13px;
  }

  /* == Notification Bar  ===================================== */

  #notificationBox {
    max-width: 100%;
    padding-bottom: 10px
  }

  .notification {
    margin-top: 10px;
  }

  .notification.border {
    border-right: none;
  }


  /* == Social  ===================================== */

  #social-media-groups {
    margin-top: 10px !important;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  #social-media-groups li {
    height: 36px;
    width: 36px;
  }

  #social-media-groups li img.spinner {
    top: 25%;
    height: 20px;
    width: 20px;
  }

  /* == Email  ===================================== */
  #emailBox .left-side {
    padding-top: 0px;
    background-image: url("../img/email-finder-M.gif");
    background-size: auto;
    height: 250px;
    background-position: bottom center;
  }

  #photoBox .left-side {
    padding: 15px 60px 30px;
  }

  /* == Photo  ===================================== */

  #photoBox .left-side:after {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  #photoBox .left-side img.person-photo,
  #photoBox .left-side img.green-spinner {
    height: 115px;
    width: 115px;
  }
  #photoBox .left-side img.person-photo {
    top: 4%;
  }
  #photoBox .left-side img.green-spinner {
    height: 125px;
    width: 125px;
  }

  #photoBox h4 {
    margin-bottom: 25px;
  }

  .photo-loader {
    position: relative;
    height: 115px;
    margin-bottom: 0px;
  }

  /* == Premium  ===================================== */

  #premiumBox .left-side {
    background-image: url("../img/Premium-M-2x.gif");
    /*background-position: -380px bottom, center;*/
    background-repeat: no-repeat;
    min-height: 380px;
  }

  /* == Job  ===================================== */

  #jobBox .left-side {
    background-color: #81e0ed;
    background-size: inherit;
    background-position: bottom center;
    min-height: 280px;
  }

  #jobBox .left-side img {
    width: 100%;
  }

  #footer {
    padding-top: 0;
  }

  #footer h4 {
    font-size: 18px;

    margin-top: 20px;
    margin-bottom: 12px;
  }
  #footer .customer-service-wrapper {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;

    border: none;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    background-color: #fff;
  }
  #footer ul a {
    line-height: 40px;
  }

  .social-links img {
    width: 100%;
    max-width: 40px;
  }

  .xs-center {
    text-align: center;
  }

}

@media (max-width: 500px) {
  #premiumBox .left-side {
    min-height: 270px;
  }
}
