/*Overwriting things to make page responsive*/
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
h3 {
  font-weight: 400;
}
ul {
  padding: 0;
}
header {
  height: 65px;

  border-bottom: 1px solid #ddd;
}
#top_wrap {
  width: auto;
}
.navbar-collapse {
  padding: 0;

  border: none;
  box-shadow: none;
}
.navbar {
  margin-bottom: 30px;
  padding: 0;

  border: none;
  background-color: transparent;
}
.navbar-brand {
  max-width: 172px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #6dac45!important;
}
.navbar-nav {
  margin: 10px 0 0;
}
#main-wrap .btn-login,
#main-wrap .btn-register {
  font-size: 16px;

  padding: 6px 12px;

  text-align: center;

  border-radius: 2px;
}
#main-wrap .btn-login {
  color: #fff;
  border: 1px solid #e2ddd9;
}
#main-wrap .btn-register {
  color: #21201f;
  border: 1px solid #fff;
  background-color: #fff;
}
#main-wrap .btn-login:hover,
#main-wrap .btn-login:focus {
  color: #000;
  border-color: #fff;
  background: #fff;
}
#main-wrap .btn-register:hover,
#main-wrap .btn-register:focus {
  color: #fff;
  border-color: #72c83c;
  background: #72c83c;
}
.navbar-logo {
  display: block;

  width: 136px;
  height: 21px;

  background: url('../img/bv-logo-white.png');
  background-image: url('../img/bv-logo-white.svg'), none;
  background-repeat: no-repeat;
}
.nav-phone {
  font-size: 16px;
  font-weight: 400;

  margin: 0;
  padding: 12px 5px 0;

  color: #fff;
}
.nav-btn {
  margin: 5px 5px 0;
}
#main-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;

  font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;

  padding: 0;
  padding-bottom: 40px;

  color: #fff;
  background: #3e3e3e\9;
  background-image: url('../img/monument2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.top-header {
  margin-top: 60px;
  margin-bottom: 60px;
}
.top-header h1 {
  font-size: 43px;

  margin-bottom: 0;

  text-transform: uppercase;

  color: #fff;
}
.progress-wrap {
  margin: 20px 0 25px;

  border-radius: 4px;
  background: #f5f5f5;
}
.progress {
  height: 60px;
  margin-bottom: 0;
}
.progress span.progress-text {
  font: 18px 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
  font-weight: bold;
  line-height: 60px;

  position: static;

  display: block;

  margin-right: 8px;

  text-align: right;

  color: #fff;
}
.progress span.progress-text-outer {
  font: 18px 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
  font-weight: bold;
  line-height: 60px;

  position: static;

  display: block;

  margin-right: 8px;

  text-align: left;

  color: #5cb85c;
}
#search-continue {
  display: none;

  min-height: 60px;
  margin: 20px 0 25px;
}
.copy {
  font-family: Georgia, serif;
}
.shadow {
  height: 50px;
  margin-bottom: 25px;

  background-image: url('../img/shadow-up.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}
.test-wrap {
  margin-top: 30px;
}
.pub-wrap {
  overflow: hidden;

  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px 30px;

  border-radius: 4px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.33);
     -moz-box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.33);
          box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.33);
}
.pub-wrap li {
  padding: 0;

  list-style-type: none;
}
.img-circle {
  border: 6px solid #fff;
  -webkit-box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.2);
     -moz-box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 2px 1px 0 rgba(50, 50, 50, 0.2);
}
#testimonials {
  margin-bottom: 60px;
}
.press {
  padding: 10px 0 25px;

  color: #fff;
  background-color: rgba(51, 51, 51, 0.5);
}
.img-small {
  display: block;

  margin-right: auto;
  margin-left: auto;
}
#input-state {
  font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
}
#input-state .modal-content {
  border-radius: 0;
}
#input-state .btn-success {
  font-weight: bold;

  border: none;
  border-bottom: 3px solid #6dac45;
  background: #6dac45;
}
#input-state .btn-success:hover,
#input-state .btn-success:focus {
  border-bottom: 3px solid #398439;
  background: #72c83c;
}
footer {
  font-size: 14px;

  padding-top: 30px;
  padding-bottom: 30px;

  color: #777;
  background-color: #121212;
}
footer p.small {
  font-size: 14px;
  line-height: 165%;
}
footer .support {
  /*padding: 15px;*/
  padding-left: 20px;

  color: #a5a5a5;
  border-left: 1px solid #777;
  /*border: 7px solid #404040;*/
  /*border-radius: 3px;*/
  /*background-color: #353535;*/
}
footer .support-quote {
  margin-bottom: 15px;
}
footer .carla {
  margin-bottom: 0;
  padding-top: 5px;
}
.carla-img {
  margin-right: 15px;
}


/* EXIT POP TRIAL */

#iModal-trial .modal-header {
    border-bottom: none;
}

#iModal-trial .h1.text-primary {
  font-weight: 700;
  text-transform: uppercase;
  color: #353167;
  font-size: 30px;
}

#iModal-trial #show-dollar-trial {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 26px;
}
#iModal-trial .dollar-trial-img {
    margin-bottom: 12px;
}
#iModal-trial #iModal-back {
    display: block;
    margin-top: 12px;
}
#iModal-trial .btn-lg {
    border-radius: 4px;
}
#iModal-trial .modal-body {
  padding: 0 40px 40px 40px;
}

#iModal-trial .text-muted {
  color: #999;
  font-weight: normal;
}

#iModal-trial h4 {
  line-height: 140%;
}

#iModal-trial .deal-opt-out {
  margin: 0;
  margin-top: 15px;
  cursor: pointer;
  color: #555;
}

#iModal-trial .deal-opt-out:hover {
  text-decoration: underline;
}


@media(max-width:992px) {
  .top-header {
    margin-bottom: 40px;
  }
  #testimonials h3 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  #iModal-trial .modal-dialog {
    width: 450px;
  }
}

@media(max-width:768px) {
  .nav-btn a.btn {
    line-height: 38px;

    height: auto;
  }
  .top-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .top-header h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .progress-wrap {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .test-wrap {
    margin-top: 10px;
  }
  .img-small {
    width: 60px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

    border: 3px solid #fff;
  }
  #testimonials h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .copy {
    display: block;

    width: 66%;
    margin-right: auto;
    margin-left: auto;
  }
  footer .support {
    margin-bottom: 15px;
    /*padding: 15px;*/
    padding-left: 0;

    color: #a5a5a5;
    border-bottom: 1px solid #777;
    border-left: none;
    /*border: 7px solid #404040;*/
    /*border-radius: 3px;*/
    /*background-color: #353535;*/
  }
  #main-wrap {
    background-position: top;
    background-size: 200% 200%;
  }
  .progress {
    height: 45px;
  }
  .press h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .progress span.progress-text,
  .progress span.progress-text-outer {
    line-height: 44px;
  }
}

@media(max-width:479px) {
    #iModal-trial #show-dollar-trial {
    font-size: 17px;
  }
}
