@import 'bootstrap.min.css';
@import 'bvicons.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

@font-face {
    font-family: 'publica_sanslight';
    src: url('../fonts/publicasans-light-webfont.eot');
    src: url('../fonts/publicasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/publicasans-light-webfont.woff2') format('woff2'),
         url('../fonts/publicasans-light-webfont.woff') format('woff'),
         url('../fonts/publicasans-light-webfont.ttf') format('truetype'),
         url('../fonts/publicasans-light-webfont.svg#publica_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publica_sansmedium';
    src: url('../fonts/publicasans-medium-webfont.eot');
    src: url('../fonts/publicasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/publicasans-medium-webfont.woff2') format('woff2'),
         url('../fonts/publicasans-medium-webfont.woff') format('woff'),
         url('../fonts/publicasans-medium-webfont.ttf') format('truetype'),
         url('../fonts/publicasans-medium-webfont.svg#publica_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publica_sansregular';
    src: url('../fonts/publicasans-regular-webfont.eot');
    src: url('../fonts/publicasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/publicasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/publicasans-regular-webfont.woff') format('woff'),
         url('../fonts/publicasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/publicasans-regular-webfont.svg#publica_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publica_sansbold';
    src: url('../fonts/publicasans-bold-webfont.eot');
    src: url('../fonts/publicasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/publicasans-bold-webfont.woff2') format('woff2'),
         url('../fonts/publicasans-bold-webfont.woff') format('woff'),
         url('../fonts/publicasans-bold-webfont.ttf') format('truetype'),
         url('../fonts/publicasans-bold-webfont.svg#publica_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ********************************************************************** */
/* ************************** General HTML TAGs ************************* */
/* ********************************************************************** */
html, body {
	margin:0;
	padding:0;
}
body {
    width: 100%;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
	color: #44413D;
	position:relative;
}
ul,
li {
	margin:0;
	padding:0;
	list-style:none;
}
.text-center {
	text-align:center;
}
a {
	transition: all ease .4s;
	cursor:pointer;
	color:#1F2F64;
}
a:hover {
	text-decoration: none;
}
a:hover {
	color:#122351;
}
P {
	line-height: 21px;
	margin-bottom:20px;
}
h1 {
	font-family: 'publica_sansbold';
	font-size: 56px;
	font-weight:400;
	line-height: 70px;
	margin:0 0 30px;
	color: #1F2F64;
}
h2 {
	font-family: 'publica_sansmedium';
	font-weight:400;
	font-size: 32px;
	color: #1F2F64;
	margin-bottom:30px;
}
h3 {
	font-family: 'publica_sanslight';
	font-size: 26px;
	color: #1F2F64;
	margin:0 0 15px;
	font-weight:400;
}
h4 {
	font-family: 'publica_sansbold';
	font-size: 24px;
	font-weight:400;
	color: #1F2023;
	margin:0 0 6px;
}
h5 {
	font-family: 'publica_sanslight';
	font-size: 20px;
	color: #44413D;
	font-weight:400;
	margin:0 0 15px;
}
hr {
	height:4px;
	line-height:0px;
	opacity: 0.5;
	background: #D3D2D7;
	border:none;
	margin:15px 0;
}
.gray-dark {
	color: #1F2023;
}
.gray-darker {
	color:#000;
}
.gray-light {
	color: #777777;
}
.gray-lighter {
	color: #8B8B8B;
}
.form-control {
	-webkit-appearance: none;
}
.form-control:focus {
	box-shadow:none;
	border-color:#FFF;
}
.btn {
	border:none;
	font-family: 'publica_sansbold';
	color: #33313F;
	line-height: 16px;
	padding:13px 24px;
	border-radius: 86px;
}
.btn-primary {
	background: #1F2F64;
	color:#FFF
}
.btn-primary:hover {
	background:#283b7d;
	box-shadow:0 0 4px rgb(40, 59, 125); 
}
.btn-primary:active,
.btn-primary.active {
	background:#283b7d;
	box-shadow:0 0 1px rgb(40, 59, 125);
}
.btn-warning {
	background: #FACB1B;
	color:#33313f;
}
.btn-warning:hover {
	background:#ffc300;
	box-shadow:0 0 4px rgb(255, 155, 0);
	color:#33313f; 
}
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active {
	background:#ffc300;
	box-shadow:0 0 1px rgb(255, 155, 0);
	color:#33313f;
}
.btn-sm {
	font-size:14px;
	line-height:17px;
	padding:5px 15px;
}
.btn-lg {
	font-size: 24px;
	line-height: 26px;
	padding:15px 30px;
}
.off-canvas-nav-toggle {
	width:22px;
	padding:2px 1px;
	display:block;
	margin-top:6px;
	display:block;
}
.off-canvas-nav-toggle em {
	display:block;
	height:2px;
	margin:5px 0;
	background:#FFF;
}
.off-canvas-nav-toggle .bvicon-close {
	display:none;
	color:#FFF;
	font-size:20px;
}
.off-canvas-nav-toggle .nav-toggle .bvicon-close {
	display:block;
}
.nav-open .nav-toggle em {
	display:none;
}

/* ********************************************************************** */
/* ************************** Off Canvas Menu *************************** */
/* ********************************************************************** */

.off-canvas {
	position:relative;
	width:100%;
	transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s;
    padding-left:60px;
    background:#FACB1B;
    overflow-x:hidden;
}
.off-canvas-nav {
	background:#FACB1B;
	position:fixed;
	top:0;
	left:0;
	transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s;
    height:100%;
}
.off-canvas-content {
	background:#FFF;
	transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s;
	width:100%;
	left:0;
	position:relative;
    height:100%;
}
.off-canvas.open .off-canvas-nav {
	width:220px;
}
.off-canvas.open .off-canvas-content {
	left: 160px;
}

.logo {
	color:#000;
	display:block;
	margin:10px 0 13px 14px;
	background:url('../img/logo.svg') 0 0 no-repeat;
	width:34px;
	height:34px;
	padding-left:40px;
	overflow:hidden;
	font-family: 'publica_sansbold';
    font-size: 17px;
    line-height: 18px;
    transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s;
}
.off-canvas.open .logo {
	width:129px
}
.side-nav ul {
	margin:0;
	padding:0;
	border-top: solid 1px #FFF;
	list-style:none;
}
.side-nav li {
	margin:0;
	padding:0;
	border-bottom: solid 1px #FFF;
	width:0px;
	overflow:hidden;
	transition: all ease .4s;
}
.side-nav li a{
	display:block;
	font-family: 'publica_sansbold';
	font-size: 18px;
	color: #000000;
	line-height:22px;
	padding:18px 0 18px 20px;
	overflow:hidden;
	white-space:nowrap;
}
.open .side-nav li {
	width:100%;
}
.side-nav a.off-canvas-nav-toggle {
	width:60px;
	height:55px;
	display:block;
	padding-top:18px;
}
.side-nav a.off-canvas-nav-toggle em {
	display:block;
	width:20px;
	height:2px;
	background:#000;
	margin:0 auto 5px;
}
.open .side-nav a.off-canvas-nav-toggle {
	position:absolute;
	top:0;
	right:0;
	margin:2px 0 0;
}
.open .side-nav a.off-canvas-nav-toggle em {
	display:none;
}
.open .side-nav a.off-canvas-nav-toggle .bvicon-close {
	display:block;
	color:#000;
	text-align:center;
}


/* ********************************************************************** */
/* *************************** Main Content ***************************** */
/* ********************************************************************** */

.map-header {
	position:relative;
	max-height:500px;
	overflow:hidden;
}
.map-header .map-container {
	height:100%;
	position:relative;
	z-index:1;
}
.map-header .map-container img {
	width:100%;
	height:100%;
	display:block;
}
.map-header .map-overlay {
	position:absolute;
	top:50%;
	left:67px;
	width:516px;
	color:#FFF;
	background:rgba(31, 47, 100, .7);
	padding:30px;
	z-index:2;
	margin-top:-110px;
}
.map-header .breadcrumb {
	background:none;
	border:none;
	margin:0 0 23px;;
	font-size: 16px;
	line-height:20px;
	color: #FFFFFF;
	letter-spacing: -0.45px;
	padding:0;
}
.map-header .breadcrumb a {
	color:#FFF;
}
.map-header .breadcrumb strong {
	font-weight:bold;
	font-weight:400px;	
}
.map-header .breadcrumb a:after {
	content:'/';
	margin:0 6px;
}
.map-header h1 {
	color: #FFFFFF;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
	margin:0 0 7px;
}
.map-header h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size: 32px;
	font-weight:400;
	color: #FFFFFF;
	letter-spacing: -0.54px;
	line-height:40px;
	margin:0;
}

/* ********************************************************************** */
/* *************************** Content Nav ****************************** */
/* ********************************************************************** */
.content-nav {
	background: #E8E8EB;
	box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.04), 0 3px rgba(0,0,0,.1);
	margin:0;
	border-radius:0;
	border:none;
	min-height:10px;
	transition: all ease .4s;
    -moz-transition: all ease .4s;
    -webkit-transition: all ease .4s;s;
}
.content-nav.affix {
	position:fixed;
	z-index:999;
	top:0;
	left:60px;
	right:0;
}
.off-canvas.open .content-nav.affix {
	left:220px;
	right:-220px;
}
.content-nav .town-name  {
	display:none
}
.content-nav.affix .town-name {
	font-family: 'publica_sansbold';
	display:block;
	padding:6px 16px;
	font-size: 16px;
	color: #1F2F64;
	letter-spacing: 1px;
	background:#FFF;
	border-bottom:solid 1px #D3D2D7;
}
.content-nav .navbar-nav {
	position:relative;
	z-index:2;
}
.content-nav .navbar-nav> li {
	border-right: 1px solid #D3D2D7;
}
.content-nav .navbar-nav> li > a {
	height:80px;
	padding:15px 25px;
	font-size:20px;
	font-family: 'publica_sansmedium';
	color:#000;
	line-height:24px;
	background:#FFF;
	position:relative;
}
.content-nav .navbar-nav> li.active > a,
.content-nav .navbar-nav> li > a:hover {
	background: #FCE077;
	color:#000;
}
.content-nav .navbar-nav> li.active > a:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #FCE077 transparent transparent transparent;
	position:absolute;
	content:'';
	bottom:-10px;
	left:50%;
	margin-left:-10px;
}
.content-nav .navbar-nav> li > a i {
	display:block;
	margin:0 auto 5px;
	text-align:center;
	font-size:20px;
}
.content-nav .navbar-form {
	
	position:relative;
	margin:0;
	padding:0;
	border:none;
	z-index:1;
}
.content-nav .navbar-form button {
	position:absolute;
	top:0;
	right:0;
	width:112px;
	height:80px;
	background:#1F2F64;
	cursor:pointer;
	transition: all ease .4s;
	border:none;
	color:#FFF;
	font-size:30px;
}
.content-nav .navbar-form button:hover {
	background:#283b7d;
	box-shadow:0 0 4px rgb(40, 59, 125); 
}
.content-nav .navbar-form .form-group {
	position:relative;
	margin:0;
	padding-right:112px;
	min-width:50%;
}
.content-nav .navbar-form .form-group .form-control {
	background:none;
	margin:0;
	border:none;
	box-shadow:none;
	width:100%;
	font-family: 'publica_sanslight';
	font-size: 24px;
	color: #000000;
	line-height:30px;
	padding:25px;
	height:auto;
	
}

#main-content {
	padding:50px 392px 50px 22px;
	position:relative;
}
.content-nav.affix + #main-content {
	padding-top:137px;
}
p.large {
	font-size: 22px;
	color: #44413D;
	line-height: 30px;
	margin:0 0 30px;
	font-family: 'publica_sansregular';
}

.right-sidebar {
	width:306px;
	position:absolute;
	top:37px;
	right:70px;
}
.content-nav.affix + #main-content  .right-sidebar {
	top:117px;
}
.town-info {
	background: #E8E8EB;
	margin-bottom:40px;
	padding:20px 0;
}
.town-info ul {
	margin:0;
	padding:0;
}
.town-info ul li {
	width:20%;
	padding:0 20px;
	border-left:solid 2px #FFF;
	float:left;
}
.town-info.col4 ul li {
	width:25%;
}
.town-info ul li:first-child {
	border:none;
}
.town-info ul li span {
	display:block;
	font-family: 'publica_sansmedium';
	font-size: 12px;
	color: #44413D;
	line-height:14px;
	margin-bottom:8px;
}
.town-info ul li strong {
	display:block;
	font-family: 'publica_sanslight';
	font-size: 22px;
	color: #1F2F64;
	line-height: 32px;
}

.responsive-img {
	width:100%;
}
.responsive-img.space {
	padding:0 20px;
} 
.table {
	margin:0;
}
.table thead tr th {
	border:none;
	font-family: 'publica_sansmedium';
	font-size: 16px;
	font-weight:400;
	color: #1F2F64;
	padding:0 12px;
	text-align:left;
}
.table tbody tr td {
	border-bottom: 1px solid rgba(155,154,155,0.49);
	border-top:none;
	padding:20px 12px;
}
.pager {
	margin:0;
	padding:14px 0;
	border-bottom: 1px solid rgba(155,154,155,0.49);
	margin-bottom:52px;
}
.pager li.next {
	float:right;
}
.pager li.prev {
	float:left;
}
.pager li > a {
	border:none;
	padding:0;
	line-height:20px;
	font-weight:600;
	font-size: 14px;
	color: #777777;
}
.pager li > a:hover {
	background:none;
}
.pager li > a .icon {
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:10px;
	background:#2744A9;
	color:#FFF;
	text-align:center;
	line-height:20px;
	vertical-align:middle;
	font-size:8px;
}
.pager li.prev > a .icon {
	margin:-3px 15px 0 0;
}
.pager li.next > a .icon {
	margin:-3px 0 0 15px;
}

.box {
	margin-bottom:16px;
}
.panel-primary {
	background: #1F2F64;
	color:#FFF;
}
.panel-primary .panel-body {
	background: #1F2F64;
}
.box .panel-header {
	position:relative;
}
.box figure {
	position:relative;
	z-index:1;
}
.box figure img {
	width:100%;
}
.box .panel-header a {
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:14px 30px;
	color:#FFF;
	background:rgba(31, 47, 100, .7);
	z-index:2;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: 'publica_sansregular';
}
.box .panel-header a  .icon {
	display:inline-block;
	width:15px;
	height:15px;
	border-radius:10px;
	background:#FFF;
	font-size:8px;
	color:#1F2F64;
	line-height:15px;
	text-align: center;
	vertical-align:middle;
	margin-left:5px;
}
.box .panel-body {
	padding:10px 30px 30px;
	min-height:310px;
}
.box .panel-body li {
	margin-bottom:20px;
}
.box .panel-body li span {
	font-family: 'publica_sansmedium';
	color: #FACB1B;
	display:block;
	margin-bottom:4px;
}
.box .panel-body li h4 {
	color:#FFF;
	line-height:32px;
	margin-bottom:0px;
	font-weight:400;
	font-family: 'publica_sansmedium';
}
.box .panel-body li h4 a {
	color:#FFF;
}
.box .panel-body li h4 a .icon {
	display:inline-block;
	width:15px;
	height:15px;
	border-radius:10px;
	background:#FFF;
	margin-right:5px;
	font-size:8px;
	color:#1F2F64;
	line-height:15px;
	text-align: center;
	vertical-align:middle;
	margin-left:5px;
}
.box .panel-body li strong {
	display:block;
	font-weight:400;
	line-height: 21px;
}

.table.gray-header thead th {
	background: #E8E8EB;
	font-family: 'publica_sansbold';
	font-size: 12px;
	color: #33313F;
	padding:8px 12px 10px;
}
.table.gray-header tbody td {
	padding:26px 12px;
	color: #777777;
	line-height: 21px;
	border-bottom: 1px solid #CCCCCC;
}
.full-map {
	margin:15px 0 30px;
}
.full-map img{
	width:100%;
}
h2.inline {
	display:inline;
}
.badge {
	font-family: 'publica_sansbold';
}
.badge-round {
	border-radius:12px;
	width:24px;
	height:24px;
	text-align:center;
	padding:0;
	line-height:24px;
}
.badge-warning {
	background: #FAB71B;
	color:#FFF;
}

.banner {
	background: #1F2F64;
	display:table;
	vertical-align:middle;
	height:224px;
	margin:0 0 60px;
	color:#FFF;
	text-align:center;
	padding:20px 28px;
}
.banner h4 {
	font-family: 'publica_sansregular';
	font-size: 22px;
	color: #FFFFFF;
}
.banner > div {
	display:table-cell;
	vertical-align:middle;
}
.white-logo {
	width:144px;
	height:40px;
	background:url('../img/white-logo.svg') no-repeat;
	display:block;
	margin:0 auto 	18px;
}

.agents {
	text-align:center;
}
.agents .icon {
	font-size:48px;
	color:#223164;
	display:block;
	margin-bottom:15px;
}
.agents h3 {
	font-family: 'publica_sansmedium';
	font-size: 26px;
	color: #1F2F64;
	margin:0 0 26px;
}
.agents article {
	margin-bottom:62px;
}
.agents article figure {
	width:100px;
	height:100px;
	border-radius:50px;
	margin:0 auto 30px;
	overflow:hidden;
}
.agents article figure img {
	width:100%;
	height:100%;
}
.agents article h5 {
	font-family: 'publica_sansmedium';
	font-size: 12px;
	color: #44413D;
	margin:0 0 5px;
}
.agents article h4 {
	font-family: 'publica_sansregular';
	font-size: 26px;
	color: #1F2F64;
	line-height: 32px;
	margin:0;
}
.agents article .phone {
	font-size: 20px;
	font-family: 'publica_sansregular';
	color: #000000;
	line-height: 22px;
	display:block;
	margin-bottom:20px;
}

.opt-in {
	background: #1F2F64;
	padding:23px 20px 21px;
	color:#FFF;
	text-align:center;	
}
.opt-in  strong {
	display:block;
	font-family: 'publica_sansbold';
	font-size: 20px;
	line-height: 25px;
}
.opt-in span {
	display:block;
	font-size: 18px;
	margin:10px 0 17px;
	font-family: 'publica_sansregular';
}
.opt-in .icon {
	font-size:44px;
	color:#FAB71B;
	display:block;
	margin-bottom:18px;
}
.opt-in input {
	background: #FFFFFF;
	width:100%;
	height:44px;
	border:none;
	outline:none;
	text-align:center;
	font-family: SourceSansPro-Regular;
	font-size: 16px;
	line-height: 21px;
}
.rating {
	margin:7px 0 10px;
	font-size:10px;
}
.rating .yellow {
	color:#facb1b;
}
.rating .gray {
	color:#d3d2d7;
}

/*********Directory Page ************/
.directory {
	border-top: solid 4px #D3D3D7;
}
.directory h2 {
	margin-bottom:20px
}
.directory ul li {
	font-size: 18px;
	line-height: 22px;
	margin-bottom:10px;
}
.directory ul li a {
	color: #2744AA;
}

.section-content {
	padding:62px 0;
}
.gray-bg {
	background: rgba(232,232,235,0.45);
}
.public-header {
	background: rgb(39,68,169);
	background: -moz-linear-gradient(top,  rgba(39,68,169,1) 0%, rgba(38,53,104,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(39,68,169,1) 0%,rgba(38,53,104,1) 100%);
	background: linear-gradient(to bottom,  rgba(39,68,169,1) 0%,rgba(38,53,104,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2744a9', endColorstr='#263568',GradientType=0 );
	color:#FFF;
	padding:35px 0 220px;
	position: relative;
}
.buildings-bg:after {
	position:absolute;
	bottom:0;
	left:0;
	content:'';
	z-index:1;
	width:100%;
	background:url('../img/buildings.png') center bottom repeat-x;
	height:100%;
}

.public-header .logo {
	width:177px;
	height:51px;
	background:url('../img/white-logo.svg') no-repeat;
	margin:0;
	background-size:100% 100%;
	float:left;
}
.public-header .container {
	position:relative;
	z-index:2;
}
.public-header .top-nav {
	float:right;
	font-family: 'publica_sansbold';
	font-size: 20px;
	color: #FFFFFF;
}
.public-header .top-nav ul {
	margin:0;
	padding:0;
}
.public-header .top-nav ul li {
	float:left;
	
}
.public-header .top-nav ul li:before {
	content: '|';
	display:block;
	float:left;
	margin:0 6px;
}
.public-header .top-nav ul li:first-child:before {
	display:none;
}
.public-header .top-nav a {
	color:#FFF;
}
.public-header .search-form {
	margin-top:50px;
	margin-right:250px;
	position: relative;
	padding-right: 112px;
}
.public-header .search-form button {
	position:absolute;
	top:0;
	right:0;
	width:112px;
	height:100px;
	background: #FACB1B;
	text-align:center;
	border:none;
	cursor:pointer;
	color:#000;
	font-size:34px;
} 
.public-header .search-form .form-control {
	width:100%;
	background: #EDEDED;
	box-shadow: inset 0 -2px 2px 0 rgba(0,0,0,0.04);
	font-family: 'publica_sanslight';
	font-size: 24px;
	color: #000000;
	line-height:30px;
	padding:35px 54px;
	height:100px;
	border-radius:0;
}
.public-header .search-form .form-control::-webkit-input-placeholder { 
	color: #000;
}
.public-header .search-form .form-control::-moz-placeholder { 
	color: #000;
}
.public-header .search-form .form-control:-ms-input-placeholder {
	color: #000;
}
.public-header .search-form .form-control:-moz-placeholder {
	color: #000;
}
.yellow-title {
	text-align: center;
	font-family: 'publica_sansbold';
	font-weight:400;
	font-size: 42px;
	color: #FBBD1A;
	margin:0 0 20px
}
.page-subtitle {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 26px;
	color: #1F2022;
	line-height: 21px;
	margin:0 0 60px;
	text-align:center;
}

.features {
	text-align: center;
	margin-bottom:65px
}
.features .icon {
	display:block;
	font-size:54px;
}
.features h2 {
	font-family: 'publica_sansbold';
	font-size: 24px;
	font-weight:400;
	color: #000000;
	margin:0 0 28px
}
.features p {
	font-size: 22px;
	color: #7E7A8B;
	line-height: 31px;
	margin:0;
}
.section-title {
	font-family: 'publica_sansbold';
	font-size: 46px;
	color: #1F2E64;
	line-height: 45px;
	margin:0 0 50px
}
.property-item {
	position:relative;
	width:295px;
	margin:0 15px 30px;
	float:left;
}
.property-item figure {
	position:relative;
	z-index:1;
}
.property-item figure img {
	width:100%;
	position:relative;
	z-index:1;
}
.property-item figure  figcaption {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background: rgba(31, 46, 100, .69);
	color:#FFF;
	padding:10px 30px;
	font-family: 'publica_sansregular';
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	z-index:2;
}
.property-item figure  figcaption a {
	color: #FFFFFF;
}
.property-item figure  figcaption a .icon {
	font-size:10px;
	width:15px;
	height:15px;
	background:#FFF;
	color:#2744AA;
	text-align: center;
	line-height:16px;
	padding-left:1px;
	border-radius:8px;
	display:inline-block;
	vertical-align:top;
	margin-left:3px;
	margin-top:6px;
}
.property-item.large figure  figcaption a .icon {
	margin-top:8px;
}
.property-item.large figure {
	height:197px;
	overflow:hidden;
}
.property-item.large {
	width:490px
}
.property-item.large figure figcaption {
	line-height:30px;
	padding:18px 30px 12px
}
.property-item .property-info {
	background: #1F2E64;
	padding:20px 30px;
	color:#FFF;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 21px;
}
.property-item .property-info .price {
	font-family: 'publica_sansmedium';
	font-size: 24px;
	color: #FACB1B;
	line-height: 22px;
	font-weight: 400;
}
.property-item .property-info h4 {
	font-family: 'publica_sansmedium';
	font-size: 16px;
	color: #FACB1B;
	margin:12px 0 14px;
}
.property-item .property-info .owner h3 {
	font-family: 'publica_sansmedium';
	font-size: 24px;
	color: #FFFFFF;
	line-height: 22px;
	margin:0 0 5px;
}
.property-item .property-info .owner h3 .icon {
	font-size:10px;
	width:15px;
	height:15px;
	background:#FFF;
	color:#2744AA;
	text-align: center;
	line-height:16px;
	padding-left:1px;
	border-radius:8px;
	display:inline-block;
	vertical-align:top;
	margin-top:6px;
	margin-left:3px;
}
.property-item .property-info .owner p {
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 21px;
	margin:0;
}
.property-item .property-info .owner p strong {
	font-weight:600;
}
.other-properties-wrapper {
	display:inline;
}
/* ********************************************************************** */
/* ***************************** Footer ********************************* */
/* ********************************************************************** */
#footer {
	background:#1F2F64;
	color:#FFF;
	padding:48px 108px 1px 112px;
	position:relative;
	z-index: 1;
}
#footer p {
	margin-bottom:10px;
}
#footer ul {
	margin:0;
	padding:0;
	list-style:none;
}
#footer ul li {
	padding:0;
	margin:0 0 12px;
}
#footer ul li a {
	color: #FFFFFF;
	line-height:18px;
}
#footer h6 {
	font-weight:400;
	font-size: 18px;
	color: #FACB1B;
	margin:0 0 10px;
}
#footer .copy {
	border-top: 1px solid rgba(250,182,26,0.49);
	padding:28px 15px 0;
	margin:60px -15px 0;
}
#footer .copy p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom:30px;
}

#footer .white-logo {
	margin:0 0 20px;
	width: 144px;
    height: 40px;
}

/* ********************************************************************** */
/* *****************************  Responsive  *************************** */
/* ********************************************************************** */
@media screen and (min-width: 767px) and (max-width: 992px) {
	.right-sidebar .banner,
	.right-sidebar .opt-in {
		width:45%;
		float:left;
	}
	.right-sidebar .agents {
		float:right;
		width:45%;
	}
}

@media screen and (min-width: 1600px) {
	.content-nav .navbar-nav> li > a {
		padding:15px 60px
	}
	.content-nav .navbar-form .form-group {
		min-width:40%;
	}
}
@media screen and (max-width: 1200px) {
	.property-item {
		width:240px;
	}
	.property-item.large {
		width:400px;
	}
	.property-item figure  figcaption {
		font-size:18px;
		padding-left:20px;
		padding-right:20px;
	}
	.property-item.large figure  figcaption {
		padding-top:5px;
		padding-bottom:5px;
	}
	.property-item .property-info {
		font-size:14px;
		padding:15px 25px
	}
	.property-item .property-info .owner h3 {
		font-size:19px;
	}
	.property-item.large figure {
		height:142px;
	}
}

@media screen and (max-width: 992px) {
	h1 {
		font-size:48px;
		line-height:56px;
	}
	h2 {
		font-size:30px;
		line-height:34px;
	}
	h3 {
		font-size:26px;
		line-height:32px;
	}
	.right-sidebar {
		position:static;
		width:auto;
		margin-top:30px;
	}
	
	#main-content {
		padding:20px 5px;
	}
	.content-nav .navbar-nav> li > a {
		font-size:16px;
		padding:15px;
	}
	.content-nav .navbar-form button {
		width:80px;
	}
	.content-nav .navbar-form .form-group {
		padding-right:80px;
		max-width:30%;
	}
	.content-nav .navbar-form .form-group .form-control {
		font-size:20px;
	}
	.box .panel-header a {
		padding:14px 20px;
		font-size:
	}
	.box .panel-body {
		padding: 10px 20px 30px
	}
	.property-wrapper {
		white-space:nowrap;
		margin:0 -10px;
	}
	.property-wrapper .row {
		width:100%;
		overflow:auto;
		margin:0;
	}
	.property-wrapper .row .col-md-4 {
		display:inline-block;
		float:none;
		padding:0 35px 0 0;
		margin-left:-25px;
		vertical-align:top;
	}
	.property-wrapper .row .col-md-4:first-child {
		margin:0;
	}
	#footer {
		padding:30px;
	}
	.public-header .search-form {
		margin-right:0;
	}
	.property-item {
		width:345px;
	}
	.property-item.large {
		width:auto;
		float:none;
	}
	.property-item.large figure {
		height:200px;
	}
}


@media (max-width: 767px) {
	h1 {
		font-size: 36px;
		line-height: 36px;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
	}
	h2 {
		font-size: 26px;
		line-height: 28px;
	}
	h3 {
		font-size: 24px;
		letter-spacing: 0px;
	}
	h4 {
		font-size: 22px;
	}
	p.large {
		font-size: 18px;
		line-height: 26px;
	}
	hr {
		margin-left:-10px;
		margin-right:-10px;
	}
	.off-canvas {
	    padding-left:0px;
	    padding-top:50px;
	}
	.off-canvas-nav {
		background:#FACB1B;
		position:fixed;
	    max-height:50px;
	    width:100%;
	    z-index:999;
	}
	.off-canvas-content {
		background:#FFF;
		transition: all ease .4s;
	    -moz-transition: all ease .4s;
	    -webkit-transition: all ease .4s;
		width:100%;
		left:0;
		top:0;
		position:relative;
	}
	.off-canvas.open {
		padding-left:0;
	}
	.off-canvas.open .off-canvas-nav {
		width:100%;
		max-height:auto;
	}
	.off-canvas-nav .side-nav ul {
		position:fixed;
		top:-118px;
		left:0;
		width:100%;
		z-index:2;
		transition: all ease .4s;
		background:#FACB1B
	}
	.off-canvas.open .off-canvas-content {
		left: 0;
	}
	.off-canvas.open {
		padding-top:168px;
	}
	.off-canvas.open .off-canvas-nav {
		top:118px
	}
	.off-canvas.open .off-canvas-nav .side-nav ul  {
		top:0;
	}
	.off-canvas.open-form .off-canvas-content {
		top:48px
	}
	.off-canvas.open-form .off-canvas-nav {
		top:52px;
	}
	.off-canvas.open-form .navbar-form {
		top:0;
	}
	.off-canvas.open.open-form .off-canvas-content{
		top:170px;
	}
	.side-nav li {
		width:100%;
	}
	.logo {
		margin:10px 0 5px 14px;
		width:129px
	}
	.side-nav ul {
		border:none;
	}
	.side-nav a.off-canvas-nav-toggle {
		position:absolute;
		top:0;
		right:0;
		width:50px;
		height:50px;
		border-left:solid 1px #FFF;
		margin:0;
	}
	.search-toggle {
		position:absolute;
		top:0;
		right:51px;
		width:52px;
		height:50px;
		border-left:solid 1px #FFF;
		margin:0;
		color:#000;
		font-size:22px;
	}
	.search-toggle .bvicon-search {
		line-height:50px;
		text-align:center;
		width:100%;
		display:block;
	}
	.map-header {
		height:300px
	}
	.map-header .map-overlay {
		width:100%;
		background:none;
		margin:0;
		padding:20px 20px 40px;
		top:auto;
		bottom:0;
		left:0;
		height:100%;
		display:table;
		vertical-align:bottom;
	}
	.map-header .map-overlay > div {
		display:table-cell;
		vertical-align:bottom;
	}
	.map-header .map-overlay .breadcrumb {
		position:absolute;
		top:20px;
		left:0;
		right:0;
		text-align: center;
		font-size: 15px;
		line-height: 12px;
	}
	.map-header h2 {
		font-size: 24px;
	}
	.content-nav {
		box-shadow:none;
	}
	
	.content-nav .navbar-nav {
		margin:0;
		border-bottom:solid 1px #D3D2D7;
	}
	.content-nav .navbar-nav> li {
		float:left;
		width:25%;
		border:none;
		text-align:center;
	}
	.content-nav .navbar-nav> li.active {
		background:#FFF;
	}
	.content-nav .navbar-nav> li a {
		font-size: 14px;
		padding:17px 3px 9px;
	}
	.content-nav .navbar-nav> li.active a:after {
		border-top-color:#FFF;
	}
	.content-nav .navbar-nav> li.active a:before {
		width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 12px 12px 0 12px;
	    border-color: #D3D2D7 transparent transparent transparent;
	    position: absolute;
	    content: '';
	    bottom: -12px;
	    left: 50%;
	    margin-left: -12px;
	}
	.content-nav .navbar-nav> li.active a {
		color:#FABD1B;
		background:none;
	}
	.content-nav.affix {
		top:50px;
		left:0;
	}
	.off-canvas.open-form .content-nav.affix {
		top:104px;
	}
	.off-canvas.open .content-nav.affix {
		top:168px;
		left:0;
	}
	
	.content-nav .navbar-form {
		position:fixed;
		top:-52px;
		left:0;
		width:100%;
		z-index:9;
		height:52px;
		float:none;
		padding-right:52px;
		transition: all ease .4s;
	}
	.content-nav .navbar-form button {
		position:absolute;
		top:0;
		right:0;
		width:52px;
		height:52px;
		font-size:22px;
	}
	.content-nav .navbar-form .form-group {
		padding:0;
		max-width:100%;
	}
	.content-nav .navbar-form .form-group .form-control{
		height:52px;
		padding:12px 15px;
		background: #D3D2D7;
		font-size: 20px;
		color: #000000;
	}
	
	.table.reflow-table thead th,
	.table.reflow-table thead tr,
	.table.reflow-table tbody tr,
	.table.reflow-table tbody td {
		display:block;
	}
	.table.reflow-table tbody tr {
		border-bottom: 1px solid rgba(155,154,155,0.49);
		padding:15px 10px;
	}
	.table.reflow-table tbody tr td {
		border:none;
		padding:0;
		margin-bottom:10px;
	}
	.table.reflow-table h4 span {
		font-family: 'publica_sansregular';
		display: inline !important;
	}
	.table.reflow-table .mobile-th {
		display: inline !important;
		font-family: 'publica_sansmedium';
		font-size: 14px;
		color: #8B8B8B;
		margin-right:6px;
	}
	.table.reflow-table h4 {
		margin-bottom:10px;
	}
	.table th .visible-xs{
		display:inline !important
	}
	
	.table.gray-header tbody td {
		padding:15px 10px;
	}
	.pager li.prev > a .icon {
		margin:-3px 10px 0 0;
	}
	.pager li.next > a .icon {
		margin:-3px 0 0 10px;
	}
	.pager {
		margin:-1px -20px 40px;
		padding-left:10px;
		padding-right:10px;
		border-top: 1px solid rgba(155,154,155,0.49);
	}
	.town-info {
		padding:10px;
	}
	.town-info ul li,
	.town-info.col4 ul li {
		width:50%;
		border-top:solid 1px #D3D2D7;
		border-left-color: #D3D2D7;
		padding:12px 10px;
	}
	.town-info ul li:nth-child(2),
	.town-info ul li:nth-child(4) {
		border-left:0;
	}
	.town-info ul li.full-xs,
	.town-info ul.col4 li.full-xs {
		width:100%;
	}
	.town-info ul li strong {
		font-family: 'publica_sanslight';
		font-size: 20px;
		line-height: 32px;
		font-weight:400;
	}
	.town-info ul li span {
		font-family: 'publica_sansmedium';
		font-size: 12px;	
	}
	
	h2.inline {
		display:block;
		margin:5px 0 20px;
		font-size: 22px;
		line-height: 22px;
	}
	.full-map {
		height:200px;
		overflow:hidden;
	}
	.full-map img {
		height:100%;
		width:auto;
	}
	#footer {
		padding:20px;
	}
	#footer h6 {
		margin-top:30px;
	}
	#footer .copy {
		margin:50px 0 0;
		padding:30px 0 0;
		font-size: 14px;
	}
	.public-header {
		padding: 20px 0 170px;
	}
	.public-header .search-form  {
		padding-right:60px;
	}
	.public-header .search-form button {
		width:60px;
		height:60px;
		font-size:23px;
		padding-top:8px;
	}
	.public-header .search-form .form-control {
		padding:20px 14px;
		height:60px;
		line-height:20px;
		font-size:18px;
	}
	.buildings-bg:After {
	    background-position: 278px bottom;
	    background-size: auto 158px;
	}
	.property-item.large,
	.property-item {
		width:auto;
		float:none;
	}
	.property-item.large figure {
		height:200px;
	}
	.section-content {
		padding:21pt 0
	}
	.yellow-title {
		font-size: 36px;
		margin:0 0 20px;
	}
	.page-subtitle {
		font-size: 16px;
		line-height: 21px;
		margin:0 30px 30px
	}
	.features {
		margin-bottom:20px;
	}
	.features h2 {
		font-size:22px;
	}
	.btn-lg {
		font-size: 18px;
		line-height: 16px;
	}
	.section-title {
		font-size: 36px;
		line-height: 42px;
		margin-bottom:20px;
	}
	.property-item.large figure img {
		width: auto;
		height: 100%;
	}
	.property-item .property-info .text-right {
		text-align: left !important;
	}
	.property-item .property-info .owner {
		margin-bottom:15px;
	}
	.other-properties-wrapper {
		display:block;
		white-space:nowrap;
		overflow:auto;
		margin:0 15px;
	}
	.other-properties-wrapper .property-item {
		width: 80%;
		float:none;
		display:inline-block;
		margin:0 10px 0 0;
		white-space:normal;
	}
	.top-nav-toggle {
		position:absolute;
		top:0;
		right:20px;
		width:30px;
		height:30px;
		padding:5px;
	}
	.top-nav-toggle em {
		display:none;
		height:2px;
		margin:5px 0;
		background:#FFF;
	}
	.top-nav-toggle .bvicon-close {
		display:block;
		color:#FFF;
		font-size:16px;
		margin-top:3px;
	}
	.top-nav-toggle.collapsed .bvicon-close {
		display:none;
	}
	
	.top-nav-toggle.collapsed em {
		display:block;
	}
	#top-nav {
		width: 100%;
		float:none;
		box-shadow:none;
	}
	.public-header .top-nav {
		float:none;
	}
	.public-header .top-nav ul li {
		float:none;
		margin-top:10px;
		text-align:right
	}
	.public-header .top-nav ul li:before {
		display:none;
	}

}