@charset "utf-8";

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Capriola);
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-ExtraLight.eot');
    src: local('☺'), url('../fonts/Overpass-ExtraLight.woff') format('woff'), url('../fonts/Overpass-ExtraLight.ttf') format('truetype'), url('../fonts/Overpass-ExtraLight.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Light.eot');
    src: local('☺'), url('../fonts/Overpass-Light.woff') format('woff'), url('../fonts/Overpass-Light.ttf') format('truetype'), url('../fonts/Overpass-Light.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass_Regular.eot');
    src: local('☺'), url('../fonts/Overpass_Regular.woff') format('woff'), url('../fonts/Overpass_Regular.ttf') format('truetype'), url('../fonts/Overpass_Regular.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass_Bold.eot');
    src: local('☺'), url('../fonts/Overpass_Bold.woff') format('woff'), url('../fonts/Overpass_Bold.ttf') format('truetype'), url('../fonts/Overpass_Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* global */

body {
    font-family: 'Capriola', sans-serif;
}
a, .btn, button, input {
    transition: all 0.5s ease;
}

/* header */

header {
    background: url(../img/hero_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center 0;
}
header .logo {
    margin: 0;
    padding: 20px 0;
    max-width: 240px;
}
header .logo img {
    width: 100%;
}
header .summary {
    max-width: 240px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
}
header .summary .text-break {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
}
@media (min-width: 480px) {
    header {
        background: url(../img/hero_tablet.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        background-position: center 0;
    }
    header .logo {
        max-width: 320px;
        padding: 30px 0;
    }
    header .summary {
        max-width: 320px;
        font-size: 24px;
    }
}
@media (min-width: 768px) {
    header .summary {
        max-width: 450px;
    }
}
@media (min-width: 992px) {
    header {
        background: url(../img/hero.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        background-position: center 0;
    }
    header .logo {
        padding: 40px 0;
    }
    header .summary {
        max-width: 560px;
        font-size: 26px;
    }
}

/* form */

header form {
    max-width: 480px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 30px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(87, 217, 243, 0.95);
}
@media (min-width: 768px) {
    header form {
        max-width: 580px;
        margin-bottom: 40px;
        padding: 50px;
    }
}
@media (min-width: 992px) {
    header form {
        margin-bottom: 80px;
    }
}

/* form group */

header form .form-group {
    margin-bottom: 20px;
}

/* input group */

header form .input-group .input-group-addon {
    padding: 0;
    border: 0;
    background: none;
    text-align: left;
}
header form .input-group .input-group-addon:first-child {
    padding-right: 10px;
}
header form .input-group .input-group-addon:last-child {
    padding-left: 10px;
}
@media (max-width: 479px) {
    header form .input-group {
        width: 100%;
    }
    header form .input-group .input-group-addon {
        display: block;
        width: 100%;
        padding: 0;
    }
}
@media (min-width: 480px) {
    header form .input-group {
        max-width: 500px;
    }
    header form .input-group#lnGroup {
        max-width: 400px;
    }
}
@media (min-width: 768px) {
    header form .input-group {
        max-width: 100%;
    }
    header form .input-group#lnGroup {
        max-width: 500px;
    }
}

/* form label */

header form .form-label {
    margin-bottom: 15px;
    float: none;
    color: #303A43;
    font-size: 27px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Capriola', sans-serif;
}
header form .hidden-label-mobile {
    display: none !important;
}
header form .visible-label-mobile {
    display: inline !important;
}
header form .visible-label-mobile.input-group-addon {
    display: table-cell !important;
}
@media (min-width: 480px) {
    header form .hidden-label-mobile {
        display: inline !important;
    }
    header form .hidden-label-mobile.input-group-addon {
        display: table-cell !important;
    }
    header form .visible-label-mobile {
        display: none !important;
    }
}
@media (min-width: 768px) {
    header form .form-label {
        font-size: 38px;
    }
}

/* form inputs */

header form .form-control {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
    border: 0;
    background: none;
    color: #303a43;
    font-family: 'Overpass', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.25;
}
@media (min-width: 768px) {
    header form .form-control {
        margin-top: 6px;
        font-size: 38px;
    }
}

/* select input */

header form select.form-control {
    border: solid 3px #303A43;
    height: auto;
    margin: 0;
    padding: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: url(../img/angle.png) no-repeat 95% 50%;
    background-color: transparent;
    background-size: 30px;
    color: #6F7C89;
    line-height: 1;
}
@media (min-width: 480px) {
    header form select.form-control {
        max-width: 320px;
    }
}

/* text input */

header form input.form-control {
    display: block;
    border-bottom: solid 3px #303A43;
}

/* submit input */

header form input.btn-submit {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px 30px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-radius: 100px;
    border: solid 3px #C1F988;
    outline: 0;
    background: none;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}
header form input.btn-submit:hover, header input.btn-submit:active, header form input.btn-submit:focus {
    outline: 0 !important;
    background: #C1F988;
    color: #6F7C89;
}
@media (min-width: 480px) {
    header form input.btn-submit {
        display: inline-block;
    }
}
@media (min-width: 768px) {
    header form input.btn-submit {
        margin-top: 30px;
        font-size: 30px;
    }
}

/* form states */

header form .form-control:hover, header form .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-color: #C1F988;
}

/* label states */

header form label.error, header form label.success {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 1;
}
header form label.error {
    color: #CF3D3B !important;
}
header form label.success {
    color: #9EFF3B !important;
}

/* input states */

header form input.error {
    border-color: #CF3D3B !important;
}
header form select.success, header form input.success {
    border-color: #9EFF3B !important;
    color: #303a43;
}
header form input.success {
    background: url(../img/success.png) no-repeat 100% 50%;
    background-color: transparent;
    background-size: 25px;
}
@media (min-width: 480px) {
    header form input.error {
        margin-top: 23px;
    }
}

/* form placeholders */

::-webkit-input-placeholder {
    color: #6F7C89;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #6F7C89;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #6F7C89;
}
:-ms-input-placeholder {
    color: #6F7C89;
}

/* text section */

.text-section {
    padding-bottom: 30px;
    padding-top: 30px;
    background: #F1FFE3;
}
.text-section .title {
    margin: 0;
    color: #303A43;
    font-size: 25px;
    line-height: 1.5;
}
.text-section .summary {
    margin-top: 15px;
    margin-bottom: 25px;
    color: #4ECAE2;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    line-height: 1.25;
}
.text-section ul {
    margin: 0;
}
.text-section ul li {
    margin-bottom: 5px;
    color: #303A43;
    font-size: 16px;
    line-height: 1.25;
}
@media (min-width: 768px) {
    .text-section {
        padding: 60px 0px 90px;
    }
    .text-section .title {
        font-size: 32px;
    }
    .text-section .summary {
        margin-top: 22px;
        margin-bottom: 33px;
        font-size: 20px;
    }
    .text-section ul li {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

/* footer */

footer {
    padding-top: 25px;
    padding-bottom: 45px;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    text-align: left;
}
footer .copyright {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 1;
}
footer a {
    display: table;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    color: #6FD812;
    font-size: 16px;
    line-height: 1;
}
footer a:hover {
    color: #6FD812;
}
footer .col-md-6 {
    text-align: left;
}
footer .visible-xs {
    padding-top: 10px;
}
@media (min-width: 768px) {
    footer {
        text-align: center;
    }
    footer a {
        display: inline-block;
        border-left: solid 1px #333;
    }
    footer a:first-child {
        border: none;
    }
    footer .col-md-6 {
        text-align: center;
    }
}
@media (min-width: 992px) {
    footer .col-md-6 {
        text-align: left;
    }
    footer .col-md-6.text-right {
        text-align: right;
    }
}
