#arrowhead-right {
  display: none;
  margin-left: 10px;
}

h2, 
h3, 
h4, 
h5, 
h6, 
body, 
p, 
a, 
li, 
input, 
label, 
small, 
button, 
select, 
table th, 
table td, 
.nav-collapse .nav > li > a, 
.nav-collapse .dropdown-menu a { text-shadow: none; }

/*.modal {
  pointer-events: none;
}*/

.modal-content {
  pointer-events: auto;
}

label { font-weight: 200; }

.card-single p { font-size: 15px; }

p small {
  font-size: 14px;
  line-height: 16px;
}

p.tos-text {
  font-size: 10px;
  line-height: 12px;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
}

input,
button,
select,
.main-btn,
.alt-btn { font-size: 18px !important; }

.modal-dialog { margin-top: 5% !important; }

.modal.fade.in { top: 50px; }

.modal-backdrop {
  background: #000 !important;
  opacity: 0.7 !important;
}

a,
button,
input,
.dropdown-toggle,
.link-wrap {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover,
a:focus { text-decoration: none; }

.text-info {
  color: #195997;
  font-weight: 200;
}

.container-fluid { max-width: 960px; }

.brand-logo {
  display: inline-block;
  background-image: url(../img/bv-logo-white.png);
  background-image: linear-gradient(transparent, transparent), url(../img/bv-logo-white.svg);
  background-size: 194px 28px;
  height: 28px;
  width: 194px;
}

body {
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
  min-width: 280px;
}

.section-min {
  padding: 16px 15px 12px 15px;
}

span.bold {
  font-weight: 700;
  font-size: 19px;
}

.main-btn,
.main-btn:hover,
.main-btn:focus,
.main-btn:active { color: #fff!important; }

.custom-select {
  -moz-appearance: none!important;
  -webkit-appearance: none;
  background: url(../img/drop-arrow.png) no-repeat right top;
  background-color: #fff;
  height: 40px;
  padding-bottom: 6px;
  padding-top: 4px;
  vertical-align: middle;
  width: 100%;
}

label.error {
  color: #c9302b;
  background-color: #f2dede;
  border: 1px solid #E9322D;
  width: 100%;
  line-height: 18px;
  padding: 6px 0;
  margin: 10px 0 0;
  margin: 2px 0 10px 0 \9;
  border-radius: 4px;
  text-align: center;
}

section,
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* -- NAVBAR -- */

header {
  background-color: #024485;
  background-image: url(../img/navbar-bg.png);
  background-repeat: repeat;
  background-image: -webkit-linear-gradient(top, #05498b, #024485);
  background-image: -moz-linear-gradient(top, #05498b, #024485);
  background-image: -ms-linear-gradient(top, #05498b, #024485);
  filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#05498b, endColorstr=#024485);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,startColorstr=#05498b,endColorstr=#024485)";
  border: none;
  height: 63px;
  padding: 15px 15px;
  font-size: 16px;
  border-radius: 0!important;
  margin: 0!important;
  color: #fff;
}

.header-search {
  background-color: #efefef;
  border-bottom: 1px solid #d8d8d8;
  margin: 0!important;
}

.header-search .search-filter {
  display: none;
  margin-top: 8px;
}

.search-trigger {
  height: 30px;
  background-image: url(../img/search-icon.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 8px 15px 0 45px;
  margin-top: 8px;
  border-left: 1px solid #0f63b3;
  color: #fff;
}

.search-trigger:hover,
.search-trigger:focus {
  cursor: pointer;
  cursor: hand;
  color: #fff;
  background-color: #0f63b3;
  border-radius: 6px;
}

#search_bar {
  padding-left: 15px;
  padding-right: 15px;
}

form.bv-search input {
  height: 40px;
  color: #777;
  line-height: 36px \9;
  width: 100%;
  padding-top: 0 \9;
  *padding-top: 0;
}

.col-search-bar { padding-right: 0; }

.main-btn {
  display: inline-block;
  background-color: #6dac45;
  color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 -4px 0 #57992d inset;
  -moz-box-shadow: 0 -4px 0 #57992d inset;
  box-shadow: 0 -4px 0 #57992d inset;
  border: 1px solid #57992d;
  padding-bottom: 10px;
  padding-top: 8px;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #72b348;
  -webkit-box-shadow: 0 -6px 0 #57992d inset;
  -moz-box-shadow: 0 -6px 0 #57992d inset;
  box-shadow: 0 -6px 0 #57992d inset;
}

.main-btn:active {
  background-color: #6ba944;
  -webkit-box-shadow: 0 2px 0 #5f953c inset;
  -moz-box-shadow: 0 2px 0 #5f953c inset;
  box-shadow: 0 2px 0 #5f953c inset;
}

.section-header p {
  font-size: 19px;
  line-height: 28px;
  color: #555;
}

#top-banner .section-header p { margin-top: 10px; }

h3 {
  margin: 10px 0;
  font-size: 25px;
  line-height: 32px;
}

.btn-round {
  padding-left: 16px;
  padding-right: 16px;
  margin: auto 12px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  outline: 0 !important;
}

.btn-login {
  color: #222;
}

.call-us {
  display: inline-block;
  font-size: 16px;
}

header .glyphicon {
  font-size: 20px;
  top: 5px;
}

.call-icon a {
  color: #fff;
}

header .tooltip-inner {
  min-width: 200px;
}

#menu-dropdown {
  outline: 0;
}
/* -- INFORMATION -- */

li {
  line-height: 24px;
  margin-top: 4px;
}

td.phoneCheck,
td.addressCheck {
  text-align: center;
  padding-top: 20px;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-yes-check {
  background-position: -63px -240px;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-sprite.png);
  background-repeat: no-repeat;
}
/* -- FOOTER -- */

footer {
  background-color: #222;
  border-top: 1px solid #020202;
  padding-top: 30px;
}

footer p,
footer li {
  font-size: 12px;
  color: #777;
  line-height: 18px;
}

li.footer-title {
  color: #fff;
  border-bottom: 1px solid #555;
  line-height: 32px;
  margin-bottom: 6px;
}

li.terms-stack {
  margin-top: 19px;
}

footer ul {
  list-style-type: none;
  margin-bottom: 20px;
}

footer a {
  color: #777;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

footer a:active {
  color: #fff;
}

.time-stamp {
  text-align: right;
}

.body-copy-header {
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 10px;
  padding-bottom: 20px;
}

p.alert {
  text-align: center;
  margin-top: 30px;
  padding: 8px 0;
}
/* -- SEARCH RESULTS -- */

.hide {
  display: none;
}

#no-results {
  display: none;
}

table {
  background-color: #ffffff;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #e9f1f5;
}

.table-bordered {
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: 0 1px 8px #aeadaf;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
  border-right-width: 0px;
  border-left-width: 0px;
}

#results-table th {
  border-radius: 0;
}

th {
  background-color: #3f3f3f;
  color: #ffffff;
}

table .th-center {
  text-align: center;
}

.table th,
.table td {
  border-left: none !important;
  border-right: none !important;
}

td {
  border: none;
}

.wrap-icon {
  padding-top: 10px;
  width: 20px;
  margin: auto;
}

td:first-child {
  border-left: 1px solid #cccccc;
}

td.align-center {
  vertical-align: middle !important;
}

table td ul {
  padding-left: 0;
}

.table th .th-center {
  text-align: center;
}

#results-table li,
.index-col {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0px;
  color: #000 !important;
  font-family: arial;
}

.report-col a {
  margin-bottom: 12px;
  margin-top: 6px;
  font-weight: bold !important;
  font-size: 15px;
  line-height: 16px;
  white-space: nowrap;
}

#results-wrapper {
  background-color: #efefef;
  border-top: 1px solid #dcdcdc;
  padding-bottom: 40px;
}

#results tr {
  cursor: pointer;
  cursor: hand;
}

h3.current-search {
  text-align: center;
  margin-top: 0px;
}

h3.current-search-download {
  font-size: 27px;
  line-height: 33px;
  margin-bottom: 17px;
}

p.current-search-text-download {
  line-height: 26px;
  font-size: 17px;
  margin-top: 13px;
}

table#results-table tr:hover td button {
  color: #ffffff;
  -webkit-box-shadow: 0 -6px 0 #57992d inset;
  -moz-box-shadow: 0 -6px 0 #57992d inset;
  box-shadow: 0 -6px 0 #57992d inset;
  background-color: #72b449;
}

a.name-found {
  text-decoration: underline;
  color: #1865b1;
  font-weight: bold !important;
}

td.age-col {
  font-weight: bold !important;
  font-size: 20px;
}

tr.hover,
.search-trigger:hover,
.search-trigger:focus {
  cursor: pointer;
  cursor: hand;
}

ul.aka-list {
  margin: 0 0 0 5px;
  font-size: .85em;
  color: #888888;
  list-style-type: none;
}

ul.aka-list li {
  font-size: 13px !important;
}

.aka-list-heading {
  color: #525253;
  font-style: italic;
  font-size: 12px !important;
  padding-top: 4px;
}
/* -- NO RESULTS -- */

.no-results-text {
  margin-top: 20px;
}

.no-results-icon {
  text-align: center;
}

#no-results-form fieldset div input { margin-bottom: 10px; }

.results-hints {
  margin-top: 20px;
}

.results-hints i {
  margin-right: 10px;
}
/* -- REFINE -- */

#refine-search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.refine-search-wrapper p {
  text-align: center;
}

.refine-modal-trigger {
  color: #0f63b3;
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  display: inline-block;
}

.refine-tips-list li {
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
}

.refine-tips-wrapper {
  margin-bottom: 20px;
}

.search-icon-placeholder {
  background-image: url('../img/search-icon-large.png');
  background-repeat: no-repeat;
  background-position: 20px center;
  height: 112px;
}

.form-control {
  padding: 6px 8px;
}
/* -- UNUSED? -- */

.modal {
  overflow-y: auto;
}

.modal.fade.in {
  margin-top: 10px !important;
}

.modal-bottom {
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

p.modal-below-text {
  font-size: 12px;
  line-height: 16px;
}

span#fileSpeed {
  color: #044789;
}

#results-wrapper-searching {
  padding-top: 80px;
  padding-bottom: 120px;
}

p.loader {
  text-align: center;
}

img.header-carrot {
  position: absolute;
  z-index: 9999;
  bottom: -10px;
  width: 42px;
  height: 20px;
  left: 160px;
}

p.already-a-member {
  text-align: center;
}

.main-btn,
.aux-btn {
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 8px;
}

.main-btn,
.aux-btn {
  color: #ffffff;
  background-color: #6dac45;
  -webkit-box-shadow: 0 -4px 0 #57992d inset;
  -moz-box-shadow: 0 -4px 0 #57992d inset;
  box-shadow: 0 -4px 0 #57992d inset;
  border: 1px solid #57992d;
}

.main-btn:hover,
.main-btn:focus,
.aux-btn:hover,
.aux-btn:focus {
  color: #ffffff;
  -webkit-box-shadow: 0 -6px 0 #57992d inset;
  -moz-box-shadow: 0 -6px 0 #57992d inset;
  box-shadow: 0 -6px 0 #57992d inset;
  background-color: #72b449;
}

.main-btn:active,
.aux-btn:active {
  -webkit-box-shadow: 0 2px 0 #558c33 inset;
  -moz-box-shadow: 0 2px 0 #558c33 inset;
  box-shadow: 0 2px 0 #558c33 inset;
  background-color: #68a342;
}
/* ============================================ */
/* == MODAL STYLES ============================ */
/* ============================================ */

#generating_report .modal-body,
#report_ready .modal-body {
  padding-bottom: 0;
}

.green {
  color: green;
}

.strong {
  font-weight: bold;
}

.modal-header {
  background-color: #044789;
  border-radius: 4px 4px 0 0;
}

.header-icon {
  margin: 0 14px 16px 0;
}

.modal-header .close {
  opacity: 1;
  padding: 6px 8px 10px 8px !important;
  color: #fff;
  text-shadow: none;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: #4594e3;
  cursor: pointer;
  cursor: hand;
}

.modal-header p {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold !important;
  font-size: 22px;
  line-height: 28px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.modal-dialog {
  font-size: 16px;
  line-height: 21px;
}

.modal-body-header {
  margin-top: 10px;
  font-size: 25px;
}

.modal-body {
  max-height: none;
  padding: 30px 30px 0;
  overflow: visible;
}

.modal-body i {
  margin-right: 10px;
}

.main-btn.main-btn-large.btn-block {
  padding: 20px 0 !important;
}

.modal form {
  margin: 0;
}

.modal-footer {
  background-color: #f5f5f5;
  border-radius: 0 0 4px 4px;
  font-size: 16px;
}

.modal-footer p {
  margin-bottom: 0;
}

.progress {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  filter: none !important;
}
/* == 1 == LOCATING AVAILABLE INFO MODAL ========== */

.checking-sources-progress {
  height: 45px;
  background: #4e4e4e;
  position: relative;
  margin-bottom: 14px;
}

.checking-sources-progress p {
  position: absolute;
  top: 5px;
  z-index: 2;
  color: #fff;
  width: 99%;
  font-size: 18px;
  margin-top: 7px;
  font-weight: 700;
}

.searching-progress-bar-group {
  margin-bottom: 10px;
}

.bar-icon {
  margin-right: 15px;
  margin-bottom: 5px;
}

p.current-search-text {
  font-size: 17px;
  text-align: center;
  padding-bottom: 10px;
}

p.current-search-text span {
  color: green;
  font-weight: bold;
}

.alert-this {
    padding: 14px;
    color: #c17421;
    margin-bottom: 20px;
}

.close:hover,
.close:focus{
  color:#000;
  text-decoration:none;
  cursor:pointer;
  opacity:.4;
  filter:alpha(opacity=40);
}

/* == 2 == SCANNING SOCIAL MEDIA ================= */

ul.socialMedias li {
  width: 16.666%;
  float: left;
  height: 32px;
  margin-bottom: 2%;
  position: relative;
}

ul.profile li {
  font-size: 16px;
  line-height: 21px;
  margin-top: 4px;
}

.located {
  padding-top: 8px;
  padding-bottom: 12px;
}

#social-media-groups li img {
  left: 50%;
  margin-left: -16px;
  position: absolute;
  max-width: 100%;
}

#scanning_social .modal-body {  padding-bottom: 30px; }

#socialmedia-progress img.complete,
.social {
  display: none;
}

#scanning_social .progress {
  height: 50px;
  background: #434243;
  color: white;
  position: relative;
  margin-top: 5px;
  border-radius: 4px;
}

#scanning_social .modal-footer img {
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.progress .progress-msg {
  position: absolute;
  top: 14px;
  z-index: 999;
  display: block;
  width: 100%;
  text-align: center;
}

.social-widget {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 15px;
}

#scanning_social .fullName {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 8px;
}

p.log-load {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-weight: bold !important;
  margin-top: 14px;
  margin-bottom: 15px;
}

span.located img { margin-right: 5px; }
/* == 3 == YOUR REPORT IS READY ================= */

.file-icon-wrapper {
  position: relative;
}

#file-initials {
  display: block;
  font-size: 15px;
  font-weight: bold !important;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 64%;
  margin-left: 18%;
  text-shadow: 0 1px 0 #fcd278;
}

img.file-icon {
  display: block;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

#gen-report-confirm {
  padding-top: 20px;
  padding-bottom: 26px;
  font-size: 22px !important;
  box-shadow: 0 -10px 0 #57992D inset;
}

.gen-list-group {
  padding: 10px 10px 20px 32px !important;
}

#gen-report-confirm[disabled=disabled],
#gen-report-confirm:disabled {
  background: #e7e7e7;
  opacity: 0.65;
  border-color: #c9c9c9;
  box-shadow: none;
  color: #c9c9c9 !important;
  cursor: progress;
}

#arrowhead-right {
  display: none;
  margin-left: 10px;
  margin-top: -4px;
  width: 32px;
  height: 32px;
}
/* == 4 == PROCCESSING YOUR REQUEST ================= */

.loggingin .modal-dialog {
  max-width: 500px;
}

.loader img {
  display: block;
  height: 30px;
  width: 100%;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
}

#processing_request .modal-body { margin-bottom: 30px; }

/* == 5 == CAPTCHA MODAL ========================== */

.header-alert {
  background-color: #F7941D;
}

.captcha-wrap {
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

#bv-captcha-imgs {
  display: inline-block;
  height: 50px;
  width: 80%;
  overflow: hidden;
  margin-top: 2px;
}

#bv-captcha-refresh {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url('../img/refresh-24.png');
  background-repeat: no-repeat;
  background-position: center center;
}

#bv-captcha-imgs img {
  display: none;
  height: 100%;
  width: 100%;
}

#bv-captcha-imgs .bv-captcha-selected {
  display: block !important;
}

#bv-captcha-input {
  margin: 10px auto 0;
  max-width: 240px;
}

.bv-captcha-error {
  border: 1px solid #f74855;
}

.bv-captcha-success {
  border: 1px solid #4abe70;
}

#bv-captcha-msg.error {
  color: #f74855;
}

#bv-captcha-msg.success {
  color: #4abe70;
}

#captcha_modal .modal-body {
  text-align: center;
}

#captcha_modal .modal-body > h3 {
  margin-top: 0px;
}

#bv-catpcha-form {
  margin-top: 20px;
}

input#bv-captcha-input {
  text-align: center;
}

#bv-captcha-next {
  box-shadow: 0 -8px 0 #57992D inset;
  font-size: 18px !important;
  padding-bottom: 18px;
  padding-top: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#bv-captcha-next img {
  height: 32px;
  width: 32px;
  margin-left: 6px;
}

p#bv-captcha-msg {
  margin-bottom: 0px;
}

p.why-text {
  line-height: 21px;
  margin-bottom: 15px;
}

.report-summary {
  background-color: #eeeeee;
  border: 1px solid #dadada;
  margin-bottom: 20px;
  border-radius: 4px;
}

#map-goes-here {
  height: 150px;
  margin: 0 15px 10px;
  border: solid 1px #dadada;
  background-position: 50% 45%;
}

#map-goes-here img {
  width: 100%;
  max-height: 100%;
}

.subject-summary-text-bg {
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  min-height: 60px;
  background-image: url('//dbivtdsofhpu6.cloudfront.net/assets/img/eafa2c2a7afe294e4718ab0c6b3546b8.jpg');
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.subject-summary-text {
  margin-left: 65px;
}

.report-summary-header {
  padding: 8px 15px 4px;
  background-color: #e7e7e7;
  border-bottom: 1px solid #dadada;
}

.subject-summary-text .modal-name,
.report-summary-header {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500 !important;
}

.subject-summary-text .modal-name {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

.subject-summary-text h3 {
  font-size: 21px \9;
  line-height: 21px \9;
}

.blur-list {
  padding: 0 0 22px 5px;
}

.blur-list p { 
  text-align: center; 
  line-height: 30px;
}

ul.blur-list li {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 5px 47px;
  list-style-type: disc;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2px;
}

.blur-list-left,
.blur-list-right {
  float: left;
  width: 50%;
}

#captcha_modal .modal-body { margin-bottom: 40px; }
/* == 6 == GENERATING REPORT ====================== */

.gen-list-group li {
  padding-left: 28px;
  background-image: url("../img/ajax-spin.gif");
  background-repeat: no-repeat;
  background-position: 0 center;
  font-weight: bold !important;
  margin-bottom: 6px;
}

.gen-list-group li.success {
  background-image: url('../img/mag_glass.png');
}

.info-name {
  margin-top: 0;
}

#searching-progress-bar {
  height: 45px;
  background: #4e4e4e;
  position: relative;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
}

.time-stamp {
  text-align: right;
}

.info-preview-loc {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/loc-pin.png');
}

.modal-body-copy {
  background-color: #f2f7fa;
  border: 1px solid #d2e2ec;
  border-radius: 4px;
  padding: 10px 20px;
  height: 275px;
}

.body-copy-header {
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 10px;
  padding-bottom: 20px;
}

.card-single {
  display: none;
  min-height: 190px;
}

.card-selected {
  display: block;
}

.copy-header-personal {
  background-image: url('../img/img-pers.png');
}

.copy-header-prop {
  background-image: url('../img/img-house.png');
}

.copy-header-crim {
  background-image: url('../img/img-crim.png');
}

.copy-header-rel {
  background-image: url('../img/img-rel.png');
}

.copy-header-offend {
  background-image: url('../img/img-so.png');
}

.copy-header-misc {
  background-image: url('../img/img-mag.png');
}

.modal-body-list .list-single {
  padding: 9px 6px;
  margin: 0;
  border-bottom: 1px solid #dedede;
  border-radius: 4px;
}

.list-selected {
  background: #044789\9;
  background: #044789 url('../img/loader-mini.gif') right 8px center scroll no-repeat !important;
  color: #fff;
  font-weight: bold !important;
}

.list-completed {
  background: url('../img/mag_glass.png') right center scroll no-repeat !important;
}

#searching-progress-bar-status {
  position: absolute;
  top: 12px;
  z-index: 2;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  left: 50%;
  margin-left: -10px;
}

#searching-progress-bar-database .bar {
  height: 45px;
  background-color: blue;
}

#searching-progress-bar-status {
  position: absolute;
}

#searching-progress-bar-status p {
  text-align: center;
}

#searching-progress-bar-status img {
  display: none;
}

#modal-msgs {
  line-height: 0;
  font-size: 12px;
}

#modal-msgs span {
  display: none;
}

.msg-selected {
  display: block !important;
}

#compiling_report .modal-body {
  padding-bottom: 20px;
}

#compiling_report .modal-footer { padding: 14px 15px 25px; }

#dl-spinner-icon {
  margin-top: 0;
}
/* == 7 == LEADBOX SIGNUP ========================= */

p.modal-top-text-big {
  font-size: 29px;
  line-height: 35px;
  font-weight: bold !important;
  color: #014a88;
}

.modal-top-text {
  font-weight: bold !important;
  margin-bottom: 17px;
}

.form-input-group {
  padding: 15px;
  background-color: #ededed;
  margin-bottom: 10px;
}

#signup-modal-form input {
  height: 40px;
  margin: 2.5px auto;
}

#signup-modal-form .main-btn {
  font-weight: 500 !important;
  text-shadow: 0 2px 0 #309910;
  padding-top: 20px !important;
}

#signup-modal-form button > img {
  margin-left: 9px;
  margin-top: -5px;
}

#signup-modal-form label.error {
  margin: 0 0 10px;
}

.signup-body-wrapper {
  margin: 15px 0 20px;
}

p.input-label {
  text-align: right;
  margin-top: 8px;
}

#modal-seals {
  margin-bottom: 20px;
}

.all-reports-wrapper {
  display: block;
  width: 100%;
  height: 180px;
  background-image: url(../img/all-reports-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 20px;
}

.alert-me-wrapper {
  background-image: url(../img/icon_plus.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 32px;
}

.alert-me-header {
  line-height: 28px;
}

.alert-me-body small {
  font-weight: 400!important;
}

p.tos-text {
  margin-top: 10px;
  font-size: 11px;
  line-height: 14px;
}

h6.create-login {
  text-align: center;
  font-weight: 200 !important;
}

.main-btn-large {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

span.highlight-text {
  color: #779D30;
}

#lead_box .modal-body { margin-bottom: 10px; }

/* ================================================ */
/* == RESPONSIVE GOODIES ========================== */
/* ================================================ */

@media (min-width: 992px) {
  .modal-dialog { width: 850px; }
  input#age {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 991px) {
  .gen-list-group {
    max-width: 260px;
    margin-top: 12px;
    padding-bottom: 5px;
    padding: 10px 10px 20px 32px;
  }
  #searching-progress-bar {
    margin-bottom: 0;
  }
  .modal-body-copy {
    height: auto;
  }
  .time-stamp {
    text-align: center;
  }
  p.modal-top-text-big {
    font-size: 21px;
    line-height: 24px;
  }
  #signup-modal-form .main-btn {
    font-size: 21px;
  }
  .form-control {
    padding: 6px 3px;
  }
  .modal { top: 0% !important; }
  .modal-dialog { 
    margin: 10px !important; 
    width: auto !important;
  }
  .loggingin .modal-dialog { max-width: none !important; }
  #compiling_report .modal-footer p { margin-top: 20px; }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
  h1, h2, h3, p, footer li {
    text-align: center;
  }
  #search_bar .col-sm-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-search-bar {
    padding-left: 15px;
    padding-right: 15px;
  }
  #th-hash,
  .td-hash,
  #th-relatives,
  .td-relatives,
  tr td:nth-child(5) {
    display: none;
  }
  #bv-captcha-next {
    padding-bottom: 22px;
    padding-top: 20px;
  }
  #bv-captcha-imgs {
    width: 75%;
    min-width: 150px;
  }
  #bv-captcha-refresh {
    width: 25px;
  }
  #results-wrapper {
    padding-top: 15px;
  }
  .header-search-bar input,
  .header-search-bar select {
    margin-bottom: 8px;
  }
  .refine-tips-wrapper {
    text-align: center;
  }
  .search-icon-placeholder {
    background-position: center center;
    background-image: url('../img/search-icon-small.png');
    height: 40px;
  }
  .no-results-icon img {
    width: 100px;
  }
  .report-col a {
    font-size: 11px;
  }
  p.modal-top-text-big {
    font-size: 21px;
    line-height: 24px;
  }
  #signup-modal-form .main-btn {
    font-size: 21px;
  }
  .checking-sources-progress {
    width: 100%;
    margin-bottom: 6px;
  }
  .checking-sources-progress p {
    top: 3px;
  }
  img.header-carrot {
    left: 45%;
  }
  /* MODALS */

  .modal-header p {
    font-size: 18px;
    line-height: 21px;
  }
  .checking-sources-progress {
    margin-bottom: 8px;
  }
  .checking-sources-progress p {
    top: 3px;
    font-size: 16px;
  }
  .gen-list-group {
    padding-left: 0;
    padding-bottom: 0;
  }
  #bv-captcha-imgs {
    width: 75%;
    min-width: 150px;
  }
  #bv-captcha-refresh {
    width: 25px;
  }
  .modal-body h3 {
    font-size: 21px;
    line-height: 28px;
  }
  #gen-report-confirm {
    font-size: 18px !important;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .card-single {
    min-height: 0;
  }
  .info-name,
  .info-preview { text-align: center; }
  .alert-me-wrapper { background-image: none !important; }
  #refine-modal .modal-body { margin-bottom: 18px; }
  #refine-modal-form input {
    margin-bottom: 6px !important;
  }
}

@media (min-width: 481px) {
  .place-single {
    display: none;
  }
}
/* Landscape phones and down */

@media (max-width: 480px) {
  #th-cities,
  .td-cities,
  tr td:nth-child(4) {
    display: none;
  }
  h3 {
    font-size: 21px;
    line-height: 28px;
  }
  .section-header p {
    font-size: 15px;
    line-height: 24px;
  }
  span.bold {
    font-weight: 700;
    font-size: 15px;
  }
  .top-section {
    margin-top: 0;
  }
  iframe {
    width: 150px;
    height: 136px;
  }
  #results-wrapper-searching {
    padding-top: 16px;
    padding-bottom: 12px;
  }
  .navbar-fixed-top {
    position: static;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    margin-left: -25px;
    margin-right: -25px;
  }
  .place-single {
    display: block;
  }
}

/*
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
  0%, 100% {-moz-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
  0%, 100% {-o-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}
