body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: #fafafa;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-group {
	margin-bottom: 15px;
	padding: 0;
}

.form-group input {
	background: #FFFFFF;
	border-radius: 2px;
	border: none;
    height: 35px;
	width: 100%;
	font-size: 16px;
	border: 1px solid white;
	box-shadow: none;
}

.form-group input[type=checkbox] {
	width: auto;
}

.has-error input.form-control {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/********** Navbar **********/
.navbar-default {
	border: none;
	border-radius: 0px;

	background: #353167; /* Old browsers */
	background: -moz-linear-gradient(left, #353167 0%, #4a3b8f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #353167 0%,#4a3b8f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #353167 0%,#4a3b8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-box-shadow: 0 2px 2px 0 rgba(10,10,10,0.5);
	-moz-box-shadow: 0 2px 2px 0 rgba(10,10,10,0.5);
	box-shadow: 0 2px 2px 0 rgba(10,10,10,0.5);
}
.navbar-default .navbar-nav > li {
	margin-right: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	padding-top: 7px;
	padding-bottom: 7px;
	
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	cursor: pointer;
}

/********** Main Content **********/
.main-content {
	padding-bottom: 110px;
}
.main-content h2.title {
  text-align: center;
  color: #000;
  line-height: 22px;
  font-size: 28px;
}

.main-content p.property-address {
	font-size: 36px;
	color: #4A4A4A;
  text-align: center;
  font-weight: 300;
  line-height: 27px;
  margin-top: 25px;
}

.main-content p.continue-to-report {
	font-family: Lato-Regular;
	font-size: 18px;
	color: #5F5F5F;
	letter-spacing: 0.1px;
	line-height: 25px;
  text-align: center;
	margin: 20px 0;
}

#lead_tos {
  position: absolute;
  top: -12px;
  background: transparent;
  border: 1px solid transparent;
}

/********** report Content **********/
.report-content {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
  -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
	border-radius: 5px;
}

.report-block-left {
	-webkit-flex-basis: 63.666%;
	-moz-flex-basis: 63.666%;
	-ms-flex-preferred-size: 63.666%;
	flex-basis: 63.666%;
	-webkit-order: 1;
	-moz-order: 1;
	order: 1;

	background: #fff;
	border-radius: 5px;
}

.report-block-left-content {
	padding: 12px 35px;
}

.report-block-right {
	background-image: -webkit-linear-gradient(297deg, #D9F7F3 0%, #B2ECE3 93%);
	background-image: -moz-linear-gradient(297deg, #D9F7F3 0%, #B2ECE3 93%);
	background-image: -o-linear-gradient(297deg, #D9F7F3 0%, #B2ECE3 93%);
	background-image: linear-gradient(27deg, #D9F7F3 0%, #B2ECE3 93%);
	-webkit-flex-basis: 36.333%;
	-moz-flex-basis: 36.333%;
	-ms-flex-preferred-size: 36.333%;
	flex-basis: 36.333%;
	-webkit-order: 2;
	-moz-order: 2;
	order: 2;

	border-radius: 0 5px 0 0;
}

.report-block-right-content {
  padding: 35px;
}

.report-title {
	font-size: 26px;
	color: #000000;
  font-weight: 300;
  margin-bottom: 30px;
}

.report-block {
	position: relative;
}

.report-block-right .report-title {
	margin: 0 0 30px 0;
	font-weight: 500;
}

.report-block-right .has-error label span {
	margin-bottom: 0;
}

.report-block-right label span {
	float: right;
	display: inline-block;
	width: calc(100% - 15px);
	font-family: Lato-Regular;
	font-size: 12px;
	font-weight: 500;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 16px;
	margin-bottom: 19px;
}

.report-block p {
	font-size: 17px;
	color: #5F5F5F;
	letter-spacing: 0.09px;
	line-height: 25px;
}

.label-for-lead-tos {
  cursor: pointer;
}

#submitbutton {
	font-family: Lato-Bold;
	font-size: 22px;
	color: #FFFFFF;
}

/********** Buttons **********/
.button {
	border-radius: 5px;
	border: none;
	padding: 8px 12px;
	font-weight: 600;
	font-family: Lato-Bold;
	font-size: 22px;
	color: #FFFFFF;
	display: block;
}
.button > i {
	font-size: 16px;
}
.button-inactive-state {
	background: rgba(154,148,156,0.49);
}
.button-inactive-state:focus {
	outline: none;
}
.button-active-state {
	background: #4a3b8f;
	border-radius: 5px;
	border: none;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(57,46,112,1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(57,46,112,1);
	box-shadow: 0px 3px 0px 0px rgba(57,46,112,1);
}
.button-active-state:hover,
.button-active-state:focus {
	outline: none;
	background: #353167;
}

/********** Data Points *************/
ul.data-points li {
	font-family: Lato-Regular;
	font-size: 16px;
	color: #5F5F5F;
	line-height: 25px;
	margin-bottom: 15px;
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

ul.data-points li .bvicon {
	margin-right: 18px;
	vertical-align: bottom;
}

.bvicon {
	width: 25px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
}

.bvicon-county {
	background-image: url('../img/county.svg');
}

.bvicon-sold-1 {
	background-image: url('../img/Sale.svg');
}

.bvicon-residential {
	background-image: url('../img/house.svg');
}

.bvicon-building {
	/* TODO */
}

.bvicon-storefront {
	/* TODO */
}

.bvicon-dollarbag {
	background-image: url('../img/MoneyBag-Taxes.svg');
}

.bvicon-measure {
	/* TODO */
}

.bvicon-rooms {
	background-image: url('../img/Rooms.svg');
}

.bvicon-ruler {
	background-image: url('../img/LotSize.svg');
}

.bvicon-built {
	background-image: url('../img/Built.svg');
}

.bvicon-bedroom {
	background-image: url('../img/Bed.svg');
}

.bvicon-bathroom {
	background-image: url('../img/Shower.svg');
}

.bvicon-units {
	/* TODO */
}

.bvicon-stories {
	background-image: url('../img/Stories.svg');
}

.bvicon-buildings {
	background-image: url('../img/buildings.svg');
}

.bvicon-satifaction {
	background-image: url('../img/Satisfaction.svg');
}

.bvicon-quote {
	background-image: url('../img/QuoteIcon.svg');
}

.additional-info-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F9F9F9;
}

.additional-info {
	background: #F9F9F9;
	padding: 20px 35px;
	position: relative;
}

.additional-info:first-child {
	border-bottom: 1px solid #FFFFFF;
}

.additional-info .bvicon {
	width: 30px;
	height: 35px;
	margin-right: 18px;
	float: left;
}

.additional-info-content {
	width: 92%;
	display: inline-block;
}

.additional-info-content .additional-info-title {
	font-family: Lato-Bold;
	font-size: 14px;
	color: #00554A;
	letter-spacing: 0.54px;
	line-height: 21px;
	display: inline-block;
	margin: 0;
}

.additional-info-content p {
	font-family: Lato-Regular;
	font-size: 14px;
	color: #5F5F5F;
	letter-spacing: -0.16px;
	line-height: 19px;
	margin-bottom: 0;
}

.additional-info-content .quote {
	font-family: Lato-Semibold;
	font-size: 16px;
	color: #5F5F5F;
	letter-spacing: -0.18px;
	line-height: 21px;
	margin: 0;
}

.additional-info-content .quote-author {
	font-family: Lato-Medium;
	font-size: 11px;
	color: #9B9B9B;
	letter-spacing: 0.24px;
	text-transform: uppercase; 
}

/********** Helper Classes **********/
.mt-1 {
	margin-top: 10px;
}
.mt-2 {
	margin-top: 20px;
}
.mt-3 {
	margin-top: 30px;
}
.mb-2 {
	margin-bottom: 20px;
}
.mb-3 {
	margin-bottom: 30px;
}

/********** Media Queries **********/
@media only screen and (max-width: 767px) {
	.navbar-default {
		margin: 0;
	}
	.main-content h2.title {
		color: #000000;
		font-size: 18px;
		margin-top: 22px;
		margin-bottom: 0px;
	}
	.main-content p.property-address, .main-content p.continue-to-report {
		margin-top: 15px;
		margin-bottom: 0;
	}
	.main-content p.property-address {
		color: #4A4A4A;
		font-size: 22px;
	}
	.main-content p.continue-to-report {
		font-family: Lato-Regular;
		font-size: 16px;
		color: #9A949C;
		line-height: 21px;
		margin-bottom: 15px;
	}

	.report-block-left, .report-block-right {
		-webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
	}

	.report-block-left {
		padding: 15px 25px 0 25px;
	}

	.report-block-right {
		border-radius: 0 0 5px 5px;
		padding: 25px;
	}

	.report-block-right .report-title {
		color: #000000;
		font-family: Lato-Semibold;
		font-size: 18px;
		margin: 0;
	}

	ul.data-points {
		margin-bottom: 0;
	}

	ul.data-points li {
		width: 100%;
		margin-bottom: 25px;
	}

	.report-block-right label span {
		padding-left: 10px
	}

	#submitbutton {
		font-size: 20px;
	}

	.form-group {
		margin: 15px 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  ul.data-points li {
    width: 100%;
    margin-bottom: 25px;
  }

  #submitbutton {
    font-size: 20px;
  }
  
  .report-block-right-content {
    padding: 40px 20px;
  }
  
  .report-block-right .report-title {
    font-size: 20px;
  }
}
