@import 'bootstrap.min.css';
@import 'bvicons.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,900');

@font-face {
    font-family: 'halis_rblack';
    src: url('../fonts/HalisR-Black-webfont.eot');
    src: url('../fonts/HalisR-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HalisR-Black-webfont.woff2') format('woff2'),
         url('../fonts/HalisR-Black-webfont.woff') format('woff'),
         url('../fonts/HalisR-Black-webfont.ttf') format('truetype'),
         url('../fonts/HalisR-Black-webfont.svg#halis_rblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ********************************************************************** */
/* ************************** General HTML TAGs ************************* */
/* ********************************************************************** */
html, body {
	margin:0;
	padding:0;
}
body {
    width: 100%;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
	color: #375271;
	position:relative;
}
ul,
li {
	margin:0;
	padding:0;
	list-style:none;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
a {
	transition: all ease .4s;
	cursor:pointer;
	color:#1F2F64;
}
a:hover {
	color:#19B2CC;
	text-decoration: none;
}
p {
	line-height: 28px;
	margin:0 0 30px;
}
h1 {
	font-family: 'halis_rblack';
	font-weight:400;
	font-size: 64px;
	line-height: 1;
	margin:0 0 50px;
	color: #263348;
}
h2 {
	font-family: 'halis_rblack';
	font-weight:400;
	font-size: 56px;
	
	color: #19B2CC;
	margin:0 0 60px;
}
h3 {
	font-family: 'halis_rblack';
	font-weight:400;
	font-size: 36px;
	color: #263348;
	margin:0 0 40px;
}
h4 {
	font-size: 28px;
	font-weight:500;
	margin:0 0 30px;
}
h5 {
	font-weight:700;
	font-size: 24px;
	
	margin:0 0 15px;
}
.nowrap {
	white-space:nowrap;
}
.form-control {
	-webkit-appearance: none;
}
.form-control:focus {
	box-shadow:none;
	border-color:#FFF;
}
.btn {
	border:none;
	font-family: 'halis_rblack';
	font-size:28px;
	line-height: 30px;
	padding:20px 20px;
	border-radius: 5px;
}
.btn-primary {
	background: #2164D0;
	box-shadow: 0px 4px 0px 0px #17315B;
	color: #FFFFFF;
	
}
.btn-primary:hover {
	background: #0E46A2;
	box-shadow: 0px 4px 0px 0px #17315B;
}
.btn-primary:active,
.btn-primary.active {
	background: #17315B;
	box-shadow: 0px 4px 0px 0px #17315B;
}

.btn-default {
	background: #FFF;
	box-shadow: 0px 3px 0px 0px #17315B;
	color: #2164D0;
}
.btn-warning:hover {
	background: rgba(255,255,255,0.79);
	box-shadow: 0px 3px 0px 0px #17315B;
	color: #2164D0;
}
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active {
	background: rgba(255,255,255,.5);
	box-shadow: 0px 3px 0px 0px #17315B;
	color: #2164D0;
}
.btn-small {
	font-size:24px;
	padding:10px 20px;
	line-height:28px;
	font-family: 'Work Sans', sans-serif;
	font-weight:600;
}
hr {
	border-top: dashed 2px #375271;
	margin:40px 0;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}

/* ********************************************************************** */
/* *************************** Main Content ***************************** */
/* ********************************************************************** */
.top {
	background:url('../images/bg1.png') right 0 no-repeat;
}
.top-inner {
	background:url('../images/bg3.png') left bottom no-repeat;
	padding:30px 0 90px;
}
.logo {
	width:191px;
	height:69px;
	background:url('../images/logo.png') 0 0 no-repeat;
	display:block;
}
#header {
	margin-bottom:74px;
	min-height:0;
	max-height:200px;
}
#header .navbar-nav {
	margin-right:30px;
}
#header .btn.btn-small {
	padding:5px 20px;
	font-size: 18px;
	color: #F9F9F9;
}

#header .navbar-nav > li {
	margin:0 20px;
}
#header .navbar-nav > li > a {
	padding:10px;
}
#header .navbar-nav > li > a:not('.btn') {
	font-weight:500;
	font-size: 18px;
	color: #000000;
	background:none;
	padding:0;
}
#header .navbar-nav > li > a:hover {
	color:#0E46A2;
}
.top h4 {
	width:457px;
}

.top .start-btn {
	margin-bottom:210px;
}
.top .row {
	position:relative;
}
.top .screens {
	position:absolute;
	height:100%;
	right:0;
	top:0;
}
.top .screen2 {
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	text-align:right;
}
.top .screen1 {
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
}
.top figcaption {
	font-family: 'halis_rblack';
	font-size: 32px;
	color: #FFFFFF;
	line-height: 35px;
	margin-top:20px;
}
.top .screens img {
	display:block;
	max-width:100%;
}
.top .screen2 img {
	margin:0 0 0 auto;
}
.top .screen2 figcaption {
	text-align:left;
	width:40%;
	display:inline-block;
	margin-right:50px;
}

.features {
	padding:90px 0;
}
.features h3 {
	margin-bottom:25px;
}
.developers {
	color:#FFF;
	padding:82px 0;
	background:url('../images/developers-bg.jpg') bottom left no-repeat;
	background-size:cover;
}
.developers h2,
.developers h3 {
	color:#FFF;
}
.developers p {
	margin-left:60px;
	margin-right:60px;
}
.developers figure {
	margin-bottom:45px;
}
.section {
	padding:80px 0;
}
.responsive-img img {
	max-width:100%;
	display:block;
}
.mr50 {
	margin-right:50px;
}

/* ********************************************************************** */
/* ***************************** Footer ********************************* */
/* ********************************************************************** */
#footer {
	background:url('../images/footer-bg.jpg') 50% bottom no-repeat;
	background-size:cover;
	padding:70px 0 40px;
}
#footer h2 {
	color:#FFF;
	font-size:44px;
}

.footer-bottom {
	margin-top:55px;
}
#footer .logo {
	margin-bottom:20px;
}
#footer p {
	margin:0;
}
.social-nav {
	margin-bottom:20px;
}
.footer-nav,
.footer-nav a {
	font-weight:600;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 28px;
}
.footer-nav span {
	margin:0 6px;
}
.social-nav {
	margin-top:20px;
}
.social-nav a {
	display:inline-block;
	position: relative;
	margin-left:15px;
	vertical-align: middle;
}
.social-nav span {
	display:inline-block;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 28px;
}
h2 .hidden-xs {
	display:inline !important;
}

.pricing .top,
.signup .top {
	background: rgb(37,52,75);
	background: -moz-linear-gradient(left,  rgba(37,52,75,1) 0%, rgba(36,63,106,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	background: linear-gradient(to right,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25344b', endColorstr='#243f6a',GradientType=1 );
	color:#FFF;
	overflow:hidden;
}
.pricing .top h1,
.signup .top h1 {
	text-align:center;
	color:#FFF;
	margin:0 0 30px
}
.pricing .top-inner,
.signup .top-inner {
	background:url('../images/BG.png') 0 0 repeat;
	position:relative;
}
.pricing #header .navbar-nav > li > a:not(.btn),
.signup #header .navbar-nav > li > a:not(.btn) {
	color:#FFF;
	background:none;
}
.pricing .navbar-header,
.signup .navbar-header {
	position:relative;
}

.pricing .navbar-header  .logo,
.signup .navbar-header  .logo {
	position:relative;
	z-index:5;
	background-color:#FFF;
}
.pricing .logo + span,
.signup .logo + span {
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 195px 320px 0 320px;
	border-color: #FFF transparent transparent transparent;
	position:absolute;
	top:-32px;
	left:50%;
	margin-left:-320px;
	z-index:4;
	cursor:default;
}
.pricing .navbar-header:after,
.signup .navbar-header:after {
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 573px 0 500px 910px;
	border-color: transparent transparent transparent #2DC4E9;

	position:absolute;
	left:50%;
	top: -412px;
	margin-left: -907px;
	z-index: 1;
}
.pricing .navbar-header:before,
.signup .navbar-header:before {
	content:'';
	width: 0;
	height: 0;
	width:1500px;
	height:600px;
	display:block;
	background:url('../images/BG-teal.png') right bottom repeat;
	position:absolute;
	right:95px;
	top:-67px;
	z-index: 3;
	transform:rotate(-28.8deg);
}
.price-box {
	background: #FFFFFF;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
	border-radius: 2px;
	margin-bottom:30px;
	text-align:center;
	color:#375271;
	padding:30px 25px 15px;
}
.price-box h2 {
	font-size: 46px;
	color: #19B2CC;
	margin:0 0 10px;
}
.price-box h4 {
	position:relative;
	margin:0 0 18px;
	width:auto;
	text-transform: uppercase;
}
.price-box h4:before {
	content:'';
	position:absolute;
	border-top: 2px dashed #375271;
	position:absolute;
	width:100%;
	top:50%;
	left:0;
	z-index:1;
}
.price-box h4 span {
	background:#FFF;
	padding:0 20px;
	display:inline-block;
	font-weight:500;
	font-size: 18px;
	color: #263348;
	position:relative;
	z-index:2;
}
.price-box ul,
.price-box ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.price-box ul,
.price-box p {
	font-weight:500;
	font-size: 22px;
	color: #375271;
	line-height:29px;
	margin-bottom:25px;
}
.price-box small {
	font-family: WorkSans-Medium;
	font-size: 14px;
	color: #375271;
	margin-top:14px;
	line-height:16px;
	display:block;
}
.price-box .btn:last-child {
	margin-bottom:30px;
}

.top .include h2 {
	color:#FFF;
	margin:20px 0 30px;
	font-size:38px
}
.include h4 {
	width:auto;
	font-size:20px;
	margin:0 0 20px;
}
.include ul {
	margin-left:18px;
}
.include ul li {
	list-style:disc;
	font-size:18px;
	line-height:22px;
	margin-bottom:8px;
}
.pricing #footer {
	padding-top:100px;
}
.pricing #footer h2 {
	font-size:56px;
	margin-bottom:50px;
}
.pricing #footer h4 {
	font-weight:500;
	font-size: 28px;
	color: #FFFFFF;
	margin-bottom:50px;
}
.contact {
	background-image: linear-gradient(-63deg, #19B2CC 0%, #2CC4E9 100%);
	background-repeat:no-repeat;
	background-size:auto 100%;
	height:auto;
}
.contact .top {
	background:none;
}
.contact .top-inner {
	padding:0;
	background:url('../images/BG-teal.png') right bottom repeat ;
	position:relative;
	overflow:hidden;
}
.contact .top #header {
	background:#FFF;
	padding:30px 0 0;
	margin-bottom:30px;
}

.white-bg {
	position:absolute;
	top:100px;
	left:0;
	width:100%;
	background:#FFF;
	height:300px;
	z-index:1;
	-webkit-clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
	clip-path: polygon(100% 0%, 0% 0%, 50% 100%);	
}

.blue-bg {
	background: rgb(37,52,75);
	background: -moz-linear-gradient(left,  rgba(37,52,75,1) 0%, rgba(36,63,106,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	background: linear-gradient(to right,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25344b', endColorstr='#243f6a',GradientType=1 );
    position: absolute;
    top: 100px;
    right: 0%;
    margin-left: -960px;
    width: 50%;
    height: 601px;
    z-index: 1;
    -webkit-clip-path: polygon(100% 100%, 0% 50%, 100% 0);
    clip-path: polygon(100% 100%, 0% 50%, 100% 0);
}

.blue-bg:before {
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-960px;
	width:1920px;
	height:700px;
	z-index:1;
	-webkit-clip-path: url("#blue-triangle");
	clip-path: url("#blue-triangle");
	z-index:2;
	background:url('../images/BG.png') 0 0 repeat;
	content:'';
}
.contact .top .container {
	position:relative;
	z-index:3;
}
.breadcrumb {
	background:none;
	padding:0;
	border-radius:0;
	text-align:center;
	font-weight:500;
	font-size:14px;
	color:#19222F;
	line-height: 32px;
	margin:0 0 10px;
}
.breadcrumb a {
	color: #2164D0;
}
.breadcrumb a:after {
	content:'>';
	margin:0 5px;
}

.contact h1 {
	text-align:center;
	margin-bottom:63px;
}

.contact-panel {
	background: #FFFFFF;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.22);
	border-radius: 2px;
	margin-bottom:30px;
	padding:55px 110px;
	font-size: 22px;
	color: #375271;
}

.contact-panel h2 {
	text-align:center;
	margin-bottom:40px
}
.contact-panel ul,
.contact-panel li {
	padding:0;
	list-style:none;
	margin:0;
}
.contact-panel li {
	margin-bottom:22px;
	font-weight:500;
	font-size: 28px;
	color: #375271;
}
.contact-panel li img {
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.contact-panel li a {
	color: #375271;
}
.contact-panel h3 {
	font-size: 36px;
	margin-bottom:30px;
}
.contact-panel strong {
	font-weight:600;
	display:block;
}
.signup .contact-panel li {
	font-size: 22px;
	text-align:center;
	margin:0;
}
.signup .contact-panel h2 {
	position:relative;
	margin-bottom:15px;
}
.signup .contact-panel {
	padding-top:30px;
	padding-bottom:30px;
}
.signup .contact-panel h2:before {
	content:'';
	position:absolute;
	top:50%;
	border-top: 2px dashed #375271;
	height:2px;
	margin-top:-1px;
	left:0;
	width:100%;
	z-index:1;
}
.signup .contact-panel h2 span {
	background:#FFF;
	padding:0 20px 0 40px;
	display:inline-block;
	position:relative;
	z-index:2;
}
.signup .contact-panel h2 em {
	font-style:normal;
	font-family: 'Work Sans', sans-serif;
	font-weight:500;
	font-size: 20px;
	color: #263348;
	vertical-align:top;
	display:inline-block;
	margin:4px 0 0 4px;
}
.form-group {
	margin-bottom:28px;
}
.form-group label {
	font-weight:500;
	font-size: 16px;
	text-transform: uppercase;
	color: #263348;
}
.form-control {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	font-size: 20px;
	color: #375271;
	line-height: 24px;
	padding:13px;
}
input.form-control,
select.form-control {
	height:52px;
}
.form-control:focus{
	border: 1px solid #375271;
	box-shadow:none;
}
textarea.form-control {
	resize: vertical
}
.contact textarea {
	height:156px;
}

.contact #footer,
.signup #footer {
	background:none;
	position:relative;
	height:500px;
	padding:0;
	z-index:1;
	margin-top:-100px;
	background:url('../images/BG-teal.png') right bottom repeat;
}
.signup #footer {
	background: rgb(37,52,75);
	background: -moz-linear-gradient(left,  rgba(37,52,75,1) 0%, rgba(36,63,106,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	background: linear-gradient(to right,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25344b', endColorstr='#243f6a',GradientType=1 );
}
.contact #footer .container,
.signup #footer .container {
	z-index:3;
	position:relative;
	padding-top:250px;
}
.signup #footer .container {
	padding-top:81px;
}
.signup #footer .quick-contact {
	font-size:22px;
	text-align:center;
	color:#FFF;
	margin-bottom:100px;
}
.signup #footer .quick-contact p {
	margin-bottom:30px;
}
.right-triangle {
  	background: rgb(37,52,75);
	background: -moz-linear-gradient(left,  rgba(37,52,75,1) 0%, rgba(36,63,106,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	background: linear-gradient(to right,  rgba(37,52,75,1) 0%,rgba(36,63,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25344b', endColorstr='#243f6a',GradientType=1 );
  	height: 500px;
  	width: 60%;
  	position: absolute;
  	z-index: 1;
  	right: 0;
}
.right-triangle:before {
	background:url('../images/BG.png') right bottom repeat;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:'';
}
.signup .right-triangle {
	background:#28c0e2
}
.signup .right-triangle:before {
	background:url('../images/BG-teal.png') right bottom repeat;
}
.triangle {
  background: #FFF;
  height: 500px;
  width: 55%;
  position: absolute;
  z-index:2;
}

.clip-wrap {
  text-align: center;
}

div.triangle {
  -webkit-clip-path: polygon(0 100%, 0 10%, 100% 100%);
  clip-path: polygon(0 100%, 0 10%, 100% 100%);
  -webkit-clip-path: url("#clip-shape"); /* required for Webkit/Blink browsers if you're using only inline SVG clipping paths, but not CSS clip-path */
  clip-path: url("#clip-shape");
}
div.right-triangle {
  -webkit-clip-path: polygon(100% 100%, 0 100%, 100% 10%);
  clip-path: polygon(100% 100%, 0 100%, 100% 10%);
  -webkit-clip-path: url("#clip-shape2"); /* required for Webkit/Blink browsers if you're using only inline SVG clipping paths, but not CSS clip-path */
  clip-path: url("#clip-shape2");
}


.custom-checkbox {
	font-weight:normal;
	font-size: 14px;
	color: #375271;
	line-height: 18px;
	position:relative;
	overflow:hidden;
	padding-left:30px;
	margin-bottom:30px;
}
.custom-checkbox input {
	position:Absolute;
	opacity:0;
	visibility:hidden;
	top:-30px;
	left:-30px;
}
.custom-checkbox em {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.10);
	border-radius: 2px;
	position:absolute;
	top:2px;
	left:0;
	width:14px;
	height:14px;
	cursor:pointer;
}
.custom-checkbox input:checked + em:before {
    content: '\2713';
    display: inline-block;
	color: #2164D0;
	position:absolute;
	top:-6px;
	left:-2px;
	font-size:24px;
	font-weight:700;
}
/* ********************************************************************** */
/* *****************************  Responsive  *************************** */
/* ********************************************************************** */

@media (min-width: 1400px) {
	.container {
	    width: 1368px;
	}
}
@media screen and (max-width: 1399px) {
	#header {
		margin-bottom:40px;
	}
	.top-inner {
		padding-bottom:50px;
	}
	.top {
		background-position:100% -19%;
	}
}
@media screen and (max-width: 1200px) {
	.top-inner {
		background-size:30% auto;
		padding-bottom:100px;
	}
	.top {
		background-position:100% -19%;
	}
	.top .start-btn {
		margin-bottom:0px;
	}
	
	.top .screens .screen1,
	.top .screens .screen2 {
		width:70%;
	}
	.top .screens figcaption {
		font-size:20px;
		line-height:26px;
		margin-right:0
	}
	.top h1 {
		font-size:49px;
		margin-bottom:30px;
	}
	.developers h3 {
		    font-size: 34px;
	}
	#footer h2 {
	    font-size: 42px;
	}
	#footer p,
	.footer-nav, 
	.footer-nav a {
	    font-size: 12px;
   }
   .signup #footer .quick-contact p {
   		font-size:20px;
   }
   #footer .logo {
   	margin-bottom:10px;
   }
   .social-nav span {
   	font-size:14px;
   }
   .price-box .btn-small {
	font-size:18px;
	}
	
	.contact .top #header {
		margin-bottom:20px;
	}
	
	.contact #footer {
		height:300px;
		margin-top:-50px;
	}
	.contact #footer .container {
		padding-top:110px;
	}
	
	.right-triangle {
	  	height: 300px;
	}
	.triangle {
	  height: 300px;
	}
	
	
}
@media screen and (min-width: 993px) {
	.features .responsive-img {
		margin-top:20px;
		display:block;
	}
	.signup .form-group .pull-right img {
		height:15px;
	}
}
@media screen and (max-width: 992px) {
	body {
		font-size:18px;
	}
	p {
		line-height: 26px;
		margin-bottom:30px;
	}
	h1 {
		font-size: 54px;
		margin:0 0 40px;
	}
	h2 {
		font-size: 46px;
		margin:0 0 40px;
	}
	h3 {
		font-size: 32px;
		margin:0 0 30px;
	}
	h4 {
		font-size: 24px;
		margin:0 0 20px;
	}
	h5 {
		font-size: 20px;
		font-weight:600;
		margin:0 0 15px;
	}
	.btn {
		font-size:24px;
		line-height:26px;
	}
	.btn-small {
		font-size:22px;
		line-height:25px;
	}
	#header .navbar-nav  {
		margin-right:10px;
	}
	
	#header .navbar-nav > li {
		margin:0 4px;
	}
	#header .navbar-nav > li > a {
		font-size:16px;
		color:#000;
		font-weight:500;
	}
	#header .navbar-right,
	#header .btn {
		margin-top:12px;
	}
	.top-inner {
		background-size:120% auto;
		padding-bottom:60px;
	}
	.top {
		background-position:100% -165%;
	}
	.top .start-btn {
		margin-bottom:0px;
	}
	.top h1 {
		margin-right:50px;
	}
	.top .screens {
		position:relative;
		height:450px;
		right:0;
		top:0;
	}
	.top .screens figcaption {
		font-size: 24px;
		color: #FFFFFF;
		line-height: 28px;
	}
	.top .screens .screen1,
	.top .screens .screen2 {
		width:50%;
	}
	.top .screens .screen2 {
		right:45px;
	}
	.top .screens .screen2 figcaption {
		width:70%;
		margin-right:20px;
	}
	hr {
		border:none;
	}
	.mr50 {
		margin-right:0;
	}
	.sm-pull-right {
		float:right !important;
		text-align:right;
	}
	.features .responsive-img img {
		margin:0 0 0 auto;
	}
	.features .feature-img {
		width:100%;
	}
	.features .responsive-img {
		margin-top:80px;
		display:block;
	} 
	.features h3 {
		margin-bottom:15px;
		white-space:nowrap;
	}
	 .developers p {
	 	margin-right:20px;
	 	margin-left:20px;
	 }
	 #footer h2 {
	    font-size: 38px;
	}
	#footer p {
		font-size: 16px;
	    line-height: 22px;
	} 
	.footer-nav, 
	.footer-nav a {
	    font-size: 16px;
	    line-height: 34px;
	}
	.social-nav span {
		display:block;
		font-size:16px;
		margin-bottom:10px;
	}
	.social-nav {
		margin-top:-15px;
	}
	.price-box {
		padding:30px 20px 15px
	}
	.price-box h2 {
		margin:0 0 4px
	}
	.top .include h2 {
		text-align:left;
		font-size:30px;
	}
	.include p,
	.include ul {
		margin-bottom:30px;
	}
	.pricing .logo + span,
	.signup .logo + span {
		border-width:170px 250px 0 250px;
		margin-left:-257px;
	}
	.pricing .navbar-header:after,
	.signup .navbar-header:after {
	    border-width: 195px 0 195px 280px;
	    left: 50%;
	    top: -68px;
	    margin-left: -270px;
	}
	
	.pricing .navbar-header:before,
	.signup .navbar-header:before {
		display:none
	}
	
	.pricing .top h1,
	.signup .top h1 {
		margin:40px 0 80px;
	}
	.signup .top h1 {
		margin-bottom:40px;
	}
	.pricing #footer,
	.signup #footer {
		padding-top:60px;
	}
	.pricing #footer h2,
	.signup #footer h2 {
		font-size:38px;
		margin-bottom:30px;
	}
	.pricing #footer h4,
	.signup #footer h4 {
		font-size: 24px;
		margin-bottom:40px;
	}
	
	.contact .top #header {
		margin-bottom:0;
	}
	
	.white-bg {
		height:400px;
	}
	.blue-bg{
		height:800px;
	}
	.contact-panel {
		padding:35px 50px
	}
	.contact-panel h2 {
		margin-bottom:20px;
	}
	
	
	.contact #footer {
		margin-top:0px;
		height:350px;
	}
	.contact #footer .container {
		padding-top:110px;
	}
	
	.right-triangle {
	  	height: 350px;
	  	width:80%;
	  	z-index:2;
	}
	.triangle {
	  height: 350px;
	  width:80%
	}
	.signup #footer {
	    padding-top: 61px;
	    margin-top: -102px;
	    height: auto;
	}
	.signup #footer .container {
		padding-top:0px;
	}
	.signup #footer .quick-contact {
	    margin-bottom: 49px;
	}
}


@media (max-width: 767px) {
	body {
		font-size:18px;
	}
	p {
		line-height: 24px;
		margin-bottom:24px;
	}
	h1 {
		font-size: 44px;
		margin:0 0 30px;
	}
	h2 {
		font-size: 36px;
		margin:0 0 30px;
	}
	h3 {
		font-size: 28px;
		margin:0 0 24px;
	}
	h4 {
		font-size: 20px;
		margin:0 0 20px;
	}
	h5 {
		font-size: 18px;
		font-weight:400;
		margin:0 0 15px;
	}
	.btn {
		font-size:20px;
		line-height:26px;
	}
	.btn-small {
		font-size:18px;
		line-height:21px;
	}
	.top h1 {
		margin-right:0;
	}
	.top {
		background:none;
	}
	.top-inner {
		background:url('../images/top-mobile-bg.jpg') center bottom no-repeat;
		background-size:100% auto;
		padding-bottom:20px;
		padding-top:15px;
	}
	.top .screens {
		margin-top:100px;
		height:auto;
		position:static;
	}
	.top .screens .screen1,
	.top .screens .screen2 {
		position:static;
		width:100%;
		margin-bottom:20px;
	}
	.top .screens .screen2 {
		margin-bottom:40px;
	}
	.top .screens figcaption,
	.top .screens .screen2 figcaption {
		text-align: center;
		margin:15px 0 0;
		width:auto;
	}
	.top .start-btn {
		font-size:20px;
		padding:10px 20px;
		margin-bottom:40px;
	}
	.logo {
		width:120px;
		height:43px;
		background-size:100% 100%;
	}
	#header {
		margin-bottom:10px;
		max-height:600px;
	}
	#header .logo {
		margin-left:15px;
		float:left;
	}
	.navbar-header {
		padding-bottom:20px;
	}
	.navbar-collapse {
		padding:0;
		margin:0 -15px;
		box-shadow:none;
		border:none;
	}
	#header .navbar-nav {
		margin:0;
		background:url('../images/developers-mobile-bg.jpg') 0 0 no-repeat;
		background-size:100% auto;
		padding:15px 0;
	}
	#header .navbar-nav > li {
		text-align:center;
		margin-bottom:15px;
	}
	#header .navbar-nav > li > a:not(.btn) {
		color:#FFF;
		text-align: center;
	}
	#header .navbar-nav > li > a.btn {
		color:#2164D0;
		display:inline-block;
	}	
	.navbar-toggle {
		display: block;
		position: relative;
		overflow: hidden;
		margin: 6px 15px 0 0;
		padding: 0;
		width: 38px;
		height: 38px;
		font-size: 0;
		text-indent: -9999px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		-webkit-transition: background .3s;
		transition: background .3s;
		background: 0 0;
		transition-delay:0s;
		background-color: #FFF
		float:right;
		z-index:9;
	}
	.navbar-toggle span {
		display: block;
		position: absolute;
		top: 14px;
		left: 0;
		right: 0;
		height: 4px;
		border-radius:4px;
		-webkit-transition: background 0s .3s;
		transition: background 0s .3s
		transition-delay:.3s;
	}
	.navbar-toggle span::after, 
	.navbar-toggle span::before {
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 4px;
		border-radius:4px;
		background-color: #263348;
		content: "";
		-webkit-transition-duration: .3s, .3s;
		transition-duration: .3s, .3s;
		-webkit-transition-delay: .3s, 0s;
		transition-delay: .3s, 0s
	}
	
	.navbar-toggle span::before {
		top: -8px;
		-webkit-transition-property: top, -webkit-transform;
		transition-property: top, transform
	}
	.navbar-toggle span::after {
		bottom: -8px;
		-webkit-transition-property: bottom, -webkit-transform;
		transition-property: bottom, transform
	}
	
	.navbar-toggle span::before {
		top: 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg)
	}
	.navbar-toggle span::after {
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	.navbar-toggle span::after, 
	.navbar-toggle span::before {
		-webkit-transition-delay: 0s, .3s;
		transition-delay: 0s, .3s
	}
	
	.navbar-toggle.collapsed span {
		background: #263348;
		transition-delay:.3s;
	}
	.navbar-toggle.collapsed span::before {
		top: -12px;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0)
		-webkit-transition-property: top, -webkit-transform;
		transition-property: transform, top
	}
	.navbar-toggle.collapsed span::after {
		bottom: -12px;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0)
		-webkit-transition-property: bottom, -webkit-transform;
		transition-property: transform, bottom
	}
	.navbar-toggle.collapsed span::after, 
	.navbar-toggle.collapsed span::before {
		-webkit-transition-delay: 0s, .3s;
		transition-delay: 0s, .3s
	}
	#header .navbar-right, #header .btn {
		margin-top:0;
	}
	.features {
		text-align:center;
		padding:40px 0;
	}
	h2 .visible-xs {
		display:inline !important;
	}
	h2 .hidden-xs {
		display:none !important;
	}
	.top h4 {
		width:auto;
	}
	.features {
		text-align:center;
	}
	.features h3.nowrap {
		white-space: normal;
	}
	.features h3 img {
		display:block;
		margin:0 auto 10px;
	}
	.features .btn {
		margin-bottom:30px;
	}
	.features h3 {
		white-space:normal;
	}
	.responsive-img img {
		width:100%;
	}
	.developers {
		padding:50px 0 10px;
		background:url('../images/developers-mobile-bg.jpg') 0 0 no-repeat;
		background-size:cover;
	}
	.developers h3 {
		font-size:28px;
	}
	.developers  .btn {
		margin-bottom:50px;
	}
	.developers figure {
		margin-bottom:20px;
	}
	.developers figure img {
		max-width:40%;
	}
	.no-pull-xs {
		float:none !important;
	}
	.section {
		text-align:center;
	}
	.mr50 {
		margin-right:0;
	}
	#footer {
		background:url('../images/footer-mobile-bg.jpg') 0 0 no-repeat;
		background-size:100% 100%;
		padding-left:20px;
		padding-right:20px;
	}
	#footer h2 {
		font-size:32px;
		margin-left:-20px;
		margin-right:-20px;
	}
	#footer h2 br {
	    margin-bottom: 26px;
	    display: block;
	    content: '';
	}
	#footer .btn {
		margin-bottom:80px;
		width:80%;
	}
	#footer .logo {
		width:116px;
		height:42px;
		background-size:100% 100%;
	}
	#footer p {
		width:187px;
		margin-bottom:80px;
	}
	#footer .text-right {
		text-align:left;
		position:static;
	}
	.footer-nav {
		margin-top:10px;
		margin-bottom:20px;
	}
	.footer-nav a {
		display:block;
	}
	.footer-nav span {
		display:none;
	}
	.footer-bottom {
		padding-bottom:110px;
		position:relative;
		margin:8px 0 30px;
		position:relative;
	}
	.pricing #footer,
	.signup #footer {
		padding:0;
		position:relative;
		overflow:hidden;
	}
	.pricing #footer .container,
	.signup #footer .container {
		background: #2DC4E9 url(../images/pricing-top-pattern.png) 0 0 repeat;
		padding: 70px 25px 0px;
	}
	.pricing #footer:after,
	.signup #footer:after {
		position:absolute;
		/*content:'';*/
		bottom:0;
		right:0;
		z-index:1;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 490px 933px;
		border-color: transparent transparent #2164D0 transparent;
	}
	.pricing #footer .footer-bottom,
	.signup #footer .footer-bottom {
		margin:20px -35px 0px;
		background: linear-gradient(68deg, #263348 0%, #2164D0 100%);
		padding: 0 25px 123px;
	}
	
	.pricing #footer .footer-bottom:before,
	.signup #footer .footer-bottom:before {
		content:'';
		border-style:solid;
		border-width: 350px 0 350px 670px;
		border-color: transparent transparent transparent #FFF;
	    right: 55px;
	    top: 0;
	    margin-top: -289px;
	    position:absolute;
	    z-index: 3;

	}
	.pricing #footer .footer-bottom:after,
	.signup #footer .footer-bottom:after {
		content:'';
		border-style:solid;
		border-width: 135px 0px 0 308px;
		border-color: #2DC4E9 transparent transparent transparent;
		position:absolute;
		top:-50px;
		right:0;
	}
	.pricing #footer .footer-bottom *,
	.signup #footer .footer-bottom * {
		position:relative;
		z-index:4;
	}
	.pricing #footer .footer-bottom .social-nav,
	.signup #footer .footer-bottom .social-nav  {
		position:absolute;
		bottom: -130px;
	}
	.pricing #footer p,
	.signup #footer p {
		margin-bottom:104px;
	}
	.pricing #footer .text-center,
	.signup #footer .text-center {
		position:relative;
		z-index:9;
	}
	.pricing #footer h4,
	.signup #footer h4 {
		font-size:20px;
		margin-left:-10px;
		margin-right:-10px;
		margin-bottom:40px;
	}
	.social-nav  {
		position:absolute;
		bottom:0;
	}
	.social-nav a {
		margin:0 15px 0 0;
	}
	
	.pricing .top h1 {
		font-size: 44px;
		margin:60px 30px 20px;
	}
	.pricing .top h1 + p {
		margin:0 10px 40px;
		font-size: 20px;
		line-height: 26px;
	}
	.pricing .top,
	.signup .top {
		background: rgb(38,51,72);
		background: -moz-linear-gradient(top,  rgba(38,51,72,1) 0%, rgba(35,79,151,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(38,51,72,1) 0%,rgba(35,79,151,1) 100%);
		background: linear-gradient(to bottom,  rgba(38,51,72,1) 0%,rgba(35,79,151,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263348', endColorstr='#2164d0',GradientType=0 );
	}
	.price-box {
		padding-bottom:20px;
		margin:0 10px 29px;
	}
	.price-box small {
		display:none;
	}
	.price-box .btn {
		display:block;
	} 
	.include {
		margin:0 15px;
	}
	.include h2 {
		font-size:28px;
		text-align: left !important;
	}
	.include h4 {
		font-size:20px;
	}
	.include .pull-right {
		float:none !important;
	}
	.price-box .btn:last-child {
		margin:0;
	}
	.pricing .navbar-toggle.collapsed span,
	.pricing .navbar-toggle span::after, 
	.pricing .navbar-toggle span::before,
	.signup .navbar-toggle.collapsed span,
	.signup .navbar-toggle span::after, 
	.signup .navbar-toggle span::before {
		background:#FFF;
	}
	.pricing #header .navbar-nav,
	.signup #header .navbar-nav {
		background:#FFF;
	}
	.pricing #header .navbar-nav > li > a:not(.btn),
	.signup #header .navbar-nav > li > a:not(.btn) {
		color:#000
	}
	.pricing #header .navbar-nav > li > a.btn,
	.signup #header .navbar-nav > li > a.btn {
		color:#FFF;
	}
	.pricing .navbar-header,
	.signup .navbar-header {
		z-index:8;
	}
	.pricing .logo + span,
	.signup .logo + span {
	    border-width: 324px 600px 0 0;
	    border-color: #FFF transparent transparent transparent;
	    left: -300px;
	    margin-left: 0;
	}
	.pricing .navbar-header:after,
	.signup .navbar-header:after {
        border-width: 140px 0 153px 282px;
	    left: -192px;
	    top: -58px;
	    margin-left: 0;
	    z-index: 8;
	}
	.pricing .navbar-header:before,
	.signup .navbar-header:before {
		display:none
	}
	.pricing .navbar-right,
	.signup .navbar-right {
		position:relative;
		z-index:4;
		margin:0 -15px;
		top:10px;
	}
	.pricing .navbar-collapse,
	.signup .navbar-collapse {
		width:100%;
		margin:0;
	}
	.pricing .navbar-collapse,
	.signup .navbar-collapse {
		position:relative;
		z-index:5;
	}
	.include .row .row ul {
		margin-bottom:0;
	}
	
	.white-bg {
	    top: 220px;
	    height:194px;
	}
	.blue-bg {
		height:224px;
		width:30%;
		top:220px;
		background:#2257ac
	}
	.contact .top-inner {
		position:relative;
	} 
	.contact .top-inner:before {
		background:#FFF;
		position:absolute;
		top:80px;
		left:0;
		content:'';
		height:140px;
		width:100%;
	}
	div.triangle {
	    -webkit-clip-path: polygon(0 100%, 0 0%, 100% 50% );
	    clip-path: polygon(0 100%, 0 0%, 100% 50% );
	    height: 276px;
    	width: 100%;
	}
	div.right-triangle {
		-webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 31%, 100% 0%);
    	clip-path: polygon(100% 100%, 0% 100%, 0% 31%, 100% 0%);
    	width:100%;
    	height: 449px;
    	top: 137px;
	}
	.contact #footer .container {
		padding-top:75px;
	}
	
	.contact-panel {
		padding:20px 20px 40px;
		text-align:center;
		font-size:18px;
	}
	.contact-panel h3 {
		font-size: 28px;
		margin-bottom:10px;
	}
	.contact-panel li {
		text-align:center;
		font-size: 20px;
	}
	.contact-panel li img {
		display:block;
		margin:0 auto;
	}
	.contact-panel strong {
		margin-top:10px;
	}
	
	.contact-panel form {
		text-align:left;
	}
	.form-group label {
		font-size:15px;
	}
	.form-control {
		font-size:16px;
	}
	.form-group {
		margin-bottom:15px;
	}
	
	.signup .contact-panel .form-group,
	.signup .contact-panel .custom-checkbox {
		text-align:left;
	}
	.signup #footer {
		margin:0;
	}
	.signup #footer .container {
		background:#234f96;
		padding-top:0;
	}
	.signup #footer .quick-contact {
		margin-bottom:89px
	}
	.signup #footer .footer-bottom:after {
		border-color: #234f96 transparent transparent transparent
	}
	.signup #footer .quick-contact p {
		width:auto;
		font-size:18px;
	}
	.signup #footer .footer-bottom {
		background-image: linear-gradient(-63deg, #19B2CC 0%, #2CC4E9 100%);
	}
	.signup .top h1 {
		margin:75px 0 20px;
		font-size: 44px;
		line-height: 49px;
	}
	.signup .contact-panel h2 span {
		padding:0 10px;
	}
	.signup .contact-panel h2:before {
		bottom:14px;
		top:auto;
	}
	.signup .contact-panel h2 em {
		display:block !important;
		font-size:16px;
	}
	.signup .contact-panel h2 em.hidden-xs {
		display:none !important;
	}
	.signup .contact-panel .text-right {
		text-align:center;
		margin-bottom:20px;
	}
	.signup .contact-panel .text-right .visible-xs {
		display:inline-block !important;
	}
	
	
}