h2,
h3,
h4,
h5,
h6,
body,
p,
a,
li,
input,
label,
small,
button,
select,
table th,
table td,
.nav-collapse .nav>li>a,
.nav-collapse .dropdown-menu a {
  text-shadow: none;
}

a,
button,
input,
.dropdown-toggle,
.link-wrap {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

body {
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  font-size: 16px;
  /*font-weight: 200;*/
  line-height: 21px;

  min-width: 280px;
  background-color: #f5fafc;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 26px;
}

/* ================================================ */
/* == NAVBAR  ===================================== */
/* ================================================ */
nav {
  font-size: 16px;
  margin: 0!important;

  color: #fff;
  border: none;
  border-radius: 0!important;
  background-color: #024485;
  background: #353167; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #353167 0%, #4a3b8f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #353167 0%,#4a3b8f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #353167 0%,#4a3b8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353167', endColorstr='#4a3b8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.navbar-header {
  margin-left: 50px;
}
.navbar-toggle {
  margin-top: -4px;
  padding: 6px 7px;
}

.navbar-default {
  border: none !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle,
.navbar-inverse .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:focus {
  border-color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:hover {
  border-color: #73b649;
  background-color: #73b649;
}

.navbar-logo img{
  display: block;
  margin:15px 0px;
  width: 160px;
  height: 30px;
}

/* ================================================ */
/* == BODY STUFF  ================================= */
/* ================================================ */
label.error {
  line-height: 18px;

  width: 100%;
  margin: -5px 0 10px 0;
  margin: 2px 0 10px 0 \9;
  padding: 6px 0;

  text-align: center;

  color: #c9302b;
  border: 1px solid #e9322d;
  border-radius: 4px;
  background-color: #f2dede;
}

section {
  display: block;
  height: 100%
}

.side-bar {
  background: white;
  padding: 0px;
  box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.14);
}

.map img {
  /*background: url('../img/google-map.png');
  background-repeat: no-repeat;
  background-size: 100%;*/
  /*height: 355px;*/
  height: 100%;
  width: 100%;
}

.testimonials {
  padding: 30px;
  position: relative;
}

.testimonials img {
  height: 40px;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 5px;
}

.testimonials p {
  font-size: 17px;
  line-height: 1.29;
}
img.quotes {
  height: 34px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 0%;
}
.info-box {
  margin-bottom: 30px;
  margin-top: 15px;
}
.text  {
  display: inline-block;
}

.info-box p {
  font-size: 14px;
  margin-bottom: 0;
}

.info-box p.name {
  font-size: 15px;
  color: #60ab41;
}

.first-account {
  border-bottom: 1px solid #e1e1e1;
}

.second-account {
  padding-top: 30px;
}

.secured {
  padding: 25px;
  background-color: #fcedba;
}

.secured h4 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
}

.secured img {
  height: 50px;
  vertical-align: top;
  margin-right: 10px;
}

.secured .text {
  width: 80%;
}

.action-header {
  background: #7e6f9c;
  padding-top: 35px;
  color: white;
}

.phone-box {
  display: inline-block;
}
.phone-circle {
  border-radius: 50%;
  background: #8b7da6;
  height: 120px;
  width: 120px;
  position: relative;

}

.phone {
  height: 50px;
  position: absolute;
  top: 25%;
  left: 25%;
}

.all-day {
  display: inline-block;
  border-radius: 16.5px;
  background-color: #655890;
  padding: 5px 12px;
  margin-bottom: 0px;
}
.all-day img {
  height: 22px;
  margin-right: 5px;
}

/* progress bar */

.progress-wrap {
  margin: 20px 0 0px;

  border-radius: 0px;
  background: #DAF3C0;
}

.progress-wrap .progress {
  height: 60px;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 40px 40px;
  /*background-color: #DAF3C0;*/
}

.progress-wrap .progress .progress-bar {
  background-color: #81b44c;
}

.progress-wrap .progress .progress-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: right;
  color: #000;
}

.progress-wrap .progress .progress-text-outer {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: left;
  color: #000;
}

.progress {
  border-radius: 0px !important;
}

.custom-container {
  margin-right: auto;
  margin-left: auto;
}

.action-box {
  background: white;

  border-radius: 10px;
  box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
}

.action-section {
  padding-top: 75px;
}

.switch-section p {
  font-size: 17px;
  line-height: 1.65;
}
.switch-section,
.action-section{
  display: none;
}

.switch-section.active,
.action-section.active {
  display: block;
}

.section-tabs .tab.active {
  border-bottom: none;
  background: url('../img/active-2.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 110%;
}

.tab {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 25px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  height: 130px;
}

.no-border {
  border-right: none;
}

.tab img {
  height: 40px;
}

.tab-number {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: rgba(51, 51, 51, 0.1);
  position: absolute;
  right: 15px;
  top: 15px;
}

.bottom-action {
  padding: 60px 0px 80px;
}
.no-pad-right {
  padding-right: 0px;
}

.no-pad-left {
  padding-left: 0px;
}

/* ================================================ */
/* == FOOTER  ===================================== */
/* ================================================ */


#footer {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #747b91;
  background-color: #fff;
  position: relative;
}

.carla-wrapper {
  position: relative;
}
.carla-box {
  position: absolute;
  right: 0;
  bottom: 0;

  overflow-y: hidden;

  min-height: 60px;
}
.carla {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 55px;
  height: 60px;
}
.carla-hand {
  position: absolute;
  right: 22px;
  bottom: -18px;

  width: 58px;
  height: 18px;
}

.footer-links {
  margin-bottom: 75px;
}
#footer h4 {
  font-size: 22px;
  font-weight: bold;

  margin-bottom: 10px;

  color: #484848;
}
#footer .customer-service-wrapper {
  margin-bottom: 30px;
  padding: 20px 20px 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #efefef;
}
#footer .footer-link-group {
  padding-top: 20px;
}

#footer p {
  font-size: 14px;
  font-weight: 400;

  color: #747b91;
}
#footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
#footer li {
  margin-bottom: 4px;

  color: #747b91;
}
#footer a {
  color: #0f2d8f;
}
#footer a:hover,
#footer a:focus {
  text-decoration: none;

  color: #3b49e5;
}

.social-links {
  margin-top: 15px;
  margin-bottom: 40px;
}
.social-links img {
  max-width: 22px;
  margin-right: 5px;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 1px solid #cecfd5;
}

#footer .email-address a,
#footer .phone-number a {
  color: #0f2d8f;
}
#footer .phone-number {
  color: #333;
}
#footer i.star {
  font-size: 18px;

  opacity: 1;
  color: #f2da3e;
}
.disclaimer {
  margin-top: 20px;
  margin-bottom:
}

/* ================================================ */
/* == RESPONSIVE  ================================= */
/* ================================================ */
@media (max-width: 991px){

}

@media (max-width: 767px){
  .navbar-logo img {
    width: 140px;
    height: 20px;
    margin: 25px 0px;
  }

  #footer {
    padding-top: 0;
  }

  #footer h4 {
    font-size: 18px;

    margin-top: 20px;
    margin-bottom: 12px;
  }
  #footer .customer-service-wrapper {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;

    border: none;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    background-color: #fff;
  }
  #footer ul a {
    line-height: 40px;
  }

  .social-links img {
    width: 100%;
    max-width: 40px;
  }

  .xs-center {
    text-align: center;
  }

}
