h2,
h3,
h4,
h5,
h6,
body,
p,
a,
li,
input,
label,
small,
button,
select,
table th,
table td,
.nav-collapse .nav>li>a,
.nav-collapse .dropdown-menu a {
  text-shadow: none;
}

.modal {
  pointer-events: none;
}

.modal-content {
  pointer-events: auto;
}

label {
  font-weight: 200;
}

p small {
  font-size: 14px;
  line-height: 16px;
}

input,
button,
select,
.main-btn,
.alt-btn {
  font-size: 18px!important;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
}

input,
button,
select,
.main-btn,
.alt-btn {
  font-size: 18px;
}

.modal.fade.in {
  top: 50px;
}

.modal-backdrop {
  opacity: 0.7 !important;
  background: #000 !important;
}

a,
button,
input,
.dropdown-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: #3b49e5;
  text-decoration: none;
}

.text-info {
  font-weight: 300;
  color: #353167;
}

.search-toggled {
  display: none;
}

.alert-info {
  background-color: #F2DA3E;
  border: none;
  color: #333;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  /*font-weight: 200;*/
  line-height: 21px;
  min-width: 280px;
  background-color: #efefef;
  -webkit-font-smoothing: subpixel-antialiased;
}

span.bold {
  font-size: 19px;
  font-weight: 700;
}

.section-min {
  padding: 16px 15px 0px 15px;
}

#refine-modal .refine-input-wrapper .col-sm-3,
#refine-modal .refine-input-wrapper .col-sm-2,
#refine-modal .refine-input-wrapper .col-sm-1 {
  padding: 0 5px;
}

.main-btn,
.main-btn:hover,
.main-btn:focus,
.main-btn:active {
  color: #fff!important;
}

.container-fluid {
  max-width: 960px;
}

.custom-select {
  width: 100%;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 6px;
  vertical-align: middle;
  background: url(../img/drop-arrow.png) no-repeat right top;
  background-color: #fff;
  -moz-appearance: none!important;
  -webkit-appearance: none;
}

label.error {
  line-height: 18px;
  width: 100%;
  margin: -5px 0 10px 0;
  margin: 2px 0 10px 0 \9;
  padding: 6px 0;
  text-align: center;
  color: #c9302b;
  border: 1px solid #e9322d;
  border-radius: 4px;
  background-color: #f2dede;
}

section,
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}


/* -- NAVBAR -- */

#topWrapper {
  background: #353167;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #353167 0%, #4a3b8f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #353167 0%, #4a3b8f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #353167 0%, #4a3b8f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353167', endColorstr='#4a3b8f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

nav {
  font-size: 16px;
  margin: 0!important;
  color: #fff;
  border: none;
  border-radius: 0!important;
  background-color: #024485;
}

.navbar-toggle {
  margin-top: -4px;
  padding: 6px 7px;
}

.navbar-default {
  border: none !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle,
.navbar-inverse .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:focus {
  border-color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:hover {
  border-color: #73b649;
  background-color: #73b649;
}

@media only screen and (max-width: 767px) {
  .navbar-default {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0px 2px 2px 0px rgba(10, 10, 10, 0.5);
    box-shadow: 0px 2px 2px 0px rgba(10, 10, 10, 0.5);
  }
}

.nav-btn {
  margin: 5px 5px 0;
}

@media (max-width: 768px) {
  .nav-btn {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .nav-btn:last-child {
    margin-right: 1px;
  }
  .navbar-nav>li {
    margin-right: 5px;
  }
}

.navbar-nav {
  margin: 10px 0 0;
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  margin-bottom: 15px;
  border-top: none;
  box-shadow: none;
}

.navbar-logo img {
  display: block;
  margin-top: 15px;
  width: 160px;
  height: 30px;
}

.navbar-default .navbar-toggle {
  min-width: 44px;
  min-height: 40px;
  margin: 15px 0;
  border-color: transparent;
}

#nav-icon-toggle .icon {
  font-size: 24px;
}

#nav-icon-toggle.active .icon::before {
  content: '\f00d';
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-color: #fff;
  background: transparent;
}

html.touchevents .navbar-default .navbar-toggle:hover,
html.touchevents .navbar-default .navbar-toggle:focus {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

#header .btn-login,
#header .btn-search-bar {
  font-size: 16px !important;
  line-height: 20px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 2px;
}

#header .btn-login,
#header .btn-search-bar {
  color: #21201f;
  border: 1px solid #fff;
  background-color: #fff;
}

#header .btn-login:hover,
#header .btn-login:focus,
#header .btn-search-bar:hover,
#header .btn-search-bar:focus {
  color: #fff;
  border-color: #81B44C;
  background: #81B44C;
}

.results-filters .form-group {
  margin-top: 2px;
}

@media only screen and (max-width: 767px) {
  #header .btn-login,
  #header .btn-search-bar {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navbar-logo img {
    width: 140px;
    height: 20px;
    margin-top: 25px;
  }
  .results-filters .form-group {
    margin-top: 15px;
  }
}

.header-search {
  width: 100%;
  margin: 0!important;
  padding: 0;
}

.header-search-bar {
  margin-top: 20px;
  margin-bottom: 40px;
}

.header-search .search-filter {
  display: none;
  margin-top: 8px;
}

form.bv-search input {
  line-height: 36px \9;
  width: 100%;
  height: 40px;
  padding-top: 0 \9;
  color: #222;
  *padding-top: 0;
}

#no-results-form fieldset div input {
  margin-bottom: 10px;
}

.col-search-bar {
  padding-right: 0;
}

.main-btn {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 10px;
  color: #fff;
  border: 1px solid #81B44C;
  border-radius: 4px;
  background-color: #81B44C;
  -webkit-box-shadow: 0 -4px 0 #638A3A inset;
  -moz-box-shadow: 0 -4px 0 #638A3A inset;
  box-shadow: 0 -4px 0 #638A3A inset;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #638A3A;
  -webkit-box-shadow: 0 -2px 0 #506e32 inset;
  -moz-box-shadow: 0 -2px 0 #506e32 inset;
  box-shadow: 0 -2px 0 #506e32 inset;
}

.main-btn:active {
  background-color: #81B44C;
  -webkit-box-shadow: 0 2px 0 #5f953c inset;
  -moz-box-shadow: 0 2px 0 #5f953c inset;
  box-shadow: 0 2px 0 #5f953c inset;
}

.section-header {
  margin-right: 0;
  margin-left: 0;
}

.section-header p {
  font-size: 19px;
  line-height: 28px;
  color: #555;
}

#top-banner .section-header p {
  margin-top: 6px;
}

h3 {
  font-size: 25px;
  line-height: 32px;
  margin: 10px 0;
}


/* search results filters */

.results-filters {
  background-color: #fff;
  padding: 8px 0;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  height: 55px;
  border-radius: 2px;
}

.results-filters p {
  margin: 0px;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.filter-header {
  background: #FFFFFF;
}

.filter-header.open {
  box-shadow: 0 1px 0 0 rgba(74, 73, 74, 0.12);
  -webkit-box-shadow: 0 1px 0 0 rgba(74, 73, 74, 0.12);
  -moz-box-shadow: 0 1px 0 0 rgba(74, 73, 74, 0.12);
  border-radius: 1px;
  padding-bottom: 5px;
}

.results-filters .input-group-addon {
  font-size: 18px;
  border: 0;
  background: none;
}

.toggle-filter {
  float: right;
}

.results-filters .filter-header img {
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.results-filters .filter-header img.open {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.results-filters .btn-info {
  background-color: #fff;
  border: none;
  outline: none !important;
}

.result-filters .btn-info:active:focus {
  outline: none;
}

.results-filters .btn-info:active {
  background-color: #eee;
  border: none;
  box-shadow: none;
}

.top-banner .col-xs-6:first-child {
  padding-right: 5px;
}

.filter-buttons .col-xs-6:last-child {
  padding-left: 5px;
}

.filter-buttons .btn {
  font-size: 14px;
  color: #0F2D8F;
  font-weight: bold;
  display: block;
  float: right;
  margin: 0;
  border: none;
  outline: 0;
  margin-top: 4px;
}

.filter-buttons .btn:active,
.filter-buttons .btn:focus {
  outline: 0;
}

.filter-buttons .btn.reset-filters .icon {
  color: #0F2D8F;
}

@media (max-width: 767px) {
  .filter-buttons .btn {
    float: left;
  }
  .results-filters {
    margin-left: -15px;
    margin-right: -15px;
    height: auto;
    padding: 8px 0;
    background: #eee;
  }
  .results-filters p {
    padding: 8px 0;
  }
  .results-filters .btn-info {
    background: #eee;
  }
  .filter-header .open {
    padding-bottom: 10px;
  }
  #top-banner .section-header p {
    margin-top: 0px;
  }
}

@media (min-width: 480px) {
  .filter-buttons .col-xs-6:first-child {
    padding-right: 15px;
  }
  .filter-buttons .col-xs-6:last-child {
    padding-left: 28px;
  }
  .filter-buttons .col-xs-6:first-child .btn {
    float: right;
  }
  .filter-buttons .btn {
    font-size: 14px !important;
    display: inline-block;
    width: auto;
  }
}

@media (min-width: 768px) {
  .search-toggled {
    display: none;
  }
  .results-filters {
    margin-top: 20px;
  }
  .filter-buttons .col-xs-6:last-child {
    padding-left: 15px;
  }
  .filter-buttons .btn {
    position: relative;
    vertical-align: center;
    float: right;
  }
  .filter-buttons .btn.reset-filters {
    top: 5px
  }
}

header .glyphicon {
  font-size: 20px;
  top: 5px;
}

header .tooltip-inner {
  min-width: 200px;
}


/* -- INFORMATION -- */

li {
  line-height: 24px;
  margin-top: 4px;
}

[class^='icon-'],
[class*=' icon-'] {
  line-height: 14px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.icon-yes-check {
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-sprite.png);
  background-repeat: no-repeat;
  background-position: -63px -240px;
}


/* -- FOOTER -- */

#footer {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #747b91;
}

@media (max-width: 767px) {
  .search-toggled {
    display: block !important;
  }
  #footer {
    padding-top: 0;
  }
  .results-filters label {
    display: block;
    padding-left: 0;
  }
  .refine-tips-list {
    text-align: left;
  }
}

.carla-wrapper {
  position: relative;
}

.carla-box {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  min-height: 60px;
}

.carla {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 60px;
}

.carla-hand {
  position: absolute;
  right: 22px;
  bottom: -18px;
  width: 58px;
  height: 18px;
}

.footer-links {
  margin-bottom: 75px;
}

#footer h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #484848;
}

#footer .customer-service-wrapper {
  margin-bottom: 30px;
  padding: 20px 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #efefef;
}

#footer .footer-link-group {
  padding-top: 20px;
}

@media (max-width: 1200px) {}

@media (max-width: 979px) {}

@media (max-width: 767px) {
  #footer h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  #footer .customer-service-wrapper {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    background-color: #fff;
  }
}

#footer p {
  font-size: 14px;
  font-weight: 400;
  color: #747b91;
}

#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer li {
  margin-bottom: 4px;
  color: #747b91;
}

#footer a {
  color: #0f2d8f;
}

#footer a:hover,
#footer a:focus {
  text-decoration: none;
  color: #3b49e5;
}

@media (max-width: 767px) {
  #footer ul a {
    line-height: 40px;
  }
}

.social-links {
  margin-top: 15px;
  margin-bottom: 40px;
}

.social-links img {
  max-width: 22px;
  margin-right: 5px;
}

.social-links .col-xs-2 {
  padding: 0;
}

.social-links .col-xs-2:first-child {
  padding-left: 15px;
}

.social-links .col-xs-2:last-child {
  padding-right: 15px;
}

@media (min-width: 768px) {
  social-links {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .social-links img {
    width: 100%;
    max-width: 40px;
  }
  .filter-buttons .btn {
    font-size: 16px !important;
    background: #eee;
  }
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 1px solid #cecfd5;
}

#footer .email-address a,
#footer .phone-number a {
  color: #0f2d8f;
}

#footer .phone-number {
  color: #333;
}

#footer i.star {
  font-size: 18px;
  opacity: 1;
  color: #f2da3e;
}

.disclaimer {
  margin-top: 20px;
  margin-bottom: 40px;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 1px solid #cecfd5;
}

p.alert {
  margin-top: 30px;
  padding: 8px 0;
  text-align: center;
}


/* -- SEARCH RESULTS -- */

.hide {
  display: none;
}

#no-results {
  display: none;
  border-bottom: 1px solid #d8d8d8;
}

table {
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0 20px;
}

.table-hover tbody tr:hover>td,
.table-hover tbody tr:hover>th {
  background-color: #ebeaf4;
}

.table-bordered {
  border: none;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: none;
  border-right-width: 0;
  border-left-width: 0;
}

#results-table th {
  border-radius: 0;
  border-spacing: 10px;
}

th {
  color: #fff;
  background-color: #353167;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}

#results-table .desc .sorting-arrows:before {
  border-bottom-color: #81B44C;
}

#results-table .asc .sorting-arrows:after {
  border-top-color: #81B44C;
}

.sort .sorting-arrows {
  position: relative;
  cursor: pointer;
}

.sort .sorting-arrows:before,
.sort .sorting-arrows:after {
  position: absolute;
  top: 60%;
  right: -14px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 6px solid transparent;
}

.sort .sorting-arrows:before {
  margin-top: -13px;
  border-bottom-color: #c1c1c1;
}

.sort.asc .sorting-arrows:before {
  border-bottom-color: #fff;
}

.sort .sorting-arrows:after {
  margin-top: 1px;
  border-top-color: #c1c1c1;
}

.sort.desc .sorting-arrows:after {
  border-top-color: #fff;
}

table .th-center {
  text-align: center;
}

.table th,
.table td {
  border-right: none !important;
  border-left: none !important;
}

td {
  border: none;
}

td:first-child {
  border-left: 1px solid #ccc;
}

td.align-center {
  vertical-align: middle !important;
}

table td ul {
  padding-left: 0;
}

.table th .th-center {
  text-align: center;
}

#results-table li,
.index-col {
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  color: #333 !important;
}

.report-col a {
  font-size: 18px;
  font-weight: bold !important;
  line-height: 16px;
  margin-top: 6px;
  margin-bottom: 12px;
  white-space: nowrap;
}

#results-wrapper {
  padding-bottom: 40px;
  padding-top: 0;
  background-color: #efefef;
}

#results tr {
  cursor: pointer;
  cursor: hand;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  background-color: #fff;
}

table#results-table tr:hover td button {
  color: #fff;
  background-color: #638A3A;
  -webkit-box-shadow: 0 -2px 0 #506e32 inset;
  -moz-box-shadow: 0 -2px 0 #506e32 inset;
  box-shadow: 0 -2px 0 #506e32 inset;
}

.photo-locked {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.user-img {
  padding-top: 10px;
  height: 40px;
  background-image: url('../img/Self-Gray.svg');
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 0px center;
}

.photo-locked .user-image {
  font-size: 40px;
  color: #dcdcdc;
}

.photo-locked .fa-lock {
  font-size: 14px;
  position: absolute;
  right: 0px;
  bottom: -5px;
  padding: 2px 4px 2px 5px;
  text-align: center;
  color: #3f3f3f;
  border-radius: 50%;
  background: #f9f9f9;
}

.results-row:nth-child(even) .photo-locked .fa-lock {
  background: #fff;
}

.results-row:hover .photo-locked .fa-lock {
  color: #81B44C;
  background: #e9f1f5;
}

@media (min-width: 992px) {
  .photo-locked .fa-lock {
    right: 20px;
  }
  .user-img {
    height: 45px;
    background-size: 40px;
    background-position: 0px center;
  }
}

@media (min-width: 1200px) {
  .photo-locked .fa-lock {
    right: 40px;
  }
}

a.name-found {
  font-weight: bold !important;
  text-decoration: underline;
  color: #0f2d8f;
}

td.age-col {
  font-size: 20px;
  font-weight: bold !important;
}

tr.hover,
.search-trigger:hover,
.search-trigger:focus {
  cursor: pointer;
  cursor: hand;
}

ul.aka-list {
  font-size: 0.85em;
  margin: 0 0 0 5px;
  list-style-type: none;
  color: #888;
}

ul.aka-list li {
  font-size: 13px !important;
}

.aka-list-heading {
  font-size: 12px !important;
  font-style: italic;
  padding-top: 4px;
  color: #525253;
}

.places-list .resultPlace:first-child {
  font-weight: bold;
}


/* -- NO RESULTS -- */

.no-results-text {
  margin-top: 20px;
}

.no-results-icon {
  text-align: center;
}

.results-hints {
  margin-top: 20px;
}

.results-hints i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  #no-results .top-section {
    padding-bottom: 0;
  }
  #no-results .section-min {
    padding-top: 0;
  }
  .no-results-icon {
    display: none;
  }
  .no-results-text {
    font-size: 14px;
    margin-top: 10px;
  }
  .no-results-text .text-info {
    font-size: 16px;
    line-height: 1;
    margin: 0;
  }
  .no-results-text .results-hints {
    margin-top: 10px;
  }
  #no-results #no-results-form.section-min {
    padding: 10px 0;
  }
  #no-results-form .row {
    margin: 0;
  }
  #results-table li,
  .index-col {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    color: #333 !important;
  }
  #results tr {
    box-shadow: none;
  }
  .table-bordered {
    border: 1px solid #ddd;
  }
}

/* -- REFINE -- */

.refine-search {
  margin-top: 20px;
  margin-bottom: 20px;
}

#refine-modal .modal-header {
  background-color: #f2da3e;
}

#refine-modal .modal-header p {
  color: #333;
}

.refine-search-wrapper p {
  text-align: center;
}

.refine-modal-trigger {
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  color: #0f2d8f;
}

.refine-tips-list li {
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
}

#noResults,
.noResults,
.hasFilters {
  display: none;
}
.refine-tips-wrapper {
  margin-bottom: 20px;
}

.search-icon-placeholder {
  height: 112px;
  background-image: url('../img/refine-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.form-control {
  padding: 6px 8px;
}

.spinner {
  width: 24px;
  height: 24px;
}

.modal.fade.in {
  margin-top: 10px !important;
}

.modal-bottom {
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

#results-wrapper-searching {
  padding-top: 80px;
  padding-bottom: 120px;
}

p.loader {
  text-align: center;
}

.main-btn,
.aux-btn {
  padding: 8px 5px 10px;
  border-radius: 4px;
}

.main-btn,
.aux-btn {
  color: #fff;
  border: none;
  background-color: #81B44C;
  -webkit-box-shadow: 0 -4px 0 #638A3A inset;
  -moz-box-shadow: 0 -4px 0 #638A3A inset;
  box-shadow: 0 -4px 0 #638A3A inset;
}

.main-btn:hover,
.main-btn:focus,
.aux-btn:hover,
.aux-btn:focus {
  color: #fff;
  background-color: #638A3A;
  -webkit-box-shadow: 0 -2px 0 #506e32 inset;
  -moz-box-shadow: 0 -2px 0 #506e32 inset;
  box-shadow: 0 -2px 0 #506e32 inset;
}

.main-btn:active,
.aux-btn:active {
  background-color: #81B44C;
  -webkit-box-shadow: 0 2px 0 #638A3A inset;
  -moz-box-shadow: 0 2px 0 #638A3A inset;
  box-shadow: 0 2px 0 #638A3A inset;
}

.visited {
  color: #638a3a;
  border: 1px solid #638a3a;
  background-color: #fff;
  -webkit-box-shadow: 0 -4px 0 #506e32 inset;
  -moz-box-shadow: 0 -4px 0 #506e32 inset;
  box-shadow: 0 -4px 0 #506e32 inset;
}

.green {
  color: #81B44C;
}

.modal-header {
  border-radius: 4px 4px 0 0;
  background-color: #353167;
}

.modal-header .fa {
  font-size: 24px;
  color: #fff;
}

.modal-header .close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
}

.modal-header .close:hover,
.modal-header .close:focus {
  cursor: pointer;
  cursor: hand;
  color: #4594e3;
}

.modal-header .close img {
  width: 12px;
}

.modal-header p {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 2px;
  margin-right: 8%;
  margin-bottom: 3px;
  margin-left: auto;
  color: #fff;
}

.modal-dialog {
  font-size: 16px;
  line-height: 21px;
}

.modal-body-header {
  font-size: 26px;
}

.modal-body {
  overflow: visible;
  max-height: none;
  padding: 30px 30px 0;
}

.modal-body i {
  margin-right: 10px;
}

.modal-body h3 {
  font-size: 24px;
  font-weight: 700;
}

.modal form {
  margin: 0;
}

.modal-footer {
  font-size: 13px;
  color: #333;
  border-radius: 0 0 4px 4px;
  background-color: #f5f5f5;
}

.modal-footer p {
  margin-bottom: 0;
}

.close:hover,
.close:focus {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.4;
  color: #000;
  filter: alpha(opacity=40);
}

.modal-body-copy {
  height: 275px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f2f7fa;
}

/* ================================================ */
/* == RESPONSIVE GOODIES ========================== */
/* ================================================ */

@media (min-width: 768px) {
  a.name-found {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    width: 850px;
  }
  input#age {
    padding-right: 6px;
    padding-left: 6px;
  }
}

@media (max-width: 991px) {
  .modal-body-copy {
    height: auto;
  }
  .form-control {
    padding: 6px 3px;
  }
  .modal {
    top: 0 !important;
  }
  .modal-dialog {
    width: auto !important;
    margin: 10px !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .modal {
    padding: 0 !important;
    min-width: 100%;
    background-color: #fff;
  }
  .modal-dialog {
    position: fixed;
    height: 100%;
    margin: 0 !important;
    min-width: 100%;
  }
  .modal-content {
    position: relative;
    overflow-y: auto;
    height: 100%;
    min-width: 100%;
    padding: 0 0 45px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .modal-header {
    border-radius: 0 !important;
  }
  .modal-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 !important;
    background: #fff;
    border: none;
  }
  h1,
  h2,
  p,
  footer li {
    text-align: center;
  }
  .input-group {
    display: block;
  }
  #search_bar .col-sm-2 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-search-bar {
    padding-right: 15px;
    padding-left: 15px;
  }
  #th-hash,
  .td-hash,
  #th-relatives,
  .td-relatives,
  tr td:nth-child(5) {
    display: none;
  }
  #results-wrapper {
    padding: 0;
  }
  #results-wrapper .container {
    padding: 0;
  }
  p.alert {
    margin-right: 15px;
    margin-left: 15px;
    padding: 8px;
  }
  .header-search-bar input,
  .header-search-bar select {
    margin-bottom: 8px;
  }
  .refine-tips-wrapper {
    text-align: center;
  }
  /*.search-icon-placeholder {
    height: 40px;
    background-image: url('../img/search-icon-small.png');
    background-position: center center;
  }*/
  .no-results-icon img {
    width: 100px;
  }
  /* MODALS */
  .modal-header p {
    font-size: 18px;
    line-height: 21px;
  }
  .modal-body h3 {
    font-size: 21px;
    line-height: 28px;
    margin-top: -5px;
  }
  #refine-modal .modal-body {
    margin-bottom: 18px;
  }
  .xs-center {
    text-align: center;
  }
  #refine-modal-form input {
    margin-bottom: 6px !important;
  }
  #footer p {
    font-size: 16px;
  }
  #footer p.disclaimer {
    text-align: left;
  }
}

@media (min-width: 481px) {
  .place-single {
    display: none;
  }
}

/* Back to Top Button */
.cd-top {
  display: inline-block;
  height: 45px;
  width: 140px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  white-space: nowrap;
  background: #353167;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  text-align: center;
}

.cd-top span {
  color: white;
  font-size: 14px;
  margin-top: 10px;
  line-height: 45px;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

.resultRelative li:nth-child(n+5) {
  display: block;
}

.places-list li:nth-child(n+5) {
  display: block;
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .places-list li:nth-child(n+4) {
    display: none;
  }
  .relatives-list li:nth-child(n+4) {
    display: none;
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: white;
  }
  table {
    border-spacing: 4px 6px;
    border-collapse: separate;
    background: none;
  }
  .table-bordered>thead>tr>th,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>tbody>tr>td,
  .table-bordered>tfoot>tr>td {
    border-radius: 4px;
  }
  .table th,
  .table td {
    /*  border-right: solid 1px #ddd !important;
    border-left: solid 1px #ddd!important;*/
    border: solid 1px #ddd!important;
  }
  .name-mob-wrap {
    width: 100%;
    max-width: 245px;
  }
  a.name-found {
    text-decoration: none;
    font-size: 20px;
  }
  .name-col {
    padding: 20px !important;
  }
  .photo-locked {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .user-img {
    height: 40px;
    /*background-image: url(../img/user-img.png);*/
    background-repeat: no-repeat;
    background-size: 35px;
    margin-right: 15px;
  }
  .btnMobContain {
    margin-top: 20px !important;
    width: 100%;
  }
  .results-cities {
    display: block;
    vertical-align: top;
    margin-right: 30px;
    margin-top: 10px;
    min-width: 140px;
  }
  .results-cities span {
    font-size: 15px;
    letter-spacing: 1px;
    color: #638a3a;
  }
  .results-relatives {
    display: block;
    vertical-align: top;
    margin-top: 10px;
  }
  .results-relatives span {
    font-size: 15px;
    letter-spacing: 1px;
    color: #638a3a;
  }
  .places-list .resultPlace:first-child {
    font-weight: normal;
  }
  .results-row {
    background: white;
  }
  .subHeadOthers {
    display: none;
  }
  .subHeadMobile {
    display: block;
  }
  #results-wrapper .table-header {
    display: none;
  }
  #th-cities,
  .td-cities,
  tr td:nth-child(4) {
    display: none;
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .section-header p {
    font-size: 18px;
    line-height: 24px;
  }
  span.bold {
    font-size: 15px;
    font-weight: 700;
  }
  .filter-header {
    background: #eee;
  }
  .top-section {
    margin-top: 0;
    /*background: white;*/
  }
  iframe {
    width: 150px;
    height: 136px;
  }
  #results-wrapper-searching {
    padding-top: 16px;
    padding-bottom: 12px;
  }
  .navbar-fixed-top {
    position: static;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    margin-right: -25px;
    margin-left: -25px;
  }
  .place-single {
    font-size: 20px;
    display: inline-block;
  }
  .age-state-wrap span {
    font-size: 20px;
  }
  .hidden-xxs {
    display: none;
  }
  .visible-xxs {
    display: inline-block !important;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-12 ul {
    margin: 0 auto;
  }
  .hidden-xxs {
    display: none !important;
  }
  .visible-xxs {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    min-width: 850px;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  #top-banner.section-min {
    padding-left: 30px;
    padding-right: 0px;
    margin-left: 0px;
  }
}

/* Use Cases & Info on Search Results */

#useCaseInfo {
  background-color: #FFFFFF;
  padding: 30px 15px;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.useCaseInfo {
  border-right: 1px #e1e1e1 solid;
  font-size: 14px;
}

.useCaseInfo .title {
  margin-bottom: 5px;
  font-size: 15px;
}

.useCaseInfo.info1 {
  background: url('../img/Peace.png') no-repeat 20px 0px;
  padding-left: 85px;
}

.useCaseInfo.info2 {
  background: url('../img/up-to-date.png') no-repeat 20px 0px;
  padding-left: 85px;
}

.useCaseInfo.info3 {
  background: url('../img/get-started.png') no-repeat 20px 0px;
  padding-left: 85px;
  border-right: none;
}

.build {
  color: #81b44c;
}

@media (max-width: 992px) {
  #useCaseInfo {
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.08);
  }
  .useCaseInfo {
    border-right: none;
  }
  #useCaseInfo {
    padding: 19px 0px;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  #useCaseInfo {
    margin-left: -7px;
    margin-right: -7px;
  }
}
