@import 'bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


/* ********************************************************************** */
/* ************************** General HTML TAGs ************************* */
/* ********************************************************************** */
html, body {
	margin:0;
	padding:0;
}
body {
    font-size: 24px;
	font-family: 'Lato', sans-serif;
	color: #333333;
	line-height: 1.5;
}
ul,
li {
	margin:0;
	padding:0;
	list-style:none;
}

a {
	transition: all ease .4s;
	cursor:pointer;
	color:#333333;
}
a:hover {
	text-decoration: none;
	color:#3b2469;
}
P {
	line-height: 1.5;
	margin:0 0 20px;
}
h1 {
	font-weight: 700;
	font-size: 66px;
	margin: 0;
}
h2 {
	font-weight:400;
	font-size: 50px;
	margin: 0 0 30px;
}
h3 {
	font-size: 30px;
	font-weight: 400;
	margin:0 0 20px;
}


.btn {
	border:none;
	color: #3b2469;
	font-size: 20px;
	border-radius: 6px;
	line-height: 30px;
	padding:15px 40px;
	transition: all ease .4s;
}
.btn:active,
.btn.active,
.btn:focus{
	border: none !important;
	outline: none !important;
}

.btn-success {
	background: #5cb85c;
	color:#FFF;
	box-shadow: 0 -5px #51a251 inset;
}
.btn-success:hover {
	background:#51a251;
}
.btn-success:active,
.btn-success:focus,
.btn-success.active {
	background:#5cb85c;
}

.btn-warning {
	background: #f5c419;
	color:#333333;
	box-shadow: 0 -5px #e9b708 inset;
}

.form-control {
	border:none;
	font-size: 24px;
	border-radius: 6px;
	line-height: 30px;
	padding:15px 40px;
	box-shadow: 0 -5px #e1e1e1 inset;
	height: 60px;
}
.form-control:focus {
	box-shadow: 0 -5px #c8c8c8 inset;
}

/* ********************************************************************** */
/* ********************************* Header ***************************** */
/* ********************************************************************** */

#header {
	padding: 25px 0 140px;
}

#header .badge {
	display: inline-block;
	vertical-align: middle;
	margin:4px 0 0 3px;
	border-radius:5px;
	padding: 2px 10px;
	color:#FFF;
	font-size:11px;
	line-height: 14px;
	text-transform: uppercase;
	background:#ef2742;
	letter-spacing: 1px;
	font-weight: 400;
}

.navbar-logo {
	float: left;
}
.navbar-logo img{
  display: block;
  margin-bottom: 15px;

  width: 170px;
  height: 30px;
	margin-top: 1px;
}

/* ********************************************************************** */
/* *************************** Main Content ***************************** */
/* ********************************************************************** */
#main-content {
	position:relative;
	z-index:2;
	margin-top:-40px;
}

#header.full-header {
	background-image: linear-gradient(to right, #4a3b8f, #353167, #4a3b8f);
	padding: 25px 35px;
}

#main-content.lightblue-bg {
	background:#f5fafc;
	padding: 40px 0;
	margin: 0;
}
.report h1 {
	font-family: Lato;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.92;
	letter-spacing: -0.5px;
	text-align: center;
	color: #333333;
	margin:0 0 39px;
}
.report h1 span {
	color:#f5c419;
}

.report-summary {
	background: #FFF;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	padding: 30px 20px;
	margin-bottom: 20px;
}
.report-summary figure {
	display: block;
	width:120px;
	height: 120px;
	margin:0 auto 15px;
	border-radius: 60px;
	overflow: hidden;
	background:#e1e1e1
}
.report-summary figure img {
	width: 100%;
	height: 100%;
	display: block;
}
.report-summary h2 {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.65;
	letter-spacing: -0.4px;
	text-align: center;
	color: #8b519a;
	margin:0px;
}
.report-summary h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.4px;
	text-align: center;
	color: #f5c419;;
	margin:0 0 30px;
}
.report-summary ul {
	margin: 0 0 0 20px;
}
.report-summary ul li {
	margin:0;
	padding:0;
	list-style: none;
	overflow: hidden
}
.report-summary ul li .icon {
	display: inline-block;
	vertical-align: bottom;
	width:22px;
	height: 22px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 5px;
}
.report-summary ul li .icon.age-icon {
	background-image:url('../img/age-icon.svg');
}
.report-summary ul li .icon.location-icon {
	background-image:url('../img/location-icon.svg');
}
.report-summary ul li .icon.carrier-icon {
	background-image:url('../img/carrier-icon.svg');
}
.report-summary ul li .icon.linetype-icon {
	background-image:url('../img/line-type-icon.svg');
}
.report-summary ul li strong {
	display: block;
	width: 40%;
	float:left;
	border-right: solid 1px #e1e1e1;
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
	padding: 10px 0;
	color: #333333;
}
.report-summary ul li span {
	width: 60%;
	float:left;
	display: block;
	font-size: 15px;
	line-height: 22px;
	text-align: left;
	color: #333333;
	padding: 10px 0 10px 16px;
}
.report-summary ul li span em {
	font-style: normal;
	font-size: 40px;
	line-height: 1.15;
	color: #e7114c;
	display: inline-block;
	line-height:10px;
	vertical-align: bottom
}
.report-summary ul li span img {
	vertical-align:middle;
	margin-left: 10px;
	display:inline-block;
}
.report-summary footer {
	margin:20px -20px 24px;
	text-align: center;
	color:#007ee3;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
	border-top:solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
}
.report-summary footer .icon.icon-key {
	display: inline-block;
	vertical-align: middle;
	width:26px;
	height: 12px;
	margin-right: 10px;
	background:url('../img/key-icon.svg')
}
.report-summary .btn {
	display: block;
	font-size: 18px;
}


.report-features {
	background: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	padding:25px;
}
.report-features h4 {
	font-family: Lato;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
	margin:0 0 25px;
}
.report-features ul {
	margin: 0 ;
	padding: 0;
}
.report-features ul li {
	margin: 0 0 18px;
	padding: 0;
	list-style: none;
	line-height: 22px;
	position: relative;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: -0.3px;
	text-align: left;
	color: #333333;
}
.report-features ul li .icon {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 13px;
}

.report-features ul li .icon.icon-home {
	background-image: url('../img/home-icon.svg');
}
.report-features ul li .icon.icon-relatives {
	background-image: url('../img/relatives-icon.svg');
}
.report-features ul li .icon.icon-social {
	background-image: url('../img/social-icon.svg');
}
.report-features ul li .icon.icon-email {
	background-image: url('../img/mail-icon.svg');
}
.report-features ul li .icon.icon-phone {
	background-image: url('../img/phone-icon.svg')
}
.report-features ul li .icon.icon-criminal {
	background-image: url('../img/criminal-icon.svg')
}
.report-features ul li .icon.icon-career {
	background-image: url('../img/career-icon.svg')
}
.report-features ul li .icon.icon-photos {
	background-image: url('../img/photo-icon.svg')
}


.report-features ul li .badge {
	width: 31px;
	height: 22px;
	border-radius: 11px;
	background-color: #f5fafc;
	border: solid 1px #ebebeb;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.3px;
	text-align: left;
	color: #333333;
	text-align: center;
	padding: 0;
}

.report-features ul li .lock-badge {
	background-color: white;
	border: none;
}

.lock-badge img {
	height: 18px;
}

.report-content {
	background: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	padding: 60px 40px;
	position: relative;
	margin-left: -15px;
}
.report-content:after {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 10px;
	content: '';
}
.report-content:before {
	position: absolute;
	z-index: 2;
	width:20px;
	height: 57px;
	display: block;
	content:'';
	top:-14px;
	right:50px;
	background:url('../img/paper-clip.png') 0 0 no-repeat;
}
.report-content section {
	border-bottom: solid 1px #ebebeb;
	margin:0 0 30px 80px;
	padding: 0 0 30px;
	position: relative;
}
.report-content h2 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
	margin: 0 0 5px 0;
}
.report-content p {
	font-size: 17px;
	line-height: 1.65;
	letter-spacing: -0.3px;
	text-align: left;
	color: #333333;
	margin:0 0 12px;
}
.report-content .unavailable {
	font-size: 30px;
	line-height: 10px;
	letter-spacing: -0.6px;
	color: #dc0015;
	display:inline-block;;
	vertical-align: bottom;;
}
.report-content  h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.75;
	letter-spacing: -0.3px;
	text-align: left;
	color: #333333;
}
.report-content .icon {
	position:absolute;
	top: 0;
	left:-80px;
	width: 48px;
	border-radius: 24px;
	height: 48px;
	background-color: #ffffff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: 0px 4px 10px 0 rgba(74, 59, 143, .1);
}
.report-content .icon.icon-home {
	background-image: url('../img/home-icon.svg');
}
.report-content .icon.icon-relatives {
	background-image: url('../img/relatives-icon.svg');
}
.report-content .icon.icon-social {
	background-image: url('../img/social-icon.svg');
}
.report-content .icon.icon-email {
	background-image: url('../img/mail-icon.svg');
}
.report-content .icon.icon-phone {
	background-image: url('../img/phone-icon.svg')
}
.report-content .icon.icon-criminal {
	background-image: url('../img/criminal-icon.svg')
}
.report-content .icon.icon-career {
	background-image: url('../img/career-icon.svg')
}
.report-content .icon.icon-photos {
	background-image: url('../img/photo-icon.svg')
}
.report-content section:before {
	content:'';
	display: block;
	width:1px;
	top:40px;
	bottom: -30px;
	left: -56px;
	background:#353167;
	opacity: .1;
	position: absolute;
}
.report-content section:last-child {
	border: none;
	margin-bottom:0;
	padding-bottom:0;
}
.report-content section:last-child:before {
	display: none
}
.report-content p .relative {
	display: inline-block;
	vertical-align:middle;
	margin-right:18px;

	line-height:25px;
}
.report-content p .relative:before {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	width:25px;
	height: 25px;
	border-radius:13px;
	background:#e1e1e1 url('../img/relative-icon.svg') 50% 8px no-repeat;
	content:''
}
.report-content .unlock {
	display: inline-block;
	color:#007ee3;
	font-weight: bold;
	font-size: 15px;
	padding-left:34px;
	background:url('../img/key-icon.svg') 0 50% no-repeat;
	line-height:25px;
	text-decoration: underline;
}
.report-content .social-media {
	margin:0 0 20px;
}
.report-content .social-media li {
	margin:0 0 20px;
	list-style-type: square;none;
	padding-left:54px;
	background-repeat: no-repeat;
	list-style: none;
}
.report-content .social-media li.twitter {
	background-image:url('../img/twitter.svg');
}
.report-content .social-media li.facebook {
	background-image:url('../img/facebook.svg');
}
.report-content .social-media li.google {
	background-image:url('../img/google+.svg');
}
.report-content .social-media li.linkedin {
	background-image:url('../img/linkedin.svg');
}
.report-content .social-media li.skype {
	background-image:url('../img/skype.svg');
}
.report-content .social-media li.youtube {
	background-image:url('../img/youtube.svg');
}
.report-content .social-media li.pinterest {
	background-image:url('../img/pinterest.svg');
}
.report-content .social-media li.instagram {
	background-image:url('../img/instagram.svg');
}
.report-content .social-media strong {
	display: block;
	font-family: Lato;
	font-size: 17px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: -0.3px;
	text-align: left;
	color: #333333;
}
.report-content .social-media a {
	display: block;
	font-family: Lato;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	color: #007ee3;
}

.unlock-bar {
	position: fixed;
	bottom:0;
	width: 100%;
	left:0;
	background:#8b519a;
	color:#FFF;
	text-align: center;
	padding:34px 10px;
	z-index: 10;
}
.unlock-bar .btn {
	margin-left:45px;
	font-size: 23px;
}
.report-warning-dialog {
	background:rgba(255,255,255,.8);
}
.report-warning-dialog .modal-dialog {
	margin:150px auto;
	width: 432px;
	border-radius: 5px;
}
.report-warning-dialog .modal-header {
	height: 93px;
	background-color: #ef2742;
	position: relative;
	z-index : 999;
	border: none;
}
.report-warning-dialog .modal-header .warning-icon {
	width: 116px;
	height: 116px;
	border-radius: 58px;
	border: solid 8px #FFF;
	background:#f5c419 url('../img/warning-icon.png') 50% 50% no-repeat;
	position: absolute;
	bottom:-58px;
	left:50%;
	margin-left: -58px;
}
.report-warning-dialog .modal-content {
	background-color: #ffffff;
	box-shadow: 0px 5px 40px 0 rgba(0, 0, 0, 0.2);
	border: solid 1px rgba(194, 194, 194, 0.72);
	padding: 76px 21px 21px;
	font-size: 14px;
	line-height: 1.57;
	letter-spacing: -0.3px;
	text-align: center;
	color: #333333;
}
.report-warning-dialog h3 {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.9px;
	text-align: left;
	color: #ef2742;
	text-transform: uppercase;
	text-align: center;
	margin:0 0 10px;
}
.report-warning-dialog header {
	font-size: 16px;
	line-height: 1.4;
}
.report-warning-dialog .terms {
	border-radius: 5px;
	background-color: #fafafa;
	border: solid 1px rgba(170, 196, 206, 0.3);
	padding: 18px 25px 0;
	margin-bottom: 20px;
}
.report-warning-dialog .terms strong {
	font-size: 16px;
}
.report-warning-dialog .terms span {
	color:#5cb85c;
}

/* ********************************************************************** */
/* ***************************** Footer ********************************* */
/* ********************************************************************** */
#footer {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #747b91;
	font-size: 15px;
}
#footer p {
	font-style: normal;
}
@media (max-width: 767px) {
	#footer {
		padding-top: 0;
	}
}
.carla-wrapper {
	position: relative;
}
.carla-box {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow-y: hidden;
	min-height: 60px;
}
.carla {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 55px;
	height: 60px;
}
.carla-hand {
	position: absolute;
	right: 22px;
	bottom: -18px;
	width: 58px;
	height: 18px;
}

#footer h4 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #484848;
}
#footer .customer-service-wrapper {
	margin-bottom: 30px;
	padding: 20px 20px 10px;
	border: 1px solid #cecfd5;
	border-radius: 4px;
	background-color: #edf0f4;
}
#footer .footer-link-group {
	padding-top: 20px;
}
@media (max-width: 1200px) {}@media (max-width: 979px) {}@media (max-width: 767px) {
	#footer h4 {
		font-size:18px;
		margin-top:20px;
		margin-bottom:12px;
	}
	#footer .customer-service-wrapper {
		margin-top: 0;
		margin-bottom: 30px;
		padding-top: 30px;
		padding-bottom: 20px;
		border: none;
		border-bottom: 1px solid #cecfd5;
		border-radius: 0;
		background-color: #edf0f4;
	}
}
#footer p {
	font-size: 14px;
	font-weight: 400;
	color: #747b91;
}
#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer li {
	margin-bottom: 4px;
	color: #747b91;
}
#footer a {
	color: #747b91;
}
#footer a:hover,
#footer a:focus {
	text-decoration: none;
	color: #006cd2;
}

@media (max-width: 767px) {
	#footer ul a {
		line-height: 40px;
	}
}
.social-links {
	margin-top: 15px;
	margin-bottom: 40px;
}
.social-links img {
	max-width: 22px;
	margin-right: 5px;
}
@media (min-width: 768px) {
	.social-links {
		text-align: center;
	}
}
@media (max-width: 767px) {
	.navbar-logo img {
		width: 140px;
		height: 20px;
		margin: 2px 0px 25px;
	}

	.social-links img {
		width: 100%;
		max-width: 40px;
	}
	#footer,
	#footer p,
	#app .box-contents p.small {
		font-size: 15px;
	}
	.xs-center {
		text-align: center;
	}
}
.border-bottom {
	margin-top: 20px;
	border-bottom: 1px solid #cecfd5;
}
#footer .email-address a,
#footer .phone-number a {
	color: #006cd2;
}
#footer .phone-number {
	color: #333;
}
#footer i.star {
	font-size: 18px;
	opacity: 1;
	color: #ffc050;
}
.disclaimer {
	margin-top: 20px;
	margin-bottom: 40px;
}

/* ********************************************************************** */
/* *****************************  Responsive  *************************** */
/* ********************************************************************** */

@media screen and (max-width: 1200px) {
	h1 {
		font-size: 55px;
	}
}

@media screen and (max-width: 992px) {
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size:24px;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 17px;
		line-height: 1.47
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size:18px;
	}

	#header {
		padding: 18px 0 45px;
	}
	#header {
		position: relative;
	}
	#header .badge {
		font-size:10px;
	}

	.unlock-bar {
		display: none;
	}
	.report-warning-dialog .modal-dialog {
		width: 90%;
		margin: 50px auto;
	}
	.report-warning-dialog .modal-header {
		height: 53px;
	}
	.report-warning-dialog .modal-header .warning-icon {
		width: 70px;
		height: 70px;
		bottom: -35px;
		margin-left: -35px;
		background-size: 28px auto;
	}
	.report-warning-dialog .modal-content {
		padding: 45px 15px 20px;
	}
	.report-warning-dialog .terms {
		padding: 12px 10px 0;
		font-size: 14px;
	}
	.report-warning-dialog header {
		font-size: 15px;
	}
	#header.full-header {
		padding:20px;
	}
	#main-content.lightblue-bg {
		padding: 15px 0;
	}
	.report h1 {
		font-size: 18px;
		line-height: 25px;
		margin: 0 0 15px;
	}
	.report-summary {
		padding: 20px 15px 0;
		margin-bottom: 15px;
	}
	.report-summary figure {
		width: 80px;
		height: 80px;
		margin: 0 auto 12px;
	}
	.report-content {
		margin: 0;
		padding: 20px;
	}
	.report-content:before,
	.report-content:after {
		display: none;
	}
	.report-content section {
		margin-left: 70px;
		padding-bottom: 12px;
		margin-bottom: 12px;
	}
	.report-content section:before {
		display: none;
	}
	.report-content .icon {
		left: -70px;
	}
	.report-content p {
		font-size: 15px;
	}
	.report-content .unavailable {
		font-size:20px;
	}
	.report-content .social-media a {
		font-size: 13px;
		overflow: hidden;
		white-space:nowrap;
	}
	.report-summary h3 {
		margin-bottom: 0px;
	}

}
