body {
	font-family:'Lato', Arial, Helvetica, sans-serif;
}
a {
	color:#0072bc;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.row.no-gutter > [class*='col-']:not(:first-child), .row.no-gutter > [class*='col-']:not(:last-child) {
	padding-right: 0;
	padding-left: 0;
}
#header {
	background:#5158A0;
	padding:20px 0;
	border-radius: 5px 5px 0 0;
}
#header h1 {
	color:#fff;
	text-align:center;
	margin:0;
	padding:0 20px;
	font-size:26px;
	font-weight:bold;
}
.col-left {
	border:1px #e4e4e4 solid;
	margin-right:1px;
	min-height:625px;
}
.col-right {
	border:1px #e4e4e4 solid;
	min-height:625px;
}
.person-info {
	padding:15px 10px;
	background:#f7f7f7;
	border-bottom:1px #e4e4e4 solid;
}
.person-info h3 {
	color:#B3B3B3;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	margin:25px 0 7px;
}
.person-info h2 {
	margin:20px 0 0;
	color:#484848;
	font-size:26px;
	font-weight:bold;
}
.person-info .photo {
}
.person-info .address {
	color:#484848;
	font-weight:700;
	font-size:16px;
}
.person-info .past-cities {
	color:#484848;
	font-weight:700;
	font-size:16px;
}
.person-info .relatives {
	color:#484848;
	font-weight:700;
	font-size:16px;
}
.details {
	padding:25px 15px 0;
}
.detail-box {
	background:#fff;
	min-height:100px;
	position:relative;
	padding:15px;
	margin: 0 0 25px;
	border:1px #c4c4c4 solid;
	border-radius:4px;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(233,233,233,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(233,233,233,1);
	box-shadow: 4px 4px 0px 0px rgba(233,233,233,1);
}
.detail-box.criminal-records {
	border:1px #e7526b solid;
}
.detail-box.criminal-records h1 {
	color:#e7526b;
}
.detail-box.criminal-records h2 {
	color:#e7526b;
}
.detail-box.criminal-records p {
	color:#e7526b;
}
.detail-box .detail-img {
	border-right:1px #e1e1e1 solid;
	padding:20px 0;
}
.detail-box h1 {
	color:#555555;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	margin:0 0 10px;
}
.detail-box h2 {
	color:#468dd1;
	font-size:74px;
	text-align:center;
	font-weight:300;
	line-height:75px;
	margin:0;
}
.detail-box p {
	color:#898989;
	font-size:14px;
	text-align:center;
	margin:0;
}
.guarantee, .awards {
	margin:0 0 15px;
}
.guarantee p, .awards p {
	color:#898989;
	margin:15px 0 0;
}
.sample-report {
	padding:15px 0;
}
.sample-report p {
	color:#484848;
	font-size:16px;
	text-align:center;
	margin:0 0 5px;
}
.sample-report .report-wrap {
	position:relative;
}
.sample-report .blurred {
	position:absolute;
	z-index:200;
}
.sample-report .non-blurred {
	position:relative;
	z-index:100;
}
.sample-report .btn-wrap {
	padding:0 30px;
}
.sample-report .btn {
	margin:15px 0;
	font-size:18px;
	font-weight:bold;
}
#footer {
	text-align:center;
	color:#555555;
	font-size:14px;
	background:#ebebeb;
	padding:10px 0;
	border-radius:0 0 5px 5px;
}
@media only screen and (max-width : 992px) {
	.person-info {
		text-align:center;
	}
	.person-info h3 {
		margin: 25px 0 5px;
	}
	.col-left {
		margin:0 0 10px;
	}
 	.col-right {
		margin:0;
	}
 }
