@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


body{
	font-family: 'Roboto', sans-serif !important;	
}

.container{
	max-width:960px;	
}


header{
	min-height:85px;
	background:#fff;
	padding-right:35px;
}

.logo img{
	margin-top:27px;
	margin-left:30px;
}

.nav{
	padding-left:0px;
	text-align:right;
	padding-right:0px;
	float:right;	
}

.nav li{
	display:inline-block;
	padding-top:18px;
	padding-left:15px;	
}

.nav li a{
	color:#717578;
	font-size:14px;
	font-weight:400;
}

.navbar-default{
	background-color:transparent;
	border:none;	
}

header .btn-default{
	border:solid 2px #d8d9da;
	color:#717578;
	font-size:14px;
	padding:7px 22px;
	margin-right:6px;
	margin-top:23px;
	margin-left:30px;	
}

header .btn-success{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c801), color-stop(1, #6b9d00));
	background:-moz-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:-webkit-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:-o-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:-ms-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:linear-gradient(to bottom, #89c801 5%, #6b9d00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c801', endColorstr='#6b9d00',GradientType=0);
	background-color:#89c801 !important;
	padding:9px 22px !important;	
	font-size:14px;
	border:none !important;
	margin-top:23px;
}

.btn-success:hover{
	background:#89c801 !important;
}

.btns{
	text-align:right;
}

/** End header **/



.hero{
	background:url(../images/hero.jpg) no-repeat center;
	min-height:280px;
	text-align:center;	
	padding-top:16px;
}

.hero h1{
	font-size:40px;
	font-weight:400;
	color:#fff;
	margin-bottom:0px;	
}

.hero p{
	font-size:18px;
	font-weight:300;
	color:#fff;	
}

.search{
	background:rgba(0,0,0,0.5);
	min-height:110px;
	border-radius:5px;
	padding:30px;
	margin-top:20px;	
}

.search input, select{
	line-height:52px;
	height:52px;
	float:left;
	display:inline-block;
	width:21%;
	margin-right:7px;
		
}

.search select{
	height:52px !important;
	width:20% !important;
	margin-right:7px !important;
}

.search input[type=submit]{
	width:13%;
	margin-right:0px;
	border:none;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	outline:none;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #178dee), color-stop(1, #0167bb));
	background:-moz-linear-gradient(top, #178dee 5%, #0167bb 100%);
	background:-webkit-linear-gradient(top, #178dee 5%, #0167bb 100%);
	background:-o-linear-gradient(top, #178dee 5%, #0167bb 100%);
	background:-ms-linear-gradient(top, #178dee 5%, #0167bb 100%);
	background:linear-gradient(to bottom, #178dee 5%, #0167bb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#178dee', endColorstr='#0167bb',GradientType=0);
	background-color:#178dee;
}

.search input[type=submit]:hover{
	background:#178dee;
}

/** End hero section **/

.breadcrumb{
	background:#fff !important;
	border-bottom:solid 1px #e5e5e5;
	min-height:50px;
	line-height:37px;
}

.breadcrumb a{
	color:#0596d5;
	font-size:15px;
	float:left;
	padding-top:2px;	
}

.breadcrumb a:after{
	content:'';
	width:8px;
	height:12px;
	display:inline-block;
	margin-right:7px;
	margin-left:7px;
	background:url(../images/border.jpg) no-repeat 0px 0px;
	margin-top:13px;
	float:left;		
}

.breadcrumb a:first-child:after{
	display:none;
}

.breadcrumb a:last-child{
	color:#959595;
	cursor:default;
}

.breadcrumb a:last-child:hover{
	text-decoration:none;
}

/** End Breadcrumb **/

.container > h4{
	color:#3a4046;
	font-size:20px;
	font-weight:400;
	margin-bottom:45px;	
}

.user-img img{
	border:solid 1px #e7e8e8;
	padding:5px;
	border-radius:5px;
	max-width:140px;
}

.name{
	color:#3a4046;
	font-size:30px;
	margin-top:-7px;
	margin-bottom:4px;	
}

.name p{
	color:#7f7f7f;
	font-size:14px;
	float:none;
	display:inline-block;
	padding-left:5px;	
}

.info{
	padding-left:0px;	
}

.info li{
	display:block;	
	color:#7f7f7f;
	font-size:15px;
	margin-bottom:6px;
	padding-left:28px;
}

.info li:before{
	content:'';
	display:inline-block;
	width:17px;
	height:18px;
	margin-right:8px;
	margin-left:-28px;
	margin-top:0px;
	float:left;
	
}

.info .dob:before{
	background:url(../images/icon.png) no-repeat 0px 2px;
}


.info .add:before{
	background:url(../images/icon.png) no-repeat 0px -27px;
}


.info .phone:before{
	background:url(../images/icon.png) no-repeat 0px -53px;
}


.info .email:before{
	background:url(../images/icon.png) no-repeat 0px -80px;
}


.info strong{
	font-weight:500;
	padding-right:10px;	
	color:#3a4046;
}

.btn-success.btn-lg{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c801), color-stop(1, #6b9d00));
	background:-moz-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:-webkit-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:-o-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:-ms-linear-gradient(top, #89c801 5%, #6b9d00 100%);
	background:linear-gradient(to bottom, #89c801 5%, #6b9d00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c801', endColorstr='#6b9d00',GradientType=0);
	background-color:#89c801 !important;
	padding:18px 40px !important;	
	font-size:16px;
	font-weight:500;
	border:none !important;
}

.info-btn .btn{
	margin-top:35px;
	transition:all 1s ease;	
}


.short-detail{
	border-top:solid 1px #e5e5e5;
	margin-left:15px;
	margin-right:15px;
	margin-top:20px;
	margin-bottom:20px;	
}

.summary{
	color:#1689e5;
	font-size:15px;
	font-weight:500;
	padding-bottom:10px;
}

p{
	font-size:14px;
	color:#7f7f7f;	
}

.relatives img{
	border:solid 5px #f3bb06;
	border-radius:100px;
	padding:16px 10px;
	display:inline-block;
	float:left;
	margin-right:5px;	
}


.locations img{
	border:solid 5px #d24648;
	border-radius:100px;
	padding:13px 16px;
	display:inline-block;
	float:left;
	margin-right:10px;	
}

.numbers div{
	color:#3a4046;
	font-size:22px;
	font-weight:500;
	padding-top:12px;
	line-height:22px;	
}

.numbers p{
	color:#707377;
	font-size:15px;
	font-weight:400;	
}

.locations{
	padding-left:0px;	
}

.locations, .relatives{
	padding-top:18px;	
}

.results{
	padding-bottom:20px;	
}


/* End short detail */


.more-detail{
	background:url(../images/bg.jpg);
	border-top:solid 1px #e0e0e0;
	padding-bottom:60px;	
}

.more-detail h2{
	color:#3a4046;
	font-size:26px;
	font-weight:300;
	padding-top:35px;
	padding-bottom:20px;	
}

.detail-section{
	border:solid 1px #d7d7d8;
	background:#fcfcfc;
	border-radius:5px;	
	padding:15px;
	padding-right:5px;
	min-height:185px;
	margin-bottom:20px;
}

.right-section{
	padding-left:0px;	
}

strong.heading{
	font-size:22px;
	font-weight:500;
	margin-top:-5px;
	display:block;
	padding-bottom:15px;	
}

.blue-heading{
	color:#0081e8;
}

.green-heading{
	color:#7fb800;
}

.purple-heading{
	color:#605dde;
}

.orange-heading{
	color:#f4bd06;
}

.detail-section div{
	color:#7e8184;
	font-size:16px;
	font-weight:500;
	border:solid 1px #dadbdb;
	padding:7px 12px;
	border-radius:5px;
	float:left;
	display:inline-block;
	margin-right:5px;
	margin-bottom:10px;	
}

.detail-section a{
	color:#7e8184;
	text-decoration:none;
}

/** End More Details **/


.want-more{
	background:#3a4046;
	min-height:130px;
	color:#fff;
	font-size:30px;
	font-weight:300;
	padding-top:45px;
}

.want-more a{
	float:right;
	margin-top:-7px;	
}

/** End want more section **/

#map {
	height:365px;
	width:100%px;
}
.gm-style-iw * {
	display: block;
	width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
	margin: 0;
	padding: 0;
}
.gm-style-iw a {
	color: #4272db;
}

.map-location{
	width:350px;
	min-height:130px;
	display:block;
	background:#096bb9;
	border-radius:5px;
	position:absolute;
	top:95px;
	z-index:99;
	padding:35px;
	padding-bottom:25px;	
}

.map-location h3{
	color:#ffc300;
	font-size:20px;
	font-weight:500;
	padding:0;
	margin:0;	
}

.map-location p{
	color:#fff;
	font-size:15px;
	opacity:0.8;
	padding-top:5px;	
}

.map-wraper{
	position:relative;	
}

/* End Map */

footer{
	padding-top:70px;
	border-top:solid 1px #e0e0e0;
	margin-top:1px;
}

footer p{
	font-size:14px;
	color:#7f7f7f;	
}

.social-icons{
	padding-left:0px;	
}

.social-icons li{
	display:inline-block;
	margin-right:4px;
	margin-top:5px;	
}

.social-icons li a{
	width:37px;
	height:37px;
	display:block;
	opacity:0.9;
}

.social-icons li a:hover{
	opacity:1;
}

.icon-twitter a{
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}

.icon-fb a{
	background:url(../images/social-icons.png) no-repeat -44px 0px;
}

.icon-google a{
	background:url(../images/social-icons.png) no-repeat -88px 0px;
}


.icon-in a{
	background:url(../images/social-icons.png) no-repeat -132px 0px;
}


.icon-yt a{
	background:url(../images/social-icons.png) no-repeat -176px 0px;
}

.footer-logo img{
	margin-bottom:20px;
}

footer .col-md-5 p{
	width:85%;
}

.footer-heading{
	color:#3a4046;
	font-size:20px;
	font-weight:500;
	padding-bottom:15px;	
}

footer ul{
	padding-left:0px;	
}

footer ul li{
	display:block;
	margin-bottom:8px;	
}

footer ul li a{
	color:#7f7f7f;
	font-size:14px;	
}

footer ul li a:hover{
	color:#7f7f7f;
}

.footer-bottom{
	margin-top:40px;
	border-top:solid 1px #e0e0e0;
	text-align:center;	
	padding-bottom:70px;
}

.footer-bottom:before{
	content:'';
	display:block;
	width:100%;
	height:2px;
	border-top:solid 1px #e0e0e0;
	margin-top:1px;	
	margin-bottom:30px;
}

.footer-bottom a{
	color:#1689e5;	
}


/** Small screens **/

@media (min-width:768px) and (max-width:991px){
	.nav > li > a{
		padding:10px 6px;	
	}
	
	header{
		padding-right:0px;	
	}
	
	header .btn-default{
		padding:7px 16px;	
	}
	
	header .btn-success{
		padding:9px 12px !important;	
	}
	
	.nav li{
		padding-top:22px;	
	}
	
	.logo img{
		margin-top:29px;
		margin-left:0px;	
	}
	
	.search input[type="submit"]{
		width:12%;	
	}
	
	.btn-success.btn-lg{
		padding:10px 16px !important;	
	}
	
	.user-img img{
		max-width:160px;
		width:160px;	
	}
	
	.info-btn .btn{
		margin-top:65px;	
	}
	
	.locations, .relatives{
		padding-top:38px;	
	}
	
	.detail-section div{
		font-size:11px;
		font-weight:400;	
	}
	
	strong.heading{
		font-size:18px;
		padding-bottom:10px;	
	}
	
	.detail-section{
		min-height:150px;	
	}
	
	.more-detail h2{
		padding-top:15px;
		padding-bottom:10px;	
	}
	
	.want-more a{
		margin-top:1px;	
	}
	
	.map-location{
		width:290px;
		top:65px;
		padding:25px;
	}
	
	footer{
		padding-top:30px;	
	}
	
}





/** Mobiles **/

@media (max-width:767px){
	.logo img{
		margin-left:0px;	
	}
	
	.nav{
		padding-left:0px;
		float:none;	
	}
	
	.nav li{
		display:block;
		text-align:left;
		padding-left:0px;
		padding-top:0px;	
	}
	
	header .btn{
		display:block;
		margin:0;
		margin-top:10px;	
	}
	
	header{
		padding-right:0px;	
	}
	
	.nav li a:hover, .nav li a:focus, .nav li a:active{
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c801), color-stop(1, #6b9d00));
		background:-moz-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:-webkit-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:-o-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:-ms-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:linear-gradient(to bottom, #89c801 5%, #6b9d00 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c801', endColorstr='#6b9d00',GradientType=0);
		background-color:#89c801 !important;
		border-radius:4px;
		color:#fff !important;
	}
	
	.navbar-toggle{
		position:absolute;
		right:0px;
		top:-36px;	
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c801), color-stop(1, #6b9d00));
		background:-moz-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:-webkit-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:-o-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:-ms-linear-gradient(top, #89c801 5%, #6b9d00 100%);
		background:linear-gradient(to bottom, #89c801 5%, #6b9d00 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c801', endColorstr='#6b9d00',GradientType=0);
		background-color:#89c801 !important;
		border:none;		
	}
	
	.navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active{
		background:#89c801;
	}
	
	.navbar-toggle .icon-bar{
		background-color:#fff !important;	
	}
	
	.navbar-collapse{
		margin-top:15px;	
	}
	
	.hero{
		padding-top:0px;
		background-size: auto 400px;
		padding-bottom:25px;
	}	
	
	.hero h1{
		font-size:23px;	
	}
	
	.hero p{
		font-size:16px;	
	}
	
	.search input{
		height:35px;
		line-height:35px;
		width:100%;
		margin-bottom:5px;
		padding-top:0px;	
	}

	
	.search select{
		width:100% !important;
		height:35px !important;
		line-height:35px;
		margin-bottom:5px;
	}
	
	.search input[type=submit]{
		height:35px;
		line-height:35px;
		width:100%;
	}
	
	.search{
		padding:25px;
		padding-bottom:15px;	
	}

	.breadcrumb{
		padding:0px;
		line-height:21px;
		min-height:40px;
		padding-bottom:5px;
		padding-top:4px;	
	}
	
	.breadcrumb a{
		font-size:12px;	
	}
	
	.breadcrumb a::after{
		margin-left:2px;
		margin-right:2px;
		margin-top:5px;	
	}
	
	.container > h4{
		font-size:18px;
		margin-bottom:25px;	
	}
	
	.name{
		margin-top:0px;
		font-size:24px;	
	}

	.info li:before{
		margin-top:1px;
		margin-left:-25px;	
	}
	
	.info li{
		font-size:14px;
		padding-left:25px;	
	}
	
	.info li strong{
		padding-right:5px;	
	}

	.locations, .relatives{
		text-align:center;	
	}
	
	.locations img, .relatives img{
		float:none;
		margin-right:0px;	
	}
	
	.info-btn .btn{
		width:100%;
		max-width:360px;	
	}
	
	.right-section{
		padding-left:15px;	
	}
	
	strong.heading{
		font-size:17px;
		padding-bottom:5px;	
	}
	
	.detail-section div{
		font-size:10px;
		padding:7px 8px;	
	}
	
	.detail-section{
		padding-left:5px;
		min-height:130px;
		margin-bottom:15px;	
	}
	
	.more-detail h2{
		padding-top:5px;
		padding-bottom:5px;	
	}
	
	.more-detail{
		padding-bottom:30px;	
	}
	
	.want-more{
		text-align:center;	
	}
	
	.want-more a{
		float:none;
		margin-top:10px;
		margin-bottom:35px;	
	}
	
	.map-location{
		width:290px;
		padding:15px;
		top:225px;
		min-height:100px;	
	}
}
