<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Subscribe | BeenVerified.com</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/socicons.css" />
  <link rel="stylesheet" href="css/loaders.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<!-- update data-search-page attr with correct url -->

<body data-next-page="<%= next_page %>" data-search-page="//www.beenverified.com/lp/4c0e06/2/search-results">

  <div id="page-loader">
    <div class="allbar">
      <p>Loading</p>
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
      <div class="bar bar4"></div>
      <div class="bar bar5"></div>
      <div class="bar bar6"></div>
      <div class="bar bar7"></div>
      <div class="bar bar8"></div>
      <div class="bar bar9"></div>
    </div>
  </div>

  <header class="container">
    <img class="logo" src="img/logo.png" alt="" />
    <p class="header-cta hidden-xs"><strong>Call Customer Care:</strong> 1-888-5795910</p>
  </header>

  <div class="container">
    <div class="row" data-fr-bind="currentRecord extraTeaserData">
      <div class="col-xs-12 teaser">
        <h1 class="headline">Activate your account <span class="break-xs">to unlock unlimited reports</span></h1>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="row user-details">

              <div class="col-sm-4 user-details-column">
                <img class="user-image hidden-portrait" src="img/user.png" alt="" />
              </div>
              <!-- end col-sm-4 -->

              {{#if fullName}}
              <div class="col-sm-8 user-details-column">
                <h4 class="user-name">{{fullName}}</h4>
                <p class="user-info">
                  {{#if age}}
                    {{age}} years old
                  {{/if}}
                  {{#if place}}
                     <span class="break-md">
                       from {{place}}
                     </span>
                  {{/if}}
                </p>
              </div>
              <!-- end col-sm-8 -->
              {{/if}}

            </div>
          </div>
          <!-- end col-md-5 -->

          <div class="col-sm-6 col-md-8 user-meta-list">
            <div class="row">
              <div class="col-md-6 searches hidden-xs">
                <ul class="user-meta">

                  <li class="user-meta-item">
                    {{#if previousPlace}}
                    <strong>Past Locations: </strong> {{previousPlace}} {{#if placesCountTeaser}}
                    <a href="#" class="scroll-to-subscribe">+ {{placesCountTeaser}} more</a> {{/if}} {{else}}
                    <strong>Felonies: </strong>
                    <a href="#" class="scroll-to-subscribe">Searched</a>
                    <i class="check-icon"></i> {{/if}}
                  </li>

                  <li class="user-meta-item">
                    {{#if relatives}}
                    <strong>Relatives: </strong> {{relative}} {{#if relativesCountTeaser}}
                    <a href="#" class="scroll-to-subscribe">+ {{relativesCountTeaser}} more</a> {{/if}} {{else}}
                    <strong>Bankruptices: </strong>
                    <a href="#" class="scroll-to-subscribe">Searched</a>
                    <i class="check-icon"></i> {{/if}}
                  </li>

                  <li class="user-meta-item">
                    {{#if socialProfiles}}
                    <strong>Social Profiles:</strong> {{{socialProfileIcons}}} {{#if socialProfilesCountTeaser}}
                    <a href="#" class="scroll-to-subscribe">+ {{socialProfilesCountTeaser}} more</a> {{/if}} {{else}}
                    <strong>Traffic Offenses and More: </strong>
                    <a href="#" class="scroll-to-subscribe">Searched</a>
                    <i class="check-icon"></i> {{/if}}
                  </li>

                </ul>
              </div>
              <!-- End col-md-6 -->

              <div class="col-md-6 results">
                <ul class="user-meta">

                  <li class="user-meta-item">
                    {{#if phoneNumbers}}
                    <strong>Phone Numbers: </strong> {{phoneNumber}} {{#if phoneNumbersCountTeaser}}
                    <a href="#" class="scroll-to-subscribe">+ {{phoneNumbersCountTeaser}} more</a> {{/if}} {{else}}
                    <strong>Phone Numbers: </strong>
                    <a href="#" class="scroll-to-subscribe">Searched</a>
                    <i class="check-icon"></i> {{/if}}
                  </li>

                  <li class="user-meta-item">
                    {{#if emails}}
                    <strong>Emails: </strong> {{email}} {{#if emailsCountTeaser}}
                    <a href="#" class="scroll-to-subscribe">+ {{emailsCountTeaser}} more</a> {{/if}} {{else}}
                    <strong>Emails: </strong>
                    <a href="#" class="scroll-to-subscribe">Searched</a>
                    <i class="check-icon"></i> {{/if}}
                  </li>

                  <li class="user-meta-item">
                    {{#if criminalRecords}}
                    <div class="user-records-container">
                      <div class="user-records">
                        <span class="records-count">{{criminalRecordsCount}}</span>
                        <span class="records-label">
                            Criminal/Traffic Records
                          </span>
                        <span class="check-icon"></span>
                      </div>
                    </div>
                    {{else}}
                    <strong>Arrest Records: </strong>
                    <a href="#" class="scroll-to-subscribe">Searched</a>
                    <i class="check-icon"></i> {{/if}}
                  </li>
                </ul>
              </div>
              <!-- End col-md-6 -->
            </div>
            <!-- End row -->
          </div>
          <!-- End col-md-7 -->
        </div>
        <!-- End row -->

      </div>
      <!-- End col-md-12 -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->

  <div id="ppCanceled" class="container alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Payment with PayPal Canceled.
  </div>

  <div class="container main">
    <div class="row">
      <div class="col-sm-12 col-md-5 left-section">
        <h4 class="headline headline-comments">What our customers say about us:</h4>

        <div class="comment-content">
          <p class="comment">“I used BeenVerified to check into a guy that I had met online. It turns out he lied to me about where he lived and his family. Needless to say, I severed contact with him and have not heard from him since. Thank you BV!”</p>
          <div class="comment-author">
            <img class="user-image" src="img/comment-user.png" alt="" />
            <span class="user-info">
              <strong>Maryann</strong> - New Jersey
            </span>
          </div>
        </div>
        <!-- End User Comments -->

        <div class="order-summary hidden-xs" data-fr-bind="currentRecord">
          <h4 class="headline"><i class="cart-icon"></i> Your Order Summary:</h4> {{#if fullName}}

          <strong class="divider-headline">Background Report on:</strong>

          <h4 class="data-headline">{{fullName}}</h4>
          <p class="data-details">
            {{#if age}}{{age}} years old{{/if}}{{#if place}}, from {{place}}{{/if}}
            <span class="right-label included-label">Included</span>
          </p>

          <hr class="divider" /> {{/if}}

          <strong class="divider-headline">Membership Plan:</strong>

          <h4 class="data-headline">
            <span class="summary-term" id="summary-term"></span>
            <span class="right-label price-label">$<span class="summary-month-price" id="summary-month-price"></span> /mo.</span>
          </h4>

          <div class="clearfix"></div>

          <p class="data-details">
            Name Search
            <span class="right-label included-label">Included</span>
          </p>
          <p class="data-details">
            Phone Search
            <span class="right-label included-label">Included</span>
          </p>
          <p class="data-details">
            Email Search
            <span class="right-label included-label">Included</span>
          </p>
          <p class="data-details">
            Property Search
            <span class="right-label included-label">Included</span>
          </p>

          {{#if fullName}}

          <hr class="divider" />

          <h4 class="data-headline">Alert Me Addon Feature</h4>

          <p class="data-details">
            Receive notifications for updates on
            <strong class="data-name">
              {{fullName}}
              <span class="right-label">
                <span class="success-text">FREE</span> for today!
              </span>
            </strong>
          </p>

          {{/if}}

          <hr class="divider divider-total">

          <strong class="divider-headline total">
            Total Today:
            <span class="right-label success-text">$<span class="summary-total-price" id="summary-total-price"></span></span>
          </strong>
        </div>
        <!-- End order-summary -->

        <div class="row features">
          <div class="col-sm-6 col-md-12 feature">
            <img class="feature-icon" src="img/icon2.png" alt="" />
            <h4 class="feature-headline">Your Search Is Private</h4>
            <p class="feature-description">
              Rest assured your purchase is confidential and <strong data-fr-bind="currentRecord">{{fullName}}</strong> will
              <strong>not</strong> be notified about your search.
            </p>
          </div>
          <div class="col-sm-6 col-md-12 feature">
            <img class="feature-icon" src="img/icon1.png" alt="" />
            <h4 class="feature-headline">100% Satisfaction Guaranteed</h4>
            <p class="feature-description">If we do not have results for this report, we will gladly issue a refund. Just contact customer care.</p>
          </div>
        </div>
        <!-- End features -->

        <div class="clearfix"></div>

      </div>
      <!-- End left-section    col-md-5 -->

      <div class="col-sm-12 col-md-7 right-section" id="subscribe">

        <h4 class="step-heading">Step 1: Select Your Package</h4>

        <form class="subscribe-form" id="subscribe_form" action="/accounts" method="post" data-fr-bind="leadData currentRecord" data-sub-ignore-messages="false" data-sub-ignore-success="false" data-sub-success-class="input-success" data-sub-success-image="img/checked.gif"
        data-sub-error-class="input-error">

          <input id="promotion" name="promotion" type="hidden" value="view_report_trial">
          <input name="authenticity_token" type="hidden" value="u4xIYs1OHmyccuDzZIxw+gvAXAssxNK9dBNnwqRWEGQ=">

          <div class="package package-selected first-deal">
            <label class="deal-label" for="22_1_month_nofree_afill_no_bjl">
              <input type="radio" class="deal-radio" id="22_1_month_nofree_afill_no_bjl" name="subscription_plan_name" value="<%= subscription_1 %>" checked />
              <span class="radio-custom"></span>
              <img class="deal-image" src="img/deal.png" />
              <span class="offer-label">
                1 Month <span class="visible-portrait">Membership</span><span class="hidden-portrait">of Unlimited Reports</span>
              <span class="price-label" data-plan-price="22.86" data-term-length="1 Month of Unlimited Reports" data-monthly-price="22.86" data-plan-type="month">
                  $22.86 <strong>/mo</strong>
                </span>
              </span>
            </label>
          </div>

          <div class="package">
            <label class="deal-label" for="44_58_3_months_nofree_affil">
              <input type="radio" class="deal-radio" id="44_58_3_months_nofree_affil" name="subscription_plan_name" value="<%= subscription_2 %>" />
              <span class="radio-custom"></span>
              <span class="offer-label">
                3 <span class="visible-portrait">Month Membership</span><span class="hidden-portrait">Months of Unlimited Reports</span>
              <span class="price-label" data-plan-price="44.58" data-term-length="3 Months of Unlimited Reports" data-monthly-price="14.88" data-plan-type="3 months">
                  $14.88 <strong>/mo</strong> <small>($44.58 Today)</small>
                </span>
              </span>
              <span class="discount-label">35% <strong>off</strong></span>
            </label>
          </div>

          <div class="package special-deal">
            <label class="deal-label" for="58_98_6_month_nofree_affil">
              <input type="radio" class="deal-radio" id="58_98_6_month_nofree_affil" name="subscription_plan_name" value="<%= subscription_3 %>" />
              <span class="radio-custom"></span>
              <span class="offer-label">
                6 <span class="visible-portrait">Month Membership</span><span class="hidden-portrait">Months of Unlimited Reports</span>
              <span class="price-label" data-plan-price="58.98" data-term-length="6 Months of Unlimited Reports" data-monthly-price="9.83" data-plan-type="6 months">
                  $9.94 <strong>/mo</strong> <small>($58.98 Today)</small>
                </span>
              </span>
              <span class="discount-label">57% <strong>off</strong></span>
            </label>
          </div>

          <div id="error_container" class="hidden">
            <h4 class="step-heading">Something Went Wrong</h4>
            <div class="error-details" id="errorExplanation">
              <p><strong>There were problems with the following fields:</strong></p>
              <ul id='messages'></ul>
            </div>
          </div>

          <h4 class="step-heading">Step 2: Account Information</h4>

          <div class="payments-switch">
            <p class="payments-cta">Choose Your Payment Method</p>

            <div id="credit-radio" class="payment-option">
              <label for="credit">
                <input type="radio" class="payment-radio" id="credit" name="payment_method" value="credit_card" checked>
                <span class="radio-custom"></span>
                <img class="img-responsive cards" src="img/cards.png" alt="" />
              </label>
            </div>

            <div id="paypal-radio" class="payment-option">
              <label for="paypal">
                <input type="radio" class="payment-radio" id="paypal" name="payment_method" value="paypal">
                <span class="radio-custom"></span>
                <img class="img-responsive paypal" src="img/paypal.png" alt="" />
              </label>
            </div>

            <img class="secure" src="img/norton.png" alt="" />
          </div>

          <div class="payment-form">
            <div class="row">

              <div class="col-sm-6 form-group">
                <label for="account_first_name">First Name</label>
                <input type="text" class="form-control" id="account_first_name" name="account[first_name]" value="{{account[first_name]}}" placeholder="John" />
              </div>

              <div class="col-sm-6 form-group">
                <label for="account_last_name">Last Name</label>
                <input type="text" class="form-control inspectletIgnore" id="account_last_name" name="account[last_name]" value="{{account[last_name]}}" placeholder="Doe" />
              </div>

              <div class="cc-wrapper">

                <div class="col-sm-6 form-group">
                  <label for="credit_card_card_number">Card Number</label>
                  <input type="text" size="30" class="form-control inspectletIgnore" id="credit_card_card_number" name="credit_card[card_number]" />
                </div>

                <div class="col-sm-6 form-group">
                  <label for="credit_card[expiration_date(2i)]">Expiration</label>
                  <input type="hidden" id="credit_card_expiration_date_3i" name="credit_card[expiration_date(3i)]" value="1">

                  <div class="row cc-expiration">
                    <div class="col-xs-6 inspectlet-sensitive">
                      <select class="form-control" id="credit_card_expiration_date_2i" name="credit_card[expiration_date(2i)]">
                        <option selected value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                    </div>
                    <div class="col-xs-6 inspectlet-sensitive">
                      <select class="form-control" id="credit_card_expiration_date_1i" name="credit_card[expiration_date(1i)]">
                        <option selected value="">Year</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 form-group">
                  <label for="cvv2">CVV <small class="cvv-tip">(What is this?)</small></label>
                  <input type="text" size="4" maxlength="4" class="form-control inspectletIgnore cvv" id="cvv2" name="credit_card[verification_number]" />
                </div>

                <div class="col-sm-6 form-group">
                  <label>Zip Code</label>
                  <input type="text" size="30" maxsize="20" class="form-control inspectletIgnore" id="zipcode" name="address[zip]" placeholder="123456" />
                </div>

              </div>
              <!-- End cc-wrapper -->

              <div class="col-xs-12 form-group">
                <label for="user_email">Confirm Your Email Below <small>(You will receive an invoice to this email)</small></label>
                <input type="email" maxsize="100" class="form-control inspectletIgnore" id="user_email" name="user[email]" value="{{user[email]}}" placeholder="johndoe@gmail.com" />
              </div>

              <div class="form-actions-container">

                <div class="col-xs-12 form-group">
                  <label>Agree To Our Terms of Service</label>
                  <div class="agreement-container">
                    <input type="checkbox" class="checkbox" id="account_tos" name="account[tos]" value="1" />
                    <label for="account_tos" class="agreement">By clicking the checkbox you represent that you are over 18 years of age and agree to accept our <a href="//www.beenverified.com/consumer-terms-of-service" target="_blank">Terms of Service</a>, <a href="//www.beenverified.com/home/membership_agreement"
                      target="_blank">Member Agreement</a> and <a href="//www.beenverified.com/home/privacy" target="_blank">Privacy Policy</a>. You agree to be billed $<span id="legal-price"></span> every <span id="legal-type"></span> until this subscription
                      is canceled. You can cancel your membership at any time by contacting customer service at <a href="tel:1-888-579-5910">1-888-579-5910</a> or emailing <a href="mailto:support@beenverified.com">support@beenverified.com</a>. You also
                      agree that you will NOT use any information about an individual obtained from BeenVerified as a factor in determining the individual's eligibility for employment; tenancy; educational admission or benefits; personal credit, loans,
                      or insurance; or for any other purpose prohibited by our <a href="//www.beenverified.com/consumer-terms-of-service" target="_blank">Terms of Service</a>.</label>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <input id="layout" name="layout" type="hidden" value="fresh">
                <input id="user_password" name="user[password]" value="delay" type="hidden">
                <input id="user_pwdelay" name="user[pwdelay]" value="true" type="hidden">
                <input id="password" name="password" value="delay" type="hidden">
                <input id="password_delay" name="pwdelay" value="true" type="hidden">
                <input id="record_search_person_id" name="record_search[person_id]" type="hidden" value="{{bvid}}">
                <input id="tos2" name="tos2" type="hidden" value="1">

                <div class="col-xs-12 form-group">
                  <button type="submit" id="create_button" class="submit-cc-form">View Report</button>
                  <div id="loading" class="hidden">
                    <div class="loading-bar"></div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- End payment-form -->

        </form>
        <!-- End subscribe-form -->

        <div class="row features">
          <div class="col-sm-6 col-md-12 feature">
            <img class="feature-icon" src="img/icon2.png" alt="" />
            <h4 class="feature-headline">Your Search Is Private</h4>
            <p class="feature-description">
              Rest assured your purchase is confidential and <strong data-fr-bind="currentRecord">{{fullName}}</strong> will
              <strong>not</strong> be notified about your search.
            </p>
          </div>
          <div class="col-sm-6 col-md-12 feature">
            <img class="feature-icon" src="img/icon1.png" alt="" />
            <h4 class="feature-headline">100% Satisfaction Guaranteed</h4>
            <p class="feature-description">If we do not have results for this report, we will gladly issue a refund. Just contact customer care.</p>
          </div>
        </div>
        <!-- End features -->

      </div>
      <!-- End right-section     col-md-7  -->

      <div class="clearfix"></div>

    </div>
    <!-- End row -->
  </div>
  <!-- End container -->

  <footer class="container-fluid">
    <h4 class="support-headline">
      <span class="highlight">Live Customer Care Hours:</span> M-F 8am - 9pm ET and Weekends 12pm - 8pm ET
    </h4>

    <h4 class="headline">
      BeenVerified was featured in:
      <img class="featured-logos img-responsive" src="img/logos.png" alt="" />
    </h4>

    <p class="disclamer">Disclaimer: BeenVerified’s mission is to give people easy and affordable access to public record information. BeenVerified does not provide private investigator services, and is not a consumer reporting agency as defined by the <a href="//www.beenverified.com/dos-donts"
      rel="nofollow" target="_blank">Fair Credit Report Act</a> because the information provided by BeenVerified is not collected or provided, in whole or in part, for the purpose of furnishing consumer reports about those search subjects. For more information
      governing the permitted and prohibited uses of BeenVerified, please review our <a href="//www.beenverified.com/dos-donts" target="_blank" rel="nofollow">&ldquo;Do&rsquo;s &amp; Don&rsquo;ts&rdquo;</a> and our <a href="//www.beenverified.com/consumer-terms-of-service"
      target="_blank" rel="nofollow">Terms &amp; Conditions.</a></p>

    <div class="row legal">
      <div class="container">
        <div class="col-sm-6">
          <p class="copyright">BeenVerified © <span class="current-year">2016</span></p>
        </div>
        <div class="col-sm-6 links">
          <a href="//www.beenverified.com/privacy" target="_blank">Privacy</a> . <a href="//www.beenverified.com/consumer-terms-of-service" target="_blank">Terms</a> . <a href="#">Sitemap</a>
        </div>
      </div>
    </div>
  </footer>

  <div id="iModal-trial" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button id="imodal-x" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body text-center">
          <img src="img/dollar-trial.png" alt="$1" class="dollar-trial-img">
          <p>
            <strong class="h1 text-primary">SPECIAL LIMITED TIME OFFER! <span class="break-text">$1 TRIAL!</span></strong>
          </p>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p>
                Run unlimited background reports for the entire trial period.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" id="show-dollar-trial" class="btn btn-lg btn-block btn-success text-center">Try BeenVerified for $1!</button>
            </div>
          </div>
          <a href="<%= previous_page %>" id="iModal-back" class="text-muted"><span class="text-normal">or&nbsp;</span>Go back to Search Results</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /#iModal-trial -->

  <div id="PayPal-Success" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
          <h2 class="text-success"><img src="img/success_icon.png" alt="PayPal Success" width="30" height="30"> One Last Step!</h2>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p id="paypal-confirm-sub-text">Just click the confirm button below to activate and view your report.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <button type="button" id="confirm-paypal" class="btn btn-lg btn-block btn-success text-center" style="margin:24px 0 10px">Confirm &amp; View Report <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
              <img id="paypal-spinner" class="spinner-inner" src="img/ajax-loader.gif" alt="Loading...">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <a href="#" id="iModal-dismiss" class="text-muted" style="cursor:hand;cursor:pointer;">Click Here to Cancel PayPal Payment</a>
              <p id="paypal-confirm-error">Oops! Something went wrong. Please confirm your PayPal payment again or contact customer support at 1-888-579-5910.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#iModal-trial -->

  <div id="PayPal-Failed" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
          <h2 class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> Error</h2>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p>Unfortunately your payment did not go through using PayPal.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="button" id="pay-CreditCard" class="btn btn-lg btn-block btn-primary text-center">Pay With A Credit Card</button>
            </div>
            <div class="col-md-6">
              <button type="button" id="pay-PayPal" class="btn btn-lg btn-block btn btn-default text-center">Try Again Using PayPal</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#iModal-trial -->

  <pre id="subscribe_bounce_text" data-sub-bounce-url="<%= next_page %>" class="hide">
    WAIT: WANT A SPECIAL LIMITED TIME OFFER?

    *************** CONGRATULATIONS ***************

    YOU'VE BEEN SELECTED FOR A LIMITED TIME OFFER!

    Stay on this page to take advantage of our special promotional offer.


    Just click "Cancel" or "Stay On Page" to see your special offer.

    *************** CONGRATULATIONS ***************
  </pre>

  <!-- SCRIPTS -->
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <script src="js/jquery.validate.js"></script>
  <script src="js/jquery.validate.creditcard2.pack-1.0.0.js"></script>

  <script src="js/check_cc.js"></script>
  <script src="js/utility.js"></script>
  <script src="js/cookie.js"></script>
  <script src="js/base64.js"></script>
  <script src="js/teaserrecord.js"></script>

  <script src="js/amplify.store.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/handlebars.min.js"></script>
  <script src="js/framerida.helpers.js"></script>
  <script src="js/framerida.js"></script>
  <script src="js/downsell.js"></script>

  <script src="js/subscribeRunner.js"></script>
  <script src="js/runner.js"></script>

  <script language="javascript" type="text/javascript">
    $(window).load(function() {
      $('#page-loader').hide();
    });
  </script>

</body>

</html>
