fieldset,
img {
  border: 0;
}

:focus {
  outline: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  font-size-adjust: none;
  line-height: 20px;

  color: #515560;
  background: #2e3139;
}

.content-text p {
  font-family: Georgia,Times,'Times New Roman',serif;
  font-size: 1.5em;
  line-height: 1.4em;

  color: #3e3e3e;

  -webkit-font-smoothing: antialiased;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
}

ol {
  list-style-position: inside;
}

ol li {
  line-height: 190%;
}

header {
  width: 100%;
  padding-bottom: 15px;

  background: #efefef;
}

input {
  border-radius: 0 !important;
}

.wrapper {
  postion: relative;
  width: 100%;
}

.content {
  display: none;
}

.availableInfo {
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.availableInfo  p {
  font-size: 24px;
}

.availableInfo ul li {
  font-size: 24px;
  font-weight: 700;
  line-height: 45px;
  color: #0a0a0a;
  font-family: Georgia,Times,'Times New Roman',serif;
}

.active-content {
  display: block;
}

#hidden-banner,
#hidden-readmore {
  display: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

.green {
  color: #5cb85c;
}

.search.stuck .green {
  color: #0fca0f;
}

#main_container {
  width: 100%;
  height: auto!important;
  min-height: 100%;

  background: #fff;
}

.container {
  max-width: 1170px;
}

.bv-logo-main {
  padding-top: 30px;
}

.searchbarWrapper {
  background-color: #efefef;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

#footer {
  clear: both;

  padding: 0;

  background-color: #000;
}

.content-text {
  font-family: arial;
}

.content-text a {
  text-decoration: underline!important;
}

#footer a {
  color: #fff;
}

#footer_search .container,
.search .container {
  padding-top: 8px;
  padding-bottom: 8px;
}

#footer_search .panel,
.search .panel {
  margin-bottom: 0;
}

#footer li {
  font-size: 12px;
  line-height: 18px;

  margin: 9px 0 4px;

  text-align: center;

  color: #515560;
}

.footer-title {
  line-height: 32px;

  margin-bottom: 6px;

  color: #515560;
  border-bottom: 1px solid #515560;
}

.disclaimer {
  padding: 20px 0;

  color: #fff;
  background-color: #2e3139;
}

.disclaimer a {
  color: #fff;
}

.icons-social {
  margin: 4px auto;
  padding-left: 24px;

  background-repeat: no-repeat;
  background-position: left center;
}

.icons-bv {
  background-image: url(../img/icon1.png);
}

.icons-fb {
  background-image: url(../img/icon2.png);
}

.icons-tw {
  background-image: url(../img/icon3.png);
}

.icons-go {
  background-image: url(../img/icon4.png);
}

.icons-pi {
  background-image: url(../img/icon5.png);
}

.icons-li {
  background-image: url(../img/icon6.png);
}

#searchbar .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#searchbar .panel {
  margin-bottom: 0;
}

#searchbar {
}

#searchbar button {
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
}

#searchbar h3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  margin: 0 0 8px;

  color: #000;
}
.search {
  z-index: 1000;

  clear: both;

  width: 100%;
  margin: 15px 0;

  border: 1px solid #c1c0c2;
  border-radius: 4px;
  background: #fff;
}

.stuck {
  position: fixed;
  top: -20px;
  left: 0;

  border-color: #c1c0c2;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  background: #eee;
  box-shadow: 0 4px 3px rgba(92,184,92,0.1);
}

.search img {
  width: auto;
  max-width: 100%;
}

.search.stuck img {
  display: block;
}

.searchbar-logo {
  display: none;
}

.search.stuck .searchbar-logo {
  display: block;
}

.form-inline br,
.search.stuck .form-inline br,
.search.stuck br {
  display: none;
}

.search.stuck .fn_wrap input#inputFirstName {
  clear: both;
}

#inputEmail.form-control,
#phone-number.form-control {
  width: 100%;
}

.search.stuck #inputEmail.form-control,
.search.stuck #phone-number.form-control {
  width: 260px;
}

.city_wrap input.form-control {
  width: 100px;
}

.age_wrap input.form-control {
  width: 50px;
}

.top_content {
  clear: both;

  padding-top: 25px;
}

.top_content strong {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
}

.top_content ul {
  padding: 12px 0;

  list-style: none;
}

.top_content ul li {
  display: inline-block;

  padding-left: 15px;

  vertical-align: middle;
}

.top_content ul li:first-child {
  padding: 0;
}

.top_content ul li img {
  vertical-align: middle;
}

#footer_search button,
.search button {
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;

  padding-right: 44px;
  padding-left: 44px;
}

.search h3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  margin: 2px 0 5px;

  color: #000;
}


.banner {
  width: 100%;
  margin: 0 0 20px;
}

.banner img {
  width: 100%;
}

.main {
  position: relative;

  padding-top: 15px;
  padding-bottom: 55px;
}

#main-header {
  font-family: Arial, Helvetica;
  font-size: 46px;
  font-weight: bolder !important;
  line-height: 39px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 23px;
  border-bottom: 0;
  color: #333;
  line-height: 110%;
}


div.row.sponsered {
  margin-top: 10px;
  margin-bottom: 17px;

  text-align: center;

  color: #000;
}

.tags {
  width: 100%;
}

.tags p {
  font-size: 12px;

  color: #515560;
}

.tags ul {
  list-style: none;
  padding-left: 0px;
}

.tags ul li {
  font-family: 'Open Sans',sans-serif;
  font-size: 11px;

  display: inline-block;

  margin-right: 9px;
  margin-bottom: 5px;
  padding: 0 8px;

  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.tags ul li:first-child {
  border: 0;
}

.left_details p {
  line-height: 1.4em;

  color: #0a0a0a;
}

.left_details p a {
  color: #6aa843;
}

.left_details p img {
  margin: 20px 0;
}

.left_details span a {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;

  color: #6aa843;
}

.left_details p .btn {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;

  margin: 20px 0 0;

  text-decoration: none;

  color: #fff;
  background: #5cb85c;
}

.left_details p .btn:hover {
  background: #70cc70;
}

ul.tabs {
  float: left;

  width: 100%;
  margin: 30px 0 4px;
  padding-bottom: 8px;

  list-style: none;

  border-bottom: 1px solid #8c8e94;
}


ul.tabs li {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  line-height: 31px;

  position: relative;

  float: left;

  margin-right: 40px;

  cursor: pointer;

  color: #abb0bd;
}

ul.tabs li.active,
ul.tabs li:hover {
  color: #515560;
}

.tab_container {
  float: left;
  clear: both;

  width: 100%;

  border: 1px solid #999;
  border-top: 0;
  background: #fff;
}

.tab_content {
  display: none;
  float: left;

  width: 100%;
  padding-bottom: 50px;
}

.cutomer_feedback {
  float: left;

  width: 100%;
  margin-top: 20px;
  padding: 3%;

  background: #f0f0f0;
}

.cutomer_feedback h4 {
  font-size: 14px;
  line-height: 18px;

  margin: 0;

  color: #515560;
}

.cutomer_feedback h5 {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  line-height: 18px;

  margin: 0;

  color: #abb0bd;
}


.rating {
  padding: 10px 0 5px;
}

.rating a {
  margin-right: 7px;
}

.rating a img {
  float: none!important;

  margin: 0!important;
  padding: 0;

  border: 0;
  background: 0;
}

.cutomer_feedback img {
  float: right;

  margin: 0 0 10px 45px;
  padding: 4px;

  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}

.cutomer_feedback p {
  font-size: 13px;
  line-height: 17px;

  color: #515560;
}

.cutomer_feedback .testimonial {
  margin-top: 10px;
}

.show {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 700;

  display: inline-block;
  clear: both;

  padding: 10px 0;

  color: #6aa843;
}

.show:hover {
  color: #6aa843;
}

.cutomer_feedback.right img {
  float: left;

  margin: 0 25px 10px 0;
}

.cutomer_feedback.right h4,
.cutomer_feedback.right h5,
.cutomer_feedback.right .testimonial {
  text-align: right;
}

#tab1 .article {
  float: left;

  width: 100%;
  margin-top: 24px;

  list-style: none;
}


#tab1 .article li {
  float: left;

  width: 32%;
  height: 230px;
  margin-left: 2%;
  padding: 1%;

  border-radius: 5px;
}

#tab1 .article li:first-child {
  margin: 0;
}

#tab1 .article li h4 {
  font: 14px/18px 'Open Sans',sans-serif;

  color: #515560;
}

#tab1 .article li p {
  font-size: 12px;
  line-height: 16px;

  color: #515560;
}

#tab1 .article li img {
  max-width: 100%;
}

.right-sidebar {
  display: none;
}

.right-sidebar .graph_box {
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;

  clear: both;

  padding: 13px;

  border-radius: 4px;
  background: #f0f0f0;
}

.right-sidebar .graph_box img {
  max-width: 100%;
}

.right-sidebar .serach_box {
  padding: 18px 0;

  text-align: center;
}

.right-sidebar .serach_box img {
  max-width: 100%;
}


.right-sidebar h3 {
  font-size: 14px;

  margin-bottom: 12px;

  border-bottom: 1px solid #8c8e94;
}

.right-sidebar h3 a {
  line-height: 27px;

  display: inline-block;

  padding: 0 17px;

  vertical-align: bottom;

  color: #fff;
  border-radius: 3px 3px 0 0;
  background: #515560;
}

.right-sidebar article {
  position: relative;

  float: left;

  width: 100%;
  margin-top: 12px;
}

p.quote {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;

  margin: 18px 25px;
}

p.indent {
  font-size: 16px;
  line-height: 35px;

  margin: 18px 25px;
}

p.reason {
  font-size: 16px;
  line-height: 35px;

  margin: 18px 0;
}

.advertisement {
  font-size: 13px;

  margin-bottom: 15px;

  text-align: center;

  color: #000;
  background-color: white;
  padding-top: 15px;
}

#footer div.container div.row.advertisement {
  font-size: 14px;
  line-height: 32px;

  margin-top: 25px;
  margin-bottom: 25px;

  color: #fff;
  background-color: #000;
}

.right-sidebar article img {
  max-width: 100%;
}


.right-sidebar article h4 {
  font-size: 18px;

  position: absolute;
  bottom: 0;

  margin: 0;
  padding: 14px 10px 10px;

  color: #333;
  background: #fff;
  background: rgba(255,255,255,0.8);
}

.right-sidebar article h4 a {
  color: #333;
}

.right-sidebar article p {
  font-size: 12px;
  line-height: 16px;

  margin: 0;
  padding: 10px;

  color: #333;
}

.right-sidebar article .read_more {
  font-size: 12px;
  line-height: 27px;

  position: absolute;
  right: 0;
  bottom: 0;

  padding: 0 20px;

  color: #fff;
  background: #2a2d33;
}

.right-sidebar article:last-of-type {
  margin-bottom: 40px;
}

.right-sidebar .list_details {
  padding: 12px;

  list-style: none;
}

.right-sidebar .list_details li {
  font-size: 14px;

  padding-bottom: 10px;

  color: #515560;
}

.right-sidebar .list_details li a {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 700;

  color: #515560;
}

.left_details p img {
  display: inline-block;

  max-width: 100%;
}

.share_this {
  position: absolute;
  top: 46px;
  left: 0;
  width: 60px;
  padding-bottom: 360px;
  float: left;
  z-index: 10;
}


.stButton .stFb,
.stButton .stMainServices,
.stButton .stTwbutton {
  height: auto!important;
}

.stButton .stBubble_count {
  height: 42px!important;
}

.hidden_text {
  display: none;
  clear: both;
}

.right-sidebar .serach_box {
  padding-top: 0;
}

.right-sidebar {
  top: 40px;

  margin-top: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #b8bac0;
}

.left_details p .btn:hover,
.left_details p a,
.right-sidebar article .read_more:hover,
.right-sidebar h3 a:hover,
.tags ul li a {
  text-decoration: none;
}

.left_details p a:hover {
  text-decoration: underline;
}

.right-sidebar h3 a {
  cursor: auto;
}

.article h4 a {
  color: #333;
}

:placeholder {
  opacity: 1!important;
  color: #000!important;
}

.bottom-btn {
  font-size: 16px;

  padding: 12px 26px;
}

.btn-default {
  text-shadow: 0 1px 0 #357935;
}

.fn_wrap,
.ln_wrap,
.st_wrap,
.btn_wrap {
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
}

.fn_wrap {
  padding-left: 15px;
}


.btn_wrap {
  padding-right: 15px;
}

.share_this.fixed {
  position: fixed;
  top: 46px;
  left: 46px;
}

@media(min-width:1800px) {
  .share_this.fixed {
    position: fixed;
    top: 105px;
    left: 17.5%;
  }
}

@media(min-width:1200px) and (max-width:1500px) {
  .share_this.fixed {
    position: fixed;
    top: 46px;
    left: 46px;
  }
}

@media(min-width:1500px) and (max-width:1800px) {
  .share_this.fixed {
    position: fixed;
    left: 11%;
  }
}

@media(max-width:1200px) {
  .main {
    padding-top: 0;
  }
}


@media(min-width:768px) and (max-width:991px) {
  .navbar-nav>li>a {
    font-size: 11px!important;

    padding: 20px 8px 30px;
  }

  .top_content ul {
    text-align: center;
  }

  #inputEmail.form-control,
  #phone-number.form-control {
    width: 568px;
  }

  .search.stuck #inputEmail.form-control,
  .search.stuck #phone-number.form-control {
    width: 595px;
  }

  #footer_search button,
  .search button {
    padding: 6px 10px;
  }

  .main {
    padding-top: 1px;
    padding-bottom: 3px;
  }

  div.col-sm-8.left_details {
   /* width: 100%; */
  }

  .navbar-nav,
  .right-sidebar {
    display: none;
  }

  a.navbar-brand {
    padding-bottom: 10px;
  }

  #footer_search button,
  .search button {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;

    padding-right: 30px;
    padding-left: 30px;
  }

  ul.article {
    padding-bottom: 15px;
  }

  .tags {
    display: none;
  }
}

@media(max-width:767px) {
  .ln_wrap {
    padding-right: 15px;
  }

  .st_wrap {
    padding-left: 15px;
  }

  #searchbar .container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #tab1 .article {
    float: left;

    width: 100%;
    margin-top: 4px;

    list-style: none;
  }

  p.quote {
    font-size: 20px;
    line-height: 30px;
  }

  ul.article {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-group input {
    width: 100%!important;
    margin-bottom: 10px;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .navbar-default .navbar-nav>li>a {
    float: none;
  }

  .right-sidebar article {
    text-align: center;
  }

  #tab2 .article li h4 {
    font-size: 13px;
  }

  #tab1 .article li {
    height: 160px;
  }

  #tab1 .article li p,
  .right-sidebar {
    display: none;
  }

  .main {
    padding-top: 0;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 10px;

    border: none!important;
  }

  .navbar-nav {
    margin: 0;
  }

  .share_this {
    display: none;
    text-align: center;
  }

  .top_content ul {
    text-align: center;
  }

  .stButton {
    width: 54px;
  }

  .stwrapper.stwrapper5x {
    left: 0!important;

    max-width: 100%!important;
    margin: 0!important;
  }

  .qsbMselectNoBorder .oAuthLinkNarrow {
    width: 100%!important;
  }

  .qsbMpad5 {
    width: 60%!important;
  }

  #outerContainer,
  #stLframe.stframe5x {
    max-width: 100%!important;
  }

  .col-sm-8 {
    clear: both;
  }

  a.navbar-brand {
    padding-left: 10px;
  }

  button.navbar-toggle {
    margin-top: 28px;
  }

  .tags {
    display: none;
  }

  div.col-sm-8.left_details {
    width: 100%;
  }
}

@media(max-width:479px) {
  .bv-logo-main {
    display: block;

    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  .advertisement {
    font-size: 11px;

    margin-bottom: 4px;
  }
  p.quote {
    font-size: 23px;
    line-height: 32px;
  }

  .main {
    position: relative;

    padding-top: 15px;
    padding-bottom: 5px;
  }

  .search.stuck .container {
    padding-bottom: 10px;
  }

  .search h3 {
    font-size: 11px!important;
    line-height: 16px!important;
  }

  .search .form-group {
    display: inline-block;

    width: 47%;
  }

  .search .form-inline br {
    display: block;
  }

  .search button {
    padding-right: 37px!important;
    padding-left: 37px!important;
  }

  .search.stuck button {
    padding-right: 44px;
    padding-left: 44px;
  }

  .left_details h1 {
    font-family: arial,helvetica;
    font-size: 28px !important;
    font-weight: 400;
    line-height: 30px;

    padding-top: 6px !important;
    padding-top: 6px;
  }

  .tags ul li {
    margin: 0 5px 5px 0;
  }

  ul.tabs li {
    margin-right: 16px;
  }

  #tab1 .article li h4 {
    font-size: 11px;
    line-height: 13px;
  }

  #tab1 .article li p {
    font-size: 10px;
    line-height: 14px;
  }

  #tab1 .article li {
    min-height: 40px;
  }

  #searchbar h3 {
    font-size: 14px;
    margin: 15px 8px;
  	text-align: center;
  }
}
