@import 'bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


/* ********************************************************************** */
/* ************************** General HTML TAGs ************************* */
/* ********************************************************************** */
html, body {
	margin:0;
	padding:0;
}
body {
  font-size: 15px;
	font-family: 'Lato', sans-serif;
	color: #333333;
	line-height: 1.5;
}
ul,
li {
	margin:0;
	padding:0;
	list-style:none;
}

a {
	transition: all ease .4s;
	cursor:pointer;
	color:#333333;
}

P {
	line-height: 1.5;
	margin:0 0 20px;
}
h1 {
	font-weight: 700;
	font-size: 66px;
	margin: 0;
}
h2 {
	font-weight:400;
	font-size: 24px;
	margin-top: 0px;
	color: #333;
}
h3 {
	font-size: 30px;
	font-weight: 400;
	margin:0 0 20px;
}

.no-pad-right {
	padding-right: 0px;
}

.no-pad-left {
	padding-left: 0px;
}
.btn {
	border:none;
	color: #3b2469;
	font-size: 20px;
	border-radius: 6px;
	line-height: 30px;
	padding:15px 40px;
	transition: all ease .4s;
}
.btn:active,
.btn.active,
.btn:focus{
	border: none !important;
	outline: none !important;
}

.btn-success {
	background: #5cb85c;
	color:#FFF;
	box-shadow: 0 -5px #51a251 inset;
}
.btn-success:hover {
	background:#51a251;
}
.btn-success:active,
.btn-success:focus,
.btn-success.active {
	background:#5cb85c;
}

.form-control {
	height: 50px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: inset 0 2px 5px 0 rgba(149, 149, 149, 0.3);
	border: solid 1px #c2c2c2;
	margin-bottom: 15px;
}

.form-control:focus {
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(102, 175, 233, 0.44), inset 0 0 8px 0 rgba(102, 175, 233, 0.57);
	border: solid 1px #66afe9;
}

.form-group {
	margin-bottom: 0px;
}

label {
	font-weight: normal;
	display: block;
}

.text-center {
	text-align: center;
}
/* ********************************************************************** */
/* ********************************* Header ***************************** */
/* ********************************************************************** */

#header {
	padding: 25px 0 140px;
}
.navbar-logo {
  float: left;
}

.navbar-logo img{
  display: block;
  margin:0px 0px;
  width: 160px;
  height: 30px;
}
#header .badge {
	display: inline-block;
	vertical-align: middle;
	margin:0px 0 0 3px;
	border-radius:5px;
	padding: 2px 10px;
	color:#FFF;
	font-size:11px;
	line-height: 14px;
	text-transform: uppercase;
	background:#ef2742;
	letter-spacing: 1px;
	font-weight: 400;
}

/* ********************************************************************** */
/* *************************** Main Content ***************************** */
/* ********************************************************************** */
#main-content {
	position:relative;
	z-index:2;
	margin-top:-40px;
}

#header.full-header {
	background-image: linear-gradient(to right, #4a3b8f, #353167, #4a3b8f);
	padding: 25px 35px;
}

#main-content.lightblue-bg {
	background:#f5fafc;
	padding: 40px 0;
	margin: 0;
}

.subscription-summary {
	font-size: 15px;
}

.order-summary-section {
	margin-top: 30px;
}

.pull-right span.text {
	min-width: 59px;
}

.summary-details-wrapper {
  display: block;
  min-height: 28px;
  margin: 12px 0px;
  border-bottom: 1px dotted #cfd9de;
}

span.order-summary-heading {
  max-width: 67%;
  display: inline-block;
}

.last-summary {
	border-bottom: none;
}

.green-check {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-top: 3px;
	margin-right: 4px;
	background: url("../img/checkmark-2.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.subscribe-header {
	text-align: center;
	margin-bottom: 40px;
}
.subscribe-header img {
	margin-bottom: 20px;
	width: 100px;
}
.subscribe .subscribe-header h1 {
	font-family: Lato;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -0.7px;
	text-align: center;
	color: #333333;
	font-weight: 400;
}
.subscribe .subscribe-header h4 {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: -0.4px;
	text-align: center;
	color: #333333;
	margin-bottom: 25px;
}
.subscribe .subscribe-header figure {
	display: block;
	width:100px;
	height: 100px;
	border-radius: 50px;
	margin:0 auto 5px;
	background:#5cb85c;
	border: solid #e5f3ec 15px;
	text-align: center;
	background-clip: padding-box;
	padding-top: 12px
}

.report-summary h2 span {
	color:#333333;
	font-weight: 400;
}
#main-content.lightblue-bg.subscribe {
	padding-top:20px;
}

.report-summary h4 {
	font-family: Lato;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.3px;
	text-align: center;
	color: #333333;
	margin: 0 0 15px;
}

.avatar-box {
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.1);
}

.avatar-lock {
  position: absolute;
  height: 20px;
  bottom: 0;
  right: 0;
}
.report-teasers {
	font-size: 15px;
}
.report-teasers img {
	width: 18px;
	float: left;
	margin-right: 10px;
}

.report-teasers span {
	float: left;
}

.first-teaser {
	margin-bottom: 20px;
}

.report-box {
	border-right: solid 1px #e1e1e1;
}

.report-box p {
	margin-bottom: 20px;
	color: #8b519a;
	font-size: 30px;
}

.results-box p {
	margin-bottom: 19px;
	font-size: 20px;
	color: #8b519a;
	margin-top: 11px;
}

.teaser-span img {
	width: 18px;
	margin-right: 10px;
}

.teaser-span {
	font-size: 16px;
}

.testimonials {
	position: relative;
}
.testimonials .quote {
	height: 32px;
	position: absolute;
	top: 15px;
	right: 15px;
}

.testimonial {
	margin-top: 15px;
}

.secured h4 {
	font-size: 20px;
	color: #8b519a;
	margin-bottom: 20px
}

.secured p {
	margin-bottom: 0px;
}
.report-summary,
.testimonials,
.secured,
#form-first-part,
#form-second-part {
  background: #FFF;
  box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
  padding: 25px 20px;
  margin-bottom: 20px;
	position: relative;
}

#subscribe_form {
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
}

#form-first-part,
#form-second-part {
	margin-bottom: 0px;
	box-shadow: none;
}

#form-first-part h2 {
	display: inline-block;
}

.form-fields {
	margin-top: 40px;
}

.plan_name_radio {
	display: none;
}

#ppCanceled {
	display: none;
}

label.error {
  color: #dc2341;
	margin-bottom: 15px;
}
.terms-container label.error {
	margin-left: 70px;
}
.secured-section {
	background-color: #eff1f2;
	padding: 20px 30px;
}

.secured-section p {
	margin-bottom: 0px;
}

.secured-text h4 {
	font-size: 18px;
}

.paypal-img {
	height: 28px;
}

#form-second-part h2 {
	margin-bottom: 36px;
}
.radio label {
	padding-left: 0px;
}
.radio input[type=radio] {
	position: static;
	margin-right: 35px;
	margin-left: 0px;
}

.radio img {
	margin-right: 20px;
}

#credit-radio {
	margin-top: 15px;
	padding-bottom: 40px;
	border-bottom: 1px dotted #e1e1e1;
}

#secure-wrapper {
    text-align: right;
}

.report-summary figure {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
    border-radius: 60px;
    overflow: hidden;
    background: #e1e1e1;
}

.report-summary figure img {
    width: 100%;
    height: 100%;
    display: block;
}

.subscribe-plans {
	background-color: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	margin-bottom:15px;
	padding:30px;
}
.subscribe-plans h2 {
	font-family: Lato;
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -0.5px;
	text-align: left;
	color: #8b519a;
}
.subscribe-plans article {
	border-radius: 10px;
	background-color: #ffffff;
	border: solid 1px #e1e1e1;
	margin-top: 20px;
	padding: 32px 200px 32px 32px;
	position: relative;
}
.subscribe-plans article.highlighted {
	border: solid 2px #007ee3;
}

.subscribe-plans article:hover {
  background: #f3f9ef;
}
.subscribe-plans article.highlighted:hover {
  background:#f5fafc
}
.subscribe-plans article strong {
	display: block;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.26;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
}
.subscribe-plans article span {
	display: block;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
}
.subscribe-plans article .btn {
	position: absolute;
	right: 40px;
	top: 50%;
	margin-top:-20px;
	font-size: 18px;
	line-height: 20px;
	padding: 10px 30px;
}
.subscribe-plans article .badge {
	position: absolute;
	background: url('../img/ribbon-1.svg') 50% 50% no-repeat;
	top: 11px;
	right: -26px;
	font-size: 9.8px;
	font-weight: 600;
	line-height: 1.69;
	letter-spacing: -0.2px;
	text-align: center;
	color: #333333;
	transform: rotate(41deg);
	text-align: center;
	border-radius: 0;
	width: 117px;
	height: 30px;
	line-height: 24px;
	padding-top:0;
	padding-bottom: 6px;
	font-style: normal;
}

.subscribe .plans-features {
	background-color: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	margin-bottom: 15px;
	padding:20px 30px;
}
.subscribe .plans-features h3 {
	font-family: Lato;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -0.4px;
	text-align: left;
	color: #8b519a;
	margin:0 0 10px;
}
.subscribe .plans-features .plan-feature {
	margin: 20px 0;
	position: relative;
	padding-left:48px;
}
.subscribe .plans-features .plan-feature figure {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -19px;
}
.subscribe .plans-features .plan-feature strong {
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
}
.subscribe .plans-features .plan-feature span {
	display: block;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: -0.3px;
	text-align: left;
	color: #333333;
}

.plan-feature-icon {
	width: 32px;
	height: 32px;
	display: block;
}
.plan-feature-icon.notification-icon {
	background:url('../img/notification.svg') no-repeat 50% 50%;
}
.plan-feature-icon.searches-icon {
	background:url('../img/searches.svg') no-repeat 50% 50%;
}
.plan-feature-icon.pdf-icon {
	background:url('../img/pdf.svg') no-repeat 50% 50%;
}
.plan-feature-icon.reports-icon {
	background:url('../img/email.svg') no-repeat 50% 50%;
}

.guarantee {
	background-color: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
}
.guarantee article {
	border-top: solid 1px #ebebeb;
	padding: 34px 30px 34px 166px;
	position: relative;
}
.guarantee article:first-child {
	border: none;
}
.guarantee article h4 {
	font-family: Lato;
	font-size: 22px;
	line-height: 1.03;
	letter-spacing: -0.4px;
	color: #8b519a;
	margin: 6px 0 14px;
}
.guarantee article p {
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: -0.4px;
	color: #333333;
}
.guarantee-icon {
	width: 110px;
	height: 93px;
}
.large-lock-icon {
	height: 44px;
	margin-right: 20px;
	float: left;
	margin-top: 15px;
}

.secured-text {
	max-width: 80%;
	float: left;
}

.verify-seal img {
  cursor: pointer;
	width: 80px;
}

.support-schedule {
	background-color: #353167;
	padding:50px 0;
	color:#FFF;
	margin-top: 40px;
}
.support-schedule header {
	border: solid 1px #FFF;
	width:65%;
	float:left;
	height: 106px;
	font-size: 26px;
	text-align: center;
	color: #fefefe;
	padding: 14px 0;
}
.support-schedule ul {
	margin:0;
	padding: 0;
	border-top: solid 1px #FFF;
	border-right: solid 1px #FFF;
	width:35%;
	float:left;
}
.support-schedule ul li {
	border-bottom: solid 1px #FFF;
	height:53px;
	line-height: 52px;
	font-size: 18px;
	text-align: center;
	color: #fefefe;
}
.support-schedule img {
	width:74px;
	display: inline-block;
	vertical-align: middle;
	margin-right:28px;
}
/* ********************************************************************** */
/* ***************************** Footer ********************************* */
/* ********************************************************************** */
#footer {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #747b91;
	font-size: 15px;
}
#footer p {
	font-style: normal;
}
@media (max-width: 767px) {
	#footer {
		padding-top: 0;
	}
}
.carla-wrapper {
	position: relative;
}
.carla-box {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow-y: hidden;
	min-height: 60px;
}
.carla {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 55px;
	height: 60px;
}
.carla-hand {
	position: absolute;
	right: 22px;
	bottom: -18px;
	width: 58px;
	height: 18px;
}

@media (max-width: 767px) {

  .navbar-logo img {
    width: 140px;
    height: 20px;
    margin: 2px 0px;
  }

	#footer,
	#footer p,
	#app .box-contents p.small {
		font-size: 15px;
	}
	.xs-center {
		text-align: center;
	}
}

.disclaimer {
	margin-top: 20px;
	margin-bottom: 40px;
}

.small-footer#footer {
	padding-top: 50px;
}

.small-footer .disclaimer {
	text-align: center;
	color: #333333;
}

/* ********************************************************************** */
/* *****************************  Responsive  *************************** */
/* ********************************************************************** */

@media screen and (max-width: 1199px) {
	h1 {
		font-size: 55px;
	}
}

@media (min-width: 1200px) {
	.report-summary .no-pad-left {
		padding-left: 15px;
	}

	.report-summary .no-pad-right {
		padding-right: 15px;
	}

	.report-summary .no-pad-left.padding-override {
		padding-left: 0px;
	}
}

@media screen and (max-width: 991px) {
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size:24px;
	}

	#header .badge {
		margin-top: 10px;
	}

	.subscribe-header {
		margin-bottom: 20px;
	}

	#main-content.lightblue-bg.subscribe {
    padding-bottom: 20px;
}

/* == Report Summary  ===================================== */
	.report-box {
    border-right: none;
	}

	.report-box p {
		margin-bottom: 20px;
	}

	.tablet-padding-right {
		padding-right: 15px;
		border-bottom: 1px dotted #cfd9de;
		padding-bottom: 30px;
	}

	.results-box p {
		margin-bottom: 20px;
	}

/* == Subscribe Form  ===================================== */
	.form-fields {
		margin-top: 30px;
	}

	.last-summary {
		margin-bottom: 0px;
	}

	#user_email {
		margin-bottom: 5px;
	}

	.support-schedule ul {
		width: 40%;
	}

	.support-schedule header {
		width: 60%;
		font-size: 22px;
	}

	#form-second-part {
		margin-bottom: 15px;
	}

}

@media (max-width: 767px) {
	body {
		font-size: 17px;
		line-height: 1.47
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size:18px;
	}

	label.error {
		font-size: 15px;
	}

	#header {
		padding: 18px 0 45px;
	}
	.logo {
		width: 120px;
		height: 17px;
		background-size: 100% auto;
	}
	#header {
		position: relative;
	}
	#header .badge {
		font-size:10px;
		margin-top: 0px;
	}

	#header.full-header {
		padding:20px;
	}
	#main-content.lightblue-bg {
		padding: 15px 0;
	}

	/* == Report Summary  ===================================== */
	.report-summary {
		padding: 20px 0px;
	}
	.report-summary figure {
		width: 80px;
		height: 80px;
		margin: 0 auto 12px;
	}

	.mobile-padding {
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	.avatar-box {
		height: 60px;
		width: 60px;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}

	.report-teasers span {
    float: none;
	}

	.report-box p {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.results-box {
		padding-left: 0px;
		padding-right: 0px;
	}

	.results-box p {
		padding-left: 15px;
	}

	.teaser-span {
		font-size: 14px;
	}

	.teaser-span img {
		margin-right: 8px;
	}

	.first-teaser {
		margin-bottom: 0px;
	}

	.teaser-span {
		margin-bottom: 15px;
	}

	.subscription-summary {
		padding: 20px 15px;
	}

	span.order-summary-heading {
		max-width: 80%;
		display: inline-block;
	}

	/* == Subscribe Form  ===================================== */

	#form-first-part {
		padding: 20px 0px;
	}

	#form-first-part h2 {
		padding-left: 15px;
	}

	.verify-seal img {
    width: 70px;
		padding-right: 15px;
	}

	.form-fields {
    margin-top: 20px;
	}

	.form-control {
		height: 44px;
		/*margin-bottom: 0px;*/
	}

	.control-label {
		font-size: 15px;
	}

	#user_email {
    margin-bottom: 0px;
	}

	.large-lock-icon {
		height: 33px;
		width: 28px;
	}

	.secured-section {
		padding: 15px;
	}

	.secured-text h4 {
    font-size: 14px;
	}

	.secured-section p {
		font-size: 13px;
	}

	#form-second-part {
		padding: 20px 0px;
		margin-bottom: 15px;
	}
	#form-second-part h2 {
    margin-bottom: 22px;
		padding: 0px 15px;
	}

	.radio input[type=radio] {
    margin-right: 2px;
	}

	.paypal-img {
    height: 22px;
	}

	#paypal-radio label,
	#credit-radio label {
		font-size: 13px;
	}

	.radio,
	#secure-wrapper {
		padding: 0px 15px;
	}
	.radio img {
    margin-right: 5px;
	}

	#credit-radio {
    padding-bottom: 30px;
	}

	#create_button_container {
		padding: 0px 15px;
	}

	.secured {
		padding: 20px 15px;
	}

	.subscribe .subscribe-header h1 {
		font-size: 18px;
	}
	.subscribe .subscribe-header h4 {
		font-size: 16px;
	}
	.subscribe-plans {
		padding:25px 20px;
	}
	.subscribe-plans h2 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.subscribe-plans article {
		padding: 20px 110px 20px 12px;
		margin-top: 15px;
	}
	.subscribe-plans article strong {
		font-size: 16px;
	}
	.subscribe-plans article span {
		font-size: 16px;
	}
	.subscribe-plans article .btn {
		right: 10px;
		font-size: 16px;
		padding: 9px 13px;
		line-height: 16px;
	}
	.subscribe-plans article .badge {
		transform: rotate(0deg);
		top: 8px;
	}
	.subscribe .plans-features h3 {
		font-size: 20px;
		margin-bottom: 0px;
	}
	.subscribe .plans-features .plan-feature strong {
		font-size: 16px;
	}
	.subscribe .plans-features .plan-feature span {
		font-size: 15px;
	}
	.guarantee article {
		padding:115px 30px 25px;
		text-align: center;
	}
	.guarantee article p {
		font-size: 15px;
	}
	.guarantee article h4 {
		font-size: 20px;
		margin-bottom: 6px;
	}
	.guarantee-icon {
		width: 98px;
		height: 83px;
	}

	.support-schedule {
		padding: 124px 0px 20px;
		margin-top: 0px;
	}
	.support-schedule header,
	.support-schedule ul {
		width: auto;
		float: none;
	}
	.support-schedule header {
		font-size: 20px;
		line-height: 30px;
		padding:25px 10px;
		height: auto;
	}
	.support-schedule header img {
		position: absolute;
		top: -94px;
		left:50%;
		margin:0 0 0 -37px;
	}
	.support-schedule ul {
		border-top: none;
		border-left: solid 1px #FFF;
	}
	.support-schedule ul li {
		font-size: 16px;
	}
	#footer.small-footer {
		padding-top:20px;
	}

}
