/* text helpers */

.text-primary {
  color: #33d4c0 !important;
}

.text-secondary {
  color: #ef2742 !important;
  font-weight: bold;
}

.text-info {
  color: #24c1db !important;
}

.text-mute {
  color: #6F6F6F !important;
  font-weight: normal;
}

.text-caption {
  font-size: 14px;
}

.text-centered {
  text-align: center !important;
}

.text-break {
  display: block !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-underline {
  text-decoration: underline !important;
}

/* background helpers */

.background-primary {
  background-color: #33d4c0;
  color: #fff;
}

.background-secondary {
  background-color: #ef2742;
  color: #fff;
}

.background-primary-light {
  background-color: #EFFCFA;
  color: #333;
}

/* image helpers */

.img-responsive {
  margin: 0 auto;
}

.img-centered {
  display: block;
  margin: 15px auto;
}

/* labels */

.label-primary {
  background: #33D4C0;
  color: #fff;
}

.label-rounded {
  padding: 7px 15.5px;
  border-radius: 50%;
}

.new-label {
  vertical-align: text-bottom;
  margin-left: 3px;
  padding: 0 3px 2px;
  border-radius: 4px;
  background-color: #FCC41C;
  color: #fff;
  font-size: 12px;
}

/* alerts */

.alert-warning {
  border: 0;
  background-color: #fcc41c;
  color: #333;
}

/* grid */

.table-row {
  display: table;
  height: 100%;
}

.table-col {
  display: table-cell;
  height: 100%;
}

/* ----
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden
---- */

.animated {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
     -moz-animation-name: shake;
       -o-animation-name: shake;
          animation-name: shake;
}
