/* header */

.header .header-search .header-search-bar {
    margin: 30px auto;
}

.header .header-search .form-group {
    padding: 0;
}

@media (min-width: 768px) {
    .header .header-search .form-group {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header .header-search .form-group:first-child {
        padding-left: 15px;
    }

    .header .header-search .form-group:last-child {
        padding-right: 15px;
    }
}