/* header */

.header .header-search .header-search-bar {
    margin: 30px auto;
}

/* content sections */

.content-section {
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #f7f7f7;
}

@media (min-width: 480px) {
    .content-section {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) {
    .content-section {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .content-section .title {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* data-panel content-section */

.content-section#data-panel {
    padding: 0;
}

/* data-panel content-section - results-header */

.content-section#data-panel .results-header {
    background-color: #fff;
}

.content-section#data-panel .results-header .title {
    margin-bottom: 15px;
}

.content-section#data-panel .results-header .sub-title {
    margin-bottom: 40px;
}

@media (min-width: 768px) {

    .content-section#data-panel .results-header {
        margin-bottom: 60px;
        -webkit-box-shadow: 0 2px 1px 0 #e1e1e1;
        -moz-box-shadow: 0 2px 1px 0 #e1e1e1;
        -ms-box-shadow: 0 2px 1px 0 #e1e1e1;
        box-shadow: 0 2px 1px 0 #e1e1e1;
    }
}

/* data-panel content-section - search-results */

.content-section#data-panel .search-results .container {
    padding: 0;
}

.content-section#data-panel .search-results .table {
    margin: 0;
    border-radius: 5px;
}

.content-section#data-panel .search-results .table .table-header {
    background-color: #7e8384;
    color: #fff;
}

.content-section#data-panel .search-results .table tr th,
.content-section#data-panel .search-results .table tr td {
    padding: 15px;
}

.content-section#data-panel .search-results .table tr th {
    border: 0;
    font-size: 14px;
}

.content-section#data-panel .search-results .table .results-table-row {
    cursor: pointer;
}

.content-section#data-panel .search-results .table .results-table-row:nth-child(odd) {
    background-color: #fff;
}

.content-section#data-panel .search-results .table .results-table-row:nth-child(even) {
    background-color: #f7f7f7;
}

.content-section#data-panel .search-results .table .results-table-row:hover {
    background-color: #F4F4F4;
}

.content-section#data-panel .search-results .table .td-photo .photo-locked {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content-section#data-panel .search-results .table .td-photo .photo-locked .fa-user {
    color: #DCDCDC;
    font-size: 40px;
}

.content-section#data-panel .search-results .table .td-photo .photo-locked .fa-lock {
    position: absolute;
    bottom: -3px;
    right: -3px;
    padding: 2px 4px 2px 5px;
    border-radius: 50%;
    background: #F9F9F9;
    color: #3F3F3F;
    font-size: 14px;
    text-align: center;
}

.content-section#data-panel .search-results .table .results-table-row:hover .td-photo .photo-locked .fa-lock {
    color: #ef2742;
}

.content-section#data-panel .search-results .table .td-name .text-secondary.text-underline {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 480px) {

    .content-section#data-panel .search-results .table tr #th-cities,
    .content-section#data-panel .search-results .table tr .td-cities {
        display: inline-block !important;
    }
}

@media (min-width: 768px) {

    .content-section#data-panel .search-results .container {
        padding: 0 15px;
    }

    .content-section#data-panel .search-results .table {
        -webkit-box-shadow: 0 0 6px 3px #EAEAEA;
        -moz-box-shadow: 0 0 6px 3px #EAEAEA;
        -ms-box-shadow: 0 0 6px 3px #EAEAEA;
        box-shadow: 0 0 6px 3px #EAEAEA;
    }

    .content-section#data-panel .search-results .table tr th {
        font-size: 18px;
    }

    .content-section#data-panel .search-results .table tr th:first-child {
        border-top-left-radius: 5px;
    }

    .content-section#data-panel .search-results .table tr th:last-child {
        border-top-right-radius: 5px;
    }

    .content-section#data-panel .search-results .table .td-photo .photo-locked .fa-lock {
        right: 0;
    }
}

@media (min-width: 992px) {

    .content-section#data-panel .search-results .table tr th {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {

    .content-section#data-panel .search-results .table tr th {
        font-size: 22px;
    }

    .content-section#data-panel .search-results .table .td-photo .photo-locked .fa-lock {
        right: 5px;
    }
}

/* data-panel content-section - refine-search-results */

.content-section#data-panel .refine-search-results .title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.content-section#data-panel .refine-search-results .refine-modal-trigger {
    margin-bottom: 50px;
    -webkit-box-shadow: 0 4px 1px -1px #8B1C2B;
    -moz-box-shadow: 0 4px 1px -1px #8B1C2B;
    -ms-box-shadow: 0 4px 1px -1px #8B1C2B;
    box-shadow: 0 4px 1px -1px #8B1C2B;
    color: #ef2742;
}

.content-section#data-panel .refine-search-results .refine-modal-trigger:hover {
    -webkit-box-shadow: 0 3px 1px -1px #8B1C2B;
    -moz-box-shadow: 0 3px 1px -1px #8B1C2B;
    -ms-box-shadow: 0 3px 1px -1px #8B1C2B;
    box-shadow: 0 3px 1px -1px #8B1C2B;
    border-color: #eee;
    background-color: #eee;
    color: #ef2742;
}

.content-section#data-panel .refine-search-results .refine-modal-trigger:focus,
.content-section#data-panel .refine-search-results .refine-modal-trigger:active,
.content-section#data-panel .refine-search-results .refine-modal-trigger:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #e9e9e9;
    background-color: #e9e9e9;
    color: #ef2742;
}

@media (min-width: 768px) {

    .content-section#data-panel .refine-search-results {
        margin-top: 60px;
    }
}

/* no-results content-section */

.content-section#no-results {
    padding-bottom: 0;
}

.content-section#no-results .no-results-desc {
    margin-bottom: 50px;
}

.content-section#no-results .no-results-desc .img-logo {
    display: block;
    width: 80px;
    float: right;
    margin: 15px;
}

.content-section#no-results .no-results-desc .title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.no-results-form-container {
    padding: 30px 0 15px;
}

@media (min-width: 768px) {
    .content-section#no-results .no-results-desc {
        margin-bottom: 100px;
    }

    .content-section#no-results .no-results-desc .img-logo {
        width: auto;
    }

    .content-section#no-results .no-results-desc .title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .no-results-form-container .pl-search {
        padding: 0;
    }
}