.checkbox #emailCheckbox {
  height: auto;
  margin-top: 4px !important;
}

.checkbox,
.radio {
  margin-top: 0;
  margin-bottom: 0;
}

#gen-report-modal6 .emailcheckbox-text {
  margin-top: 0;
  margin-bottom: 0;
}
