h2,
h3,
h4,
h5,
h6,
body,
p,
a,
li,
input,
label,
small,
button,
select,
table th,
table td,
.nav-collapse .nav>li>a,
.nav-collapse .dropdown-menu a {
  text-shadow: none;
}

a,
button,
input,
.dropdown-toggle,
.link-wrap {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

body {
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  font-size: 16px;
  /*font-weight: 200;*/
  line-height: 21px;

  min-width: 280px;
  background-color: #f5fafc;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 26px;
}

/* ================================================ */
/* == NAVBAR  ===================================== */
/* ================================================ */
nav {
  font-size: 16px;
  margin: 0!important;

  color: #fff;
  border: none;
  border-radius: 0!important;
  background-color: #024485;
  background: #353167; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #353167 0%, #4a3b8f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #353167 0%,#4a3b8f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #353167 0%,#4a3b8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353167', endColorstr='#4a3b8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.navbar-toggle {
  margin-top: -4px;
  padding: 6px 7px;
}

.navbar-default {
  border: none !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle,
.navbar-inverse .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:focus {
  border-color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:hover {
  border-color: #73b649;
  background-color: #73b649;
}

.navbar-header {
  float: none !important;
}

.navbar-logo {
  float: left;
}

.navbar-logo img{
  display: block;
  margin:15px 0px;
  width: 160px;
  height: 30px;
}

.cheaters-nav {
  border-radius: 5px;
  background: #ef2742;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 10px;
  display: inline-block;
  float: left;
  margin-top: 22px;
  margin-left: 5px;
}

/* ================================================ */
/* == BODY STUFF  ================================= */
/* ================================================ */
label.error {
  line-height: 18px;

  width: 100%;
  margin: -5px 0 10px 0;
  margin: 2px 0 10px 0 \9;
  padding: 6px 0;

  text-align: center;

  color: #c9302b;
  border: 1px solid #e9322d;
  border-radius: 4px;
  background-color: #f2dede;
}

section {
  display: block;
  height: 100%
}

.side-bar {
  background: white;
  padding: 0px;
  box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.14);
  animation: slide-right 0.75s forwards;
  position: relative;
  left: -100%;
}

@keyframes slide-right {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

.map img {
  /*background: url('../img/google-map.png');
  background-repeat: no-repeat;
  background-size: 100%;*/
  /*height: 355px;*/
  height: 100%;
  width: 100%;
}

.testimonials {
  padding: 30px;
  position: relative;
}

.testimonials img {
  height: 40px;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 5px;
}

.testimonials p {
  font-size: 17px;
  line-height: 1.29;
}
img.quotes {
  height: 34px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 0%;
}
.info-box {
  margin-bottom: 30px;
  margin-top: 15px;
}
.text  {
  display: inline-block;
}

.info-box p {
  font-size: 14px;
  margin-bottom: 0;
}

.info-box p.name {
  font-size: 15px;
  color: #60ab41;
}

.first-account {
  border-bottom: 1px solid #e1e1e1;
}

.second-account {
  padding-top: 30px;
}

.secured {
  padding: 35px 25px;
  background-color: #fcedba;
}

.secured h4 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
}

.secured img {
  height: 50px;
  vertical-align: top;
  margin-right: 10px;
  float: left;
}

.secured .text {
  width: 80%;
}

/* ================================================ */
/* == PROGRESS BAR  =============================== */
/* ================================================ */

.progress-wrap {
  margin: 0px;

  border-radius: 0px;
  background: #DAF3C0;
}

.progress-wrap .progress {
  height: 60px;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.14);
  background-size: 40px 40px;
  /*background-color: #DAF3C0;*/
}

.progress-wrap .progress .progress-bar {
  background-color: #5cb85c;
}

.progress-wrap .progress .progress-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: right;
  color: #000;
}

.progress-wrap .progress .progress-text-outer {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: static;
  display: block;
  margin-right: 8px;
  text-align: left;
  color: #000;
}

.progress {
  border-radius: 0px !important;
}

/* ================================================ */
/* == ACTION BOX  ================================= */
/* ================================================ */

.action-header {
  /*background: #7e6f9c;*/
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  color: white;
  position: relative;
  left: 100%;
  animation: 1s slide-left 0.5s forwards;
}

.action-header.no-animation,
.side-bar.no-animation {
  animation: none !important;
}

@keyframes slide-left{
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

.phone-circle,
.check-circle{
  border-radius: 50%;
  opacity: 0.1;
	background-color: #ffffff;
  height: 100px;
  width: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

.phone,
.check {
  height: 50px;
  position: absolute;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.phone-box,
.check-box {
  float:left;
  display: inline-block;
  position: relative;
  margin-left: 30px;
}

.header-box {
  float: left;
  margin-left: 30px;
}

.header-box h2 {
  max-width: 550px;
}

.check {
  height: 73px;
  top: 14%;
}

.all-day {
  display: inline-block;
  border-radius: 16.5px;
  background-color: #66498a;
  padding: 5px 12px;
  margin-bottom: 0px;
}
.all-day img {
  height: 22px;
  margin-right: 5px;
}

.custom-container {
  margin-right: auto;
  margin-left: auto;
}

.action-box {
  background: white;

  border-radius: 10px;
  box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
  opacity: 0;
  animation: 1s fade-in forwards;

}

.action-section {
  padding-top: 75px;
}

.switch-section p {
  font-size: 17px;
  line-height: 1.65;
}
.switch-section,
.action-section,
.headers{
  display: none;
}

.switch-section.active,
.action-section.active,
.headers.active {
  display: block;
}

.headers {
  padding-bottom: 35px;
}

#secondAction.action-section.active {
  animation: fade-in 1.25s forwards;
  opacity: 0;

}

@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-tabs .tab.active {
  border-bottom: none;
  background: url('../img/active-2.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 110%;
}

.tab {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 25px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  height: 130px;
}

.no-border {
  border-right: none;
}

.tab img {
  height: 40px;
}

.tab-number {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: rgba(51, 51, 51, 0.1);
  position: absolute;
  right: 15px;
  top: 15px;
}

.bottom-action {
  padding: 60px 15px 80px;
}

.bottom-action .loader {
  border-radius: 50%;
  filter: drop-shadow(0px 0px 20px rgba(122, 55, 204, 0.2));
  -moz-filter: drop-shadow(0px 0px 20px rgba(122, 55, 204, 0.2));
  -webkit-filter: drop-shadow(0px 0px 20px rgba(122, 55, 204, 0.2));
  -ms-filter: drop-shadow(0px 0px 20px rgba(122, 55, 204, 0.2));
  -o-filter: drop-shadow(0px 0px 20px rgba(122, 55, 204, 0.2));
}

.loader-box {
  height: 165px;
  width: 165px;
  display: none;
}

.loader-box.active {
  display: block;
}

.loader-box img {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.loader {
  z-index: 1
}
.loader-icon {
  height: 80px;
  z-index: 2;
  top: 25%;
}

/* ================================================ */
/* == Preview Box  ================================ */
/* ================================================ */

#secondAction.action-section {
  padding-top: 0px;
}
h2.overview {
  margin-bottom: 25px;
  margin-top: 30px;
}
#previewBox {
  margin-bottom: 130px;
}
.left-preview,
.unlock-section {
  padding: 35px 15px;
  /*padding-bottom: 45px;*/
}

.left-preview {
  border-right: solid 1px #e1e1e1;
}

.left-preview h2 {
  margin-top: 0px;
}
table {
  margin-bottom: 40px;
  margin-top: 30px;
}
td {
  padding-bottom: 20px;
}

.table-category {
  font-weight: bold;
  padding-left: 20px;
  border-right: solid 1px #e1e1e1;
  padding-right: 20px;
}

.table-data {
  padding-left: 20px;
}

td.no-bottom-pad {
  padding-bottom: 0px;
}

.avatar-box {
  height: 90px;
  width: 90px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.1);
}

.avatar-lock {
  position: absolute;
  height: 30px;
  bottom: 0;
  right: 0;
}

.btn-large {
  height: 60px;
	border-radius: 8px;
	background-color: #5cb85c;
	box-shadow: 0 -5px 0 0 #51a251 inset;
  color: white;
  font-size: 20px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.btn-large:hover {
  -webkit-box-shadow: 0 -3px 0 #506e32 inset;
  -moz-box-shadow: 0 -3px 0 #506e32 inset;
  box-shadow: 0 -3px 0 #506e32 inset;
  background-color: #51a251;
}
.btn-large:focus {
  outline: none;
}

.unlock-header {
  margin-bottom: 45px;
}
.unlock-section h3 {
  margin-bottom: 15px;
}

.unlock-section p {
  margin-bottom: 0px;
}

.yellow-icons {
  position: relative;
  width: 28px;
	height: 28px;
	background-color: #f5c419;
  border-radius: 50%;
  display: inline-block;
  bottom: 0px;
}

.yellow-icons img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
  height: 50%;
}
.locked-points {
  margin-bottom: 20px;
}
.locked-points p {
  margin-top: 5px;
}
.red-lock {
  margin-top: 9px;
  height: 12px;
}

/* ================================================ */
/* == Lead Box   ================================== */
/* ================================================ */

#thirdAction.action-section {
  padding-top: 20px;
}

#thirdAction h2.overview {
  margin: 30px 0px 50px;
}
.lead-section {
  background: #edf8ff;
  border-radius: 5px;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}


/* <--------------- left side */

.left-column {
  background: white;
  font-size: 26px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.lead-header h3 {
  display: inline-block;
  float: left;
}
.norton {
  float: right;
  width: 68px;
}
.lead-part {
  padding: 40px 15px 20px 30px;
}

.form-input-group {
  margin-bottom: 10px;
  padding: 25px 30px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 8px;
  font-size: 15px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#signup-modal-form input {
  height: 50px;
  margin-bottom: 15px;
  box-shadow: inset 0 2px 5px 0 rgba(149, 149, 149, 0.57);
	border: solid 1px #c2c2c2;
}

#signup-modal-form input:focus {
  border-radius: 5px;
  border: solid 1px #66afe9;
  box-shadow: 0 0 10px 0 rgba(102, 175, 233, 0.44), inset 0 0 8px 0 rgba(102, 175, 233, 0.57);
}

.bold-labels {
  text-align: right;
  font-size: 15px;
}

p.tos-text {
  font-size: 11px;
  line-height: 14px;
  margin-top: 10px;
}

h6.create-login {
  font-weight: 500;
  text-align: center;
}

#signup-modal-form label.error {
  margin: 0 0 10px;
  font-size: 16px;
}

label.error {
  line-height: 18px;
  width: 100%;
  margin: -5px 0 10px 0;
  margin: 2px 0 10px 0 \9;
  padding: 6px 0;
  text-align: center;
  color: #c9302b;
  border: 1px solid #e9322d;
  border-radius: 4px;
  background-color: #f2dede;
}

/* <--------------- right side */

.full-section.col-sm-12 {
  transition: width 0.75s;
}
.why-bv {
  padding: 40px 20px 20px;
  border-bottom-right-radius: 6px;
}

.why-header {
  position: relative;
}

.why-bv h5 {
  font-size: 22px;
  margin: 0px;
}
.why-bv h6 {
  margin-top: 0px;
  text-align: center;
  font-size: 26px;
  color: #9B9B9B;
  margin-bottom: 40px;
  letter-spacing: 1.54px;
}

.why-subheaders {
  font-size: 15px;
  margin-bottom: 30px;
}

.why-bv .left {
  left: 0px;
}

.why-bv .right {
    right: 0px;
}

.why-bv hr {
  width: 37px;
  border: 1px solid rgba(151,151,151,0.23);
  position: absolute;
  margin: 0px;
  top: 14px;
}

.security-disclaimer {
  margin-bottom: 80px;
}

.security-disclaimer p {
  display: inline-block;
  padding-left: 5px;
}

.security-disclaimer img {
  vertical-align: baseline;
  position: relative;
  top: 1px;
}
.no-pad-right {
  padding-right: 0px;
}
.no-pad-left {
  padding-left: 0px;
}

/* ================================================ */
/* == FOOTER  ===================================== */
/* ================================================ */


#footer {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #747b91;
  background-color: #fff;
  position: relative;
}

.carla-wrapper {
  position: relative;
}
.carla-box {
  position: absolute;
  right: 0;
  bottom: 0;

  overflow-y: hidden;

  min-height: 60px;
}
.carla {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 55px;
  height: 60px;
}
.carla-hand {
  position: absolute;
  right: 22px;
  bottom: -18px;

  width: 58px;
  height: 18px;
}

.footer-links {
  margin-bottom: 75px;
}
#footer h4 {
  font-size: 22px;
  font-weight: bold;

  margin-bottom: 10px;

  color: #484848;
}
#footer .customer-service-wrapper {
  margin-bottom: 30px;
  padding: 20px 20px 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #efefef;
}
#footer .footer-link-group {
  padding-top: 20px;
}

#footer p {
  font-size: 14px;
  font-weight: 400;

  color: #747b91;
}
#footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
#footer li {
  margin-bottom: 4px;

  color: #747b91;
}
#footer a {
  color: #0f2d8f;
}
#footer a:hover,
#footer a:focus {
  text-decoration: none;

  color: #3b49e5;
}

.social-links {
  margin-top: 15px;
  margin-bottom: 40px;
}
.social-links img {
  max-width: 22px;
  margin-right: 5px;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 1px solid #cecfd5;
}

#footer .email-address a,
#footer .phone-number a {
  color: #0f2d8f;
}
#footer .phone-number {
  color: #333;
}
#footer i.star {
  font-size: 18px;

  opacity: 1;
  color: #f2da3e;
}
.disclaimer {
  margin-top: 20px;
  margin-bottom:
}

/* ================================================ */
/* == RESPONSIVE  ================================= */
/* ================================================ */
@media (min-width: 1600px){
  #map {
    height: 400px !important;
  }
}

@media (min-width: 1400px){
  .left-preview,
  .unlock-section {
    padding: 35px 30px;
    /*padding-bottom: 45px;*/
  }

  .avatar-box {
    height: 100px;
    width: 100px;
  }

  .avatar-lock {
    height: 30px;
  }

  .table-category {
    padding-right: 40px;
  }

  .table-data {
    padding-left: 40px;
  }
}

@media (min-width: 1200px) {
  .header-box h2 {
    max-width: unset;
  }

}

@media (max-width: 991px){

  h2 {
    font-size: 28px;
  }
  /* == Progress Bar  ===================================== */

  .progress-wrap .progress .progress-text,
  .progress-wrap .progress .progress-text-outer,
  .progress-wrap .progress .progress-text-inner{
    height: 50px;
    line-height: 50px;
  }

  .progress-wrap .progress {
    height: 50px;
    font-size: 18px;
  }


/* == Action Header  ===================================== */
  .phone-circle,
  .check-circle {
    height: 85px;
    width: 85px;
  }

  .phone {
    height: 40px
  }

  .check {
    height: 44px;
  }

  .check {
    height: 63px;
    top: 13%;
  }

  .phone-box,
  .header-box,
  .check-box {
    margin-left: 25px;
  }

  .header-box h2 {
    max-width: 375px
  }
/* == Action Box  ===================================== */

  .action-section {
    padding-top: 40px;
  }

  .step-number {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: rgba(51, 51, 51, 0.1);
    position: absolute;
    right: 35px;
    top: 20px;
  }

  .loader-box {
    height: 130px;
    width: 130px;
  }

  .loader {
    z-index: 1;
    height: 130px;
  }
  .loader-icon {
    height: 64px;
    z-index: 2;
    top: 22%;
  }

  /* == Side Bar   ===================================== */
  .secured h4 {
    font-size: 18px;
  }

  .testimonials {
    padding: 25px;
  }

  /* ==  Preview Box   ===================================== */

  .left-preview {
    padding: 35px 25px;
  }

  h2.overview {
    margin-top: 25px;
  }

  table {
    margin-bottom: 30px;
  }
  td {
    padding-bottom: 18px;
  }

  td.not-last {
    padding-bottom: 24px;
  }
  .table-category {
    width: 57%;
  }

  .table-date {
    padding-left: 25px;
  }

  .red-lock {
    margin-top: 0px;
    height: 20px;
  }

  .btn-large {
    height: 50px;
  }

    /* ==  Lead Box   ===================================== */

    .lead-section {
      width: 100%;
      margin-bottom: 30px;
    }

    #thirdAction h2.overview {
      margin: 10px 0px 30px;
    }

    .security-disclaimer {
      margin-bottom: 50px;
    }

}

@media (max-width: 767px){
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .navbar-logo img {
    width: 140px;
    height: 20px;
    margin: 25px 0px;
  }

  .cheaters-nav {
    font-size: 10px;
    margin-top: 26px;
  }

  .action-header {
    background-size: cover;
    text-align: center;
    padding-top: 10px;
    left: -0%;
    animation: none;
  }

  .headers{
    padding-bottom: 20px;
  }

  .phone-box,
  .check-box {
    margin-bottom: 10px;
  }


  .phone-circle,
  .check-circle {
    height: 57px;
    width: 57px;
  }

  .phone {
    height: 30px;
  }

  .check {
    height: 45px;
    top: 11%;
  }

  .all-day {
    font-size: 13px;
  }

  .phone-box,
  .header-box,
  .check-box {
    margin-left: 0px;
    float: none;
    display: block;
    margin-left: 0px;
  }

  .header-box h2 {
    max-width: unset;
    margin-left: 0px
  }

  /* == Progress Bar  ===================================== */

  .progress-wrap .progress .progress-text,
  .progress-wrap .progress .progress-text-outer,
  .progress-wrap .progress .progress-text-inner{
    height: 40px;
    line-height: 40px;
  }

  .progress-wrap .progress {
    height: 40px;
    font-size: 14px;
  }

  .map {
    height: 110px;
  }

  /* == Action Box  ===================================== */
  .action-section {
    padding: 0px;
  }

  .mobile-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .action-box {
    border-radius: 0;
    box-shadow: none;
  }

  .bottom-action {
    padding: 45px 15px;
    text-align: center;
  }

  .loader-box {
    height: 120px;
    width: 120px;
    margin-bottom: 30px;
  }

  .loader {
    z-index: 1;
    height: 120px;
  }
  .loader-icon {
    height: 64px;
    z-index: 2;
    top: 22%;
  }

  .switch-section p {
    font-size: 15px;
  }

  .secured {
    padding: 15px;
  }

  .secured h4 {
    font-size: 16px;
  }

  .secured p {
    font-size: 13px;
  }

  .secured img {
    margin-right: 0px;
  }

  .testimonials p {
    font-size: 15px;
  }

  /* ==  Preview Box   ===================================== */

  #previewBox {
    margin-bottom: 0px;

  }
  #previewBox h2 {
    font-size: 22px;
  }

  #previewBox h2.overview {
    margin-top: 0px;
    text-align: center;
  }
  #previewBox .mobile-header h2 {
    font-size: 26px;
  }

  #previewBox .headers p {
    font-size: 15px;
  }
  .owner-name {
    font-size: 14px;
    display: block;
    margin-bottom: 16px;
  }
  .left-preview {
    padding: 20px;
  }

  .avatar-box {
    height: 70px;
    width: 70px;
  }

  .avatar-lock {
    height: 30px;
  }
  td {
    padding-bottom: 18px;
  }

  td.not-last {
    padding-bottom: 24px;
  }
  .table-category {
    width: 55%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .table-date {
    padding-left: 25px;
  }

  .red-lock {
    margin-top: 0px;
    height: 15px;
  }

  .btn-large {
    height: 56px;
  }

  /* ==  Lead Box   ===================================== */

  #thirdAction.action-section {
    padding-top: 0px;
  }

  .lead-section {
    margin-bottom: 0px;
  }

  .lead-header h3 {
    float: none;
  }

  .lead-part {
    padding: 20px;
  }

  .tos-text {
    text-align: center;
  }

  .create-login {
    margin-top: 0px;
  }

  #signup-modal-form input {
    height: 44px;
  }

/* == Footer  ===================================== */
  #footer {
    padding-top: 0;
  }

  #footer h4 {
    font-size: 18px;

    margin-top: 20px;
    margin-bottom: 12px;
  }
  #footer .customer-service-wrapper {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;

    border: none;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    background-color: #fff;
  }
  #footer ul a {
    line-height: 40px;
  }

  .social-links img {
    width: 100%;
    max-width: 40px;
  }

  .xs-center {
    text-align: center;
  }

}
