@font-face {
  font-family: 'bvicons';
  src:  url('../fonts/bvicons.eot?ua2xlo');
  src:  url('../fonts/bvicons.eot?ua2xlo#iefix') format('embedded-opentype'),
    url('../fonts/bvicons.ttf?ua2xlo') format('truetype'),
    url('../fonts/bvicons.woff?ua2xlo') format('woff'),
    url('../fonts/bvicons.svg?ua2xlo#bvicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bvicon-"], [class*=" bvicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bvicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bvicon-question-circle:before {
  content: "\e925";
}
.bvicon-question-circle2 .path1:before {
  content: "\e923";
  color: rgb(102, 68, 144);
}
.bvicon-question-circle2 .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.bvicon-sales-badge .path1:before {
  content: "\e916";
  color: rgb(34, 49, 100);
}
.bvicon-sales-badge .path2:before {
  content: "\e917";
  margin-left: -1.359375em;
  color: rgb(34, 49, 100);
}
.bvicon-sales-badge .path3:before {
  content: "\e918";
  margin-left: -1.359375em;
  color: rgb(34, 49, 100);
}
.bvicon-sales-badge .path4:before {
  content: "\e919";
  margin-left: -1.359375em;
  color: rgb(34, 49, 100);
}
.bvicon-sales-badge .path5:before {
  content: "\e91a";
  margin-left: -1.359375em;
  color: rgb(255, 255, 255);
}
.bvicon-sales-badge .path6:before {
  content: "\e91b";
  margin-left: -1.359375em;
  color: rgb(34, 49, 100);
}
.bvicon-sales-badge .path7:before {
  content: "\e91c";
  margin-left: -1.359375em;
  color: rgb(41, 65, 121);
}
.bvicon-sales-badge .path8:before {
  content: "\e91d";
  margin-left: -1.359375em;
  color: rgb(41, 65, 121);
}
.bvicon-sales-badge .path9:before {
  content: "\e91e";
  margin-left: -1.359375em;
  color: rgb(41, 65, 121);
}
.bvicon-sales-badge .path10:before {
  content: "\e91f";
  margin-left: -1.359375em;
  color: rgb(41, 65, 121);
}
.bvicon-sales-badge .path11:before {
  content: "\e920";
  margin-left: -1.359375em;
  color: rgb(41, 65, 121);
}
.bvicon-sales-badge .path12:before {
  content: "\e921";
  margin-left: -1.359375em;
  color: rgb(41, 65, 121);
}
.bvicon-sales-badge .path13:before {
  content: "\e922";
  margin-left: -1.359375em;
  color: rgb(41, 65, 121);
}
.bvicon-angle-left-thick:before {
  content: "\e915";
}
.bvicon-angle-right-thick:before {
  content: "\e912";
}
.bvicon-mailbox:before {
  content: "\e913";
}
.bvicon-NW-logo:before {
  content: "\e914";
}
.bvicon-neighbors:before {
  content: "\e90d";
}
.bvicon-star:before {
  content: "\e90e";
}
.bvicon-homes:before {
  content: "\e90f";
}
.bvicon-badge:before {
  content: "\e910";
}
.bvicon-school:before {
  content: "\e911";
}
.bvicon-close:before {
  content: "\e90b";
}
.bvicon-search:before {
  content: "\e90c";
}
.bvicon-angle-left:before {
  content: "\e900";
}
.bvicon-angle-right:before {
  content: "\e901";
}
.bvicon-aka:before {
  content: "\e902";
}
.bvicon-cake:before {
  content: "\e903";
}
.bvicon-location:before {
  content: "\e904";
}
.bvicon-users:before {
  content: "\e905";
}
.bvicon-caret:before {
  content: "\e906";
}
.bvicon-email:before {
  content: "\e907";
}
.bvicon-user:before {
  content: "\e908";
}
.bvicon-phone:before {
  content: "\e909";
}
.bvicon-home:before {
  content: "\e90a";
}

