/* layout */

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.layout {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.layout#bv-layout-freemium {
  background: rgb(75,83,172);
  background: -webkit-linear-gradient(top, rgba(75,83,172,1) 0%,rgba(111,117,184,1) 100%);
  background: -moz-linear-gradient(top, rgba(75,83,172,1) 0%, rgba(111,117,184,1) 100%);
  background: -ms-linear-gradient(top, rgba(75,83,172,1) 0%, rgba(111,117,184,1) 100%);
  background: -o-linear-gradient(top, rgba(75,83,172,1) 0%, rgba(111,117,184,1) 100%);
  background: linear-gradient(to bottom, rgba(75,83,172,1) 0%,rgba(111,117,184,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b53ac', endColorstr='#6f75b8',GradientType=0 );
}

/* header */

.header {
  background-color: #fff;
}

.header .navbar {
  padding: 15px;
  border-radius: 0;
}

.header .navbar .navbar-brand {
  padding: 0;
  height: auto;
}

.header .navbar .navbar-text {
  display: none;
  float: right;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.header .navbar .navbar-text strong {
  font-weight: bold;
}

@media (min-width: 480px) {
  .header .navbar .navbar-text {
    display: block;
  }
}

/* content */

.content {
  padding-bottom: 100px;
  color: #fff;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.footer .container {
  padding: 15px;
}

.footer .container .copyright {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.footer .container .copyright .current-year {
  font-size: inherit;
  font-weight: normal;
  vertical-align: baseline;
}

.footer .container .footer-links {
  display: inline-block;
  position: relative;
  top: 3px;
  float: right;
  margin: 0;
  font-weight: normal;
}

.footer .container .footer-links .footer-link {
  font-size: 16px;
}

/* popover */

.popover .title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.popover .sub-title {
  margin: 10px 0;
  font-size: 16px;
}

.popover .popover-text {
  margin: 0;
  font-size: 12px;
}
