/* buttons */

.btn {
  outline: 0;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.btn:focus, .btn:active, .btn:active:focus {
  outline: 0;
}

.btn-primary {
  -webkit-box-shadow: 0 4px 1px -1px #599234;
  -moz-box-shadow: 0 4px 1px -1px #599234;
  -ms-box-shadow: 0 4px 1px -1px #599234;
  -o-box-shadow: 0 4px 1px -1px #599234;
  box-shadow: 0 4px 1px -1px #599234;
  border: 1px solid #6dac45;
  background-color: #6dac45;
  color: #fff;
}

.btn-primary:hover {
  -webkit-box-shadow: 0 3px 1px -1px #599234;
  -moz-box-shadow: 0 3px 1px -1px #599234;
  -ms-box-shadow: 0 3px 1px -1px #599234;
  -o-box-shadow: 0 3px 1px -1px #599234;
  box-shadow: 0 3px 1px -1px #599234;
  border-color: #77C347;
  background-color: #77C347;
  color: #fff;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #599234;
  background-color: #599234;
  color: #fff;
}

.btn-secondary {
  -webkit-box-shadow: 0 4px 1px -1px #3C4394;
  -moz-box-shadow: 0 4px 1px -1px #3C4394;
  -ms-box-shadow: 0 4px 1px -1px #3C4394;
  -o-box-shadow: 0 4px 1px -1px #3C4394;
  box-shadow: 0 4px 1px -1px #3C4394;
  border: 1px solid #4b53ac;
  background-color: #4b53ac;
  color: #fff;
}

.btn-secondary:hover {
  -webkit-box-shadow: 0 3px 1px -1px #3C4394;
  -moz-box-shadow: 0 3px 1px -1px #3C4394;
  -ms-box-shadow: 0 3px 1px -1px #3C4394;
  -o-box-shadow: 0 3px 1px -1px #3C4394;
  box-shadow: 0 3px 1px -1px #3C4394;
  border-color: #6f75b8;
  background-color: #6f75b8;
  color: #fff;
}

.btn-secondary:focus, .btn-secondary:active, .btn-secondary:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #3C4394;
  background-color: #3C4394;
  color: #fff;
}

.btn-default {
  -webkit-box-shadow: 0 4px 1px -1px #6dac45;
  -moz-box-shadow: 0 4px 1px -1px #6dac45;
  -ms-box-shadow: 0 4px 1px -1px #6dac45;
  -o-box-shadow: 0 4px 1px -1px #6dac45;
  box-shadow: 0 4px 1px -1px #6dac45;
  border: 1px solid #fff;
  background-color: #fff;
  color: #4b53ac;
}

.btn-default:hover {
  -webkit-box-shadow: 0 3px 1px -1px #6dac45;
  -moz-box-shadow: 0 3px 1px -1px #6dac45;
  -ms-box-shadow: 0 3px 1px -1px #6dac45;
  -o-box-shadow: 0 3px 1px -1px #6dac45;
  box-shadow: 0 3px 1px -1px #6dac45;
  border-color: #4b53ac;
  background-color: #4b53ac;
  color: #fff;
}

.btn-default:focus, .btn-default:active, .btn-default:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #4b53ac;
  background-color: #4b53ac;
  color: #fff;
}

.btn-transparent {
  -webkit-box-shadow: 0 4px 1px -1px #6dac45;
  -moz-box-shadow: 0 4px 1px -1px #6dac45;
  -ms-box-shadow: 0 4px 1px -1px #6dac45;
  -o-box-shadow: 0 4px 1px -1px #6dac45;
  box-shadow: 0 4px 1px -1px #6dac45;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn-transparent:hover {
  -webkit-box-shadow: 0 3px 1px -1px #6dac45;
  -moz-box-shadow: 0 3px 1px -1px #6dac45;
  -ms-box-shadow: 0 3px 1px -1px #6dac45;
  -o-box-shadow: 0 3px 1px -1px #6dac45;
  box-shadow: 0 3px 1px -1px #6dac45;
  border-color: #fff;
  background-color: #fff;
  color: #6dac45;
}

.btn-transparent:focus, .btn-transparent:active, .btn-transparent:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-color: #fff;
  background-color: #fff;
  color: #6dac45;
}

/* forms */

.form-label {
  margin: 10px 0;
  color: #2a2c2e;
  font-weight: normal;
}

.form-control {
  border-radius: 4px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox .form-label {
  margin: 0;
  padding-left: 30px;
  font-size: 12px;
}

.checkbox .form-label .checkbox-input {
  margin-left: -30px;
}

@media (min-width: 768px) {
  .checkbox .form-label {
    font-size: 14px;
  }
}

/* form states */

.form-control.input-error {
  border-color: #F36666;
  background-color: #FFF8F8;
  color: #F36666;
}

.form-group .error {
  margin: 0;
  font-size: 14px;
  color: #F36666;
  font-weight: normal;
}

.form-group .label-success {
  position: absolute;
  top: 58px;
  right: 22px;
  margin: 0;
  background-color: transparent;
}

.form-group .label-success img {
  width: 24px;
}

.checkbox .form-label.input-error {
  color: #F36666;
}

.checkbox .error {
  margin-top: 20px;
  padding-left: 30px;
  color: #F36666;
  font-size: 14px;
}

.checkbox .label-success {
  display: none !important;
}

/* labels */

.label-transparent {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-size: initial;
}

/* segments */


.segment {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #747b91;
}

@media (min-width: 768px) {
  .segment {
    padding: 30px;
  }
}

.segment-primary {
  border-top: 10px solid #6dac45;
}

/* loaders */

.loading {
  position: relative;
  height: 46px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #9197D0;
  -webkit-box-shadow: 0 4px 1px -1px #7B80BF;
  -moz-box-shadow: 0 4px 1px -1px #7B80BF;
  -ms-box-shadow: 0 4px 1px -1px #7B80BF;
  -o-box-shadow: 0 4px 1px -1px #7B80BF;
  box-shadow: 0 4px 1px -1px #7B80BF;
}

.loading .loading-bar {
  display: inline-block;
  position: absolute;
  height: 46px;
  margin: 0;
  width: 100%;
  border-radius: 4px;
  background-color: #4C54AC;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-animation: loading 10s ease infinite;
  -moz-animation: loading 10s ease infinite;
  -ms-animation: loading 10s ease infinite;
  -o-animation: loading 10s ease infinite;
  animation: loading 10s ease infinite;
}
