/* text helpers */

.text-primary {
  color: #6dac45 !important;
}

.text-secondary {
  color: #4b53ac !important;
  font-weight: bold;
}

.text-info {
  color: #24c1db !important;
}

.text-light {
  color: #fff !important;
}

.text-break {
  display: block;
}

.text-caption {
  font-size: 12px;
}

.text-uppercase {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .text-caption {
    font-size: 14px;
  }
}

/* background helpers */

.background-primary {
  background-color: #6dac45;
  color: #fff;
}

.background-secondary {
  background-color: #4b53ac;
  color: #fff;
}

/* image helpers */

.img-responsive {
  margin: 0 auto;
}

.img-right {
  float: right;
}

.img-block {
  display: block;
  margin-bottom: 20px;
}

.img-inline {
  display: inline-block;
  padding-top: 20px;
}

.img-form {
  position: relative;
  padding-top: 66px;
}

/* button helpers */

.btn-centered {
  display: block;
  margin: 0 auto;
}

/* animations */

@-webkit-keyframes loading {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@-moz-keyframes loading {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@-ms-keyframes loading {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@-o-keyframes loading {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading {
  0%{
    width: 1%;
  }
  100%{
    width: 100%;
  }
}
