/* main */

.main .title {
  margin-top: 15px;
  margin-bottom: 30px;
}

.main .title .text-break {
  margin-top: 15px;
  color: #fff;
  font-size: 50%;
  font-weight: lighter;
  line-height: 1.5;
}

.main .sub-title {
  margin-bottom: 20px;
}

/* price */

.main .price {
  position: relative;
  width: 320px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.main .price .img-badge {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 80px;
}

.main .price .sub-title {
  margin-bottom: 15px;
  color: #9197D0;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.main .price .title {
  margin: 0;
}

.main .price .title .text-break {
  font-size: 65%;
}

.main .price .price-caption {
  margin-bottom: 10px;
  color: #ABAFD8;
}

@media (min-width: 480px) {
  .main .price {
    width: 480px;
  }

  .main .price .img-badge {
    position: absolute;
    top: 0;
    left: 225px;
    width: 100px;
  }
}

@media (min-width: 768px) {
  .main .price .img-badge {
    left: 275px;
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .main .price .img-badge {
    left: 315px;
    width: 130px;
  }
}

/* main account-perks-list */

.main .account-perks-list {
  margin-bottom: 20px;
  padding-left: 5px;
}

.main .account-perks-list .list-item {
  position: relative;
  margin: 5px 0;
}

.main .account-perks-list .list-item .icon {
  position: absolute;
  top: 5px;
  left: 0;
  color: #9197d0;
}

.main .account-perks-list .list-item .item-label {
  margin-left: 35px;
}

@media (min-width: 590px) and (max-width: 991px) {
  .main .account-perks-list {
    display: inline-block;
  }

  .main .account-perks-list .list-item {
    float: left;
    width: 50%;
  }
}

/* main customer-support */

.customer-support {
  position: relative;
  padding-top: 30px;
}

.customer-support .img-icon {
  position: absolute;
  width: 40px;
}

.customer-support .support-info {
  padding-left: 55px;
  font-size: 18px;
}

/* main free-account-form */

.main .form-errors {
  display: block;
  margin-top: 50px;
  padding: 30px;
  border: 2px solid #F36666;
}

.main .form-errors .title {
  margin: 0;
}

.main .form-errors .errors-list {
  margin: 0;
  padding-left: 20px;
}

.main .form .segment {
  margin-top: 30px;
}

.main .form .segment:last-child {
  margin-bottom: 60px;
}

.main .form .segment .title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.main .form .segment .title .img-right {
  width: 60px;
  cursor: pointer;
}

.main .form .segment .img-cards {
  margin-top: 65px;
  cursor: pointer;
}

.main .form .segment .btn {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
}

.main .form .segment .loading {
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  .main .form .segment .btn {
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .main .form .segment .loading {
    width: 242px;
  }
}

@media (min-width: 768px) {
  .main .form .segment .title .img-right {
    width: 70px;
  }
}

@media (min-width: 1200px) {
  .main .form .segment .title .img-right {
    width: 80px;
  }
}

/* disclaimer */

.disclaimer .title {
  margin-bottom: 30px;
}

.disclaimer .sub-title {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
