/* buttons */

.btn {
    outline: 0;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    transition: all 250ms;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: 0;
}

.btn-primary {
    -webkit-box-shadow: 0 4px 1px -1px #280054;
    -moz-box-shadow: 0 4px 1px -1px #280054;
    -ms-box-shadow: 0 4px 1px -1px #280054;
    box-shadow: 0 4px 1px -1px #280054;
    border: 1px solid #3f0282;
    background-color: #3f0282;
    color: #fff;
}

.btn-primary:hover {
    -webkit-box-shadow: 0 3px 1px -1px #280054;
    -moz-box-shadow: 0 3px 1px -1px #280054;
    -ms-box-shadow: 0 3px 1px -1px #280054;
    box-shadow: 0 3px 1px -1px #280054;
    border-color: #5B05B9;
    background-color: #5B05B9;
    color: #fff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #280054;
    background-color: #280054;
    color: #fff;
}

.btn-secondary {
    -webkit-box-shadow: 0 4px 1px -1px #57992d;
    -moz-box-shadow: 0 4px 1px -1px #57992d;
    -ms-box-shadow: 0 4px 1px -1px #57992d;
    box-shadow: 0 4px 1px -1px #57992d;
    border: 1px solid #6dac45;
    background-color: #6dac45;
    color: #fff;
}

.btn-secondary:hover {
    -webkit-box-shadow: 0 3px 1px -1px #57992d;
    -moz-box-shadow: 0 3px 1px -1px #57992d;
    -ms-box-shadow: 0 3px 1px -1px #57992d;
    box-shadow: 0 3px 1px -1px #57992d;
    border-color: #85CE57;
    background-color: #85CE57;
    color: #fff;
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #57992d;
    background-color: #57992d;
    color: #fff;
}
