/* modal */

.modal,
.modal-open {
  padding: 0 !important;
}

.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
}

/* modal-header */

.modal-header {
  padding: 15px;
  border: 0;
  border-radius: 4px 4px 0 0;
  background-color: #3f0282;
  background-image: url('../img/shattered.png');
}

.modal-header .close {
  padding: 6px 8px 10px !important;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  cursor: pointer;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: #4594e3;
  text-decoration: none;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.modal-header .title {
  color: #fff;
}

@media (min-width: 768px) {
  .modal-header {
    padding: 30px;
  }
}

/* modal-body */

.modal-body {
  padding: 15px;
}

@media (min-width: 768px) {
  .modal-body {
    padding: 30px;
  }
}

/* modal-footer */

.modal-footer {
  padding: 15px;
}

.modal-footer p {
  margin: 0;
}

@media (min-width: 768px) {
  .modal-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* modal-full */

.modal-full .modal-dialog {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #4E4E4E;
  background-image: url('../img/bg_modal_01.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-full .modal-content {
  height: 100%;
  margin: 0 auto;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.97);
}

@media (min-width: 992px) {
  .modal-full .modal-dialog {
    overflow-y: auto;
  }

  .modal-full .modal-content {
    height: auto;
    max-width: 900px;
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .modal-full .modal-content {
    max-width: 1000px;
  }
}

/* modal-full modal-header */

.modal-full .modal-header {
  border-radius: 0;
}

.modal-full .modal-header .title {
  margin-top: 40px;
  text-align: center;
}

@media (min-width: 992px) {
  .modal-full .modal-header {
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* modal-full modal-body */

.modal-full .modal-body {
  padding-bottom: 40px;
}

@media (min-width: 992px) {
  .modal-full .modal-body {
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.97);
  }
}

/* modal-full modal-footer */

.modal-full .modal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EFEEEF;
}

.modal-full .modal-footer.alert-warning {
  border: 0;
  background-color: #FFBA36;
  color: #000;
}

.modal-full .modal-footer.alert-success {
  border: 0;
  background-color: #5CB85C;
  color: #000;
}

.modal-full .modal-footer .exit-flow {
  display: block;
  width: 120px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .modal-full .modal-footer .exit-flow {
    display: inline-block;
    width: auto;
    margin: 0;
  }
}


@media (min-width: 768px) {
  .modal-full .modal-footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .modal-full .modal-footer {
    position: relative;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .modal-full .modal-footer {
    max-width: 1170px;
  }
}

/* modal progress bars */

.modal-content .progress {
  position: relative;
  height: 45px;
  margin-bottom: 15px;
  background: #4e4e4e;
}

.modal-content .progress .progress-label {
  position: absolute;
  width: 100%;
  z-index: 2;
  margin: 12px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.modal-content .progress .progress-label .icon {
  margin-right: 15px;
}

@media (min-width: 992px) {
  .modal-content .progress {
    height: 65px;
    margin-bottom: 25px;
  }

  .modal-content .progress .progress-label {
    font-size: 22px;
    margin: 18px auto;
  }
}

/* == 1 == EXIT POP ========== */

#exit-pop-skip .modal-header {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0px;
}

#exit-pop-skip .modal-header h1 {
  margin-bottom: 0px;
  color: #e84e68;
}

@media (max-width: 481px) {
  #exit-pop-skip .modal-header h1 {
    font-size: 32px;
  }
}

#exit-pop-skip .modal-header .close {
  position: absolute;
  right: 14px;
  color: #333;
}

#exit-pop-skip .modal-dialog {
  /*max-width: 600px;*/
}

#exit-pop-skip .modal-body {
  overflow: visible;
  max-height: none;
  padding: 30px;
  padding-top: 0px;
}

#exit-pop-skip .modal-body h3 {
  margin-top: 5px;
  margin-bottom: 30px;
}

#exit-pop-skip .loader-big {
  display: none;
  position: absolute;
  z-index: 999;
  margin-top: -60px;
  margin-left: -60px;
  top: 50%;
  left: 50%;
}

#exit-pop-skip img.preview {
  border: solid 13px #efefef;
}

@media (min-width: 768px) {
  #exit-pop-skip img.preview {
    width: 85%;
    margin: 0 auto;
  }
}

#exit-pop-skip button#skip-to-preview {
  border: 1px solid #57992d;
  background-color: #6dac45;
  -webkit-box-shadow: 0 -4px 0 #57992d inset;
  -moz-box-shadow: 0 -4px 0 #57992d inset;
  box-shadow: 0 -4px 0 #57992d inset;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

#exit-pop-skip input:hover, #exit-pop-skip input:active, #exit-pop-skip input:focus {
  -webkit-box-shadow: 0 -6px 0 #57992d inset;
  -moz-box-shadow: 0 -6px 0 #57992d inset;
  box-shadow: 0 -6px 0 #57992d inset;
}

/* ========== GENERATING REPORT ========== */

/* modal-body */

#gen-report-modal1 .modal-body .searching-progress-bar-group {
  margin: 10px auto;
}

/* == 2 == SCANNING SOCIAL MEDIA ================= */

#scanningSocialMedia .modal-dialog {
  background-image: url('../img/bg_modal_02.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_02.jpg');
}

/* modal-body */

#scanningSocialMedia .modal-body .profile-list {
  margin-bottom: 20px;
}

#scanningSocialMedia .modal-body .profile-list .sub-title {
  margin-bottom: 20px;
}

#scanningSocialMedia .modal-body .profile-list .sub-title .icon {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #EFEFEF;
}

#scanningSocialMedia .modal-body .img-quote {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid #efefef;
  border-radius: 4px;
}

@media (min-width: 768px) {
  #scanningSocialMedia .modal-body .profile-col {
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  #scanningSocialMedia .modal-body .profile-col {
    padding-right: 50px;
  }
}

/* modal-body social-col */

#scanningSocialMedia .modal-body .social-list .social-list-item {
  position: relative;
  width: 16.666%;
  height: 32px;
  margin-bottom: 20px;
  float: left;
}

#scanningSocialMedia .modal-body .social-list .social-list-item .loading {
  font-size: 25px;
}

#scanningSocialMedia .modal-body .social-list .social-list-item .social {
  width: 16.66%;
}

#scanningSocialMedia .modal-body .social-list .social-list-item .img-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

#scanningSocialMedia .modal-body .social-list .social-list-item .social-label {
  position: absolute;
  top: 30px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

#scanningSocialMedia .modal-body .progress .progress-label .complete,
#scanningSocialMedia .modal-body .social-list .social-list-item .social {
  display: none;
}

@media (min-width: 480px) {
  #scanningSocialMedia .modal-body .social-col .sub-title,
  #scanningSocialMedia .modal-body .social-col .progress,
  #scanningSocialMedia .modal-body .social-list .social-list-item {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  #scanningSocialMedia .modal-body .social-col {
    padding-left: 30px;
    border-left: 1px solid #ccc;
  }
}

@media (min-width: 992px) {
  #scanningSocialMedia .modal-body .social-col {
    padding-left: 50px;
  }
}

/* == 3 == YOUR REPORT IS READY ================= */

#gen-report-modal2 .modal-dialog {
  background-image: url('../img/bg_modal_03.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_03.jpg');
}

/* modal-header */

#gen-report-modal2 .modal-header {
  position: relative;
}

#gen-report-modal2 .modal-header .sub-title {
  display: block;
  margin: 0;
  margin-top: 10px;
  color: #fff;
}

@media (min-width: 768px) {

  #gen-report-modal2 .modal-header .animation-container .img-animation {
    display: none;
    position: absolute;
    bottom: 0;
    left: 25px;
    width: 130px;
  }
}

@media (min-width: 992px) {

  #gen-report-modal2 .modal-header .animation-container .img-animation {
    left: 40px;
    width: 160px;
  }
}

/* modal-body */

#gen-report-modal2 .modal-body .title {
  margin-top: 0;
}

#gen-report-modal2 .modal-body .sub-title {
  margin-bottom: 15px;
}

#gen-report-modal2 .modal-body .report-info-list {
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: 0 0 3px 1px #EBEBEB inset;
  -moz-box-shadow: 0 0 3px 1px #EBEBEB inset;
  -ms-box-shadow: 0 0 3px 1px #EBEBEB inset;
  -o-box-shadow: 0 0 3px 1px #EBEBEB inset;
  box-shadow: 0 0 3px 1px #EBEBEB inset;
  list-style: none;
}

#gen-report-modal2 .modal-body .report-info-list .report-info-item {
  position: relative;
}

#gen-report-modal2 .modal-body .report-info-list .report-info-item .fa {
  position: absolute;
  top: 5px;
  margin: 0;
}

#gen-report-modal2 .modal-body .report-info-list .report-info-item .icon {
  color: #6DAC45;
}

#gen-report-modal2 .modal-body .report-info-list .report-info-item .item-label {
  margin-left: 30px;
}

@media (min-width: 480px) {

  #gen-report-modal2 .modal-body .report-info-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: inline-block \9; /* ie8 fix */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
  }

  #gen-report-modal2 .modal-body .report-info-list .report-info-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    float: left;
  }
}

@media (min-width: 768px) {

  #gen-report-modal2 .modal-body .title {
    margin-top: 20px;
  }

  #gen-report-modal2 .modal-body .sub-title {
    margin-bottom: 40px;
  }

  #gen-report-modal2 .modal-body .report-info-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  #gen-report-modal2 .modal-body .report-info-list .report-info-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333%;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    width: 33.333%;
  }
}

@media (min-width: 992px) {

  #gen-report-modal2 .modal-body .large-heading .modal-headline,
  #gen-report-modal2 .modal-body .report-info-list {
    margin-top: 0;
  }

  #gen-report-modal2 .modal-body .report-info-list .report-info-item {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

/* report-info-list display props */

#gen-report-modal2 .modal-body .report-info-list .report-info-item,
#gen-report-modal2 .modal-body .report-info-list .report-info-item .icon {
  display: none;
}

#gen-report-modal2 .modal-body .report-info-list .report-info-item.visible-always {
  display: block;
}

#gen-report-modal2 .modal-body .report-info-list .report-info-item.success .fa-spinner {
  display: none;
}

#gen-report-modal2 .modal-body .report-info-list .report-info-item.success .icon {
  display: inline-block;
}

@media (min-width: 480px) {

  #gen-report-modal2 .modal-body .report-info-list .report-info-item.visible-landscape {
    display: block;
  }
}

@media (min-width: 768px) {

  #gen-report-modal2 .modal-body .report-info-list .report-info-item {
    display: block;
  }
}

/* modal-footer */

#gen-report-modal2 .modal-footer {
  padding: 0;
}

#gen-report-modal2 .modal-footer #gen-report-confirm {
  margin: 0;
  padding: 15px;
  border: 0;
  border-radius: 0;
  font-size: 18px;
  text-transform: uppercase;
}

#gen-report-modal2 .modal-footer #gen-report-confirm[disabled=disabled],
#gen-report-modal2 .modal-footer #gen-report-confirm:disabled {
  cursor: progress;
  opacity: 0.5;
  box-shadow: none;
  border-color: #c9c9c9;
  background: #e7e7e7;
  color: #c9c9c9;
}

#gen-report-modal2 .modal-footer #arrowhead-right {
  display: none;
  position: relative;
  bottom: 1px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  #gen-report-modal2 .modal-footer #gen-report-confirm {
    padding: 20px;
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  #gen-report-modal2 .modal-footer #gen-report-confirm {
    padding: 30px;
    font-size: 24px;
  }
}

/* == 4 == PROCCESSING YOUR REQUEST ================= */

#gen-report-modal3 .modal-dialog {
  background-image: url('../img/bg_modal_04.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_04.jpg');
}

#gen-report-modal3.modal-full .modal-content {
  background-color: #fff;
}

@media (min-width: 992px) {
  #gen-report-modal3.modal-full .modal-content {
    background-color: transparent;
  }
}

/* modal-body */

#gen-report-modal3 .modal-body .cases-list {
  width: 100%;
  margin: 40px 0 10px;
  padding: 0;
  font-size: 16px;
}

#gen-report-modal3 .modal-body .case-item {
  margin-top: 15px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

#gen-report-modal3 .modal-body .case-item.active {
  color: #63428C;
  font-weight: 700;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

#gen-report-modal3 .modal-body .case-images {
  display: none;
  position: relative;
  bottom: 40px;
  left: 0;
  width: 100%;
}

#gen-report-modal3 .modal-body .case-image {
  display: block;
  position: absolute;
  bottom: 0;
  right: 25px;
  width: 75%;
  margin: 0 auto;
  -moz-opacity: 0;
  -ms-filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#gen-report-modal3 .modal-body .case-image.active {
  -moz-opacity: 1;
  -ms-filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

@media (min-width: 500px) {
  #gen-report-modal3 .modal-body .case-images {
    display: block;
    position: absolute;
    left: auto;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  #gen-report-modal3 .modal-body .case-images {
    right: 0;
    bottom: 75px;
    width: 50%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #gen-report-modal3 .modal-body .case-images {
    right: 0;
    width: 65%;
  }
}

@media (min-width: 768px) {
  #gen-report-modal3 .modal-body .cases-list {
    width: 75%;
    margin-top: 50px;
    font-size: 20px;
  }

  #gen-report-modal3 .modal-body .case-images {
    right: 15px;
    width: 60%;
  }
}

@media (min-width: 992px) {
  #gen-report-modal3 .modal-body {
    background-color: #fff;
  }

  #gen-report-modal3 .modal-body .case-image {
    right: 80px;
    width: 70%;
  }
}

/* modal-footer */

#gen-report-modal3 .modal-footer {
  padding: 0;
}

#gen-report-modal3 .modal-footer .progress {
  margin-bottom: 0;
  border-radius: 0;
}


/* == 5 == CAPTCHA MODAL ========================== */

#gen-report-modal4 .modal-dialog {
  background-image: url('../img/bg_modal_05.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_05.jpg');
}

/* modal-body */

#gen-report-modal4 .modal-body .captcha-col #bv-catpcha-form {
  padding: 15px;
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #eee;
}

#gen-report-modal4 .modal-body .captcha-col .captcha-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #dadada;
  border-radius: 4px;
}

#gen-report-modal4 .modal-body .captcha-col .captcha-wrap .captcha-images {
  display: block;
  width: 85%;
  height: 50px;
  overflow: hidden;
}

#gen-report-modal4 .modal-body .captcha-col .captcha-wrap .captcha-images .img-captcha {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#gen-report-modal4 .modal-body .captcha-col .captcha-wrap .captcha-images .bv-captcha-selected {
  display: block !important;
}

#gen-report-modal4 .modal-body .captcha-col .captcha-wrap .btn-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 15%;
  box-shadow: none;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
}

#gen-report-modal4 .modal-body .captcha-col .form-control.bv-captcha-error {
  border: 1px solid #f74855;
  background-color: #FFF6F6;
  color: #f74855;
}

#gen-report-modal4 .modal-body .captcha-col .form-control.bv-captcha-success {
  border: 1px solid #4abe70;
  background-color: #fff;
  color: #4abe70;
}

#gen-report-modal4 .modal-body .captcha-col .error {
  margin: 15px 0;
}

#gen-report-modal4 .modal-body .captcha-col #bv-captcha-msg.error {
  color: #f74855;
}

#gen-report-modal4 .modal-body .captcha-col #bv-captcha-msg.success {
  color: #4abe70;
}

#gen-report-modal4 .modal-body .captcha-col #bv-captcha-next {
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

/* modal-body report-col */

#gen-report-modal4 .modal-body .report-col .title .icon {
  background: #DADADA;
  border-radius: 50%;
  padding: 5px 10px;
}

#gen-report-modal4 .modal-body .report-col .title .meta-age {
  color: #7B5D9C;
  font-size: 65%;
}

#gen-report-modal4 .modal-body .report-col .sub-title {
  margin-bottom: 15px;
}

#gen-report-modal4 .modal-body .report-col .map-container {
  height: 120px;
  margin: 0 auto;
  border: solid 1px #dadada;
  background-position: center center;
}

#gen-report-modal4 .modal-body .report-col .map-container .img-map {
  width: 100%;
  max-height: 100%;
}

#gen-report-modal4 .modal-body .report-col .report-list {
  margin-bottom: 20px;
  padding-left: 20px;
  list-style: inherit;
}

@media (min-width: 768px) {
  #gen-report-modal4 .modal-body .captcha-col {
    padding-right: 30px;
  }

  #gen-report-modal4 .modal-body .report-col {
    padding-left: 30px;
    border-left: 1px solid #dadada;
  }

  #gen-report-modal4 .modal-body .captcha-col #bv-captcha-next {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  #gen-report-modal4 .modal-body .captcha-col {
    padding-right: 60px;
  }

  #gen-report-modal4 .modal-body .report-col {
    padding-left: 60px;
  }
}

/* == 6 == GENERATING REPORT ====================== */

#gen-report-modal5 .modal-dialog {
  background-image: url('../img/bg_modal_06.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_06.jpg');
}

/* modal-body */

#gen-report-modal5 .modal-body .sidebar-col .title {
  margin-bottom: 5px;
}

#gen-report-modal5 .modal-body .sidebar-col .sub-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

#gen-report-modal5 .modal-body .sidebar-col .modal-body-list {
  padding: 0;
}

#gen-report-modal5 .modal-body .sidebar-col .modal-body-list .list-single {
  position: relative;
  padding: 10px;
}

#gen-report-modal5 .modal-body .sidebar-col .modal-body-list .list-single.list-selected {
  border-radius: 4px;
  background-color: #3f0282;
  color: #fff;
}

#gen-report-modal5 .modal-body .sidebar-col .modal-body-list .list-single .icon {
  position: absolute;
  top: 13px;
  right: 10px;
}

#gen-report-modal5 .modal-body .sidebar-col .modal-body-list .list-single .finished.icon,
#gen-report-modal5 .modal-body .sidebar-col .modal-body-list .list-single.list-selected .finished.icon,
#gen-report-modal5 .modal-body .sidebar-col .modal-body-list .list-single.list-completed .fa-spin.icon {
  display: none;
}

#gen-report-modal5 .modal-body .sidebar-col .modal-body-list .list-single.list-completed .finished.icon {
  display: block;
}

/* modal-body details-col */

#gen-report-modal5 .modal-body .details-col .card-single {
  display: none;
  padding: 15px;
  border-radius: 4px;
  background-color: #eee;
}

#gen-report-modal5 .modal-body .details-col .card-single.card-selected {
  display: block;
}

#gen-report-modal5 .modal-body .details-col .card-single .title {
  margin: 15px 0;
  text-align: left;
}

#gen-report-modal5 .modal-body .details-col .card-single .report-details-list {
  padding: 0;
}

#gen-report-modal5 .modal-body .details-col .card-single .report-details-list .report-details-item {
  margin: 0;
}

@media (min-width: 768px) {
  #gen-report-modal5 .modal-body .details-col .card-single {
    margin-top: 30px;
    padding: 15px 30px;
  }

  #gen-report-modal5 .modal-body .details-col .card-single .title {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #gen-report-modal5 .modal-body .details-col .card-single .report-details-list .report-details-item {
    margin-bottom: 20px;
  }
}

/* modal-footer */

#gen-report-modal5 .modal-footer {
  padding: 0;
}

#gen-report-modal5 .modal-footer .progress {
  margin: 0;
}

#gen-report-modal5 .modal-footer .time-stamp {
  padding: 5px;
}

/* == 7 == LEADBOX SIGNUP ========================= */

#gen-report-modal6 .modal-dialog {
  background-image: url('../img/bg_modal_07.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_07.jpg');
}

/* modal-body */

#gen-report-modal6 .modal-body .form-col .title {
  margin-bottom: 5px;
}

#gen-report-modal6 .modal-body .form-col .sub-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

#gen-report-modal6 .modal-body .form-col #signup-modal-form {
  padding: 15px;
  border-radius: 4px;
  background-color: #eee;
}

#gen-report-modal6 .modal-body .form-col #signup-modal-form .form-control.error {
  border-color: #e9322d;
  background-color: #FFF4F3;
  color: #e9322d;
}

#gen-report-modal6 .modal-body .form-col #signup-modal-form label.error {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #e9322d;
  font-size: 14px;
  text-align: left;
  line-height: 1;
}

#gen-report-modal6 .modal-body .form-col .login-form {
  margin-top: 15px;
}

#gen-report-modal6 .modal-body .form-col .login-form #login-redirect {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  vertical-align: text-bottom;
  font-size: inherit;
}

/* modal-body teaser-col */

#gen-report-modal6 .modal-body .teaser-col .img-responsive {
  margin: 0 auto;
  margin-top: 20px;
}

#gen-report-modal6 .modal-body .teaser-col .img-secured {
  display: block;
  margin: 15px auto 20px;
}

@media (min-width: 768px) {
  #gen-report-modal6 .modal-body .form-col {
    padding-right: 30px;
  }

  #gen-report-modal6 .modal-body .teaser-col {
    padding-left: 30px;
    border-left: 1px solid #dadada;
  }
}

@media (min-width: 992px) {
  #gen-report-modal6 .modal-body .form-col {
    padding-right: 60px;
  }

  #gen-report-modal6 .modal-body .teaser-col {
    padding-left: 60px;
  }
}

/* ========= FCRA ============ */

#gen-report-modal11 .modal-dialog {
  background-image: url('../img/bg_modal_08.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_08.jpg');
}

/* modal-body */

#gen-report-modal11 .modal-body #fcra-confirm .panel {
  padding: 15px;
  border: 1px solid #e5e5e5;
  background-color: #efefef;
}

#gen-report-modal11 .modal-body #fcra-confirm .fcraCheckbox-wrapper {
  margin: 0;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 400;
  line-height: 2;
}

#gen-report-modal11 .modal-body #fcra-confirm #fcraCheckbox2 {
  display: inline-block;
  position: absolute !important;
  position: static \9; /*ie8 fix*/
  margin-left: -999em;
  margin: 10px -25px \9; /*ie8 fix*/
}

#gen-report-modal11 .modal-body #fcra-confirm .fcraCheckbox-box {
  display: block;
  display: none \9; /*ie8 fix*/
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-bottom: 0;
  cursor: pointer;
  border: 2px solid #848484;
  border-radius: 4px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}

#gen-report-modal11 .modal-body #fcra-confirm #fcraCheckbox2:checked+label {
  border: 2px solid #56b453 !important;
  background-image: url('../img/tos-check.png');
  background-repeat: no-repeat;
  background-position: center center;
}

#gen-report-modal11 .modal-body #fcra-confirm .checkbox-error {
  display: none;
  margin: 0;
  margin-top: 15px;
  border: 0;
  background-color: transparent;
  color: #e9322d;
}

/* ========== FINAL CARD REPORT ============= */

#gen-report-modal7 .modal-dialog {
  background-image: url('../img/bg_modal_09.jpg'); /* fallback */
  background-image: linear-gradient(rgba(63, 2, 130, 0.25), rgba(63, 2, 130, 0.5)), url('../img/bg_modal_09.jpg');
}

/* modal-teaser */

#gen-report-modal7 .modal-teaser {
  padding: 15px;
  background: rgba(245, 245, 245, 0.97);
}

#gen-report-modal7 .modal-teaser .report-photo {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-image: url('../img/photo-locked.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
  text-align: center;
}

#gen-report-modal7 .modal-teaser .title,
#gen-report-modal7 .modal-teaser .report-text {
  margin: 0;
}

#gen-report-modal7 .modal-teaser .report-label {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

#gen-report-modal7 .modal-teaser .meta-count {
  font-size: 14px;
}

@media (min-width: 768px) {
  #gen-report-modal7 .modal-teaser {
    padding: 30px;
  }
}

@media (min-width: 992px) {
  #gen-report-modal7 .modal-teaser {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* modal-body */

#gen-report-modal7 .modal-body {
  padding-bottom: 160px;
}

#gen-report-modal7 .modal-body .detail-box {
  position: relative;
  height: auto;
  margin: 0;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  border: 1px #E6E5E6 solid;
  -webkit-box-shadow: 0 0 3px 1px #E6E5E6;
  -moz-box-shadow: 0 0 3px 1px #E6E5E6;
  -ms-box-shadow: 0 0 3px 1px #E6E5E6;
  -o-box-shadow: 0 0 3px 1px #E6E5E6;
  box-shadow: 0 0 3px 1px #E6E5E6;
  background-color: rgba(248, 243, 255, 0.5);
}

#gen-report-modal7 .modal-body .detail-box .sub-title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

#gen-report-modal7 .modal-body .detail-box .title {
  margin: 0;
  text-align: center;
  line-height: 0;
}

#gen-report-modal7 .modal-body .detail-box .title .meta-text {
  color: #333;
}

#gen-report-modal7 .modal-body .detail-box .title .icon {
  margin-right: 5px;
  color: #3f0282;
}

#gen-report-modal7 .modal-body .detail-box .title .icon.criminal::before {
  content: '\f0e3';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.bankruptcy::before {
  content: '\f19c';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.addresses::before {
  content: '\f015';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.associates::before {
  content: '\f0c0';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.neighbors::before {
  content: '\f0c0';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.contacts::before {
  content: '\f10b';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.emails::before {
  content: '\f0e0';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.phones::before {
  content: '\f095';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.social::before {
  content: '\f0e6';
}

#gen-report-modal7 .modal-body .detail-box .title .icon.photos::before {
  content: '\f030';
}

#gen-report-modal7 .modal-body .detail-box.fillerCard .title {
  display: none;
}

#gen-report-modal7 .modal-body .detail-box.fillerCard .filler-text {
  margin: 0;
  font-size: 14px;
}

#gen-report-modal7 .modal-body .detail-box.crim-box {
  -webkit-box-shadow: 0 0 3px 1px #FFA3B2;
  -moz-box-shadow: 0 0 3px 1px #FFA3B2;
  -ms-box-shadow: 0 0 3px 1px #FFA3B2;
  -o-box-shadow: 0 0 3px 1px #FFA3B2;
  box-shadow: 0 0 3px 1px #FFA3B2;
  border: 1px #FFA3B2 solid;
  background-color: #FFF7F8;
}

#gen-report-modal7 .modal-body .detail-box.crim-box .title,
#gen-report-modal7 .modal-body .detail-box.crim-box .title .icon {
  color: #e9322d;
}

#gen-report-modal7 .modal-body .seals {
  display: none;
}

@media (min-width: 480px) {
  #gen-report-modal7 .modal-body {
    padding-bottom: 140px;
  }
}

@media (min-width: 768px) {
  #gen-report-modal7 .modal-body .detail-box {
    margin-bottom: 30px;
    height: 130px;
  }

  #gen-report-modal7 .modal-body .detail-box.fillerCard {
    display: inline-block;
    width: 100%;
  }

  #gen-report-modal7 .modal-body .detail-box.fillerCard .title {
    display: block;
    width: 20%;
    float: left;
    text-align: right;
  }

  #gen-report-modal7 .modal-body .detail-box.fillerCard .filler-text {
    width: 75%;
    float: left;
    margin-left: 10px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  #gen-report-modal7 .modal-body {
    padding-bottom: 30px;
  }

  #gen-report-modal7 .modal-body .detail-box {
    height: 220px;
  }

  #gen-report-modal7 .modal-body .detail-box .sub-title {
    margin-bottom: 40px;
  }

  #gen-report-modal7 .modal-body .detail-box .title .meta-text {
    margin-left: -10px;
    font-size: 25%;
  }

  #gen-report-modal7 .modal-body .detail-box.fillerCard .title {
    width: 30%;
  }

  #gen-report-modal7 .modal-body .detail-box.fillerCard .filler-text {
    width: 60%;
  }
}

/* modal-footer */

#gen-report-modal7 .modal-footer {
  padding: 0;
}

#gen-report-modal7 .modal-footer .data-modal-confirm {
  padding: 20px;
  border-radius: 0;
  -webkit-box-shadow: 0 -2px 3px 0 #696969;
  -moz-box-shadow: 0 -2px 3px 0 #696969;
  -ms-box-shadow: 0 -2px 3px 0 #696969;
  -o-box-shadow: 0 -2px 3px 0 #696969;
  box-shadow: 0 -2px 3px 0 #696969;
}

#gen-report-modal7 .modal-footer .text-caption {
  padding: 5px;
}

@media (min-width: 768px) {
  #gen-report-modal7 .modal-footer .text-caption {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  #gen-report-modal7 .modal-footer .data-modal-confirm {
    padding: 40px;
    box-shadow: none;
    font-size: 25px;
  }
}
