/* button helpers */

.btn-centered {
  display: block;
  margin: 20px auto;
}

/* text helpers */

.text-break {
  display: block !important;
}

.text-center {
  text-align: center !important;
}

.text-caption {
  font-size: 12px;
}

.text-primary {
  color: #3f0282 !important;
}

.text-success {
  color: #6DAC45 !important;
}

.text-info {
  color: #0072bc !important;
}

/* @TODO: replace these with the above helpers */

.green {
  color: #5CB85C;
}

.blue-txt{
	color: #0072bc;
}

@media (min-width: 992px) {
  .text-caption {
    font-size: 14px;
  }
}

/* labels */

.new-label {
  vertical-align: top;
  margin-left: 3px;
  padding: 0 3px 2px;
  border-radius: 4px;
  border: 1px solid #0072BC;
  color: #0072BC;
  font-size: 12px;
}
