#arrowhead-right {
  display: none;

  margin-left: 10px;
}

h2,
h3,
h4,
h5,
h6,
body,
p,
a,
li,
input,
label,
small,
button,
select,
table th,
table td,
.nav-collapse .nav>li>a,
.nav-collapse .dropdown-menu a {
  text-shadow: none;
}

.modal {
  pointer-events: none;
}

.modal-content {
  pointer-events: auto;
}

label {
  font-weight: 200;
}

.card-single p {
  font-size: 15px;
}

p small {
  font-size: 14px;
  line-height: 16px;
}

p.tos-text {
  font-size: 10px;
  line-height: 12px;
}

ul,
ol {
  margin: 0;

  list-style-type: none;
}

input,
button,
select,
.main-btn,
.alt-btn {
  font-size: 18px;
}

a,
button,
input,
.dropdown-toggle,
.link-wrap {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

.text-info {
  font-weight: 200;

  color: #353167;
}

.brand-logo {
  display: inline-block;

  width: 194px;
  height: 28px;

  background-image: url(../img/bv-logo-white.png);
  background-image: linear-gradient(transparent, transparent), url(../img/bv-logo-white.svg);
  background-size: 194px 28px;
}

body {
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  font-size: 16px;
  /*font-weight: 200;*/
  line-height: 21px;

  min-width: 280px;

  -webkit-font-smoothing: subpixel-antialiased;
}

span.bold {
  font-size: 19px;
  font-weight: 700;
}

.section-min {
  padding: 16px 15px 12px 15px;
}

.main-btn,
.main-btn:hover,
.main-btn:focus,
.main-btn:active {
  color: #fff!important;
}

.container-fluid {
  max-width: 960px;
}

.custom-select {
  width: 100%;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 6px;

  vertical-align: middle;

  background: url(../img/drop-arrow.png) no-repeat right top;
  background-color: #fff;

     -moz-appearance: none!important;
  -webkit-appearance: none;
}

.custom-checkbox {
  display: none \9; /* ie8 fix */
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px 0 #A1A1A1 inset;
  -moz-box-shadow: 0 0 5px 0 #A1A1A1 inset;
  -ms-box-shadow: 0 0 5px 0 #A1A1A1 inset;
  box-shadow: 0 0 5px 0 #A1A1A1 inset;
  background-color: #fff;
}

.checkbox label input[type="checkbox"]:checked + .custom-checkbox {
  background: url('../img/checkmark.png') no-repeat center center;
  background-color: #fff;
}

.highlight-text {
  color: #63b02e;
}

.break-text-xs {
  display: block;
}

@media (min-width: 768px) {

  .break-text-xs {
    display: inline-block;
  }
}

label.error {
  line-height: 18px;

  width: 100%;
  margin: -5px 0 10px 0;
  margin: 2px 0 10px 0 \9;
  padding: 6px 0;

  text-align: center;

  color: #c9302b;
  border: 1px solid #e9322d;
  border-radius: 4px;
  background-color: #f2dede;
}

section,
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* -- NAVBAR -- */

#topWrapper {
  background-color: #3f0282;
  background-image: url('../img/shattered.png');
}

nav {
  font-size: 16px;

  margin: 0!important;

  color: #fff;
  border: none;
  border-radius: 0!important;
  background-color: #024485;
}

.navbar-brand {
  padding: 0 15px;
}

.navbar-toggle {
  margin-top: -4px;
  padding: 6px 7px;
}

.navbar-default {
  border: none !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle,
.navbar-inverse .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:focus {
  border-color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:hover {
  border-color: #73b649;
  background-color: #73b649;
}

.nav-phone {
  font-size: 16px;
  font-weight: 400;

  margin: 0;
  padding: 10px 5px 0;

  color: #fff;
}
@media only screen and (max-width : 767px) {
  .nav-phone {
    line-height: 60px;

    margin-bottom: 12px;
    padding: 0;
  }
}

.nav-btn {
  margin: 5px 5px 0;
}

@media (max-width: 768px) {
  .nav-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .nav-btn:last-child {
    margin-right: 1px;
  }
}

.navbar-nav {
  margin: 10px 0 0;
}
@media only screen and (max-width : 767px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  margin-bottom: 15px;

  border-top: none;
  box-shadow: none;
  /*border-bottom: 1px solid #37225a;*/
}
.navbar-brand {
  max-width: 172px;
  height: auto;
  margin: 0 !important;
  padding-top: 20px;
  padding-bottom: 20px;

  cursor: pointer;

  background-color: #6dac45!important;
}
.navbar-logo {
  display: block;

  width: 136px;
  height: 21px;

  background: url('//frcdn.beenverified.com/assets/img/ee05dfd1a6465fedef836a3c23e57d94.png');
  background-image: url('//frcdn.beenverified.com/assets/img/ab5df240fb1f84fd6b00017e1a846c39.svg'),none;
  background-repeat: no-repeat;
}
.navbar-default .navbar-toggle {
  min-width: 44px;
  min-height: 40px;
  margin: 15px 0;

  border-color: transparent;
}
#nav-icon-open {
  display: none;

  color: white;
}

#nav-icon-closed .icon {
  font-size: 24px;
}

#nav-icon-closed.active .icon::before {
  content: "\f00d";
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-color: #fff;
  background: transparent;
}
html.touchevents .navbar-default .navbar-toggle:hover,
html.touchevents .navbar-default .navbar-toggle:focus {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
#header .btn-login,
#header .btn-register {
  font-size: 16px;

  padding: 6px 12px;

  text-align: center;

  border-radius: 2px;
}
#header .btn-login {
  color: #fff;
  border: 1px solid #e2ddd9;
}
#header .btn-login:hover,
#header .btn-login:focus {
  color: #000;
  border-color: #fff;
  background: #fff;
}
#header .btn-register {
  color: #21201f;
  border: 1px solid #fff;
  background-color: #fff;
}
#header .btn-register:hover,
#header .btn-register:focus {
  color: #fff;
  border-color: #72c83c;
  background: #72c83c;
}
@media only screen and (max-width : 767px) {
  #header .btn-login,
  #header .btn-register {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


.header-search {
  width: 100%;
  margin: 0!important;
  padding: 0;
}

.header-search-bar {
  margin-top: 20px;
  margin-bottom: 40px;
}

.header-search .search-filter {
  display: none;

  margin-top: 8px;
}

.search-trigger {
  height: 30px;
  margin-top: 8px;
  padding: 8px 15px 0 45px;

  color: #fff;
  border-left: 1px solid #0f63b3;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.search-trigger:hover,
.search-trigger:focus {
  cursor: pointer;
  cursor: hand;

  color: #fff;
  border-radius: 6px;
  background-color: #0f63b3;
}

form.bv-search input {
  line-height: 36px \9;

  width: 100%;
  height: 40px;
  padding-top: 0 \9;

  color: #777;

  *padding-top: 0;
}

#no-results-form fieldset div input {
  margin-bottom: 10px;
}

.col-search-bar {
  padding-right: 0;
}

.main-btn {
  display: inline-block;

  padding-top: 8px;
  padding-bottom: 10px;

  color: #fff;
  border: 1px solid #57992d;
  border-radius: 4px;
  background-color: #6dac45;
  -webkit-box-shadow: 0 -4px 0 #57992d inset;
     -moz-box-shadow: 0 -4px 0 #57992d inset;
          box-shadow: 0 -4px 0 #57992d inset;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #72b348;
  -webkit-box-shadow: 0 -6px 0 #57992d inset;
     -moz-box-shadow: 0 -6px 0 #57992d inset;
          box-shadow: 0 -6px 0 #57992d inset;
}

.main-btn:active {
  background-color: #6ba944;
  -webkit-box-shadow: 0 2px 0 #5f953c inset;
     -moz-box-shadow: 0 2px 0 #5f953c inset;
          box-shadow: 0 2px 0 #5f953c inset;
}

.section-header {
  margin-right: 0;
  margin-left: 0;
}

.section-header p {
  font-size: 19px;
  line-height: 28px;

  color: #555;
}

#top-banner .section-header p {
  margin-top: 10px;
}

h3 {
  font-size: 25px;
  line-height: 32px;

  margin: 10px 0;
}

.btn-round {
  margin: auto 12px;
  padding-right: 16px;
  padding-left: 16px;

  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
  outline: 0 !important;
}

.btn-login {
  color: #222;
}

.call-us {
  font-size: 16px;

  display: inline-block;
}

header .glyphicon {
  font-size: 20px;

  top: 5px;
}

.call-icon a {
  color: #fff;
}

header .tooltip-inner {
  min-width: 200px;
}

#menu-dropdown {
  outline: 0;
}
/* -- INFORMATION -- */

li {
  line-height: 24px;

  margin-top: 4px;
}

td.phoneCheck,
td.addressCheck {
  padding-top: 20px;

  text-align: center;
}

[class^='icon-'],
[class*=' icon-'] {
  line-height: 14px;

  display: inline-block;

  width: 14px;
  height: 14px;
  margin-top: 1px;

  vertical-align: text-top;

  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.icon-yes-check {
  width: 17px;
  height: 17px;

  background-image: url(../img/icon-sprite.png);
  background-repeat: no-repeat;
  background-position: -63px -240px;
}
/* -- FOOTER -- */

#footer {
  padding-top: 80px;
  padding-bottom: 80px;

  color: #747b91;
}
@media (max-width : 767px) {
  #footer {
    padding-top: 0;
  }
}
.carla-wrapper {
  position: relative;
}
.carla-box {
  position: absolute;
  right: 0;
  bottom: 0;

  overflow-y: hidden;

  min-height: 60px;
}
.carla {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 55px;
  height: 60px;
}
.carla-hand {
  position: absolute;
  right: 22px;
  bottom: -18px;

  width: 58px;
  height: 18px;
}
.carla-quote {
  /*margin-bottom: 0;*/
}
.footer-links {
  margin-bottom: 75px;
}
#footer h4 {
  font-size: 22px;
  font-weight: bold;

  margin-bottom: 10px;

  color: #484848;
}
#footer .customer-service-wrapper {
  margin-bottom: 30px;
  padding: 20px 20px 10px;

  border: 1px solid #cecfd5;
  border-radius: 4px;
  background-color: #edf0f4;
}
#footer .footer-link-group {
  padding-top: 20px;
}
@media (max-width: 1200px) {
}
@media (max-width : 979px) {
}
@media (max-width : 767px) {
  #footer h4 {
    font-size: 18px;

    margin-top: 20px;
    margin-bottom: 12px;
  }
  #footer .customer-service-wrapper {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;

    border: none;
    border-bottom: 1px solid #cecfd5;
    border-radius: 0;
    background-color: #dce2ea;
  }
}
#footer p {
  font-size: 14px;
  font-weight: 400;

  color: #747b91;
}
#footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
#footer li {
  margin-bottom: 4px;

  color: #747b91;
}
#footer a {
  color: #747b91;
}
#footer a:hover,
#footer a:focus {
  text-decoration: none;

  color: #006cd2;
}
@media (max-width : 767px) {
  #footer ul a {
    line-height: 40px;
  }
}
.social-links {
  margin-top: 15px;
  margin-bottom: 40px;
}
.social-links img {
  max-width: 22px;
  margin-right: 5px;
}
@media (min-width : 768px) {
  social-links {
    text-align: center;
  }
}
@media (max-width : 767px) {
  .social-links img {
    width: 100%;
    max-width: 40px;
  }
}
.border-bottom {
  margin-top: 20px;

  border-bottom: 1px solid #cecfd5;
}
#footer .email-address a,
#footer .phone-number a {
  color: #006cd2;
}
#footer .phone-number {
  color: #333;
}
#footer i.star {
  font-size: 18px;

  opacity: 1;
  color: #ffc050;
}
.disclaimer {
  margin-top: 20px;
  margin-bottom: 40px;
}
.border-bottom {
  margin-top: 20px;

  border-bottom: 1px solid #cecfd5;
}

.time-stamp {
  text-align: right;
}

.body-copy-header {
  padding-top: 10px;
  padding-bottom: 20px;

  background-repeat: no-repeat;
  background-position: right top;
}

p.alert {
  margin-top: 30px;
  padding: 8px 0;

  text-align: center;
}
/* -- SEARCH RESULTS -- */

.hide {
  display: none;
}

#no-results {
  display: none;

  border-bottom: 1px solid #d8d8d8;
}

table {
  background-color: #fff;
}

.table-hover tbody tr:hover>td,
.table-hover tbody tr:hover>th {
  background-color: #e9f1f5;
}

.table-bordered {
  border-width: 1px;
  border-color: #ccc;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 8px #aeadaf;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 1px solid #ddd;
  border-right-width: 0;
  border-left-width: 0;
}

#results-table th {
  border-radius: 0;
}

th {
  color: #fff;
  background-color: #3f3f3f;
}

table .th-center {
  text-align: center;
}

.table th,
.table td {
  border-right: none !important;
  border-left: none !important;
}

td {
  border: none;
}

.wrap-icon {
  width: 20px;
  margin: auto;
  padding-top: 10px;
}

td:first-child {
  border-left: 1px solid #ccc;
}

td.align-center {
  vertical-align: middle !important;
}

table td ul {
  padding-left: 0;
}

.table th .th-center {
  text-align: center;
}

#results-table li,
.index-col {
  font-family: arial;
  font-size: 14px;
  line-height: 20px;

  margin-top: 0;

  color: #000 !important;
}

.report-col a {
  font-size: 15px;
  font-weight: bold !important;
  line-height: 16px;

  margin-top: 6px;
  margin-bottom: 12px;

  white-space: nowrap;
}

#results-wrapper {
  padding-bottom: 40px;

  border-top: 1px solid #dcdcdc;
  background-color: #efefef;
}

#results tr {
  cursor: pointer;
  cursor: hand;
}

h3.current-search {
  margin-top: 0;

  text-align: center;
}

h3.current-search-download {
  font-size: 27px;
  line-height: 33px;

  margin-bottom: 17px;
}

p.current-search-text-download {
  font-size: 17px;
  line-height: 26px;

  margin-top: 13px;
}

table#results-table tr:hover td button {
  color: #fff;
  background-color: #72b449;
  -webkit-box-shadow: 0 -6px 0 #57992d inset;
     -moz-box-shadow: 0 -6px 0 #57992d inset;
          box-shadow: 0 -6px 0 #57992d inset;
}

.photo-locked {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.photo-locked .fa-user {
  color: #DCDCDC;
  font-size: 40px;
}

.photo-locked .fa-lock {
  position: absolute;
  bottom: -5px;
  right: -5px;
  padding: 2px 4px 2px 5px;
  border-radius: 50%;
  background: #F9F9F9;
  color: #3F3F3F;
  font-size: 14px;
  text-align: center;
}

.results-row:nth-child(even) .photo-locked .fa-lock {
  background: #fff;
}

.results-row:hover .photo-locked .fa-lock {
  background: #E9F1F5;
  color: #6DAC45;
}

@media (min-width: 992px) {
  .photo-locked .fa-lock {
    right: 2px;
  }
}

@media (min-width: 1200px) {
  .photo-locked .fa-lock {
    right: 10px;
  }
}

a.name-found {
  font-weight: bold !important;
  text-decoration: underline;
  color: #1865b1;
}

td.age-col {
  font-size: 20px;
  font-weight: bold !important;
}

tr.hover,
.search-trigger:hover,
.search-trigger:focus {
  cursor: pointer;
  cursor: hand;
}

ul.aka-list {
  font-size: 0.85em;

  margin: 0 0 0 5px;

  list-style-type: none;

  color: #888;
}

ul.aka-list li {
  font-size: 13px !important;
}

.aka-list-heading {
  font-size: 12px !important;
  font-style: italic;

  padding-top: 4px;

  color: #525253;
}
/* -- NO RESULTS -- */

.no-results-text {
  margin-top: 20px;
}

.no-results-icon {
  text-align: center;
}

.results-hints {
  margin-top: 20px;
}

.results-hints i {
  margin-right: 10px;
}

/* -- Exit Pop Refine -- */

#exitPopRefine .modal-dialog {
  width: 450px;
}

#exitPopRefine .modal-header p small {
  font-size: 16px;
  font-weight: normal;
}

#exitPopRefine .modal-header img {
  margin-top: -5px;
}

#exitPopRefine .modal-body {
  font-size: 16px;

  padding: 0 30px 30px 30px;
}

#exitPopRefine .bullets {
  margin-top: 30px;
  margin-bottom: 15px;
}

#exitPopRefine .modal-header {
  text-align: center;

  border: none;
  background-color: #efefef;
}

#exitPopRefine .modal-header p,
#exitPopRefine .modal-header .close {
  color: #333;
}

#exitPopRefine input.exitPopSearch {
  height: 50px;
  margin-top: 15px;
}

#exitPopRefine label.error {
  font-size: 13px;
  line-height: 14px;

  margin: 5px 0 0 0;
  margin: 5px 0 0 0 \9;
  padding: 0;

  color: #c9302b;
  border: none;
  border-radius: none;
  background-color: transparent;
}

#exitPopRefine .tips {
  color: #faac22;
}

/* Safari, Chrome and Opera */
#exitPopRefine input[name=mi]::-webkit-input-placeholder {
  font-size: 13px;

  padding-top: 4px;

  color: #ccc;
}
/* Firefox 18- */
#exitPopRefine input[name=mi]:-moz-placeholder {
  font-size: 13px;

  padding-top: 4px;

  color: #ccc;
}
/* Firefox 19+ */
#exitPopRefine input[name=mi]::-moz-placeholder {
  font-size: 13px;

  padding-top: 4px;

  color: #ccc;
}
/* IE 10+ */
#exitPopRefine input[name=mi]:-ms-input-placeholder {
  font-size: 13px;

  padding-top: 4px;

  color: #ccc;
}
/* Edge */
#exitPopRefine input[name=mi]::-ms-input-placeholder {
  font-size: 13px;

  padding-top: 4px;

  color: #ccc;
}
/* Standard one last! */
#exitPopRefine input[name=mi]:placeholder-shown {
  font-size: 13px;

  padding-top: 4px;

  color: #ccc;
}

/* -- REFINE -- */

.refine-search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.refine-search-wrapper p {
  text-align: center;
}

.refine-modal-trigger {
  display: inline-block;

  cursor: pointer;
  cursor: hand;
  text-decoration: underline;

  color: #0f63b3;
}

.refine-tips-list li {
  font-size: 14px;
  line-height: 18px;

  margin-left: 20px;
}

.refine-list-two li {
  display: none;
}

.refine-tips-wrapper {
  margin-bottom: 20px;
}

.search-icon-placeholder {
  height: 112px;

  background-image: url('../img/search-icon-large.png');
  background-repeat: no-repeat;
  background-position: 20px center;
}

.form-control {
  padding: 6px 8px;
}

.searchinput {
  width: 200px;
}

.searchclear {
  font-size: 18px;

  position: absolute;
  top: -4px;
  right: 25px;
  bottom: 0;

  height: 14px;
  margin: auto;

  cursor: pointer;

  color: #777;
}
/* -- UNUSED? -- */

.modal.fade.in {
  margin-top: 10px !important;
}

.modal-bottom {
  padding: 20px;

  border-radius: 0 0 4px 4px;
}

p.modal-below-text {
  font-size: 12px;
  line-height: 16px;
}

span#fileSpeed {
  color: #044789;
}

#results-wrapper-searching {
  padding-top: 80px;
  padding-bottom: 120px;
}

p.loader {
  text-align: center;
}

img.header-carrot {
  position: absolute;
  z-index: 9999;
  bottom: -10px;
  left: 160px;

  width: 42px;
  height: 20px;
}

p.already-a-member {
  text-align: center;
}

.main-btn,
.aux-btn {
  padding-top: 8px;
  padding-bottom: 10px;

  border-radius: 4px;
}

.main-btn,
.aux-btn {
  color: #fff;
  border: 1px solid #57992d;
  background-color: #6dac45;
  -webkit-box-shadow: 0 -4px 0 #57992d inset;
     -moz-box-shadow: 0 -4px 0 #57992d inset;
          box-shadow: 0 -4px 0 #57992d inset;
}

.main-btn:hover,
.main-btn:focus,
.aux-btn:hover,
.aux-btn:focus {
  color: #fff;
  background-color: #72b449;
  -webkit-box-shadow: 0 -6px 0 #57992d inset;
     -moz-box-shadow: 0 -6px 0 #57992d inset;
          box-shadow: 0 -6px 0 #57992d inset;
}

.main-btn:active,
.aux-btn:active {
  background-color: #68a342;
  -webkit-box-shadow: 0 2px 0 #558c33 inset;
     -moz-box-shadow: 0 2px 0 #558c33 inset;
          box-shadow: 0 2px 0 #558c33 inset;
}

/* ================================================ */
/* == RESPONSIVE GOODIES ========================== */
/* ================================================ */

@media (min-width: 768px) {
  a.name-found {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  input#age {
    padding-right: 6px;
    padding-left: 6px;
  }
}

@media (max-width: 991px) {
  .form-control {
    padding: 6px 3px;
  }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
  h1,
  h2,
  p,
  footer li {
    text-align: center;
  }
  #search_bar .col-sm-2 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-search-bar {
    padding-right: 15px;
    padding-left: 15px;
  }
  #th-hash,
  .td-hash,
  #th-relatives,
  .td-relatives,
  tr td:nth-child(5) {
    display: none;
  }
  #bv-captcha-next {
    padding-top: 20px;
    padding-bottom: 22px;
  }
  #bv-captcha-imgs {
    width: 75%;
    min-width: 150px;
  }
  #bv-captcha-refresh {
    width: 25px;
  }
  #results-wrapper {
    padding: 0;
  }

  #results-wrapper .container {
    padding: 0;
  }

  p.alert {
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
  }
  .header-search-bar input,
  .header-search-bar select {
    margin-bottom: 8px;
  }
  .refine-tips-wrapper {
    text-align: center;
  }
  .search-icon-placeholder {
    height: 40px;

    background-image: url('../img/search-icon-small.png');
    background-position: center center;
  }
  .no-results-icon img {
    width: 100px;
  }
  .checking-sources-progress {
    width: 100%;
    margin-bottom: 6px;
  }
  .checking-sources-progress p {
    top: 3px;
  }
  img.header-carrot {
    left: 45%;
  }
}

@media (min-width: 481px) {
  .place-single {
    display: none;
  }
}

@media (min-width: 768px) {
  .relative-single {
    display: none;
  }
}
/* Landscape phones and down */

@media (max-width: 480px) {
  #fcra-confirm .panel {
    margin-top: 0;
    margin-bottom: 20px;
  }
  #th-cities,
  .td-cities,
  tr td:nth-child(4) {
    display: none;
  }
  h3 {
    font-size: 21px;
    line-height: 28px;
  }
  .section-header p {
    font-size: 15px;
    line-height: 24px;
  }
  span.bold {
    font-size: 15px;
    font-weight: 700;
  }
  .top-section {
    margin-top: 0;
  }
  iframe {
    width: 150px;
    height: 136px;
  }
  #results-wrapper-searching {
    padding-top: 16px;
    padding-bottom: 12px;
  }
  .navbar-fixed-top {
    position: static;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    margin-right: -25px;
    margin-left: -25px;
  }
  .place-single,
  .relative-single {
    display: block;
    font-size: 14px;
  }
  .person-info {
    text-align: center;
  }
  .person-photo-wrap {
    margin-left: none;
  }
  .hidden-xxs {
    display: none;
  }
  .visible-xxs {
    display: inline-block !important;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-12 ul {
    margin: 0 auto;
  }
  .hidden-xxs {
    display: none !important;
  }
  .visible-xxs {
    display: block !important;
  }
}

/*

Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/

.animated {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
     -moz-animation-name: shake;
       -o-animation-name: shake;
          animation-name: shake;
}
