/* main */

.main .title {
  margin-bottom: 30px;
}

.main .title .text-break {
  margin-top: 20px;
  color: #fff;
  font-size: 50%;
  font-weight: lighter;
}

.main .sub-title {
  margin-bottom: 20px;
}

/* main account-perks-list */

.main .account-perks-list {
  margin-bottom: 20px;
}

.main .account-perks-list .list-item {
  position: relative;
  margin: 10px 0;
}

.main .account-perks-list .list-item .icon {
  position: absolute;
  top: 11px;
  left: 0;
  color: #9197d0;
}

.main .account-perks-list .list-item .item-label {
  margin-left: 40px;
}

@media (min-width: 590px) and (max-width: 991px) {
  .main .account-perks-list {
    display: inline-block;
  }

  .main .account-perks-list .list-item {
    float: left;
    width: 50%;
  }
}

/* main free-account-form */

.main .form-errors {
  display: block;
  margin-top: 50px;
  padding: 30px;
  border: 2px solid #F36666;
}

.main .form-errors .title {
  margin: 0;
}

.main .form-errors .errors-list {
  margin: 0;
  padding-left: 20px;
}

.main .form .segment {
  margin-top: 30px;
}

.main .form .segment:last-child {
  margin-bottom: 60px;
}

.main .form .segment .title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.main .form .segment .title .img-right {
  width: 60px;
}

.main .form .segment .btn {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
}

.main .form .segment .loading {
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  .main .form .segment .btn {
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .main .form .segment .loading {
    width: 242px;
  }
}

@media (min-width: 768px) {
  .main .form .segment .title .img-right {
    width: 70px;
  }
}

@media (min-width: 1200px) {
  .main .form .segment .title .img-right {
    width: 80px;
  }
}

/* disclaimer */

.disclaimer .title {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
