body {
  font-family: 'Lato', Arial, 'Helvetica', sans-serif;
}

p, a, li, td, th, span, pre, code,
blockquote, article, figure,
textarea, input, select,
label, button {
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

strong, b {
  font-weight: normal;
}

@media (min-width: 480px) {
  p, a, li, td, th, span, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  p, a, li, td, th, span, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  p, a, li, td, th, span, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  p, a, li, td, th, span, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 20px;
  }
}

a {
  color: #23527c;
  text-decoration: none;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
th, figcaption, button {
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.title {
  margin: 15px auto;
  font-weight: lighter;
}

.sub-title {
  margin: 10px auto;
  font-weight: lighter;
}

@media (min-width: 480px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 26px;
  }

  h6 {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    font-size: 26px;
  }

  .title {
    margin: 30px auto;
  }

  .sub-title {
    margin: 20px auto;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 36px;
  }

  h5 {
    font-size: 34px;
  }

  h6 {
    font-size: 30px;
  }
}
