@import 'bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


/* ********************************************************************** */
/* ************************** General HTML TAGs ************************* */
/* ********************************************************************** */
html, body {
	margin:0;
	padding:0;
}
body {
    font-size: 24px;
		background-size: contain;
	font-family: 'Lato', sans-serif;
	color: #333333;
	line-height: 1.5;
}
ul,
li {
	margin:0;
	padding:0;
	list-style:none;
}

a {
	transition: all ease .4s;
	cursor:pointer;
	color:#333333;
}

P {
	line-height: 1.5;
	margin:0 0 20px;
}
h1 {
	font-weight: 700;
	font-size: 66px;
	margin: 0;
}
h2 {
	font-weight:400;
	font-size: 50px;
	margin: 0 0 30px;
}
h3 {
	font-size: 30px;
	font-weight: 400;
	margin:0 0 20px;
}


.btn {
	border:none;
	color: #3b2469;
	font-size: 20px;
	border-radius: 6px;
	line-height: 30px;
	padding:15px 40px;
	transition: all ease .4s;
}
.btn:active,
.btn.active,
.btn:focus{
	border: none !important;
	outline: none !important;
}

.btn-success {
	background: #5cb85c;
	color:#FFF;
	box-shadow: 0 -5px #51a251 inset;
}
.btn-success:hover {
	background:#51a251;
}
.btn-success:active,
.btn-success:focus,
.btn-success.active {
	background:#5cb85c;
}

.form-control {
	border:none;
	font-size: 24px;
	border-radius: 6px;
	line-height: 30px;
	padding:15px 40px;
	box-shadow: 0 -5px #e1e1e1 inset;
	height: 60px;
}
.form-control:focus {
	box-shadow: 0 -5px #c8c8c8 inset;
}

.text-center {
	text-align: center;
}
/* ********************************************************************** */
/* ********************************* Header ***************************** */
/* ********************************************************************** */

#header {
	padding: 25px 0 140px;
}
.navbar-logo {
  float: left;
}

.navbar-logo img{
  display: block;
  margin:0px 0px;
  width: 160px;
  height: 30px;
}
#header .badge {
	display: inline-block;
	vertical-align: middle;
	margin:0px 0 0 3px;
	border-radius:5px;
	padding: 2px 10px;
	color:#FFF;
	font-size:11px;
	line-height: 14px;
	text-transform: uppercase;
	background:#ef2742;
	letter-spacing: 1px;
	font-weight: 400;
}

/* ********************************************************************** */
/* *************************** Main Content ***************************** */
/* ********************************************************************** */
#main-content {
	position:relative;
	z-index:2;
	margin-top:-40px;
}

#header.full-header {
	background-image: linear-gradient(to right, #4a3b8f, #353167, #4a3b8f);
	padding: 25px 35px;
}

#main-content.lightblue-bg {
	background:#f5fafc;
	padding: 40px 0;
	margin: 0;
}

.subscribe .subscribe-header h1 {
	font-family: Lato;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -0.7px;
	text-align: center;
	color: #333333;
	font-weight: 400;
}
.subscribe .subscribe-header h4 {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: -0.4px;
	text-align: center;
	color: #333333;
	margin-bottom: 25px;
}
.subscribe .subscribe-header figure {
	display: block;
	width:100px;
	height: 100px;
	border-radius: 50px;
	margin:0 auto 5px;
	text-align: center;
	background-clip: padding-box;
}
.subscribe .report-summary h2 {
	margin: 0 40px 5px;
	line-height: 1.4
}
.report-summary h2 span {
	color:#333333;
	font-weight: 400;
}
#main-content.lightblue-bg.subscribe {
	padding-top:20px;
}
.subscribe .report-summary {
	padding:30px 10px 10px
}
.report-summary #map {
	height:216px;
}

.mapboxgl-marker {
  background: url(../img/marker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 20px;
}
.report-summary h4 {
	font-family: Lato;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.3px;
	text-align: center;
	color: #333333;
	margin: 0 0 15px;
}

.report-summary {
    background: #FFF;
    box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
    padding: 30px 20px;
    margin-bottom: 20px;
}

.report-summary figure {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
    border-radius: 60px;
    overflow: hidden;
    background: #e1e1e1;
}

.report-summary figure img {
    width: 100%;
    height: 100%;
    display: block;
}

.report-summary h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.65;
    letter-spacing: -0.4px;
    text-align: center;
    color: #8b519a;
    margin: 0px;
}

.subscribe-plans {
	background-color: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	margin-bottom:15px;
	padding:30px;
}
.subscribe-plans h2 {
	font-family: Lato;
	font-size: 26px;
	line-height: 1.08;
	letter-spacing: -0.5px;
	text-align: left;
	color: #8b519a;
}
.subscribe-plans article {
	border-radius: 10px;
	background-color: #ffffff;
	border: solid 1px #e1e1e1;
	margin-top: 20px;
	padding: 32px 200px 32px 32px;
	position: relative;
}
.subscribe-plans article.highlighted {
	border: solid 2px #007ee3;
}

.subscribe-plans article:hover {
  background: #f3f9ef;
}
.subscribe-plans article.highlighted:hover {
  background:#f5fafc
}
.subscribe-plans article strong {
	display: block;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.26;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
}
.subscribe-plans article span {
	display: block;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
}
.subscribe-plans article .btn {
	position: absolute;
	right: 40px;
	top: 50%;
	margin-top:-20px;
	font-size: 18px;
	line-height: 20px;
	padding: 10px 30px;
}
.subscribe-plans article .badge {
	position: absolute;
	background: url('../img/ribbon-1.svg') 50% 50% no-repeat;
	top: 11px;
	right: -26px;
	font-size: 9.8px;
	font-weight: 600;
	line-height: 1.69;
	letter-spacing: -0.2px;
	text-align: center;
	color: #333333;
	transform: rotate(41deg);
	text-align: center;
	border-radius: 0;
	width: 117px;
	height: 30px;
	line-height: 24px;
	padding-top:0;
	padding-bottom: 6px;
	font-style: normal;
}

.subscribe .plans-features {
	background-color: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
	margin-bottom: 15px;
	padding:20px 30px;
}
.subscribe .plans-features h3 {
	font-family: Lato;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -0.4px;
	text-align: left;
	color: #8b519a;
	margin:0 0 10px;
}
.subscribe .plans-features .plan-feature {
	margin: 20px 0;
	position: relative;
	padding-left:48px;
}
.subscribe .plans-features .plan-feature figure {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -19px;
}
.subscribe .plans-features .plan-feature strong {
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	letter-spacing: -0.4px;
	text-align: left;
	color: #333333;
}
.subscribe .plans-features .plan-feature span {
	display: block;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: -0.3px;
	text-align: left;
	color: #333333;
}

.plan-feature-icon {
	width: 32px;
	height: 32px;
	display: block;
}
.plan-feature-icon.notification-icon {
	background:url('../img/notification.svg') no-repeat 50% 50%;
	background-size: contain;
}
.plan-feature-icon.searches-icon {
	background:url('../img/searches.svg') no-repeat 50% 50%;
	background-size: contain;
}
.plan-feature-icon.pdf-icon {
	background:url('../img/pdf.svg') no-repeat 50% 50%;
	background-size: contain;
}
.plan-feature-icon.reports-icon {
	background:url('../img/email.svg') no-repeat 50% 50%;
	background-size: contain;
}

.guarantee {
	background-color: #ffffff;
	box-shadow: 0.9px 4.9px 30px 0 rgba(170, 196, 206, 0.3);
}
.guarantee article {
	border-top: solid 1px #ebebeb;
	padding: 30px;
	position: relative;
}

.guarantee article .secure-text {
	max-width: 75%;
	display: inline-block;
}
.guarantee article:first-child {
	border: none;
}
.guarantee article h4 {
	font-family: Lato;
	font-size: 22px;
	line-height: 1.03;
	letter-spacing: -0.4px;
	color: #8b519a;
	margin: 6px 0 14px;
}
.guarantee article p {
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: -0.4px;
	color: #333333;
}
.guarantee-icon {
	width: 110px;
	height: 93px;
	float: left;
	margin-right: 28px;
}
.large-lock-icon {
	width: 79px;
	height: 91px;
	float: left;
	margin-right: 58px;
}

.support-schedule {
	background-color: #353167;
	padding:50px 0;
	color:#FFF;
	margin-top: 40px;
}
.support-schedule header {
	border: solid 1px #FFF;
	width:65%;
	float:left;
	height: 106px;
	font-size: 26px;
	text-align: center;
	color: #fefefe;
	padding: 14px 0;
}
.support-schedule ul {
	margin:0;
	padding: 0;
	border-top: solid 1px #FFF;
	border-right: solid 1px #FFF;
	width:35%;
	float:left;
}
.support-schedule ul li {
	border-bottom: solid 1px #FFF;
	height:53px;
	line-height: 52px;
	font-size: 18px;
	text-align: center;
	color: #fefefe;
}
.support-schedule img {
	width:74px;
	display: inline-block;
	vertical-align: middle;
	margin-right:28px;
}
/* ********************************************************************** */
/* ***************************** Footer ********************************* */
/* ********************************************************************** */
#footer {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #747b91;
	font-size: 15px;
}
#footer p {
	font-style: normal;
}
@media (max-width: 767px) {
	#footer {
		padding-top: 0;
	}
}
.carla-wrapper {
	position: relative;
}
.carla-box {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow-y: hidden;
	min-height: 60px;
}
.carla {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 55px;
	height: 60px;
}
.carla-hand {
	position: absolute;
	right: 22px;
	bottom: -18px;
	width: 58px;
	height: 18px;
}

@media (max-width: 767px) {

  .navbar-logo img {
    width: 140px;
    height: 20px;
    margin: 2px 0px;
  }

	#footer,
	#footer p,
	#app .box-contents p.small {
		font-size: 15px;
	}
	.xs-center {
		text-align: center;
	}
}

.disclaimer {
	margin-top: 20px;
	margin-bottom: 40px;
}

.small-footer#footer {
	padding-top: 50px;
}

.small-footer .disclaimer {
	text-align: center;
	color: #333333;
}

/* ********************************************************************** */
/* *****************************  Responsive  *************************** */
/* ********************************************************************** */

@media screen and (max-width: 1200px) {
	h1 {
		font-size: 55px;
	}
}

@media screen and (max-width: 991px) {
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size:24px;
	}

	.support-schedule ul {
		width: 40%;
	}

	.support-schedule header {
		width: 60%;
		font-size: 22px;
	}

	.guarantee article .secure-text {
    max-width: 66%;
    display: inline-block;
	}

}

@media (max-width: 767px) {
	body {
		font-size: 17px;
		line-height: 1.47
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size:18px;
	}

	#header {
		padding: 18px 0 45px;
	}
	.logo {
		width: 120px;
		height: 17px;
		background-size: 100% auto;
	}
	#header {
		position: relative;
	}
	#header .badge {
		font-size:10px;
	}

	#header.full-header {
		padding:20px;
	}
	#main-content.lightblue-bg {
		padding: 15px 0;
	}

	.subscribe .subscribe-header figure,
	.subscribe .subscribe-header figure img {
		height: 60px;
		width: 60px;
	}

	.report-summary {
		padding: 20px 15px 0;
		margin-bottom: 15px;
	}
	.report-summary figure {
		width: 80px;
		height: 80px;
		margin: 0 auto 12px;
	}

	.subscribe .subscribe-header h1 {
		font-size: 18px;
	}
	.subscribe .subscribe-header h4 {
		font-size: 16px;
	}
	.subscribe-plans {
		padding:25px 20px;
	}
	.subscribe-plans h2 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.subscribe-plans article {
		padding: 20px 110px 20px 12px;
		margin-top: 15px;
	}
	.subscribe-plans article strong {
		font-size: 16px;
	}
	.subscribe-plans article span {
		font-size: 16px;
	}
	.subscribe-plans article .btn {
		right: 10px;
		font-size: 16px;
		padding: 9px 13px;
		line-height: 16px;
	}
	.subscribe-plans article .badge {
		transform: rotate(0deg);
		top: 8px;
	}
	.subscribe .plans-features h3 {
		font-size: 20px;
		margin-bottom: 0px;
	}
	.subscribe .plans-features .plan-feature strong {
		font-size: 16px;
	}
	.subscribe .plans-features .plan-feature span {
		font-size: 15px;
	}
	.guarantee article {
		padding: 25px 20px;
		text-align: center;
	}

.guarantee article .secure-text {
    max-width: unset;
     display: block;
}
	.guarantee article p {
		font-size: 15px;
	}
	.guarantee article h4 {
		font-size: 20px;
		margin-bottom: 6px;
	}
	.guarantee-icon {
		width: 98px;
		height: 83px;
	}
	.large-lock-icon {
		width: 70px;
		height: 81px;
	}
	.guarantee-icon,
	.large-lock-icon {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		margin-bottom: 15px;
	}
	.support-schedule {
		padding: 124px 20px 20px;
	}
	.support-schedule header,
	.support-schedule ul {
		width: auto;
		float: none;
	}
	.support-schedule header {
		font-size: 20px;
		line-height: 30px;
		padding:25px 10px;
		height: auto;
	}
	.support-schedule header img {
		position: absolute;
		top: -94px;
		left:50%;
		margin:0 0 0 -37px;
	}
	.support-schedule ul {
		border-top: none;
		border-left: solid 1px #FFF;
	}
	.support-schedule ul li {
		font-size: 16px;
	}
	#footer.small-footer {
		padding-top:20px;
	}
	.report-summary #map {
		display: none;
	}

}
