/* header */

.header {
  margin-bottom: 10px;
}

.header .logo {
    width: 180px;
}

.header .phone {
    margin: 0;
}

.header .phone .phone-img {
  width: 100%;
  max-width: 20px;
  margin: 0;
  color: #c0f6ef;
}

@media (min-width: 992px) {
  .header {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .header {
    margin-bottom: 30px;
  }
}

/* container */

.container {
    padding: 15px;
}

/* footer */

.footer .disclaimer,
.footer .disclaimer a {
    font-size: 14px;
    color: #777;
}

.footer-navbar {
    margin-top: 15px;
    text-align: center;
}

.footer-navbar .copyright,
.footer-navbar .terms {
    padding: 15px;
    text-align: center;
}

.footer-navbar p,
.footer-navbar a {
    margin: 0;
    font-size: 16px;
}

@media (min-width: 768px) {
    .footer #disclaimer {
        margin-top: 25px;
        padding-top: 30px;
        border-top: 1px solid #fff;
    }

    .footer-navbar .copyright {
        text-align: left;
    }

    .footer-navbar .terms {
        text-align: right;
    }
}

/* modals */

.modal .modal-header {
  border: 0;
}

.modal .modal-header .close {
  outline: 0;
}

.modal .modal-body .btn {
  margin-bottom: 15px;
}
