/* buttons */

.btn {
    outline: 0;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    transition: all 250ms;
}

.btn:focus,
.btn:active,
.btn:active:focus{
    outline: 0;
}

.btn-primary {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #33d4c0;
    background-color: #33d4c0;
    color: #fff;
}

.btn-primary:hover {
    -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
    -moz-box-shadow: 0 3px 1px -1px #38AC9E;
    -ms-box-shadow: 0 3px 1px -1px #38AC9E;
    box-shadow: 0 3px 1px -1px #38AC9E;
    border-color: #47E3CF;
    background-color: #47E3CF;
    color: #fff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #38AC9E;
    background-color: #38AC9E;
    color: #fff;
}

.btn-secondary {
    -webkit-box-shadow: 0 4px 1px -1px #C62E42;
    -moz-box-shadow: 0 4px 1px -1px #C62E42;
    -ms-box-shadow: 0 4px 1px -1px #C62E42;
    box-shadow: 0 4px 1px -1px #C62E42;
    border: 1px solid #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-secondary:hover {
    -webkit-box-shadow: 0 3px 1px -1px #C62E42;
    -moz-box-shadow: 0 3px 1px -1px #C62E42;
    -ms-box-shadow: 0 3px 1px -1px #C62E42;
    box-shadow: 0 3px 1px -1px #C62E42;
    border-color: #FF435D;
    background-color: #FF435D;
    color: #fff;
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:focus {
  -webkit-box-shadow: 0 3px 1px -1px #C62E42 inset;
  -moz-box-shadow: 0 3px 1px -1px #C62E42 inset;
  -ms-box-shadow: 0 3px 1px -1px #C62E42 inset;
  box-shadow: 0 3px 1px -1px #C62E42 inset;
    border-color: #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-default {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #fff;
    background-color: #fff;
    color: #ef2742;
}

.btn-default:hover {
    -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
    -moz-box-shadow: 0 3px 1px -1px #38AC9E;
    -ms-box-shadow: 0 3px 1px -1px #38AC9E;
    box-shadow: 0 3px 1px -1px #38AC9E;
    border-color: #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-neutral {
    -webkit-box-shadow: 0 4px 1px -1px #c0bfbf;
    -moz-box-shadow: 0 4px 1px -1px #c0bfbf;
    -ms-box-shadow: 0 4px 1px -1px #c0bfbf;
    box-shadow: 0 4px 1px -1px #c0bfbf;
    border: 1px solid #d6d6d6;
    background-color: #d6d6d6;
    color: #030c0d;
}

.btn-neutral:hover {
    -webkit-box-shadow: 0 3px 1px -1px #c0bfbf;
    -moz-box-shadow: 0 3px 1px -1px #c0bfbf;
    -ms-box-shadow: 0 3px 1px -1px #c0bfbf;
    box-shadow: 0 3px 1px -1px #c0bfbf;
    border: 1px solid #E4E4E4;
    background-color: #E4E4E4;
    color: #030c0d;
}

.btn-neutral:focus,
.btn-neutral:active,
.btn-neutral:active:focus {
    -webkit-box-shadow: 0 3px 1px -1px #c0bfbf inset;
    -moz-box-shadow: 0 3px 1px -1px #c0bfbf inset;
    -ms-box-shadow: 0 3px 1px -1px #c0bfbf inset;
    box-shadow: 0 3px 1px -1px #c0bfbf inset;
    border: 1px solid #d6d6d6;
    background-color: #d6d6d6;
    color: #030c0d;
}

.btn-transparent {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.btn-transparent:hover {
    -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
    -moz-box-shadow: 0 3px 1px -1px #38AC9E;
    -ms-box-shadow: 0 3px 1px -1px #38AC9E;
    box-shadow: 0 3px 1px -1px #38AC9E;
    border-color: #fff;
    background-color: #fff;
    color: #33d4c0;
}

.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #fff;
    background-color: #fff;
    color: #33d4c0;
}

.btn-circular {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.btn-centered {
  display: block;
  margin: 0 auto;
}

.btn.visited {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #38AC9E;
    background-color: #fff;
    color: #ef2742;
}

.btn.visited:hover {
  -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
  -moz-box-shadow: 0 3px 1px -1px #38AC9E;
  -ms-box-shadow: 0 3px 1px -1px #38AC9E;
  box-shadow: 0 3px 1px -1px #38AC9E;
  border-color: #ef2742;
  background-color: #ef2742;
  color: #fff;
}

.btn.visited:focus,
.btn.visited:active,
.btn:visited:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-color: #ef2742;
  background-color: #ef2742;
  color: #fff;
}

/* forms */

.form-control {
    border-radius: 0;
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 0 2px 0 0 #d6d6d6;
    -moz-box-shadow: 0 2px 0 0 #d6d6d6;
    -ms-box-shadow: 0 2px 0 0 #d6d6d6;
    -o-box-shadow: 0 2px 0 0 #d6d6d6;
    box-shadow: 0 2px 0 0 #d6d6d6;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.form-control:focus {
    border-color: #33d4c0;
    -webkit-box-shadow: 0 2px 0 0 #33d4c0;
    -moz-box-shadow: 0 2px 0 0 #33d4c0;
    -ms-box-shadow: 0 2px 0 0 #33d4c0;
    -o-box-shadow: 0 2px 0 0 #33d4c0;
    box-shadow: 0 2px 0 0 #33d4c0;
}

.form-control.input-error {
  border-color: #EF2742;
  -webkit-box-shadow: 0 2px 0 0 #EF2742;
  -moz-box-shadow: 0 2px 0 0 #EF2742;
  -ms-box-shadow: 0 2px 0 0 #EF2742;
  -o-box-shadow: 0 2px 0 0 #EF2742;
  box-shadow: 0 2px 0 0 #EF2742;
}

label.error {
  width: 100%;
  padding: 5px;
  background-color: #EF2742;
  color: #fff;
  font-size: 14px;
  line-height: 1;
}

label.label-success {
  background-color: transparent;
  color: #33d4c0;
}

/* blockquotes */

blockquote {
    max-width: 300px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

@media (min-width: 768px) {
    blockquote {
        margin-left: 0;
        margin-right: 0;
    }
}

/* hr */

hr {
    margin-top: 60px;
    margin-bottom: 40px;
    border-color: #33D4C0;
}

/* images */

.img-loader {
    display: block;
    margin: 0 auto;
}

/* alerts */

.alert {
  margin: 0;
  border-radius: 0;
  border: 0;
}

.alert .close {
  opacity: 1;
  text-shadow: none;
  outline: none;
}

.alert.alert-danger {
  background-color: #ef2742;
  color: #fff;
}

.alert.alert-warning {
  background-color: #fcc41c;
  color: #333;
}

/* labels */

.label-primary {
  background: #33D4C0;
  color: #fff;
}

.label-rounded {
  padding: 7px 15.5px;
  border-radius: 50%;
}

.label-save {
  padding: 5px 20px;
  background-color: #a9e963;
  color: #417505;
  line-height: 1;
}
