@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(//manaron.s3.amazonaws.com/icons/glyphicons-halflings-regular.eot);
  src: url(//manaron.s3.amazonaws.com/icons/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(//manaron.s3.amazonaws.com/icons/glyphicons-halflings-regular.woff) format('woff'), url(//manaron.s3.amazonaws.com/icons/glyphicons-halflings-regular.ttf) format('truetype'), url(//manaron.s3.amazonaws.com/icons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}