/* cta */

#cta-header {
	margin-bottom: 15px;
}

#cta-header .title {
	margin: 10px auto;
}

/* teaser-mobile */

#teaser-mobile .teaser {
	margin: 10px 0;
}

#teaser-mobile .teaser .teaser-icon {
	position: absolute;
	width: 40px;
}

#teaser-mobile .teaser .teaser-title {
	margin: 0;
	margin-left: 50px;
	line-height: 1.5;
}

#teaser-mobile .teaser .teaser-title .teaser-data {
	display: block;
	color: #333;
	font-size: 85%;
}

@media (min-width: 480px) {
	#teaser-mobile .teaser .teaser-icon {
		width: 50px;
	}

	#teaser-mobile .teaser .teaser-title {
		margin-left: 60px;
		line-height: 1.75;
	}
}

/* content block */

.content-block {
	position: relative;
	margin-bottom: 15px;
	padding: 15px;
	padding-bottom: 25px;
}

.content-block .title {
	position: relative;
	text-align: left;
}

.content-block .sub-title {
	text-align: left;
}

.content-right .content-block {
	margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
	.content-right .content-block {
		margin-left: 0;
	  margin-right: -15px;
	}
}

@media (min-width: 992px) {
	.content-block {
		padding: 20px 30px 25px;
	}
}

/* form errors */

.errors-block .title {
	margin-bottom: 5px;
}

.errors-block .errors-list {
	padding-left: 20px;
}

/* selection wrap */

.selection-wrap.radio {
	position: relative;
	min-height: auto;
	margin: 20px 0;
	padding: 0;
	background-color: #ecf6f5;
}

.selection-wrap.selection-selected {
	background-color: #d2f4f0;
}

.selection-wrap .label-save {
	position: absolute;
  top: -13px;
  right: 0;
	font-size: 16px;
}

.selection-wrap .label-save:before {
	content: '';
	display: block;
	position: absolute;
	left: -15px;
	bottom: 0;
	width: 5px;
	border: 13px solid #a9e963;
	border-right-width: 15px;
	border-left-color: transparent;
}

.selection-wrap .radio-label {
	width: 100%;
	padding: 20px;
	padding-left: 50px;
}

.selection-wrap .radio-label .radio-input {
	margin-left: -30px;
}

.selection-wrap .radio-label .plan-price {
	display: block;
}

.selection-wrap .radio-label .plan-price .price-label {
	font-size: 18px;
}

.selection-wrap .radio-label .plan-price .price-info {
	color: #777;
	font-size: 14px;
}

@media (min-width: 480px) {
	.selection-wrap .radio-label {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.selection-wrap .radio-label .plan-price {
		position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
		text-align: right;
		line-height: 1.25;
	}

	.selection-wrap .radio-label .plan-price .price-info {
		display: block;
	}
}

/* member-perks */

.member-perks {
	margin-bottom: 10px;
}

.member-perks .sub-title {
	margin-top: 20px;
	text-align: left;
	font-weight: bold;
}

.member-perks .member-perk {
	position: relative;
	margin: 10px 0;
}

.member-perks .member-perk .perk-icon {
	position: absolute;
	width: 45px;
}

.member-perks .member-perk .perk-label {
	display: block;
	max-width: 70px;
	margin-left: 55px;
}

.member-perks .perks-list {
  padding-left: 15px;
}

.member-perks .perks-list .perks-item {
	color: #33d4c0;
	font-size: 14px;
}

.member-perks .perks-list .perks-item .item-label {
	color: #333;
}

@media (min-width: 480px) and (max-width: 767px) {
	.member-perks .member-perk {
		width: 25%;
	}

	.member-perks .member-perk .perk-label {
		margin-top: 5px;
		font-size: 12px;
	}
}

@media (min-width: 600px) {
	.member-perks .member-perk .perk-label {
		margin-top: 0;
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	.member-perks .member-perk {
		width: 20%;
	}
}

/* payment step */

#sub-step-3 .title .img-norton {
	position: absolute;
	top: -7px;
	right: 0;
	width: 80px;
}

#sub-step-3 .img-ccards {
	display: block;
	width: 110px;
	margin-bottom: 20px;
}

.cc-wrapper .img-cvv {
	width: 100%;
	max-width: 70px;
	margin: 0;
	margin-top: 15px;
}

.cc-wrapper .checkbox .checkbox-label {
	padding-left: 40px;
	font-size: 14px;
}

.cc-wrapper .checkbox .arrow-img {
	position: absolute;
	top: 25px;
	left: 13px;
	width: 30px;
}

.cc-wrapper .checkbox .checkbox-input {
	margin-left: -40px;
	-webkit-box-shadow: 0 0 10px 1px #ef2742;
	-moz-box-shadow: 0 0 10px 1px #ef2742;
	-ms-box-shadow: 0 0 10px 1px #ef2742;
	-o-box-shadow: 0 0 10px 1px #ef2742;
	box-shadow: 0 0 10px 1px #ef2742;
  border-radius: 4px;
}

.cc-wrapper .checkbox .checkbox-label.input-success .arrow-img {
	display: none;
}

.cc-wrapper .checkbox .checkbox-label.input-success .checkbox-input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.cc-wrapper #create_button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 32px;
}

@media (min-width: 480px) {
	#sub-step-3 .title .text-break {
		display: inline-block !important;
	}
}

@media (min-width: 992px) {
	#sub-step-3 .img-ccards {
		width: 130px;
	}
}

/* order-summary */

.order-summary {
	margin-bottom: 30px;
}

.order-summary .order-item {
	margin-bottom: 15px;
}

.order-summary .order-item .item-meta {
	display: block;
}

.summary-total {
	padding-top: 25px;
	border-top: 1px solid #e8ecee;
}

@media (max-width: 991px) {
	.order-summary .order-item .item-label {
		font-size: 16px;
	}

	.summary-total {
		padding-top: 40px;
    margin-top: 40px;
	}
}

/* callout */

.callout {
	padding: 25px 15px;
}

.callout .callout-img {
	display: block;
	width: 100%;
	max-width: 100px;
	margin: 0 auto;
}

.callout .callout-title {
	margin-bottom: 5px;
	text-align: center;
}

.callout .callout-text {
	margin: 0;
	text-align: center;
}

/* money back callout */

.callout.money-back .callout-img {
	max-width: 150px;
}

.callout.money-back .callout-text {
	margin-top: 15px;
}

@media (max-width: 767px) {
	/* money back callout */

	.callout.money-back .callout-img {
		width: 50%;
    margin: 0;
    padding-right: 15px;
		float: left;
	}

	.callout.money-back .callout-text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		margin: 0;
		margin-left: 140px;
		padding-right: 15px;
		padding-left: 15px;
		text-align: left;
	}

	/* confidential searching callout */

	.callout.confidential-searching .callout-img {
		position: absolute;
		top: 32px;
		width: 70px;
	}

	.callout.confidential-searching .callout-title,
	.callout.confidential-searching .callout-text {
		margin-left: 80px;
		margin-bottom: 10px;
		text-align: left;
	}
}

@media (max-width: 479px) {
	/* money back callout */

	.callout.money-back .callout-img {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	/* confidential searching callout */

	.callout.confidential-searching .callout-img {
		width: 35px;
	}

	.callout.confidential-searching .callout-title,
	.callout.confidential-searching .callout-text {
		margin-left: 40px;
	}
}

@media (min-width: 768px) {
	.callout {
		padding-top: 75.5px;
		padding-bottom: 75.5px;
	}
}

@media (min-width: 992px) {
	.callout {
		padding: 50.5px 30px;
	}
}

@media (min-width: 1200px) {
	.callout {
		padding-top: 46px;
		padding-bottom: 46px;
	}
}
