/* cta */

#cta-header .title {
	margin: 10px auto;
}

/* teaser-mobile */

#teaser-mobile .teaser {
	margin: 10px 0;
}

#teaser-mobile .teaser .teaser-icon {
	position: absolute;
	width: 40px;
}

#teaser-mobile .teaser .teaser-title {
	margin: 0;
	margin-left: 50px;
	line-height: 1.5;
}

#teaser-mobile .teaser .teaser-title .teaser-data {
	display: block;
	color: #333;
	font-size: 85%;
}

@media (min-width: 480px) {
	#teaser-mobile .teaser .teaser-icon {
		width: 50px;
	}

	#teaser-mobile .teaser .teaser-title {
		margin-left: 60px;
		line-height: 1.75;
	}
}

/* content left */

.subscribe-step .title {
	margin: 10px auto;
	text-align: left;
}

.subscribe-step .selection-wrap {
	position: relative;
	min-height: auto;
	margin: 20px 0;
	padding: 0;
	background-color: #ecf6f5;
}

.subscribe-step .selection-wrap.selection-selected {
	background-color: #d2f4f0;
}

.subscribe-step .selection-wrap .radio-label {
	padding: 15px;
	padding-left: 50px;
}

.subscribe-step .selection-wrap .radio-label .radio-input {
	margin-left: -30px;
}
