/* cta */

#cta-header {
	margin-bottom: 15px;
}

#cta-header .title {
	margin: 10px auto;
}

/* teaser-mobile */

#teaser-mobile .teaser {
	margin: 10px 0;
}

#teaser-mobile .teaser .teaser-icon {
	position: absolute;
	width: 40px;
}

#teaser-mobile .teaser .teaser-title {
	margin: 0;
	margin-left: 50px;
	line-height: 1.5;
}

#teaser-mobile .teaser .teaser-title .teaser-data {
	display: block;
	color: #333;
	font-size: 85%;
}

@media (min-width: 480px) {
	#teaser-mobile .teaser .teaser-icon {
		width: 50px;
	}

	#teaser-mobile .teaser .teaser-title {
		margin-left: 60px;
		line-height: 1.75;
	}
}

/* content left */

.subscribe-step {
	margin-bottom: 15px;
}

.subscribe-step .title {
	margin-top: 25px;
	text-align: left;
}

/* selection wrap */

.selection-wrap.radio {
	position: relative;
	min-height: auto;
	margin: 20px 0;
	padding: 0;
	background-color: #ecf6f5;
}

.selection-wrap.selection-selected {
	background-color: #d2f4f0;
}

.selection-wrap .label-save {
	position: absolute;
  top: -13px;
  right: 0;
	font-size: 16px;
}

.selection-wrap .label-save:before {
	content: '';
	display: block;
	position: absolute;
	left: -15px;
	bottom: 0;
	width: 5px;
	border: 13px solid #a9e963;
	border-right-width: 15px;
	border-left-color: transparent;
}

.selection-wrap .radio-label {
	width: 100%;
	padding: 20px;
	padding-left: 50px;
}

.selection-wrap .radio-label .radio-input {
	margin-left: -30px;
}

.selection-wrap .radio-label .plan-price {
	display: block;
}

.selection-wrap .radio-label .plan-price .price-label {
	font-size: 18px;
}

.selection-wrap .radio-label .plan-price .price-info {
	color: #777;
	font-size: 14px;
}

@media (min-width: 480px) {
	.selection-wrap .radio-label {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.selection-wrap .radio-label .plan-price {
		position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
		text-align: right;
		line-height: 1.25;
	}

	.selection-wrap .radio-label .plan-price .price-info {
		display: block;
	}
}

/* member-perks */
.member-perks {
	margin-bottom: 20px;
}

.member-perks .sub-title {
	margin-top: 15px;
	text-align: left;
	font-weight: bold;
}

.member-perks .member-perk {
	position: relative;
	margin: 10px 0 20px;
}

.member-perks .member-perk .perk-icon {
	position: absolute;
	width: 45px;
}

.member-perks .member-perk .perk-label {
	display: block;
	max-width: 70px;
	margin-left: 55px;
}

.member-perks .perks-list {
	margin-bottom: 40px;
  padding-left: 15px;
}

.member-perks .perks-list .perks-item {
	color: #33d4c0;
	font-size: 14px;
}

.member-perks .perks-list .perks-item .item-label {
	color: #333;
}

@media (min-width: 480px) {
	.member-perks .member-perk {
		width: 25%;
	}

	.member-perks .member-perk .perk-label {
		margin-top: 5px;
		font-size: 11px;
	}
}

@media (min-width: 992px) {
	.member-perks .member-perk .perk-label {
		margin-top: 0;
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	.member-perks .member-perk {
		width: 20%;
	}
}
