/* cta */

#cta-header .title {
	margin: 10px auto;
}

/* teaser-mobile */

#teaser-mobile .teaser {
	margin: 10px 0;
}

#teaser-mobile .teaser .teaser-icon {
	position: absolute;
	width: 40px;
}

#teaser-mobile .teaser .teaser-title {
	margin: 0;
	margin-left: 50px;
	line-height: 1.5;
}

#teaser-mobile .teaser .teaser-title .teaser-data {
	display: block;
	color: #333;
	font-size: 85%;
}

@media (min-width: 480px) {
	#teaser-mobile .teaser .teaser-icon {
		width: 50px;
	}

	#teaser-mobile .teaser .teaser-title {
		margin-left: 60px;
		line-height: 1.75;
	}
}

/* content left */

.subscribe-step .title {
	margin: 10px auto;
	text-align: left;
}

.subscribe-step .selection-wrap {
	position: relative;
	min-height: auto;
	margin: 20px 0;
	padding: 0;
	background-color: #ecf6f5;
}

.subscribe-step .selection-wrap.selection-selected {
	background-color: #d2f4f0;
}

.subscribe-step .selection-wrap .label-save {
	position: absolute;
  top: -13px;
  right: 0;
}

.subscribe-step .selection-wrap .label-save:before {
	content: '';
	display: block;
	position: absolute;
	left: -15px;
	bottom: 0;
	width: 5px;
	border: 13px solid #a9e963;
	border-right-width: 15px;
	border-left-color: transparent;
}

.subscribe-step .selection-wrap .radio-label {
	width: 100%;
	padding: 20px;
	padding-left: 50px;
}

.subscribe-step .selection-wrap .radio-label .radio-input {
	margin-left: -30px;
}

.subscribe-step .selection-wrap .radio-label .plan-price {
	display: block;
}

@media (min-width: 480px) {
	.subscribe-step .selection-wrap .radio-label .plan-price {
		display: inline-block;
		float: right;
		text-align: right;
	}

	.subscribe-step .selection-wrap .radio-label .plan-price .price-info {
		display: block;
	}
}
