@font-face {
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../img/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

/* BV CONTENT ==================================== */
[data-bv-ref] {
	display: none;
}

[data-bv-ref="default"] {
	display: block;
}

.hide {
	top: -9999px;
	left: -9999px;
	position: absolute;
}
.hide-elem {
	display: none;
}

/* STYLES ====================================== */

.blueBG {
	background-color: #3392cc;
	color: #f0f0f0;
}
.strong {
	font-weight: 500;
}
.text-grey {
	color: #555;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.text-royal {
	color: #003577;
}
.headline {
	font-size: 38px;
	line-height: 45px;
}
.sub-head,
.sub-header {
	font-size: 19px;
	line-height: 30px;
}
body {
	font-weight: 300;
	min-width: 200px;
	background-color:#f0f0f0;
	font-size: 16px;
}
ol {
	list-style-type: none;
	padding-left: 0;
}
a:hover,
a:focus {
	text-decoration: none;
}
label {
	font-weight: 400;
}
.no-wrap {
	display: inline-block;
}
header {
	padding-top: 12px;
	padding-bottom: 12px;
}
header .btn:active {
	box-shadow: none !important;
}
.phone, .email {
	margin: 0px 7px;
}
a.phone {
	background: url('../img/phone.png') no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-bottom: -7px;
}
a.email {
	background: url('../img/email.png') no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-bottom: -7px;
}
.slogan {
	margin-top: 7px;
	margin-left: 5px;
	display: inline-block;
	font-style: italic;
}
#logo-header {
	height: 30px;
	width: 205px;
	background-image: url('../img/bv-logo.png');
	background-image: url('../img/bv-logo.svg'), none;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
}
.btn-round {
	padding-left: 16px;
	padding-right: 16px;
	margin: auto 12px;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
			border-radius: 40px;
	outline: 0 !important;
}
#link-wrap,
.call-us {
	display: inline-block;
}
.call-us {
	font-size:16px;
	color: #333;
}
#menu-dropdown {
	outline: 0;
}
#top-banner {
	background-image: url('../img/hero_bg.jpg');
	background-size: cover;
	background-position: center top;
	min-height: 520px;
    margin-left:auto;
    margin-right:auto;
  	background-repeat: no-repeat;
}
#top-bannerBG {
	background-image: url('../img/overlay.png');
	padding-bottom: 20px;
	padding-top: 20px;
	height: 580px;
}
#top-banner h1 {
	font-size: 50px;
	line-height: 60px;
	font-weight: bold;
	margin-top: 40px;
}
#top-banner .form-control {
	height: 38px;
}
#top-banner .press {
	background-image: url('../img/press.png');
	width: 1035px;
	height: 49px;
	margin-top: 40px;
}
.sub-head {
	color: #000;
	font-weight: bold;
}
.info-block .h1 {
	color: #1b5897;
	font-size: 38px;
	line-height: 45px;
	font-weight: 300;
	margin-bottom: 4px;
}
.highlight-block {
	background-color: #f1f7fa;
}
.message-box-text {
	background-color: #428bca;
	color: #ffffff;
	padding: 15px 0px;
	-webkit-border-top-left-radius: 4px;
	   -moz-border-top-left-radius: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	   -moz-border-top-right-radius: 4px;
	        border-top-right-radius: 4px;
	font-size: 18px;
	margin-bottom: 0px;
	position: relative;
	text-align: center;
}
.carrot-down {
	display: block;
	width: 14px;
	height: 7px;
	background-image: url('../img/carrot-down.png');
	bottom: -7px;
	left: 20px;
	position: absolute;
	z-index: 4;
}
#header-search {
	position: relative;
	background-color: #fff;
    padding-bottom: 24px;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 7px solid #e5e5e5;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
	margin-bottom: 20px;
}
.input-title {
	color: #333;
}
#header-search input,
#header-search select,
.header-search input,
.header-search select{
	border:1px solid #aaa;
}
.btn-success-pop {
	border-bottom: 5px solid #398439;
	font-weight: bold;
	font-size: 16px;
}

.slider1, .slider2, .slider3 {
    margin: 40px 0 0;
}

.checkbox-sprite {
	width: 19px;
	height: 16px;
	background: url(../img/checkbox_sprite.png) no-repeat;
	background-position: 0px 0px;
	display: inline-block;
}

.survey-active .checkbox-sprite {
	background-position: 0px -26px;
}

.slider2 .survey, .slider3 .loading {
	background-color: #fff;
    border-bottom-color: #928370;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 20px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    color: #333;
}

.survey li {
	display: inline-block;
	cursor: pointer;
	margin-bottom: 20px;
}

.checkbox-image {
	margin-top: 10px;
	display: block;
	height: 82px;
	min-width: 110px;
}

.checkbox-image.myself {
	background: url(../img/self_sprite.gif) center top no-repeat;
}

.checkbox-image.myself:hover, .survey-active .checkbox-image.myself {
	background: url(../img/self_sprite.gif) center bottom no-repeat;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

.checkbox-image.reconnect {
	background: url(../img/connect_sprite.gif) center top no-repeat;
}

.checkbox-image.reconnect:hover, .survey-active .checkbox-image.reconnect {
	background: url(../img/connect_sprite.gif) center bottom no-repeat;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

.checkbox-image.genealogy {
	background: url(../img/tree_sprite.gif) center top no-repeat;
}

.checkbox-image.genealogy:hover, .survey-active .checkbox-image.genealogy {
	background: url(../img/tree_sprite.gif) center bottom no-repeat;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

.checkbox-image.professional {
	background: url(../img/tie_sprite.gif) center top no-repeat;
}

.checkbox-image.professional:hover, .survey-active .checkbox-image.professional {
	background: url(../img/tie_sprite.gif) center bottom no-repeat;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

.checkbox-image.dating {
	background: url(../img/heart_sprite.gif) center top no-repeat;
}

.checkbox-image.dating:hover, .survey-active .checkbox-image.dating {
	background: url(../img/heart_sprite.gif) center bottom no-repeat;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

.checkbox-image.protect {
	background: url(../img/shield_sprite.gif) center top no-repeat;
}

.checkbox-image.protect:hover, .survey-active .checkbox-image.protect {
	background: url(../img/shield_sprite.gif) center bottom no-repeat;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

.checkbox-image.other {
	background: url(../img/question_sprite.gif) center top no-repeat;
}

.checkbox-image.other:hover, .survey-active .checkbox-image.other {
	background: url(../img/question_sprite.gif) center bottom no-repeat;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

li.myself:hover, li.reconnect:hover, li.genealogy:hover, li.professional:hover, li.dating:hover, li.protect:hover, li.other:hover {
	color: #4fac50;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}


li span.glyphicon {
	font-size: 17px;
}

.slider3 .message-box .message-box-text p {
	position: relative;
	display: inline-block;
}

.slider3 .message-box p .searchMugshots {
/*	-webkit-animation:1.5s steps(17) 0s infinite countdownTo17;
	-moz-animation:1.5s steps(17) 0s infinite countdownTo17;
	-o-animation:1.5s steps(17) 0s infinite countdownTo17;
	animation:1.5s steps(17) 0s infinite countdownTo17;*/
	background:url(../img/mugshotSprite.png) 0 0 no-repeat;
	position:absolute;
	z-index:99999;
	top:-9px;
	left:-65px;
	width:54px;
	height:54px;
}

@-webkit-keyframes countdownTo17 {  
  0% { background-position: 0 0; } 
  100% {background-position: 0 -918px; } 
}

@-moz-keyframes countdownTo17 {  
  0% { background-position: 0 0; } 
  100% {background-position: 0 -918px; } 
}

@-o-keyframes countdownTo17 {  
  0% { background-position: 0 0; } 
  100% {background-position: 0 -918px; } 
}

@keyframes countdownTo17 {  
  0% { background-position: 0 0; } 
  100% {background-position: 0 -918px; } 
}

.slider3 .loading .progress {
	height: 30px;
}


/* Form Validation ================================== */
#errorExplanation {
    border: 1px solid #e13d3d !important;
    background-color: #fff7f7;
    margin: 0 15px 15px;
    padding: 0 15px 15px;
    border-radius: 4px;
}
input.error {
    border:1px solid #e13d3d !important;
    background-color: #fff7f7;
}
#messages,
label.error {
    color: #dc2341;
}
input.success {
    background-image: url('../img/success-check.png');
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #56b453 !important;
}
select.success {
    border: 1px solid #56b453 !important;
}
.label-success {
    display:none !important;
}

/* -- TEST ----- */
.test-wrapper {
	background-color: rgba(0,0,0,.75);
    background-color: #121212\9;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	padding: 15px 15px 8px;
	margin-top: 40px;

}
.test-name {
	margin-top: 20px;
}

/* -- COUNT TICKER -- */
.timer-digit-group {
    background-color: #343434;
    -webkit-box-shadow: 0px 0px 20px #121212 inset;
       -moz-box-shadow: 0px 0px 20px #121212 inset;
            box-shadow: 0px 0px 20px #121212 inset;
    border-radius: 4px;
    text-align: center;
    margin-top: 28px;
}
#tick_7 {
    border-right: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
section#dataBenefits, section#userRoles, section#aboutBV, section#guarantee {
	padding-top: 40px;
	padding-bottom: 70px;
}
section#userRoles {
	padding-bottom: 120px;
}
section#userRoles a {
	display: inline-block;
	float: left;
	margin-top: 70px;
	margin-left: 17px;
	margin-right: 17px;
	transition: all 0.3s ease;
}
section#userRoles a span {
	padding-top: 263px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #392a17;
	font-weight: bold;
}
section#userRoles a span:hover {
	color: #f0f0f0;
}
section#userRoles a.role1 {
	background: url('../img/dater.png') no-repeat center bottom;
	width: 295px;
	height: 253px;
}
section#userRoles a.role1:hover {
	background: url('../img/dater_light.png') no-repeat center bottom;
	width: 295px;
	height: 253px;
}
section#userRoles a.role2 {
	background: url('../img/job_seeker.png') no-repeat center bottom;
	width: 216px;
	height: 253px;
}
section#userRoles a.role2:hover {
	background: url('../img/job_seeker_light.png') no-repeat center bottom;
	width: 216px;
	height: 253px;
}
section#userRoles a.role3 {
	background: url('../img/parents.png') no-repeat center bottom;
	width: 283px;
	height: 253px;
}
section#userRoles a.role3:hover {
	background: url('../img/parents_light.png') no-repeat center bottom;
	width: 283px;
	height: 253px;
}
section#userRoles a.role4 {
	background: url('../img/selfie.png') no-repeat center bottom;
	width: 231px;
	height: 253px;
}
section#userRoles a.role4:hover {
	background: url('../img/selfie_light.png') no-repeat center bottom;
	width: 231px;
	height: 253px;
}
.tooltip {
	display: block;
}
section#userRoles .tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #333;
	text-align: center;
	text-decoration: none;
	background-color: #f0f0f0;
	border-radius: 4px;
	font-weight: bold;
}
section#userRoles .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #f0f0f0 !important;
}
section#aboutBV .counter {
	font-size: 34px;
	margin-top: 30px;
}
section#aboutBV .counter {
	white-space: nowrap;
}
section#aboutBV .counter .digit {
	background-color: #fff;
	padding: 7px 6px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
section#guarantee {
	background-image: url('../img/team.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center middle;
	color: #f0f0f0;
}
.bottomSearch {
	margin-top: 20px;
}
footer {
	background-color: #1a1a1a;
	color: #fefefe;
	padding-top: 20px;
}
ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
footer p,
footer a,
footer li {
	font-size: 12px;
	color:#777777;
	line-height: 18px;
	margin-bottom: 4px;
}
.footer-title {
	color: #fff;
	border-bottom: 1px solid #555;
	line-height: 32px;
	margin-bottom:6px;
}
footer a:hover,
footer a:focus,
footer a:active {
	color: #fff;
}
.fb-like {
	margin-top: 10px;
}
.terms-stack {
	margin-top: 18px;
}
#footer-resources {
	margin-top: 20px;
	margin-bottom: 30px;
}
#footer-resources p {
	border-bottom:1px solid #555;
	padding-bottom: 8px;
	color: #fff;
}
.icon-social {
	background-repeat: no-repeat;
	padding-left: 24px;
	background-position: left center;
	margin: 4px auto;
}
.icon-bv {
	background-image: url('../img/social-bv.png');
}
.icon-fb {
	background-image: url('../img/social-fb.png');
}
.icon-tw {
	background-image: url('../img/social-tw.png');
}
.icon-go {
	background-image: url('../img/social-go.png');
}
.icon-pi {
	background-image: url('../img/social-pi.png');
}
.icon-li {
	background-image: url('../img/social-li.png');
}
.disclaimer {
	background-color: #111;
	padding-top: 40px;
	padding-bottom: 30px;
}
.top-push {
	padding-top: 30px;
}
.bot-push {
	padding-bottom: 30px;
}

/* == RESPONSIVENESS == */

@media (min-width:1600px) {
}
@media (max-width:1200px) {
	.press {
		display: none;
	}
	section#aboutBV .counter {
		font-size: 24px;
	}
	#top-bannerBG {
    	height: auto;
    } 
}
@media (max-width:992px) {
	.header-search select {
		margin-bottom: 10px;
	}
	#header-search,
	.header-search {
		margin-right: 0px;
		margin-left:0px;
	}
	#header-search label,
	.header-search label {
		text-align: center;
		width: 100%;
	}
	#header-search input,
	.header-search input {
		margin-bottom: 10px;
	}
	#link-wrap {
		display: block;
	}
	#header-search .form-control,
	#header-search select,
	.header-search .form-control,
	.header-search select {
		text-align: center;
		height: 42px;
	}
	#header-search button,
	.header-search button {
		padding: 12px 4px;
	}
	footer {
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
	}
	.message-box {
		margin-left: 0px;
		margin-right: 0px;
	}
	section#userRoles {
		display: none;
	}
	section#aboutBV {
		border-top: 1px dashed #333;
	}
}
@media (max-width:767px) {
	body {
		font-weight: 300;
	}
	h1, .h1,
	#top-banner h1,
	.info-block .h1 {
		font-size: 24px;
		line-height: 32px;
	}
	.sub-head,
	.sub-header {
		font-size: 18px;
		line-height: 24px;
	}
	.top-push {
		padding-top: 10px;
	}
	#logo-header {
		position: absolute;
		left: 15px;
		top: 15px;
	}
	#menu-dropdown {
		margin-right: 15px;
	}
	#link-wrap {
		width: 100%;
		position: absolute;
		top: 58px;
      	left: 0px;
		z-index: 999;
		background: #F0F0F0;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		box-shadow: 0px 2px 2px rgba(0,0,0,.2);
	}
	#link-wrap a, 
	#link-wrap .call-us {
		display: block;
		text-align: center;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	#link-wrap a {
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
				border-radius: 4px;
		margin-top: 16px;
	}
	.call-us {
		margin: 8px auto;
	}
	.btn-round {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	}
	#header-search.
	.header-search {
		margin-top: 20px;
		margin-bottom: 0;
	}
	ul {
		padding-left: 20px;
	}
	.timer-digit-group {
		margin-top: 12px;
	}
	footer {
		text-align: center;
	}
	.icon-bv {
		width: 125px;
	}
	.icon-fb {
		width: 170px;
	}
	.icon-tw {
		width: 150px;
	}
	.icon-go {
		width: 195px;
	}
	.icon-pi {
		width: 175px;
	}
	.icon-li {
		width: 165px;
	}
	footer ul {
		margin-bottom: 15px;
	}
	#footer-resources {
		margin-top: 5px;
	}
	.slogan {
		display: none;
	}
	section#userRoles a {
		float: none;
		margin-left: auto;
		margin-right: right;
	}
	section#aboutBV h3, section#aboutBV h4 {
		font-size: 16px;
	}
	section#dataBenefits .row .col-md-4 {
		padding-top: 20px;
	}
	li.myself, li.reconnect, li.genealogy, li.professional, li.dating, li.protect, li.other {
		background: none;
	}
	li.myself:hover, li.reconnect:hover, li.genealogy:hover, li.professional:hover, li.dating:hover, li.protect:hover, li.other:hover {
		background: none;
	}
	.slider2 .survey ul li {
		height: auto;
		display: block;
	}
	.slider3 .message-box p .searchMugshots {
		display: none;
	}
	.slider2 .survey ul li p {
		position: relative;
		top: 0px;
	}
	.slider2 .survey ul li {
		display: block;
		margin-top: 20px;
	}
    .slider2 .survey ul li p {
        height: auto;
        line-height: 21px;
    }
    .slider2 .survey ul li {
     	width: 100%;
    }
    .checkbox-image {
    	display: none;
    }
}
@media (max-width:319px) {
	#logo-header {
		width: 32px;
	}
	/*#link-wrap {
		top: 64px;
	}*/
	.timer-digit-group {
	    border: 1px solid #343434;
	    margin-top: 12px;
	}
	li.myself, li.reconnect, li.genealogy, li.professional, li.dating, li.protect, li.other {
		background: none;
	}
	li.myself:hover, li.reconnect:hover, li.genealogy:hover, li.professional:hover, li.dating:hover, li.protect:hover, li.other:hover {
		background: none;
	}
	.slider2 .survey ul li {
		height: auto;
	}
	.slider2 .survey ul li p {
		margin-top: 10px;
		text-align: left;
	}
}