body {
	font-family:'Lato', Arial, Helvetica, sans-serif;
}
a {
	color:#468dd1;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.row.no-gutter > [class*='col-']:not(:first-child), .row.no-gutter > [class*='col-']:not(:last-child) {
	padding-right: 0;
	padding-left: 0;
}
#header {
	background:#044789;
	padding:20px 0;
	border-radius:5px 5px 0 0;
}
#header h1 {
	color:#fff;
	text-align:center;
	margin:0;
	font-size:26px;
	font-weight:bold;
}
.col-left {
	border:1px #e4e4e4 solid;
	margin-right:1px;
	min-height:550px;
}
.col-right {
	border:1px #e4e4e4 solid;
	min-height:550px;
}
.person-info {
	padding:15px;
	background:#f7f7f7;
	border-bottom:1px #e4e4e4 solid;
}
.person-info h2 {
	margin:15px 0 6px;
	color:#000;
	font-size:26px;
	font-weight:bold;
}
.person-info .criminal-records .info {
	border:1px #e7526b solid;
	border-radius:4px 0 0 4px;
	color:#e7526b;
	display:inline-block;
	height:30px;
	line-height:28px;
	background:#fff;
	font-size:14px;
	font-weight:bold;
	padding:0 10px;
	vertical-align:middle;
}
.person-info .criminal-records .badge {
	border:1px #e7526b solid;
	border-radius:0 4px 4px 0;
	color:#fff;
	display:inline-block;
	height:30px;
	line-height:26px;
	background:#e7526b;
	font-size:20px;
	font-weight:bold;
	padding:0 10px 0 9px;
	vertical-align:middle;
}
.person-info .location {
	color:#000;
	font-weight:400;
	font-size:16px;
	padding:50px 0 0;
	text-align:center;
}
ul.details {
	list-style:none;
	margin:0;
	padding:0;
}
ul.details li {
	padding:10px 15px;
	border-bottom:1px #e4e4e4 solid;
}
ul.details li .info {
	padding:0px 0 0;
}
ul.details li .info strong {
	color:#555555;
	font-size:16px;
}
ul.details li .info .badge {
	background:#468dd1;
	border-radius:3px;
	font-size:16px;
	padding:4px 8px 6px;
}
ul.details li .info .links {
	color:#468dd1;
	font-size:16px;
}
ul.details li .info .found {
	color:#468dd1;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	display:none;
}
ul.details li .info .loader {
	display:none;
}
ul.details li .btn {
	padding-top: 4px;
	padding-bottom: 4px;
	font-size:12px;
}
p.read-more {
	padding:15px;
}
.sample-report {
	padding:25px 38px;
}
.sample-report p {
	color:#484848;
	font-size:16px;
	text-align:center;
	margin:0 0 5px;
}
.sample-report .btn {
	margin:15px 0;
	font-size:18px;
	font-weight:bold;
}
#footer {
	text-align:center;
	color:#555555;
	font-size:14px;
	background:#ebebeb;
	padding:10px 0;
	border-radius:0 0 5px 5px;
}
@media only screen and (max-width : 992px) {
	.col-left {
		margin:0 0 10px;
	}
	.col-right {
		margin:0
	}
    .criminal-records {
		text-align:center;
	}
}

@media only screen and (max-width : 768px) {
	ul.details li .info {
		text-align:center;
	}

    }
