/* navbar */

.navbar .navbar-toggle {
    margin: 15px 0;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar .navbar-header .navbar-brand {
    height: auto;
    padding: 15px;
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    background-color: #fff;
}

.navbar .navbar-collapse {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.navbar .navbar-text {
    color: #000;
    font-size: 16px;
    text-align: center;
}

.navbar .navbar-btn {
    width: 49%;
}

.navbar .navbar-btn.btn-default {
    float: right;
}

@media (min-width: 768px) {

    .navbar .navbar-text {
        text-align: left;
    }

    .navbar .navbar-btn {
        width: auto;
    }

    .navbar .navbar-btn.btn-transparent {
        margin-right: 4px;
    }

    .navbar .navbar-btn.btn-default {
        margin-left: 4px;
        float: none;
    }
}

/* buttons */

.btn {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    transition: all 500ms;
    outline: 0;
}

.btn:focus,
.btn:active,
.btn:active:focus{
    outline: 0;
}

.btn-primary {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #33d4c0;
    background-color: #33d4c0;
    color: #fff;
}

.btn-primary:hover {
    background-color: #22C2AE;
    border-color: #22C2AE;
    -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
    -moz-box-shadow: 0 3px 1px -1px #38AC9E;
    -ms-box-shadow: 0 3px 1px -1px #38AC9E;
    box-shadow: 0 3px 1px -1px #38AC9E;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: #38AC9E;
    border-color: #38AC9E;
    -webkit-box-shadow: 0 2px 1px -1px #38AC9E;
    -moz-box-shadow: 0 2px 1px -1px #38AC9E;
    -ms-box-shadow: 0 2px 1px -1px #38AC9E;
    box-shadow: 0 2px 1px -1px #38AC9E;
}

.btn-secondary {
    -webkit-box-shadow: 0 4px 1px -1px #ab1d30;
    -moz-box-shadow: 0 4px 1px -1px #ab1d30;
    -ms-box-shadow: 0 4px 1px -1px #ab1d30;
    box-shadow: 0 4px 1px -1px #ab1d30;
    border: 1px solid #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-default {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #fff;
    background-color: #fff;
    color: #ef2742;
}

.btn-transparent {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

/* forms */

.form-control {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    transition: all 500ms;
}

/* footer */

.footer {
    background-color: #ccf4ef;
}