/* header-hero */

.header-hero .img-logo {
  display: block;
  width: 80px;
  margin: 15px auto;
}

.header-hero .header-search {
  margin: 40px auto;
}

.header-hero .header-search .form-group {
  padding-left: 10px;
  padding-right: 10px;
}

.header-hero .header-search .input-lg,
.header-hero .header-search .btn-lg {
  height: 60px;
  font-size: 22px;
}

.header-hero .header-search input.error {
  -webkit-box-shadow: 0 4px 1px -1px #EF2742;
  -moz-box-shadow: 0 4px 1px -1px #EF2742;
  -ms-box-shadow: 0 4px 1px -1px #EF2742;
  -o-box-shadow: 0 4px 1px -1px #EF2742;
  box-shadow: 0 4px 1px -1px #EF2742;
  background-color: #FFEAED;
}

.header-hero .header-search label.error {
  width: 100%;
  margin: 5px 0px;
  color: #ef2742;
  font-size: 16px;
  text-align: left;
}

.header-hero .header-mascots {
  max-width: 600px;
  margin: 30px auto;
}

.header-hero .header-mascots .img-mascot {
  width: 100px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .header-hero {
    padding-bottom: 30px;
  }

  .header-hero .img-logo {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .header-hero .img-logo {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .header-hero .img-logo {
    width: 120px;
  }
}

/* content */

.content-section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.content-section .title {
  margin: 40px auto 20px;
  color: #33d4c0;
}

.content-section.background-primary .title {
  color: #fff;
}

.content-section .img-logo {
  width: 155px;
}

.content-section .sub-title {
  margin-bottom: 80px;
}

.content-section .section-images {
  max-width: 800px;
  margin: 0 auto;
}

.content-section#pl-reasons {
  padding-top: 15px;
  padding-bottom: 40px;
}

.content-section#pl-reasons .title {
  margin-bottom: 40px;
}

.content-section#pl-reasons .text-secondary:first-child {
  margin-top: 0;
}

.content-section#pl-reasons p {
  margin-bottom: 40px;
}

.content-section#pl-reasons p.text-secondary {
  margin-bottom: 15px;
  font-size: 14px;
}

.content-section#pl-what {
  padding-top: 10px;
  padding-bottom: 50px;
}

.content-section#pl-what .sub-title {
  margin-bottom: 40px;
}

.content-section#pl-cta {
  padding-top: 20px;
  padding-bottom: 60px;
}

@media (min-width: 480px) {
  .content-section .img-logo {
    width: 165px;
  }

  .content-section#pl-reasons .title {
    margin-bottom: 60px;
  }

  .content-section#pl-reasons .img-report-mobile {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .content-section .img-logo {
    width: 175px;
  }

  .content-section#pl-reasons {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .content-section#pl-reasons .title {
    margin-bottom: 80px;
  }

  .content-section#pl-reasons .reasons-container.text-center {
    text-align: left;
  }

  .content-section#pl-what,
  .content-section#pl-cta {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .content-section#pl-what .sub-title {
    margin-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .content-section .img-logo {
    width: 240px;
  }
}

@media (min-width: 1200px) {
  .content-section .img-logo {
    width: auto;
  }

  .content-section#pl-reasons .reasons-container {
    max-width: 992px;
    margin: 0 auto;
  }
}
