/* header-hero */

.header-hero .img-logo {
  display: block;
  width: 80px;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .header-hero .img-logo {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .header-hero .img-logo {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .header-hero .img-logo {
    width: 120px;
  }
}

/* content */

.content-section {

}

/* footer */

.footer {
  background-color: #ccf4ef;
}
