/* header-hero */

.header-hero {
  padding-bottom: 30px;
}

.header-hero .img-logo {
  display: block;
  width: 80px;
  margin: 15px auto;
}

.header-hero .header-search {
  margin: 40px auto;
}

.header-hero .header-mascots {
  max-width: 600px;
  margin: 30px auto;
}

.header-hero .header-mascots .img-mascot {
  width: 100px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .header-hero .img-logo {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .header-hero .img-logo {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .header-hero .img-logo {
    width: 120px;
  }
}

/* content */

.content-section {
  padding: 40px 0;
}

.content-section .section-title {
  margin: 40px auto;
  color: #33d4c0;
  text-align: center;
}

.content-section.background-primary .section-title {
  color: #fff;
}

/* footer */

.footer {
  background-color: #ccf4ef;
}
