.col-centered {
	float: none;
	margin: 0 auto;
}
h3 {
	color:#555;
	font-weight:400;
}
ul {
	padding:0;
}
header {
	padding-top:12px;
	padding-bottom:12px;
	background-color:#ffffff;
}
#top_wrap {
	width:auto;
}
#main-wrap {
	color:#555555;
	background:#f0f0f0;
}
#search-banner {
	background:#fff url(../images/search-banner.gif) repeat-x top center;
	height:356px;
	width:100%;
}
#search-banner h1 {
	font:41px 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	margin:0px;
	color:#fff;
}
.search-wrap {
	padding-top:70px;
}
#search-results {
	min-height:85px;
	background:#e5e5e5;
}
.results-wrap {
	padding:18px 0;
	text-align:center;
}
#search-results img {
	margin-right:10px;
}
#search-results span {
	font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
}
#search-results strong {
	font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	color:#5cb85c;
	font-size:36px;
	font-weight:bold;
}
#logo-header {
	height:30px;
	width:205px;
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
	background-position:0 0;
	display:block;
}
.slogan {
	font-family:'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	margin-top:7px;
	margin-left:5px;
	display:inline-block;
	font-style:italic;
}
body {
	font-size:16px;
}
.progress-wrap {
	margin-top:65px;
	margin-bottom:30px;
	border-radius:4px;
	border:10px solid #13181b;
}
.progress {
	margin-bottom:0;
	height:60px;
}
.progress span {
	font:16px 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	font-weight:bold;
	color:#fff;
	line-height:60px;
}
.searchCategories {
	margin: 35px 0;
}
.searchCategories ul {
	margin:20px 0 0 65px;
}
.searchCategories li {
	font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	list-style:none;
	font-size:17px;
	line-height:160%;
	padding:3px 0;
}
.searchCategories .stories ul {
	margin:10px 15px;
}
.searchCategories .stories li {
	font-size:13px;
	font-style:italic;
	line-height:145%;
	padding:0px;
}
.searchCategories li p {
	display:inline-block;
	position:relative;
}
.searchCategories li p:before {
	content:url(http://dbivtdsofhpu6.cloudfront.net/assets/img/25fe1b227db12c107252ccc294d3c87a.gif);
	position:absolute;
	left:-25px;
}
.searchCategories li p.done:before {
	content:url(//dbivtdsofhpu6.cloudfront.net/assets/img/3d9397f00204cec94a45277cb084d0b6.png);
	position:absolute;
	top:2px;
}
.searchCategories .column {
	background:#fff;
	height:240px;
	margin:15px 0;	
}
.searchCategories h3 {
	font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	padding:22px 0;
	text-align:center;
	color:#fff;
	font-size:17px;
	font-weight:bold;
	margin:0px;
}
.searchCategories .owner-info h3 {
	background:#00a99d;
}
.searchCategories .contact-info h3 {
	background:#e6a31b;
}
.searchCategories .online-identity h3 {
	background:#967faf;
}
.searchCategories .stories h3 {
	background:#349ce2;
}
footer {
	background-color:#222;
	color:#777;
}
footer p.small {
	font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
	font-size:12px;
	margin-top:40px;
	margin-bottom:40px;
}
@media(max-width:768px) {
.search-wrap {
	padding-top:100px;
}
#search-banner h1 {
	font-size: 26px;
	line-height: 36px;
}
#search-banner h1 .text-primary {
	font-size: 20px;
	line-height: 36px;
}
#search-results span {
	display:block;
}
.progress-wrap {
	margin-top: 20px;
	margin-bottom:30px;
}
.progress {
	height: 34px;
}
.progress span {
	font-size:14px;
	line-height:34px;
}
}