#wizModal {
  display: inline-block;

  width: auto;
}


#wizModal .modal-content {
  max-width: 100%;
}

.copy-header-personal {
  /* padding: 16px 0 30px  80px; */
  background-image: url('img/icon-misc.svg');
  /* background-position: left top;
  background-size: 60px; */
}

.sample-report-wrapper {
  display: inline-block;

  padding-left: 2%;

  text-align: left;
  vertical-align: top;
}
.sample-report-text {
  text-align: left;
}
.sample-report-text h4 {
  font-size: 24px;

  margin-top: 0;

  color: #4a4a4a;
}

.sample-report-text p {
  font-size: 18px;

  color: #000;
}

.sample-report-image {
  padding-top: 2%;

  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.17);
}

.sample-report-image img {
  width: 262px;
}

/* Responsive */
@media screen and (min-width: 1168px) {
  .sample-report-width-left {
    width: 850px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1167px) {
  .sample-report-width-left {
    width: 650px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sample-report-wrapper {
    margin-top: 27px;
  }
  .sample-report-width-left {
    width: 500px !important;
  }
  .sample-report-image img {
    width: 220px;
  }
}
#wizModal .modal-content {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .set-width-850 {
    width: 850px;
  }
}

@media screen and (min-width: 768px) {
  .sample-report-image {
    overflow-y: scroll;

    height: 555px;
  }
}
@media screen and (max-width: 767px) {
  .sample-report-image img {
    width: 100%;
  }
  .sample-report-wrapper {
    margin-top: 30px;
    padding: 0;
  }
  .sample-report-text {
    padding-left: 19px;

    text-align: left;
  }
  .copy-header-personal {
    background-image: url('img/Self-color.svg');
  }
  .sample-report-text h4 {
    font-size: 20px;
  }

  .sample-report-text p {
    font-size: 16px;

    text-align: left;
  }
  .mobile-title-wrapper {
    margin-top: 12px;

    text-align: center;
  }
  .mobile-title-wrapper img {
    width: 50px;
  }
  .mobile-title-wrapper h3 {
    font-size: 20px;

    margin-top: 11px;
  }
  .sample-report-button-wrapper {
    margin-top: 9px;

    text-align: center;
  }
  .sample-report-button {
    font-size: 18px;

    width: 225px;

    color: #f9f9f9;
    border-color: #4a3b8f;
    border-radius: 5px;
    background: #4a3b8f;
    box-shadow: 0 3px 0 0 #353167;
  }
  .sample-report-button:hover,
  .sample-report-button:focus,
  .sample-report-button:active {
    color: #f9f9f9 !important;
    border-color: #4a3b8f !important;
    outline: none !important;
    background: #353167 !important;
    box-shadow: 0 3px 0 0 #353167;
  }
}
@media screen and (max-width: 480px) {
  .gen-report-modal5 .modal-body-copy p {
    text-align: center !important;
  }
}
