/* layout */

html, body {
  position: relative;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.layout {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* header */

.header {
  background-color: #33d4c0;
}

/* content */

.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* footer */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ccf4ef;
  text-align: center;
  z-index: 1;
}

.footer a {
  color: #030C0D;
}

.footer .title {
  font-size: 18px;
}

.footer .disclaimer {
  font-size: 14px;
}

.footer-navbar {
  margin-top: 80px;
  text-align: center;
}

.footer-navbar .text-right {
  text-align: center;
}

.footer-navbar p,
.footer-navbar a {
  margin: 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
  }

  .footer-navbar {
    text-align: left;
  }

  .footer-navbar .text-right {
    text-align: right;
  }
}
