/* header */

.header .fluid-message {
  margin: 0;
  padding: 5px;
  background-color: #ccf4ef;
}

/* header-hero */

.header-hero .logo {
  text-decoration: none;
}

.header-hero .logo .img-logo {
  margin-top: 40px;
}

.header-hero .logo .sub-title {
  margin: 0;
  color: #030C0D;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.header-hero .logo:hover .sub-title {
  color: #fff;
}

.header-hero .search-form {
  margin: 40px auto 25px;
}

@media (min-width: 992px) {
  .header-hero .logo .sub-title {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .header-hero .logo .img-logo {
    margin-top: 35px;
  }

  .header-hero .logo .sub-title {
    font-size: 20px;
  }
}

/* content */

.content .share-buttons .share-button {
  margin-bottom: 5px;
}

.content .share-buttons .share-button .stButton .stFb,
.content .share-buttons .share-button .stButton .stMainServices,
.content .share-buttons .share-button .stButton .stTwbutton {
  height: auto !important;
}

.content .share-buttons .share-button .stButton .stBubble_count {
  height: 42px !important;
}

.content .title {
  margin-top: 0;
  margin-bottom: 30px;
}

.content .article-tags {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .content .content-col {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* search-footer */

.search-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 1;
}

.search-footer .title {
  margin: 0;
  margin-bottom: 40px;
  color: #fff;
  font-weight: normal;
}

@media (min-width: 768px) {
  .search-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
