/* header */

.header .fluid-message {
  margin: 0;
  padding: 5px;
  background-color: #ccf4ef;
  font-weight: bold;
}

/* header-hero */

.header-hero .logo {
  text-decoration: none;
}

.header-hero .logo .img-logo {
  margin-top: 40px;
}

.header-hero .logo .sub-title {
  margin: 0;
  color: #030C0D;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.header-hero .logo:hover .sub-title {
  color: #fff;
}

.header-hero .search-form {
  margin: 40px auto 25px;
}

@media (min-width: 1200px) {
  .header-hero .logo .img-logo {
    margin-top: 35px;
  }
}

/* content */

.content .title {
  margin-top: 0;
  margin-bottom: 30px;
}

.content .article-tags {
  margin-bottom: 40px;
}

/* search-footer */

.search-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.search-footer .title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
}

@media (min-width: 768px) {
  .search-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
