body {
  overflow-x: hidden;
  font-family: 'Karla', 'Helvetica', Arial, sans-serif;
}

p, a, li, td, th, pre, code,
blockquote, article, figure,
textarea, input, select,
label, button {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.3px;
  line-height: 1.5;
}

@media (min-width: 480px) {
  p, a, li, td, th, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  p, a, li, td, th, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  p, a, li, td, th, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  p, a, li, td, th, pre, code,
  blockquote, article, figure,
  textarea, input, select,
  label, button {
    font-size: 20px;
  }
}

a {
  color: #24C1DB;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
th, figcaption, button {
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.3px;
}

.title {
  margin: 15px auto;
}

.sub-title {
  margin: 10px auto;
  font-weight: normal;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

@media (min-width: 480px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sub-title {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 42px;
  }

  h4 {
    font-size: 38px;
  }

  h5 {
    font-size: 28px;
  }

  h6 {
    font-size: 24px;
  }
}
